<!-- 작업 추가 및 선택 -->
<div ng-if="main.projectType == 'pjt'" class="projt-selWarp">
	<div class="pull-left" ng-include="main.portalOrgDropdownTempeUrl"></div>
	<div class="pull-right">
		<button type="button" name="button" class="btn only-ico ico-refresh" tooltip-placement="bottom" uib-tooltip="새로고침" ng-click="main.replacePage();"><span class="ico">새로고침</span></button>
	</div>
</div>
<!-- //작업 추가 및 선택 -->

<div ng-if="main.contentsViewType == 'thum'" class="row dashboard">
	<ul class="ul-panel">
		<li style="width: 712px;">
			<div class="panelWrap" style="padding-left: 15px;">
				<div class="cBox panel type2" style="height: 182px; padding-top: 20px;">
<!--
					<div class="panel_head noBorder">
						<div class="tit pull-left">할당 정보</div>
					</div>
-->
					<div class="cBox-cnt">
						<div class="dashUserInfo">
							<!-- app 챠트 정보 -->
							<div class="col">
								<div ng-if="!contents.tenantResource.maxResource.cores" class="chartWrap" style="height: 170px; width: 220px;">
									<p class="chrt-tit" style="font-size: 18px;">vCPU</p>
									<div class="chartWrap" style="height: 80px; width: 80px;">
										<img src="/images/loading/lg.double-ring-spinner.gif" style="height: 80px; width: 80px;">
									</div>
								</div>
								<div ng-if="contents.tenantResource.maxResource.cores" class="chartWrap" style="height: 170px; width: 220px;">
									<p class="chrt-tit" style="font-size: 18px; margin-bottom: 10px;">vCPU</p>
									<div class="chartWrap" style="height: 80px; width: 80px;">
										<canvas id="cpu_doughnut" class="chart chart-doughnut chart-xs" height="80" width="80"
												chart-data="contents.doughnutCpu.data"
												chart-labels="contents.doughnutLabels"
												chart-colors="contents.doughnutCpu.colors"
												chart-options="contents.doughnutOptions"></canvas>
										<div class="doughnut-label-box" style="margin-top: -57px;">
											<ul>
												<li><span style="font-size: 16px;">{{(contents.tenantResource.usedResource.cores / contents.tenantResource.maxResource.cores * 100) | number: 0}}</span><span style="font-size: 8px;">%</span></li>
												<li style="line-height: 6px;"><span style="font-size: 6px; line-height: 6px;">{{'label.usage' | translate}}</span></li>
											</ul>
										</div>
									</div>
									<p style="margin-top: 5px; font-size: 14px; text-align: center;">({{contents.tenantResource.usedResource.cores}} 개 / {{contents.tenantResource.maxResource.cores | number: 0}} 개)</p>
								</div>
							</div>
							<!-- //app 챠트 정보 -->

							<!-- app 챠트 정보 -->
							<div class="col">
								<div ng-if="!contents.tenantResource.maxResource.ramSize" class="chartWrap" style="height: 170px; width: 220px;">
									<p class="chrt-tit" style="font-size: 18px;">메모리</p>
									<div class="chartWrap" style="height: 80px; width: 80px;">
										<img src="/images/loading/lg.double-ring-spinner.gif" style="height: 80px; width: 80px;">
									</div>
								</div>
								<div ng-if="contents.tenantResource.maxResource.ramSize" class="chartWrap" style="height: 170px; width: 220px;">
									<p class="chrt-tit" style="font-size: 18px; margin-bottom: 10px;">메모리</span>
									<div class="chartWrap" style="height: 80px; width: 80px;">
										<canvas id="mem_doughnut" class="chart chart-doughnut chart-xs" height="80" width="80"
												chart-data="contents.doughnutRam.data"
												chart-labels="contents.doughnutLabels"
												chart-colors="contents.doughnutRam.colors"
												chart-options="contents.doughnutOptions"></canvas>
										<div class="doughnut-label-box" style="margin-top: -57px;">
											<ul>
												<li><span style="font-size: 16px;">{{(contents.tenantResource.usedResource.ramSize / contents.tenantResource.maxResource.ramSize * 100) | number: 0}}</span><span style="font-size: 8px;">%</span></li>
												<li style="line-height: 6px;"><span style="font-size: 6px; line-height: 6px;">{{'label.usage' | translate}}</span></li>
											</ul>
										</div>
									</div>
									<p style="margin-top: 5px; font-size: 14px; text-align: center;">({{(contents.tenantResource.usedResource.ramSize/1024|number:1).replace('.0', '')}} GB / {{(contents.tenantResource.maxResource.ramSize/1024|number:1).replace('.0', '') + ' GB'}})</p>
								</div>
							</div>
							<!-- //app 챠트 정보 -->

							<!-- app 챠트 정보 -->
							<div class="col">
								<div ng-if="!contents.tenantResource.maxResource.instanceDiskGigabytes" class="chartWrap" style="height: 170px; width: 220px;">
									<p class="chrt-tit" style="font-size: 18px;">디스크</p>
									<div class="chartWrap" style="height: 80px; width: 80px;">
										<img src="/images/loading/lg.double-ring-spinner.gif" style="height: 80px; width: 80px;">
									</div>
								</div>
								<div ng-if="contents.tenantResource.maxResource.instanceDiskGigabytes" class="chartWrap" style="height: 170px; width: 220px;">
									<p class="chrt-tit" style="font-size: 18px; margin-bottom: 10px;">디스크</p>
									<div class="chartWrap" style="height: 80px; width: 80px;">
										<canvas id="disk_doughnut" class="chart chart-doughnut chart-xs" height="80" width="80"
												chart-data="contents.doughnutDisk.data"
												chart-labels="contents.doughnutLabels"
												chart-colors="contents.doughnutDisk.colors"
												chart-options="contents.doughnutOptions"></canvas>
										<div class="doughnut-label-box" style="margin-top: -57px;">
											<ul>
												<li><span style="font-size: 16px;">{{(contents.tenantResource.usedResource.instanceDiskGigabytes / contents.tenantResource.maxResource.instanceDiskGigabytes * 100) | number : 0}}</span><span style="font-size: 8px;">%</span></li>
												<li style="line-height: 6px;"><span style="font-size: 6px; line-height: 6px;">{{'label.usage' | translate}}</span></li>
											</ul>
										</div>
									</div>
									<p style="margin-top: 5px; font-size: 14px; text-align: center;">({{contents.tenantResource.usedResource.instanceDiskGigabytes}} GB / {{contents.tenantResource.maxResource.instanceDiskGigabytes | number: 0}} GB)</p>
								</div>
							</div>
							<!-- //app 챠트 정보 -->
						</div>
					</div>
				</div>
			</div>
		</li>
		<li style="width: 400px;">
			<div class="panelWrap">
				<div class="panel type2">
					<div class="panel_head noBorder">
						<div class="tit pull-left">VM 요약</div>
					</div>
					<div class="panel_body">
						<ul class="serviceList">
							<li class="noBorder">
								<div class="summary summary2">
									<p class="number">{{ contents.vmStatus.tcnt | number: 0; }}</p>
									<p class="small">TOTAL</p>
								</div>
								<ul class="state">
									<li><span class="run" >정상</span><span class="detail">ON/OFF</span><span class="count">{{ contents.vmStatus.start | number:0; }} / {{ contents.vmStatus.stop|number:0; }}</span></li>
									<li><span class="over">실패</span><span class="detail">FAIL</span><span class="count">{{ contents.vmStatus.fail | number:0; }}</span></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</li>
		<li style="width: 400px;">
			<div class="panelWrap">
				<div class="panel type2">
					<div class="panel_head noBorder">
						<div class="tit pull-left">SW 요약</div>
					</div>
					<div class="panel_body">
						<ul class="serviceList">
							<li class="noBorder">
								<div class="summary summary2">
									<p class="number">{{ contents.swStatus.tcnt | number: 0; }}</p>
									<p class="small">TOTAL</p>
								</div>
								<ul class="state">
									<li><span class="run" >정상</span><span class="detail">ON/OFF</span><span class="count">{{ contents.swStatus.start | number:0; }} / {{ contents.swStatus.stop|number:0; }}</span></li>
									<li><span class="over">실패</span><span class="detail">FAIL</span><span class="count">{{ contents.swStatus.fail | number:0; }}</span></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<!-- cont tit -->
<div class="cont-titWrap" style="margin-top: 30px; margin-bottom:20px;">
	<h3 class="h-tit3">인스턴스</h3>
</div>

<!-- panel area-->
<ul ng-if="main.contentsViewType == 'thum'" class="ul-panel">
	<li ng-repeat="(diployIndex, deployServer) in contents.deployServerList" ng-if="(deployServer.viewType == 'instance' && deployServer.name != contents.cxAgengName) || (deployServer.viewType == 'deploy' && deployServer.status != 'deleted') ">
		<!-- panel -->
		<div class="panelWrap" style="height: 440px; width: 365px; overflow: visible;">
			<div class="panel type5" style="height: 400px; width: 365px; position: relative;">
				<div class="panel_head">
					<img ng-if="deployServer.viewType == 'deploy'" ng-src="images/thum/{{deployServer.vmDeployType.iconFileName}}.png" class="logo" alt="" ng-click="contents.moveToDetailPage(deployServer)" >
					<p ng-if="deployServer.viewType == 'deploy'" class="tit" ng-click="contents.moveToDetailPage(deployServer)" title="{{ deployServer.name + '[' + deployServer.instanceCount + ']' }}">{{deployServer.name}} <span>[{{ deployServer.instanceCount }}]</span></p>
					<p ng-if="deployServer.viewType == 'deploy'" class="txt" ng-click="contents.moveToDetailPage(deployServer)" >{{deployServer.vmImage.imageServiceName}}</p>
					<img ng-if="deployServer.viewType == 'instance'" ng-src="data:{{ deployServer.image.contentType }}; base64, {{ deployServer.image.icon }}" class="logo" alt="" ng-click="contents.moveToDetailPage(deployServer)" >
					<p ng-if="deployServer.viewType == 'instance'" class="tit" ng-click="contents.moveToDetailPage(deployServer)" title="{{ deployServer.name }}">{{deployServer.name}}</p>
					<p ng-if="deployServer.viewType == 'instance'" class="txt" ng-click="contents.moveToDetailPage(deployServer)" >{{deployServer.image.serviceName}}</p>
					<div ng-if="deployServer.deployStatus != 'ing'" class="dropdown btn-option">
						<button id="btn-option" type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
							<span class="ico">실행 설정</span>
						</button>
						<ul ng-if="deployServer.viewType == 'instance'" class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
							<li ng-if="deployServer.deployStatus == 'done' && deployServer.vmState != 'active'"><a href="javascript:void(0);" ng-click="contents.fn.serverActionConfirm('START',deployServer,diployIndex);">시작</a></li>
							<li ng-if="deployServer.deployStatus == 'done' && deployServer.vmState != 'stopped'"><a href="javascript:void(0);" ng-click="contents.fn.serverActionConfirm('STOP',deployServer,diployIndex);">중지</a></li>
							<li ng-if="deployServer.deployStatus == 'done' && deployServer.vmState == 'active'"><a href="javascript:void(0);" ng-click="contents.fn.serverActionConfirm('REBOOT',deployServer,diployIndex);">재시작</a></li>
							<li><a href="javascript:void(0);" ng-click="contents.fn.serverActionConfirm('DELETE',deployServer,diployIndex);">삭제</a></li>
							<li ng-if="deployServer.deployStatus == 'done' && deployServer.vmState == 'stopped'"><a href="javascript:void(0);" ng-click="contents.fn.serverActionConfirm('SNAPSHOT', deployServer, diployIndex);">이미지 스냅샷</a></li>
							<li ng-if="deployServer.deployStatus == 'done' && deployServer.floatingIp == ''"><a href="javascript:void(0);" ng-click="contents.fn.serverActionConfirm('IPCONNECT', deployServer, diployIndex);">접속IP할당</a></li>
							<li ng-if="deployServer.deployStatus == 'done' && deployServer.floatingIp != ''"><a href="javascript:void(0);" ng-click="contents.fn.serverActionConfirm('IPDISCONNECT', deployServer, diployIndex);">접속IP해제</a></li>
						</ul>
						<ul ng-if="deployServer.viewType == 'deploy'" class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
							<li ng-if="deployServer.deployStatus == 'done'"><a href="javascript:void(0);" ng-click="contents.fn.deployServerActionConfirm('START', deployServer, diployIndex);">시작</a></li>
							<li ng-if="deployServer.deployStatus == 'done'"><a href="javascript:void(0);" ng-click="contents.fn.deployServerActionConfirm('STOP', deployServer, diployIndex);">중지</a></li>
							<li ng-if="deployServer.deployStatus == 'done'"><a href="javascript:void(0);" ng-click="contents.fn.deployServerActionConfirm('RESTART', deployServer, diployIndex);">재시작</a></li>
							<!--<li ng-if="deployServer.deployStatus == 'done' && (deployServer.deployType == 'WEB' || deployServer.deployType == 'WAS')"><a href="javascript:void(0);" ng-click="contents.fn.deployServerActionConfirm('SCALE', deployServer, diployIndex);">인스턴스 증감</a></li>-->
							<li><a href="javascript:void(0);" ng-click="contents.fn.deployServerActionConfirm('DELETE', deployServer, diployIndex);">삭제</a></li>
						</ul>
					</div>
					<div ng-if="deployServer.deployStatus == 'ing'" class="btn-option" style="top: 25px;">
						<img src="/images/loading/lg.gooey-ball-lodaer.gif" style="height: 50px; width: 50px;">
					</div>
				</div>
				<div class="panel_body">
					<div ng-class="deployServer.deployStatus == 'ing' ? 'ul-in2' : 'ul-in'">
						<div ng-if="deployServer.deployStatus == 'ing' && deployServer.viewType == 'instance'" class="info-chart">
							<div class="chartWrap" style="height:180px;">
								<img src="/images/loading/lg.triple-gears-loading-icon.gif" style="height: 180px; width: 180px;">
							</div>
						</div>
						<div ng-if="deployServer.deployStatus == 'ing' && deployServer.viewType == 'deploy'" class="info-chart" style="padding-left: 40px; padding-right: 40px; padding-bottom: 10px;">
							<ul class="step_bar">
								<li ng-class="deployServer.statusIndex == 0 ? 'active' : 'done'" class="done">초기화</li>
								<li ng-class="deployServer.statusIndex == 1 ? 'active' : (deployServer.statusIndex > 1 ? 'done' : '')">VM생성</li>
								<li ng-class="deployServer.statusIndex == 2 ? 'active' : (deployServer.statusIndex > 2 ? 'done' : '')">설치준비</li>
								<li ng-class="deployServer.statusIndex == 3 ? 'active' : (deployServer.statusIndex > 3 ? 'done' : '')">설치</li>
								<li ng-class="deployServer.statusIndex == 4 ? 'active' : (deployServer.statusIndex > 4 ? 'done' : '')">설정</li>
							</ul>
							<div class="chartWrap" style="padding-top: 20px;">
								<img src="/images/loading/lg.triple-gears-loading-icon.gif" style="height: 120px; width: 120px;">
							</div>
						</div>
						<div ng-if="deployServer.deployStatus != 'ing'" class="up" style="padding-top: 10px;">
							<div ng-if="deployServer.viewType == 'deploy'" class="deploy-box">
								<div scroll-pane scroll-config="{ contentHeight: '0px' }" id="deploy_instance_scroll_panel_{{diployIndex}}">
									<ul class="ul-list1" style="padding-top: 5px;">
										<li ng-repeat="(instanceIdx, instance) in deployServer.instances">
											<div class="stateWrap">
												<span ng-if="instance.vmState == 'active'" class="stateMark type1"></span>
												<span ng-if="instance.vmState == 'error'" class="stateMark type2"></span>
												<span ng-if="instance.vmState == 'paused' || instance.vmState == 'resized' || instance.vmState == 'building'" class="stateMark type4"></span>
												<span ng-if="instance.vmState == 'stopped'" class="stateMark type3"></span>
												<span class="state-txt">{{ 'iaas.label.instance_' + instance.vmState | translate }}</span>
											</div>
											<label class="label">
												<img ng-src="{{deployServer.softwareIconUrl}}" class="small_logo" alt="" ng-click="contents.moveToDetailPage(instance)" >
											</label>
											<p class="label-txt" title="{{ instance.name }}">{{instance.name}}</p>
										</li>
									</ul>
								</div>
							</div>
							<ul class="ul-prog" style="padding-top: 10px;" ng-class="{'deploy-progress' : (deployServer.viewType == 'deploy') }">
								<li>
									<div class="progressWrap type1">
										<div class="progress">
											<div percent-progress-bar-animate bar-type="height" percent="{{deployServer.cpu.used | number: 0}}" class="progress">
												<div class="progress-bar color-type3" role='progressbar' tooltip-placement="top" uib-tooltip="{{deployServer.cpu.used | number: 0}}%"></div>
											</div>
										</div>
									</div>
									<strong class="tit">CPU<br />({{deployServer.spec.vcpus}} Core)</strong>
								</li>
								<li>
									<div class="progressWrap type1">
										<div class="progress">
											<div percent-progress-bar-animate bar-type="height" percent="{{deployServer.mem.parsentUsed | number: 0}}" class="progress">
												<div class="progress-bar color-type2" role='progressbar' tooltip-placement="top" uib-tooltip="{{deployServer.mem.parsentUsed | number: 0}}%"></div>
											</div>
										</div>
									</div>
									<strong class="tit">Memory<br />({{deployServer.spec.ram | displayVolume:'MB'}})</strong>
								</li>
								<li>
									<div class="progressWrap type1">
										<div class="progress">
											<div percent-progress-bar-animate bar-type="height" percent="{{deployServer.disk.parsentUsed | number : 0}}" class="progress">
												<div class="progress-bar" role="progressbar" tooltip-placement="top" uib-tooltip="{{deployServer.disk.parsentUsed | number : 0}}%"></div>
											</div>
										</div>
									</div>
									<strong class="tit">Disk<br />({{(deployServer.spec.disk > 0) ? (deployServer.spec.disk) + ' GB' : (deployServer.disk.total | displayVolume:'MB') }})</strong>
								</li>
							</ul>
						</div>
						<div class="down">
							<div ng-if="deployServer.viewType == 'instance'" class="stateWrap">
								<span ng-if="deployServer.vmState == 'active'" class="stateMark type1"></span>
								<span ng-if="deployServer.vmState == 'error'" class="stateMark type2"></span>
								<span ng-if="deployServer.vmState == 'paused' || deployServer.vmState == 'resized' || deployServer.vmState == 'building'" class="stateMark type4"></span>
								<span ng-if="deployServer.vmState == 'stopped'" class="stateMark type3"></span>
								<span class="state-txt">{{ 'iaas.label.instance_' + deployServer.vmState | translate }}</span>
							</div>
							<div ng-if="deployServer.viewType == 'deploy'" class="stateWrap">
								<span ng-if="deployServer.uiStatus == 'active'" class="stateMark type1"></span>
								<span ng-if="deployServer.uiStatus == 'error'" class="stateMark type2"></span>
								<span ng-if="deployServer.uiStatus == 'initializing' || deployServer.uiStatus == 'creating' || deployServer.uiStatus == 'preparing' || deployServer.uiStatus == 'installing' || deployServer.uiStatus == 'configuring' || deployServer.uiStatus == 'restarting' || deployServer.uiStatus == 'stopping' || deployServer.uiStatus == 'starting'" class="stateMark type4">{{ 'iaas.label.deploy_' + deployServer.uiStatus | translate }}</span>
								<span class="state-txt">{{ 'iaas.label.deploy_' + deployServer.uiStatus | translate }}</span>
								<span ng-if="deployServer.deployStatus == 'ing'" class="state-txt">[{{deployServer.message}}]</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-repeat="(idx, instance) in deployServer.instances" class="panel type5" style="position: relative; height: 400px; width: 365px; " ng-style="{ 'z-index' : -1*(idx+1),  'left': (5*(idx+1)) + 'px', top: (-450*(idx+1) + (5*(idx+1))) + 'px' }"></div>
		</div>
		<!-- //panel -->
	</li>
	<li>
		<button type="button" name="button" class="btn btn-panel-add" data-user="aside" data-username="#aside-aside1" style="height:390px; width: 365px; " ng-click="contents.formOpen($event, 'compute');"><span class="ico"></span><span class="txt">서비스 추가</span></button>
	</li>
</ul>
<!-- //panel area-->

<!-- //cont tit -->
<div ng-if="main.contentsViewType == 'tbl'">
	<!-- tb top -->
	<div class="tb-top">
		<div class="pull-left">
			<div class="tbTop-state">
				<span class="stateWrap"><span class="state-tit">정상배포 :</span><span class="stateMark type1">정상배포</span></span>
				<span class="stateWrap"><span class="state-tit">오류 :</span><span class="stateMark type2">오류</span></span>
				<span class="stateWrap"><span class="state-tit">대기 :</span><span class="stateMark type4">대기</span></span>
				<span class="stateWrap"><span class="state-tit">중지 :</span><span class="stateMark type3">중지</span></span>
			</div>
		</div>
		<div class="pull-right">
			<button type="button" name="button" class="btn btn-ico-add only-ico" data-user="aside" data-username="#aside-add" title="추가" ng-click="contents.formOpen($event, 'compute');"><span class="ico">추가</span></button>
		</div>
	</div>
	<!-- tb top -->

	<!-- table -->
	<div class="tbl type1">
		<table class="table">
			<colgroup>
				<col style="width:10%;">
				<col style="width:15%;">
				<col style="width:10%;">
				<col style="width:auto;">
				<col style="width:20%;">
				<col style="width:10%;">
				<col style="width:15%;">
			</colgroup>
			<thead>
			<tr>
				<th scope="col">상태</th>
				<th scope="col">서비스 명</th>
				<th scope="col">IP</th>
				<th scope="col">이미지</th>
				<th scope="col">키페어</th>
				<th scope="col">스펙</th>
				<th scope="col">관리</th>
			</tr>
			</thead>
			<tbody>
            <tr ng-repeat="(diployIndex, deployServer) in contents.deployServerList" ng-if="(deployServer.viewType == 'instance' && deployServer.name != contents.cxAgengName) || (deployServer.viewType == 'deploy' && deployServer.status != 'deleted') ">
				<td>
					<span ng-if="deployServer.viewType == 'instance'" tooltip-placement="bottom" uib-tooltip="{{deployServer.vmState}}">
						<span ng-if="deployServer.vmState == 'active'" class="stateMark type1">정상배포</span>
						<span ng-if="deployServer.vmState == 'error'" class="stateMark type2">오류</span>
						<span ng-if="deployServer.vmState == 'paused' || deployServer.vmState == 'resized' || deployServer.vmState == 'building' || deployServer.vmState == 'starting' || deployServer.vmState == 'stopping' || deployServer.vmState == 'pausing' || deployServer.vmState == 'unpausing' || deployServer.vmState == 'rebooting'" class="stateMark type4">대기</span>
						<span ng-if="deployServer.vmState == 'stopped'" class="stateMark type3">중지</span>
					</span>
					<span ng-if="deployServer.viewType == 'deploy'" tooltip-placement="bottom" uib-tooltip="{{deployServer.uiStatus}}">
						<span ng-if="deployServer.uiStatus == 'active'" class="stateMark type1">정상배포</span>
						<span ng-if="deployServer.uiStatus == 'error'" class="stateMark type2">오류</span>
						<span ng-if="deployServer.uiStatus == 'initializing' || deployServer.uiStatus == 'creating' || deployServer.uiStatus == 'preparing' || deployServer.uiStatus == 'installing' || deployServer.uiStatus == 'configuring' || deployServer.uiStatus == 'restarting' || deployServer.uiStatus == 'stopping' || deployServer.uiStatus == 'starting'" class="stateMark type4">대기</span>
					</span>
				</td>
				<td style="text-decoration: underline;">
					<a href="" ng-click="contents.moveToDetailPage(deployServer)" tooltip-placement="bottom" uib-tooltip="{{deployServer.name}}">
						{{deployServer.name}}
					</a>
					<span ng-if="deployServer.viewType == 'deploy'">[{{ deployServer.instances.length }}]</span>
				</td>
				<td>
					<div ng-repeat="fixedIp in deployServer.fixedIps">
						{{fixedIp}}
					</div>
				</td>
				<td>{{deployServer.image.serviceName}}</td>
				<td>{{deployServer.keypair.name}}</td>
				<td>
					<span tooltip-placement="bottom" uib-tooltip="vCPU {{deployServer.spec.vcpus}}개 , MEM {{deployServer.spec.ram/1024|number:0}} GB, DISK {{deployServer.spec.disk}} GB">{{deployServer.spec.name}}</span>
				</td>
				<td>
					<select ng-if="deployServer.viewType == 'instance'" ng-model="contents.selectedValues[diployIndex]" ng-change="contents.fn.serverActionConfirm(contents.selectedValues[diployIndex],deployServer,diployIndex);" >
						<option value="">선택</option>
						<option ng-if="deployServer.deployStatus == 'done' && deployServer.vmState != 'active'" value="START">시작</option>
						<option ng-if="deployServer.deployStatus == 'done' && deployServer.vmState != 'stopped'" value="STOP">중지</option>
						<option ng-if="deployServer.deployStatus == 'done' && deployServer.vmState == 'active'" value="REBOOT">재시작</option>
						<option value="DELETE">삭제</option>
						<option ng-if="deployServer.deployStatus == 'done' && deployServer.vmState == 'stopped'" value="SNAPSHOT">이미지 스냅샷</option>
						<option ng-if="deployServer.deployStatus == 'done' && deployServer.floatingIp == ''" value="IPCONNECT">접속IP할당</option>
						<option ng-if="deployServer.deployStatus == 'done' && deployServer.floatingIp != ''" value="IPDISCONNECT">접속IP해제</option>
					</select>
					<select ng-if="deployServer.viewType == 'deploy'" ng-model="contents.selectedValues[diployIndex]" ng-change="contents.fn.deployServerActionConfirm(contents.selectedValues[diployIndex],deployServer,diployIndex);" >
						<option value="">선택</option>
						<option ng-if="deployServer.deployStatus == 'done'" value="START">시작</option>
						<option ng-if="deployServer.deployStatus == 'done'" value="STOP">중지</option>
						<option ng-if="deployServer.deployStatus == 'done'" value="RESTART">재시작</option>
						<!--<option ng-if="deployServer.deployStatus == 'done' && (deployServer.deployType == 'WEB' || deployServer.deployType == 'WAS')" value="SCALE">인스턴스 증감</option>-->
						<option value="DELETE">삭제</option>
					</select>
				</td>
			</tr>
			<tr ng-if="contents.serverMainList.length == 0">
				<td colspan="7" class="center">{{ 'message.mi_dont_exist_list' | translate }}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<!-- //table -->
</div>

<!-- cont tit -->
<div class="cont-titWrap" style="margin-top: 10px; margin-bottom:20px;">
	<h3 class="h-tit3">볼륨 스토리지</h3>
</div>
<!-- //cont tit -->
<!-- panel area-->
<ul ng-if="main.contentsViewType == 'thum'" class="ul-panel">
	<li ng-repeat="volume in contents.storageMainList">
		<!-- panel -->
		<div class="panelWrap" style="height:370px; width: 365px;">
			<div class="panel type6" style="height:320px; width: 365px;">
				<div class="panel_head">
					<p class="tit" ng-click="main.moveToAppPage('/iaas/storage/detail/'+volume.volumeId,volume.name)">{{volume.name}}</p>
					<p class="txt" ng-click="main.moveToAppPage('/iaas/storage/detail/'+volume.volumeId,volume.name)">볼륨스토리지</p>
					<div class="dropdown btn-option">
						<button type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
							<span class="ico">실행 설정</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
							<li ng-click="contents.formOpen($event, 'volume', 'snapshot', volume);"><a href="javascript:void(0);">볼륨 스냅샷</a></li>
							<li ng-click="contents.fn.deleteVolumes('thum', volume.volumeId);"><a href="javascript:void(0);">볼륨 삭제</a></li>
						</ul>
					</div>
				</div>
				<div class="panel_body" ng-if="volume.status != 'creating'" ng-click="main.moveToAppPage('/iaas/storage/detail/'+volume.volumeId,volume.name)">
					<div class="ul-in">
						<div class="up">
							<div class="hardProg">
								<div class="progressWrap">
									<strong class="progress-txt">{{volume.type}}</strong>
									<p class="progress-txt">
										<b><span count-to="{{volume.size | number : 0}}" duration="1" count-from="0" filter="number"></span>GB</b>
									</p>
								</div>
							</div>
						</div>
						<div class="down">
							<span class="stateWrap">
								<span class="stateMark type1" ng-if="volume.status == 'in-use'">정상배포</span>
								<span class="stateMark type2" ng-if="volume.status == 'error'">오류</span>
								<span class="stateMark type3" ng-if="volume.status == 'available' || volume.status == 'deleted'">중지</span>
								<span class="stateMark type4" ng-if="volume.status == 'creating' || volume.status == 'deleting'">대기</span>
								<span class="state-txt">{{volume.status}}</span>
							</span>
						</div>
					</div>
				</div>
				<div class="panel_body" ng-if="volume.status == 'creating'">
					<div class="ul-in2">
						<div class="info-chart2">
							<div class="chartWrap" >
								<div stop-watch-d3-circular-progress max="120" start="true" size="120" options="{}" on-stop="contents.fn.getStorageList()" class="progress-indicator"></div>
							</div>
						</div>
						<div class="info-txt">
							<p class="txt"><span class="ico ico-timer"></span>생성중</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- //panel -->
	</li>
	<li>
		<button type="button" name="button" class="btn btn-panel-add" data-user="aside" data-username="#aside-add" style="height:320px; width: 365px;" ng-click="contents.formOpen($event, 'volume', 'storage');">
			<span class="ico"></span>
			<span class="txt">서비스 추가</span>
		</button>
	</li>
</ul>
<!-- //panel area-->

<!-- table -->
<div ng-if="main.contentsViewType == 'tbl'" class="tbl type1">
	<!-- tb top -->
	<div class="tb-top">
		<div class="pull-left">
			<div class="tbTop-state">
				<span class="stateWrap"><span class="state-tit">정상배포 :</span><span class="stateMark type1">정상배포</span></span>
				<span class="stateWrap"><span class="state-tit">오류 :</span><span class="stateMark type2">오류</span></span>
				<span class="stateWrap"><span class="state-tit">대기 :</span><span class="stateMark type4">대기</span></span>
				<span class="stateWrap"><span class="state-tit">중지 :</span><span class="stateMark type3">중지</span></span>
			</div>
		</div>
		<div class="pull-right">
			<button type="button" name="button" class="btn btn-ico-add only-ico" data-user="aside" data-username="#aside-add" title="추가" ng-click="contents.formOpen($event, 'volume', 'storage');"><span class="ico">추가</span></button>
		</div>
	</div>
	<!-- tb top -->
	<table class="table">
		<colgroup>
			<col style="width:28%" />
			<col span="2" style="width:6%" />
			<col style="width:14%" />
			<col style="width:38%" />
			<col style="width:6%" />
			<col style="width:6%" />
		</colgroup>
		<thead>
			<tr>
				<th>이름</th>
				<th>볼륨 타입</th>
				<th>크기</th>
				<th>상태</th>
				<th>연결정보</th>
				<th>스냅샷</th>
				<th>관리</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="volume in contents.storageMainList">
				<td style="text-decoration: underline;">
					<a href="javascript:void(0)" tooltip-placement="bottom" uib-tooltip="{{volume.name}}" ng-click="main.moveToAppPage('/iaas/storage/detail/'+volume.volumeId,volume.name)">{{volume.name}}</a>
				</td>
				<td>
					{{volume.type}}
				</td>
				<td>
					{{volume.size?volume.size + "GB" : ""}}
				</td>
				<td volume-status-observe observe-action="volume.observeAction" ng-model="volume.observeAction" ng-init="volume.observeAction = 'ready'">
					<span class="stateMark type1" ng-if="volume.status == 'in-use'">정상배포</span>
					<span class="stateMark type2" ng-if="volume.status == 'error'">오류</span>
					<span class="stateMark type4" ng-if="volume.status == 'creating' || volume.status == 'deleting'">대기</span>
					<span class="stateMark type3" ng-if="volume.status == 'available' || volume.status == 'deleted'">중지</span>
					<span class="state-txt">{{volume.status}}</span>
				</td>
				<td class="text-left">{{volume.volumeAttachment.device}}&nbsp;&nbsp;<span ng-if="volume.volumeAttachment.instanceName">({{volume.volumeAttachment.instanceName}})</span></td>
				<td>
					<button type="button" class="btn btn-ico-resto-s only-ico" tooltip-placement="bottom" title="볼륨 스냅샷 생성" ng-click="contents.formOpen($event, 'volume', 'snapshot', volume);"><span class="ico">볼륨 스냅샷 생성</span></button>
				</td>
				<td>
					<button type="button" class="btn btn-ico-del-s only-ico" tooltip-placement="bottom" title="삭제" ng-click="contents.fn.deleteVolumes('thum', volume.volumeId);"><span class="ico">삭제</span></button>
				</td>
			</tr>
			<tr ng-if="!contents.storageMainList || contents.storageMainList.length == 0">
				<td colspan="7" class="center">{{ 'message.mi_dont_exist_list' | translate }}</td>
			</tr>
		</tbody>
	</table>
	<!-- page -->
	<nav class="pagiWrap">
		<paging class="pagiWrap"
			page="contents.pageOptions.currentPage"
			page-size="contents.pageOptions.pageSize"
			total="contents.pageOptions.total"
			pg-href=""
			show-prev-next="true"
			show-first-last="true"
			paging-action="contents.fn.getStorageList(page)"
			text-first-class="first"
			text-last-class="end"
			text-next-class="next"
			text-prev-class="prev">
		</paging>
	</nav>
	<!-- //page -->
</div>
<!-- //table -->