			<!-- content -->
			<div class="content">
				<div class="in">
					<h2 class="h-tit2">PaaS 사용자 가이드</h2>

					<h3 class="h-tit3" id="/tutorial/2?content=1">개요</h3>

					<h5 class="h-tit5">PaaS(Platform as a Service)</h5>
					<p class="tuto-txt">어플리케이션 런타임 환경과 백엔드 서비스 환경을 제공하는 서비스 입니다.</p><br>
					<p class="tuto-txt">Java, Go, PHP 등 다양한 언어의 실행환경을 탑재하여 제공하며, MySQL, Redis 등 다양한 백엔드 서비스를 제공합니다.</p><br>
					<p class="tuto-txt">사용자는 운영체제, 미들웨어에 대한 설치 및 운영에 대한 고민 없이 어플리케이션 배포만으로 안정적인 서비스 운영이 가능합니다.</p><br>
					<p class="tuto-txt">본 사용자 가이드는 먼저 어플리케이션 데이터 저장을 위한 백엔드 서비스를 생성하고,</p><br>
					<p class="tuto-txt">빌드팩 기반 어플리케이션과 Docker 기반의 어플리케이션 배포와 서비스 바인딩, 서비스 접근 절차를 소개합니다.</p><br>

					<h5 class="h-tit5">PaaS 서비스 사용 절차</h5>
					<img src="images/paas/tutorial/app_process.png" alt=""><br><br><br>
					<div class="titleTop"></div>
					<p class="tuto-txt">PaaS 서비스를 사용하기 위해서 필요한 절차들이 있습니다.</p><br>
					<p class="tuto-txt">앱 배포 전 서비스 생성과 일반 앱, Docker 이미지 앱 배포 방법과 앱 배포 후 생성한 서비스 바인딩까지의 절차에 대해서 안내하고 있습니다.</p><br>

					<h5 class="h-tit5">표준 APP.개발 서비스</h5>
					<p class="tuto-txt">어플리케이션 데이터를 저장 시키기 위한 백엔드 서비스 생성 방법에 대하여 소개하고 있습니다.</p><br>
					<p class="tuto-txt">앱 배포(일반 앱), 앱 배포(Docker 앱), 앱관리, 앱 런타임 관리, 서비스 Bind & Unbind에 대하여 소개하고 있습니다.</p><br>
					<p class="tuto-txt">빌드 팩 기반의 어플리케이션과 Docker 이미지 배포 와 서비스 바인딩에 대하여 소개하고 있습니다.</p><br>

					<h3 class="h-tit3" id="/tutorial/2?content=2">서비스 생성(서비스 메뉴)</h3>

					<br>
					<p class="tuto-txt">사용자가 개발한 어플리케이션에는 데이터베이스 및 세션을 사용하는 환경의 어플리케이션이 있습니다.</p><br>
					<p class="tuto-txt">PaaS 에서는 그런 데이터베이스 및 세션을 지원해 주기위해서 서비스를 제공하고 있습니다.</p><br>
					<p class="tuto-txt">사용자는 어플리케이션에 알맞은 설정을 통해 PaaS 에서 지원해 주는 서비스와 연결 후 어플리케이션에서 필요한 데이터베이스로 사용할 수 있습니다.</p><br>
					<p class="tuto-txt">이번 순서에서는 서비스 생성 절차에 대해서 안내하고 있습니다.</p><br>
					<p class="tuto-txt">(어플리케이션에서 서비스 연결 설정에 관한 가이드는 개발 가이드를 참고 하시기 바랍니다.)</p><br>

					<h5 class="h-tit5">서비스 만들기 페이지</h5>
					<img src="images/paas/tutorial/create_service_instance.png" alt="">
					<ul class="tuto-ul">
						<li>서비스 대시보드 하단에 위치한 [+]버튼을 클릭합니다.</li>
						<li>우측에 [서비스 만들기]페이지가 나타납니다.</li>
					</ul>

					<h5 class="h-tit5">서비스 정보 입력</h5>
					<img src="images/paas/tutorial/create_service_instance_detail.png" alt="">
					<ul class="tuto-ul">
						<li>서비스 추가 팝업에 정보들을 순서에 맞게 알맞게 입력합니다.</li>
						<li>서비스 선택, 서비스 이름 입력, 서비스 플랜 선택 순서로 진행합니다.</li>
						<li>서비스 정보 입력이 완료 되면 [생성]버튼을 클릭하여 서비스를 생성합니다.</li>
					</ul>

					<h5 class="h-tit5">서비스 생성 완료</h5>
					<img src="images/paas/tutorial/create_service_instance_success.png" alt="">
					<ul class="tuto-ul">
						<li>서비스가 성공적으로 생성된 것을 확인 할 수 있습니다.</li>
					</ul>

					<h5 class="h-tit3" id="/tutorial/2?content=3">앱 배포(일반 앱 배포)</h5>

					<h5 class="h-tit5">앱 생성 페이지 호출 - 이미지형</h5>
					<img src="images/paas/tutorial/create_app.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 대시보드]를 클릭해서 대시보드로 이동합니다.</li>
						<li>서비스 대시보드 중앙에 위치한 [+]버튼을 클릭하면 우측에 [APP 개발 서비스 추가]페이지가 나타납니다.</li>
					</ul>

					<h5 class="h-tit5">앱 생성 페이지 호출 - 리스트형</h5>
					<img src="images/paas/tutorial/create_app_list.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 대시보드]를 클릭해서 대시보드로 이동합니다.</li>
						<li>[리스트] 버튼을 클릭합니다.</li>
						<li>서비스 대시보드 우측에 위치한 [+]버튼을 클릭하면 우측에 [APP 개발 서비스 추가]페이지가 나타납니다.</li>
					</ul>

					<h5 class="h-tit5">앱 생성 정보 입력</h5>
					<img src="images/paas/tutorial/create_app_detail.png" alt="">
					<ul class="tuto-ul">
						<li>APP 개발 서비스 추가 팝업에 정보들을 순서에 맞게 알맞게 입력합니다.</li>
						<li>앱 유형 선택(일반앱), 개발언어 선택, 앱 명 입력, 호스트 URL입력, APP Package 파일 업로드합니다.</li>
						<li>앱 정보 입력이 완료 되면 [다음]버튼을 클릭하여 세부 설정 페이지로 이동합니다.</li>
					</ul>

					<h5 class="h-tit5">앱 생성 세부설정</h5>
					<img src="images/paas/tutorial/create_app_detail_resources.png" alt="">
					<ul class="tuto-ul">
						<li>[세부설정하기]버튼을 클릭하면 세부설정 가능한 슬라이드가 나타납니다.</li>
						<li>서비스 세부설정이 완료되면 [배포]버튼을 클릭하여 앱을 배포합니다.</li>
					</ul>

					<h5 class="h-tit5">앱 생성 완료</h5>
					<img src="images/paas/tutorial/create_app_success.png" alt="">
					<ul class="tuto-ul">
						<li>앱 배포가 성공적으로 완료되면 앱 상세 페이지로 이동하게 됩니다.</li>
						<li>APP 런타임 페이지에서 태가 STARTED 상태로 변하게 되면 앱이 실행된 것입니다.</li>
						<li>APP 런타임 페이지 중앙에 위치한 URL을 클릭하면 앱이 생성된 것을 확인할 수 있습니다.</li>
					</ul>

					<h3 class="h-tit3" id="/tutorial/2?content=4">앱 배포(Docker 이미지 배포)</h3>

					<h5 class="h-tit5">Docker 앱 생성 페이지 호출 - 이미지형</h5>
					<img src="images/paas/tutorial/create_docker_app.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 대시보드]를 클릭해서 대시보드로 이동합니다.</li>
						<li>서비스 대시보드 중앙에 위치한 [+]버튼을 클릭하면 우측에 [APP 개발 서비스 추가]페이지가 나타납니다.</li>
					</ul>

					<h5 class="h-tit5">Docker 앱 생성 페이지 호출 - 리스트형</h5>
					<img src="images/paas/tutorial/create_app_list.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 대시보드]를 클릭해서 대시보드로 이동합니다.</li>
						<li>[리스트] 버튼을 클릭합니다.</li>
						<li>서비스 대시보드 우측에 위치한 [+]버튼을 클릭하면 우측에 [APP 개발 서비스 추가]페이지가 나타납니다.</li>
					</ul>

					<h5 class="h-tit5">Docker 앱 생성 정보 입력</h5>
					<img src="images/paas/tutorial/create_docker_app_detail.png" alt="">
					<ul class="tuto-ul">
						<li>APP 개발 서비스 추가 팝업에 정보들을 순서에 맞게 알맞게 입력합니다.</li>
						<li>앱 유형 선택(Docker), 앱 명 입력, 호스트 URL입력, Docker 이미지 정보를 입력합니다.</li>
						<li>앱 정보 입력이 완료 되면 [다음]버튼을 클릭하여 세부 설정 페이지로 이동합니다.</li>
					</ul>

					<h5 class="h-tit5">Docker 앱 생성 세부설정</h5>
					<img src="images/paas/tutorial/create_app_detail_resources.png" alt="">
					<ul class="tuto-ul">
						<li>[세부설정하기]버튼을 클릭하면 세부설정 가능한 슬라이드가 나타납니다.</li>
						<li>서비스 세부설정이 완료되면 [배포]버튼을 클릭하여 앱을 배포합니다.</li>
					</ul>

					<h5 class="h-tit5">Docker 앱 생성 완료</h5>
					<img src="images/paas/tutorial/create_docker_app_success.png" alt="">
					<ul class="tuto-ul">
						<li>앱 배포가 성공적으로 완료되면 앱 상세 페이지로 이동하게 됩니다.</li>
						<li>APP 런타임 페이지에서 태가 STARTED 상태로 변하게 되면 앱이 실행된 것입니다.</li>
						<li>APP 런타임 페이지 중앙에 위치한 URL을 클릭하면 앱이 생성된 것을 확인할 수 있습니다.</li>
					</ul>

					<h3 class="h-tit3" id="/tutorial/2?content=5">앱 관리</h3>

					<h5 class="h-tit5">시작(이미지형)</h5>
					<img src="images/paas/tutorial/app_management_options.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 대시보드]를 클릭해서 대시보드로 이동합니다.</li>
						<li>[· · ·]버튼을 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_start.png" alt="">
					<ul class="tuto-ul">
						<li>[시작]버튼을 누르면 앱을 시작할 것인지 묻는 알림창이 나타납니다.</li>
						<li>[예]를 클릭하면 앱이 시작됩니다.</li>
					</ul>

					<h5 class="h-tit5">중지(이미지형)</h5>
					<img src="images/paas/tutorial/app_management_options.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 대시보드]를 클릭해서 대시보드로 이동합니다.</li>
						<li>[· · ·]버튼을 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_stop.png" alt="">
					<ul class="tuto-ul">
						<li>[중지]버튼을 누르면 앱을 시작할 것인지 묻는 알림창이 나타납니다.</li>
						<li>[예]를 클릭하면 앱이 중지됩니다.</li>
					</ul>

					<h5 class="h-tit5">재시작(이미지형)</h5>
					<img src="images/paas/tutorial/app_management_options.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 대시보드]를 클릭해서 대시보드로 이동합니다.</li>
						<li>[· · ·]버튼을 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_restart.png" alt="">
					<ul class="tuto-ul">
						<li>[재시작]버튼을 누르면 앱을 시작할 것인지 묻는 알림창이 나타납니다.</li>
						<li>[예]를 클릭하면 앱이 재시작됩니다.</li>
					</ul>

					<h5 class="h-tit5">삭제(이미지형)</h5>
					<img src="images/paas/tutorial/app_management_options.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 대시보드]를 클릭해서 대시보드로 이동합니다.</li>
						<li>[· · ·]버튼을 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_delete.png" alt="">
					<ul class="tuto-ul">
						<li>[삭제]버튼을 누르면 앱을 시작할 것인지 묻는 알림창이 나타납니다.</li>
						<li>[예]를 클릭하면 앱이 삭제됩니다.</li>
					</ul>

					<h5 class="h-tit5">APP 이름변경 (이미지형)</h5>
					<img src="images/paas/tutorial/app_management_options.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 대시보드]를 클릭해서 대시보드로 이동합니다.</li>
						<li>[· · ·]버튼을 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_rename.png" alt="">
					<ul class="tuto-ul">
						<li>[이름변경]버튼을 누르면 이름을 변경 할 수 있는 영역이 나타납니다.</li>
						<li>[저장]버튼을 클릭하면 앱 이름 영역이 바뀝니다.</li>
					</ul>

					<h5 class="h-tit5">시작(리스트형)</h5>
					<img src="images/paas/tutorial/app_management_list_options.png" alt="">
					<ul class="tuto-ul">
						<li>[리스트] 버튼을 클릭합니다.</li>
						<li>[선택]박스를 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_list_start.png" alt="">
					<ul class="tuto-ul">
						<li>[시작]버튼을 누르면 앱을 시작할 것인지 묻는 알림창이 나타납니다.</li>
						<li>[예]를 클릭하면 앱이 시작됩니다.</li>
					</ul>

					<h5 class="h-tit5">중지(리스트형)</h5>
					<img src="images/paas/tutorial/app_management_list_options.png" alt="">
					<ul class="tuto-ul">
						<li>[리스트] 버튼을 클릭합니다.</li>
						<li>[선택]박스를 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_list_stop.png" alt="">
					<ul class="tuto-ul">
						<li>[중지]버튼을 누르면 앱을 시작할 것인지 묻는 알림창이 나타납니다.</li>
						<li>[예]를 클릭하면 앱이 중지됩니다.</li>
					</ul>

					<h5 class="h-tit5">재시작(리스트형)</h5>
					<img src="images/paas/tutorial/app_management_list_options.png" alt="">
					<ul class="tuto-ul">
						<li>[리스트] 버튼을 클릭합니다.</li>
						<li>[선택]박스를 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_list_restart.png" alt="">
					<ul class="tuto-ul">
						<li>[재시작]버튼을 누르면 앱을 시작할 것인지 묻는 알림창이 나타납니다.</li>
						<li>[예]를 클릭하면 앱이 재시작됩니다.</li>
					</ul>

					<h5 class="h-tit5">삭제(리스트형)</h5>
					<img src="images/paas/tutorial/app_management_list_options.png" alt="">
					<ul class="tuto-ul">
						<li>[리스트] 버튼을 클릭합니다.</li>
						<li>[선택]박스를 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_list_delete.png" alt="">
					<ul class="tuto-ul">
						<li>[삭제]버튼을 누르면 앱을 시작할 것인지 묻는 알림창이 나타납니다.</li>
						<li>[예]를 클릭하면 앱이 삭제됩니다.</li>
					</ul>

					<h5 class="h-tit5">APP 이름변경 (리스트형)</h5>
					<img src="images/paas/tutorial/app_management_list_options.png" alt="">
					<ul class="tuto-ul">
						<li>[리스트]버튼을 클릭합니다.</li>
						<li>[선택]박스를 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_management_list_rename.png" alt="">
					<ul class="tuto-ul">
						<li>[이름변경]버튼을 누르면 이름을 변경 할 수 있는 영역이 나타납니다.</li>
						<li>[수정]을 클릭하면 앱 이름 영역이 바뀝니다.</li>
					</ul>

					<h3 class="h-tit3" id="/tutorial/2?content=6">앱 런타임 관리</h3>

					<h5 class="h-tit5">앱 런타임 페이지 이동</h5>
					<img src="images/paas/tutorial/app_runtime_list.png" alt="">
					<ul class="tuto-ul">
						<li>서비스 대시보드에서 확인하고자 하는 앱 판넬을 클릭하여 APP 런타임 페이지로 이동합니다.</li>
					</ul>

					<h5 class="h-tit5">앱 주요 정보</h5>
					<img src="images/paas/tutorial/app_runtime_detail.png" alt=""><br />
					<ul class="tuto-ul">
						<li>생성된 APP 의 주요 정보 확인합니다.</li>
						<li>해당 APP 의 CPU, Disk, Memory 사용량 표시합니다.</li>
						<li>해당 APP 제어합니다.</li>
						<li>[시작/중지]버튼을 클릭하면 앱을 시작하고 중지한다.</li>
						<li>[새로고침]버튼을 클릭하면 페이지를 새로고침합니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_control.png" alt="">
					<ul class="tuto-ul">
						<li>[재시작]버튼을 클릭하면 앱이 재시작됩니다.</li>
						<li>[삭제]버튼을 클릭하면 앱이 삭제됩니다.</li>
						<li>[이름변경]버튼을 클릭하면 앱의 이름을 변경 할 수 있습니다.</li>
					</ul>

					<h5 class="h-tit5">인스턴스 재배포</h5>
					<img src="images/paas/tutorial/app_runtime_detail_redeploy.png" alt="">
					<ul class="tuto-ul">
						<li>앱 상세 정보 하단에 위치한 [재배포]버튼을 클릭합니다.</li>
						<li>우측에 [인스턴스 재배포]페이지가 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_redeploy_resources.png" alt="">
					<ul class="tuto-ul">
						<li>[리소스 변경하기]버튼을 클릭하면 리소스를 변경할 수 있는 창이 나타납니다.</li>
						<li>슬라이드 바를 움직여 리소스를 변경합니다.</li>
						<li>슬라이드 바를 움직이는 대로 배포할 리소스 정보가 변경됩니다.</li>
						<li>리소스를 조절한 후 [재배포]버튼을 클릭합니다.</li>
						<li>앱 런타임에서 변경된 리소스를 확인합니다.</li>
					</ul>

					<h5 class="h-tit5">인스턴스 상태 확인(이미지형)</h5>
					<img src="images/paas/tutorial/app_runtime_detail_instances.png" alt="">
					<ul class="tuto-ul">
						<li>APP 런타임으로 이동하면 인스턴스 상태는 기본적으로 이미지형으로 보여줍니다.</li>
						<li>"STARTED"는 인스턴스가 정상 작동중인 상태입니다.</li>
						<li>"STARTING"는 인스턴스가 시작되고 있는 상태입니다.</li>
						<li>"FAILED"는 인스턴스가 오류 난 상태입니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_instance_info.png" alt="">
					<ul class="tuto-ul">
						<li>인스턴스 상태를 확인할 수 있습니다.</li>
						<li>해당 APP 의 인스턴스 총 수를 확인할 수 있습니다.</li>
						<li>인스턴스의 고유 번호를 확인할 수 있습니다.</li>
						<li>인스턴스의 CPU, 디스크, 메모리 사용량을 확인할 수 있습니다.</li>
						<li>인스턴스 재시작 할 수 있습니다.</li>
					</ul>

					<h5 class="h-tit5">인스턴스 상태 확인(리스트형)</h5>
					<img src="images/paas/tutorial/app_runtime_detail_instance_info_list.png" alt="">
					<ul class="tuto-ul">
						<li>[리스트형]버튼을 클릭하면 리스트형 인스턴스 상태를 보여줍니다.</li>
					</ul>

					<h5 class="h-tit5">모니터링</h5>
					<img src="images/paas/tutorial/app_runtime_detail_monitoring.png" alt="">
					<ul class="tuto-ul">
						<li>해당 앱의 CPU, Memory, Disk 모니터링 상태를 보여줍니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_monitoring_full_screen.png" alt="">
					<ul class="tuto-ul">
						<li>[확대]버튼을 클릭하면 모니터링 탭이 확대됨을 확인할 수 있습니다.</li>
						<li>[축소]버튼을 클릭하면 모니터링 탭이 축소됨을 확인할 수 있습니다.</li>
					</ul>

					<h5 class="h-tit5">라우트</h5>
					<img src="images/paas/tutorial/app_runtime_detail_add_route.png" alt="">
					<ul class="tuto-ul">
						<li>라우트 탭에서 [+]버튼을 클릭합니다.</li>
						<li>라우트 추가 팝업이 뜨고 호스트 명에 값을 입력합니다.</li>
						<li>[확인]버튼을 클릭하면 추가가 되며 로딩바가 표시됩니다.</li>
						<li>새로고침이 끝난 후 추가된 라우트를 확인합니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_route.png" alt="">
					<ul class="tuto-ul">
						<li>[확대]버튼을 클릭하면 라우트 탭이 확대됨을 확인할 수 있습니다.</li>
						<li>[축소]버튼을 클릭하면 라우트 탭이 축소됨을 확인할 수 있습니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_delete_route.png" alt="">
					<ul class="tuto-ul">
						<li>[휴지통]버튼을 클릭하면 삭제할 것인지 확인하는 창이 나타납니다.</li>
						<li>[예]버튼을 클릭하면 라우트가 삭제됩니다.</li>
					</ul>

					<h5 class="h-tit5">이벤트 로그</h5>
					<img src="images/paas/tutorial/app_runtime_detail_events.png" alt="">
					<ul class="tuto-ul">
						<li>해당 앱에서 어떤 이벤트가 일어났는지 확인할 수 있습니다.</li>
						<li>[확대]버튼을 클릭하면 이벤트 로그가 확대됨을 확인할 수 있습니다.</li>
						<li>[축소]버튼을 클릭하면 이벤트 로그가 축소됨을 확인할 수 있습니다.</li>
					</ul>

					<h5 class="h-tit5">환경변수</h5>
					<img src="images/paas/tutorial/app_runtime_detail_add_env.png" alt="">
					<ul class="tuto-ul">
						<li>환경변수 탭에서 [+]버튼을 클릭합니다.</li>
						<li>환경변수 추가 팝업이 뜨고 변수 이름과 변수 값에 적절한 값을 입력합니다.</li>
						<li>[확인]버튼을 클릭하면 추가가 되며 로딩바가 표시됩니다.</li>
						<li>새로고침이 끝난 후 추가된 환경변수를 확인합니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_envs.png" alt="">
					<ul class="tuto-ul">
						<li>[확대]버튼을 클릭하면 환경변수 탭이 확대됨을 확인할 수 있습니다.</li>
						<li>[축소]버튼을 클릭하면 환경변수 탭이 축소됨을 확인할 수 있습니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_update_env.png" alt="">
					<ul class="tuto-ul">
						<li>[연필]버튼을 클릭하면 수정할 수 있는 팝업 창이 나타납니다.</li>
						<li>변수 값에 수정한 값을 입력 후 [확인] 버튼을 클릭하면 환경변수가 수정됩니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_delete_env.png" alt="">
					<ul class="tuto-ul">
						<li>[휴지통]버튼을 클릭하면 삭제할 것인지 확인하는 창이 나타납니다.</li>
						<li>[예]버튼을 클릭하면 환경변수가 삭제됩니다.</li>
					</ul>

					<h5 class="h-tit5">SSH</h5>
					<img src="images/paas/tutorial/app_runtime_detail_ssh_instance.png" alt="">
					<ul class="tuto-ul">
						<li>해당 앱의 인스턴스 별 SSH 접속하여 관련 내용을 확인할 수 있습니다.</li>
						<li>기본 값은 "선택 없음"으로 되어 있습니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_ssh.png" alt="">
					<ul class="tuto-ul">
						<li>[확대]버튼을 클릭하면 SSH 탭이 확대됨을 확인할 수 있습니다.</li>
						<li>[축소]버튼을 클릭하면 SSH 탭이 축소됨을 확인할 수 있습니다.</li>
					</ul>

					<h3 class="h-tit3" id="/tutorial/2?content=7">서비스 Bind & Unbind</h3>

					<h5 class="h-tit5">연결 서비스 관리 리스트</h5>
					<img src="images/paas/tutorial/app_runtime_detail_service_instances.png" alt="">
					<ul class="tuto-ul">
						<li>서비스 대시보드에서 생성한 서비스의 총 개수 출력합니다.</li>
						<li>서비스 대시보드에서 생성한 서비스들의 이름과 이미지 출력합니다.</li>
					</ul>

					<h5 class="h-tit5">서비스 연결</h5>
					<img src="images/paas/tutorial/app_runtime_detail_service_instance_options.png" alt="">
					<ul class="tuto-ul">
						<li>서비스 대시보드에서 생성한 서비스가 해당 앱과 연결이 안 되어있을 경우 이미지가 희미하게 보입니다.</li>
						<li>[· · ·]버튼을 클릭하면 선택 옵션이 나타납니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_service_instance_info.png" alt="">
					<ul class="tuto-ul">
						<li>서비스 대시보드에서 생성된 해당 서비스의 정보를 보여줍니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_bind_service_instance.png" alt="">
					<ul class="tuto-ul">
						<li>서비스 대시보드에서 생성한 서비스가 해당 APP 과 연결이 안 되어있을 경우 이미지가 희미하게 보입니다.</li>
						<li>[연결하기]버튼을 클릭하면 팝업 창이 나타나며 서비스를 바인딩할 것인지 묻습니다.</li>
						<li>[예]버튼을 클릭하면 서비스가 해당 앱과 바인딩 됩니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_service_instance_bound.png" alt="">
					<ul class="tuto-ul">
						<li>앞서 바인딩한 서비스를 보면 해당 서비스의 이미지가 선명하게 보이는 것을 확인할 수 있습니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_runtime_detail_service_instance_bound_info.png" alt="">
					<ul class="tuto-ul">
						<li>[서비스 정보보기]버튼을 클릭하면 팝업 창이 나타납니다.</li>
						<li>서비스와 앱 간 연결된 정보가 보입니다.</li>
					</ul>

					<h5 class="h-tit5">서비스 연결 해제</h5>
					<img src="images/paas/tutorial/app_runtime_detail_unbind_service_instance.png" alt="">
					<ul class="tuto-ul">
						<li>[연결하기]버튼을 클릭하면 바인딩을 해제할 지 확인하는 창이 나타납니다.</li>
						<li>[예]버튼을 클릭하면 바인딩이 해제되며 이미지가 다시 희미해진 것을 확인할 수 있습니다.</li>
					</ul>

					<h3 class="h-tit3" id="/tutorial/2?content=8">앱 로깅</h3>
					<img src="images/paas/tutorial/app_before_logging.png" alt="">
					<ul class="tuto-ul">
						<li>APP 런타임 화면에서 APP 로깅을 클릭합니다.</li>
					</ul>

					<img src="images/paas/tutorial/app_after_logging.png" alt="">
					<ul class="tuto-ul">
						<li>앱 별 로그를 확인할 수 있습니다.</li>
					</ul>
				</div>

				<!-- tutorial menu -->
				<div class="sideMenu">
					<dl>
						<dt>목차</dt>
						<dd>
							<ul>
								<li><a href="#/tutorial/2?content=1" class="on content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">개요</a></li>
								<li><a href="#/tutorial/2?content=2" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">서비스 생성(서비스 메뉴)</a></li><!-- selected class "on" -->
								<li><a href="#/tutorial/2?content=3" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">앱 배포(일반 앱 배포)</a></li>
								<li><a href="#/tutorial/2?content=4" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">앱 배포(Docker 이미지 배포)</a></li>
								<li><a href="#/tutorial/2?content=5" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">앱 관리</a></li>
								<li><a href="#/tutorial/2?content=6" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">앱 런타임 관리</a></li>
								<li><a href="#/tutorial/2?content=7" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">서비스 Bind & Unbind</a></li>
								<li><a href="#/tutorial/2?content=8" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">앱 로깅</a></li>
							</ul>
						</dd>
					</dl>
				</div>
				<!-- //tutorial menu -->
			</div>
			<!-- //content -->
