
			<!-- content -->
			<div class="content">
			
				<!-- tab wrap -->
				<div class="tabWrap type1 mb40">
					<!-- Nav tabs -->
					<div class="navWrap">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#/tutorial/1" role="tab" data-toggle="tab">가상 서버 활용하기</a></li>
							<li role="presentation"><a href="#/tutorial/2" role="tab" data-toggle="tab">표준APP.개발 활용하기</a></li>
							<li role="presentation"><a href="#/tutorial/6" role="tab" data-toggle="tab">개발 파이프라인 활용하기</a></li>
							<li role="presentation" ><a href="#/tutorial/8" role="tab" data-toggle="tab">API Gateway 활용하기</a></li>
						</ul>
					</div>
					<!-- //Nav tabs -->
				</div>
				<!-- tab wrap -->
				
				<div class="in">
					<h2 class="h-tit2">가상서버 활용하기</h2>

					<h3 class="h-tit3" id="/tutorial/1?content=1">가상서버 만들기</h3>
					<p class="tuto-txt">가상서버를 만들기를 통하여 독립된 전용 서버를 자동으로 구축할 수 있습니다. 생성된 가상서버에 스토리지 디스크을 추가하거나, 네트웍을 추가하는 등의 관리가 가능합니다.</p>
					
					<!-- 인스턴스 S -->
					<img src="images/tutorial/instance.png" alt="">
					<br/><br/>
					<p class="tuto-txt">사용자가 원하는 서버 사양과 이미지를 선택하여 가상서버를 자동으로 만들 수 있습니다.</p>
					<p class="tuto-txt">가상서버는 서비스 운영에 필요한 독립적인 전용 서버입니다.</p>
					<p class="tuto-txt">할당된 가상서버에는 제한된 사용자만 접근 가능합니다.</p>
	
					<h3 class="h-tit3" id="/tutorial/1?content=2">가상서버 생성</h3>
					<img src="images/tutorial/iaas/001.png" alt="">
					<ul class="tuto-ul">
						<li>[대시보드]메뉴를 클릭합니다.</li>
						<li>[가상서버 추가하기]버튼을 클릭하여 [가상서버 만들기]을 호출합니다.</li>
					</ul>
					<img src="images/tutorial/iaas/002.png" alt="">
					<ul class="tuto-ul">
						<li>[가상서버 만들기 레이어 팝업]에서 정보들을 만들고자 하는 가상서버 정보를 입력합니다.</li>
						<li> - [이름]입력, [OS]선택, [사양]선택</li>
						<li>가상서버 생성시 최초로 동작할 초기화 스크립트가 있을 경우</li>
						<li> - [초기화 스크립트] 사용 체크 후 미리 등록해둔 초기화 스크립트선택 합니다.</li>
					</ul>
					<!-- 인스턴스 E -->
					
					<!-- 디스크 스토리지 S -->
					<h3 class="h-tit3" id="/tutorial/1?content=3">디스크 생성</h3>
					<p class="tuto-txt">가상서버에서 활용 가능한 스토리지를 생성할 수 있습니다.</p>

					<img src="images/tutorial/iaas/003.png" alt="">
					<ul class="tuto-ul">
						<li>[대시보드]메뉴를 클릭합니다.</li>
						<li>[디스크 추가]버튼을 클릭하여 하단에 [디스크 추가]를 호출합니다.</li>
						<li>[디스크 추가 레이어 팝업]에서 정보들을 순서에 맞게 정확하게 입력합니다.</li>
						<li> - [이름]입력, [디스크크기]설정, [설명]입력</li>
						<li>[저장]버튼을 클릭하여 디스크을 생성합니다.</li>
					</ul>
					<!-- 디스크 스토리지 E -->
					
					<h3 class="h-tit3" id="/tutorial/1?content=4">디스크 연결</h3>
					<h5 class="h-tit5">가상서버 디스크연결</h5>
					<img src="images/tutorial/iaas/004.png" alt="">
					<ul class="tuto-ul">
						<li>[대시보드]메뉴를 클릭합니다.</li>
						<li>가상서버 현황 목록 중에서 연결하고자하는 특정 가상서버의 [···]아이콘을 클릭합니다.
						<li>드롭 다운 메뉴에서 [디스크 연결] 메뉴를 클릭합니다.</li>
						<li>[디스크 연결 레이어 팝업]에서 연결할 디스크을 지정합니다.</li>
						<li>[저장]버튼을 클릭하여 디스크을 연결합니다.</li>
					</ul>
					<!-- 디스크 스토리지 E -->

					<h5 class="h-tit5">SSH 접속을 통한 디스크 마운트</h5>
					<img src="images/tutorial/instanceVolume04.png" alt="">
					<ul class="tuto-ul">
						<li>인스턴스 SSH 접속을 합니다.</li>
						<li>[lsblk] 명령을 입력하여 마운트정보를 확인합니다.</li>
						<li>[sudo mkfs -t ext4 /dev/vdb] 명령을 입력하여 해당 disk(vdb)를 포맷합니다.</li>
						<li>[sudo mkdir /mnt/data] 명령을 입력하여 마운트포인트(/mnt/data)를 생성합니다.</li>
						<li>[sudo mount /dev/vdb /mnt/data] 명령을 입력하여 마운트포인트(/mnt/data)에 disk(vdb)를 마운트합니다.</li>
						<li>[lsblk] 명령을 입력하여 마운트정보를 확인합니다.</li>
					</ul>
															
					<!-- 도메인 네트워크 S -->
					<h3 class="h-tit3" id="/tutorial/1?content=5">네트워크 연결</h3>
					<!--
					<p class="tuto-txt">도메인 네트워크 설명</p>
					-->
					<img src="images/tutorial/iaas/005.png" alt="">
					<ul class="tuto-ul">
						<li>[네트워크]메뉴를 클릭하여 하단에 위치한 [도메인 네트워크]메뉴를 클릭합니다.</li>
						<li>[도메인 추가]버튼을 클릭을 하여 도메인을 추가 할 수 있습니다.</li>
						<li>[네트워크]메뉴를 클릭하여 하단에 위치한 [도메인 네트워크]메뉴를 클릭합니다.</li>
						<li>도메인 네트워크 목록에서 우측 상단 [···]아이콘을 클릭합니다.</li>
						<li>드롭 다운 메뉴에서 도메인 수정, 접속 IP 해제, 도메인 삭제를 할 수 있습니다.</li>
						<li>[네트워크]메뉴를 클릭하여 하단에 위치한 [도메인 네트워크]메뉴를 클릭합니다.</li>
						<li>도메인 네트워크 목록에서 우측 상단 [···]아이콘을 클릭합니다.</li>
						<li>드롭 다운 메뉴에서 도메인 수정, 접속 IP 해제, 도메인 삭제를 할 수 있습니다.</li>
					</ul>
					<!-- 도메인 네트워크 E -->
					
					

					<!-- 키페어 S -->
					<h3 class="h-tit3" id="/tutorial/1?content=6">키페어</h3>
					<img src="images/tutorial/keyPair.png" alt="">
					<p class="tuto-txt">키페어는 가상서버에 접속하기 위해 필요한 공개키와 개인키의 조합 입니다.</p>
					<p class="tuto-txt">일반적으로 공개키는 서버에서 관리되고, 개인키는 사용자가 관리합니다.</p>

					<img src="images/tutorial/iaas/006.png" alt="">
					<ul class="tuto-ul">
						<li>[가상서버]메뉴를 클릭합니다.</li>
						<li>[키페어]메뉴를 클릭합니다.</li>
						<li>키페어 페이지로 이동합니다.</li>
						<li>[+]버튼을 클릭하여 [키페어 생성 레이어 팝업]을 호출합니다.</li>
					</ul>
					
					<img src="images/tutorial/iaas/007.png" alt="">
					<ul class="tuto-ul">
						<li>[키페어 생성 레이어 팝업]에서 [이름, 설명]에 알맞은 정보를 입력합니다.</li>
						<li>[저장]버튼을 클릭하여 생성을 완료합니다.</li>
					</ul>
					<!-- 키페어 E -->
					
					<!-- 보안정책 S -->
					<h3 class="h-tit3" id="/tutorial/1?content=7">보안정책</h3>
					<img src="images/tutorial/securityPolicy.png" alt="">
					<p class="tuto-txt">보안정책은 외부 접속 및 다양한 사용자 정책을 통해 생성하는 가상의 방화벽 입니다.</p>
					<p class="tuto-txt">가상의 방화벽을 통해 사용자들의 보안 유지와 외부 접속에 제한을 줄 수 있습니다.</p>

					<img src="images/tutorial/iaas/008.png" alt="">
					<ul class="tuto-ul">
						<li>[가상서버]메뉴를 클릭합니다.</li>
						<li>[보안정책]메뉴를 클릭합니다.</li>
						<li>보안그룹 목록 페이지로 이동합니다.</li>
						<li>[+]버튼을 클릭하여 [보안정책 생성 레이어 팝업]을 호출합니다.</li>
					</ul>
					<img src="images/tutorial/iaas/009.png" alt="">
					<ul class="tuto-ul">
						<li>[보안정책 생성 레이어 팝업]에서 [보안정책 이름, 설명]에 알맞은 정보를 입력합니다.</li>
						<li>[저장]버튼을 클릭하여 생성을 완료합니다.</li>
						<li>보안그룹 목록에서 특정 보안그룹을 클릭합니다.</li>
						<li>[보안그룹 규칙관리 페이지]로 이동합니다.</li>
					</ul>
					
					<img src="images/tutorial/iaas/010.png" alt="">
					<ul class="tuto-ul">
						<li>[+]버튼을 클릭하여 [규칙추가 레이어 팝업]을 호출합니다.</li>
					</ul>
					<img src="images/tutorial/iaas/011.png" alt="">
					<ul class="tuto-ul">
						<li>[규칙추가 레이어 팝업]에 알맞은 정보를 입력합니다. ([규칙선택], [방향선택], [사용할 포트 또는 범위지정], [CIDR 정보 입력])</li>
						<li>[저장]버튼을 클릭하여 생성을 완료합니다.</li>
					</ul>
					<!-- 보안정책 E -->
										
					<!-- 인스턴스 SSH 접속 S -->
					<h3 class="h-tit3" id="/tutorial/1?content=8">SSH 접속</h3>
					<p class="tuto-txt">가상서버 SSH 접속</p>

					<h5 class="h-tit5">가상서버 정보확인</h5>
					<img src="images/tutorial/iaas/012.png" alt="">
					<ul class="tuto-ul">
						<li>[가상서버]메뉴를 클릭합니다.</li>
						<li>[대시보드]메뉴를 클릭합니다.</li>
						<li>대시보드 페이지로 이동합니다.</li>
						<li>가상서버 목록에서 [가상서버]를 선택하여 [가상서버 상세]페이지로 이동합니다.</li>
					</ul>
					
					<img src="images/tutorial/iaas/013.png" alt="">
					<ul class="tuto-ul">
						<li>[가상서버 상세]페이지에서 [키페어, 보안그룹, 접속IP주소, 접속URL] 정보를 확인합니다.</li>
					</ul>
					
					<h5 class="h-tit5">키페어 파일 다운</h5>
					<img src="images/tutorial/iaas/014.png" alt="">
					<ul class="tuto-ul">
						<li>[가상서버]메뉴를 클릭합니다.</li>
						<li>[키페어]메뉴를 클릭합니다.</li>
						<li>키페어 페이지로 이동합니다.</li>
						<li>[가상서버 상세]페이지에서 확인한 키페어를 키페어 목록의 관리 항목의 Private Key 다운을 통해 키페어 파일을 다운로드합니다.</li>
					</ul>
					
					<h5 class="h-tit5">키페어 파일 변환 (pem -> ppk)</h5>
					<img src="images/tutorial/instanceSSH04.png" alt="">
					<ul class="tuto-ul">
						<li>PuTTY Key Generator 실행한다.</li>
						<li>[Load] 버튼을 누른 후 미리 다운받은 pem 키페어파일을 선택한다.</li>
					</ul>
					
					<img src="images/tutorial/instanceSSH05.png" alt="">
					<ul class="tuto-ul">
						<li>위 이미지와 같이 나온다면 [확인]버튼을 클릭한다.</li>
					</ul>
					
					<img src="images/tutorial/instanceSSH06.png" alt="">
					<ul class="tuto-ul">
						<li>위 이미지와 같이  SSH-1(RSA)체크한 후 [Save private key] 버튼을 클릭하여 변환한다.</li>
					</ul>
					
					<h5 class="h-tit5">PuTTY SSH연결</h5>
					<img src="images/tutorial/instanceSSH07.png" alt="">
					<ul class="tuto-ul">
						<li>[Session]을 선택합니다.</li>
						<li>[가상서버 상세]페이지에서 확인한 접속 IP 정보를 입력합니다.</li>
					</ul>
					
					<img src="images/tutorial/instanceSSH08.png" alt="">
					<ul class="tuto-ul">
						<li>[Connection] - [Proxy]를 선택합니다.</li>
						<li>[Proxy type]을 [SOCKS 5]로 선택합니다.</li>
						<li>[Proxy hostname]에 [168.78.82.199], [Port]에 [20022]를 입력합니다.</li>
					</ul>
					
					<img src="images/tutorial/instanceSSH09.png" alt="">
					<ul class="tuto-ul">
						<li>[Connection] - [Data]를 선택합니다.</li>
						<li>[username]을 입력합니다.</li>
						<li>OS에 따라</li>
						<li> - Ubuntu : Ubuntu</li>
						<li> - CentOS : centos</li>
						<li> - RHEL : cloud-user</li>
					</ul>
					
					<img src="images/tutorial/instanceSSH10.png" alt="">
					<ul class="tuto-ul">
						<li>[Connection] - [SSH] - [Auth]를 선택합니다.</li>
						<li>[Private key file for authentication]의 [Browse] 버튼을 클릭합니다.</li>
						<li>미리 변환한 키파일을 선택합니다.</li>
					</ul>
					
					<img src="images/tutorial/instanceSSH11.png" alt="">
					<ul class="tuto-ul">
						<li>[Session]을 선택합니다.</li>
						<li>[Saved Sessions]에 Session 명을 입력합니다.</li>
						<li>[Save]버튼을 클릭하여 설정한 정보를 저장합니다.</li>
						<li>[Open]버튼을 클릭하여 SSH접속합니다.</li>
					</ul>
					
					<h5 class="h-tit5">PuTTY SSH 접속 확인</h5>
					<img src="images/tutorial/instanceSSH12.png" alt="">
					<ul class="tuto-ul">
						<li>SSH접속을 확인할 수 있습니다.</li>
					</ul>
					<!-- 인스턴스 SSH 접속 E -->
					
					<!-- 인스턴스 SFTP 접속 S -->
					<h3 class="h-tit3" id="/tutorial/1?content=9">SFTP 접속</h3>
					<p class="tuto-txt">가상서버 SFTP 접속</p>

					<h5 class="h-tit5">FileZilla 프록시설정</h5>
					<img src="images/tutorial/instanceSFTP01.png" alt="">
					<ul class="tuto-ul">
						<li>[편집] - [설정]을 클릭합니다.</li>
						<li>[연결] - [일반 프록시]를 클릭합니다.</li>
						<li>[일반 프록시 유형]을 [SOCKS 5]로 선택합니다.</li>
						<li>[프록시 호스트]에 [168.78.82.199], [프록시 포트]에 [20022]를 입력합니다.</li>
					</ul>
					
					<h5 class="h-tit5">FileZilla SFTP 접속</h5>
					<img src="images/tutorial/instanceSFTP02.png" alt="">
					<ul class="tuto-ul">
						<li>[파일] - [사이트 관리자]를 클릭합니다.</li>
						<li>[새 사이트]를 클릭합니다.</li>
						<li>[호스트]에 [가상서버 상세]페이지에서 확인한 접속 IP 정보를 입력합니다.</li>
						<li>[프로토콜]은 [SFTP]를 선택합니다.</li>
						<li>[로그온 유형]은 [키 파일]를 선택합니다.</li>
						<li>[사용자]를 입력합니다.</li>
						<li>OS에 따라</li>
						<li> - Ubuntu : Ubuntu</li>
						<li> - CentOS : centos</li>
						<li> - RHEL : cloud-user</li>
						<li>[키 파일]의 [찾아보기] 버튼을 클릭합니다.</li>
						<li>미리 변환한 키파일을 선택합니다.</li>
						<li>[연결]버튼을 클릭하여 SFTP접속합니다.</li>
					</ul>
					
					<h5 class="h-tit5">FileZilla SFTP 접속 확인</h5>
					<img src="images/tutorial/instanceSFTP03.png" alt="">
					<ul class="tuto-ul">
						<li>SFTP접속을 확인할 수 있습니다.</li>
					</ul>
					<!-- 인스턴스 SFTP 접속 E -->
					
					<!-- 인스턴스 APACHE 서비스 S -->
					<h3 class="h-tit3" id="/tutorial/1?content=10">APACHE 서비스</h3>
					<p class="tuto-txt">가상서버 APACHE 서비스</p>

					<h5 class="h-tit5">Apache web서비스 설치</h5>
					<img src="images/tutorial/instanceAPACHE01.png" alt="">
					<img src="images/tutorial/instanceAPACHE02.png" alt="">
					<ul class="tuto-ul">
						<li>Apache web 서비스를 실행할 가상서버에 가상서버 SSH접속을 참고하여 SSH 접속을 합니다.</li>
						<li>SSH 접속이 성공적으로 완료하면 [apt-get] 업데이트를 실행합니다.(sudo apt-get update)</li>
						<li>[apt-get] 업데이트가 완료되면 [apache2]설치를 실행합니다.(sudo apt install apache2)</li>
						<li>로컬PC 네트워크구성에서 DNS [168.78.82.52] 추가합니다.</li>
					</ul>
					
					<h5 class="h-tit5">Apache web서비스 확인</h5>
					<img src="images/tutorial/instanceAPACHE03.png" alt="">
					<ul class="tuto-ul">
						<li>Apache 설치 완료 후 인터넷 브라우저를 실행 시킵니다.</li>
						<li>인터넷브라우저 주소 창에 인스턴스 상세정보에서 확인한 접속URL을 입력합니다.</li>
						<li>위 안내 이미지와 같이 Apache 안내페이지가 나오면 성공적으로 인스턴스에 Apache서비스가 적용되었습니다.</li>
					</ul>
					<!-- 인스턴스 APACHE 서비스 E -->
				</div>

				<!-- tutorial menu -->
				<div class="sideMenu">
					<dl>
						<dt>목차</dt>
						<dd>
							<ul>
								<li><a href="#/tutorial/1?content=1" class="on content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">가상서버 만들기</a></li><!-- selected class "on" -->
								<li><a href="#/tutorial/1?content=2" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">가상서버 생성</a></li>
								<li><a href="#/tutorial/1?content=3" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">디스크 생성</a></li>
								<li><a href="#/tutorial/1?content=4" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">디스크 연결</a></li>
								<li><a href="#/tutorial/1?content=5" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">네트워크 연결</a></li>
								<li><a href="#/tutorial/1?content=6" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">키페어</a></li>
								<li><a href="#/tutorial/1?content=7" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">보안정책</a></li>
								<li><a href="#/tutorial/1?content=8" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">SSH 접속</a></li>
								<li><a href="#/tutorial/1?content=9" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">SFTP 접속</a></li>
								<li><a href="#/tutorial/1?content=10" class="content" onclick="$('.sideMenu .content').removeClass('on'); $(this).addClass('on');">Apache 서비스</a></li>
							</ul>
						</dd>
					</dl>
					<div class="btn_top_area">
						<a href="#" class="btn_top"><span class="txt">Top</span></a>
					</div>
				</div>
				<!-- //tutorial menu -->
			</div>
			<!-- //content -->