<script type="text/javascript">
	$(document).ready(function(){
		$(".carousel").hide();
	});
</script>
<div class="topVisualContainer productTop"> 
    <nav class="navbar navbar-default product-sub-nav">
	  <div class="container-fluid">
	   <a class="back-product-list" href="#/product"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a> 
		<div class="navbar-header">            
		  <a class="navbar-brand" href="">Computing</a>
		</div>
		<ul class="nav navbar-nav product-nav-list">
		  <li class="active"><a href="#/product/iaas/computing/server">Server</a></li> 
		</ul>
	  </div>
	</nav>
	<div class="productTopLeft"></div>
	<div class="productTopRight"></div>
	<div class="topVisualWrap">
		<!--<img src="../img/img_supporttop.png" width="1069" height="201" alt="" />-->
		<h3>Server</h3>
		<p>고품질의 클라우드 서버를 제공하는 서비스로 웹 인터페이스를 통해 쉽고<br />빠르게 다양한 서버를 구성할 수 있습니다.</p>
	</div>
</div>
<div id="content" class="container-fluid productContainer">
	<uib-tabset active="contents.activeTabIndex" class="tab-animation">
		<uib-tab index="1">
			<uib-tab-heading>소개</uib-tab-heading>
			<div class="productIntroWrap">
				<h4>빠르게 생성하여 원하는 분야에 효율적으로 활용하는 서버</h4>
				<p>
					물리적인 서버 자원을 별도로 구매하지 않고, 클라우드 환경에서 빠르게 생성해<br />
					사용한 만큼만 비용을 지불하면 되는 효율적인 상품입니다.<br />
					인프라 운영에 대한 부담을 덜고자 하거나, 일시적으로 많은 서버 자원이 필요한 경우에 적합합니다.
				</p>
				<ul class="introServer"> 
					<li>
						<img src="../img/ico_service_detail_0001.png" width="90" height="63" alt="" />
						<span>
							<span class="title">기업 비즈니스 형 관리방안</span>
							다양한 서비스를 개별적으로 분리하여 구성할 수 있으며,<br>
							독립된 영역에는 기업 내에 관련한 사용자로<br> 구성할 수 있습니다.
						</span>
					</li>
					<li>
						<img src="../img/ico_service_detail_0002.png" width="90" height="66" alt="" />
						<span>
							<span class="title">민첩한 컴퓨팅 서버</span>
							기업에서 필요한 컴퓨팅 서버를 빠르게 생성할 수 있으며,<br> 서버를 확장 축소 및 
							같은 유형의 서버를 한번에<br> 생성할 수 있습니다.

						</span>
					</li>
					<li>
						<img src="../img/ico_service_detail_0003.png" width="90" height="72" alt="" />
						<span>
							<span class="title">고성능 고품질의 환경</span>
							최신 H/W 장비로 구성된 컴퓨팅 자원과 국내 최초 SDN/NFV 기술을 통하여 기업별로 유연한 구성이 가능한<br> 네트워크 환경을 지원합니다.
 
						</span>
					</li>
					<li>
						<img src="../img/ico_service_detail_0004.png" width="90" height="66" alt="" />
						<span>
							<span class="title">비용 절감 및 계획적인 비용 관리</span>
							필요한 용량만큼 사용하고 비용 지불하는 서비스와<br>기업별 용량계획 기준의 월 과금 방식을 적용하여 계획적인<br> 비용관리와 비용절감이 가능합니다.
						</span>
					</li>
				</ul>
			</div>
			<!--<div class="bottomBtnWrap">
				<button class="btn btn-add">이용 신청하기</button>
			</div>-->
		</uib-tab>
		<uib-tab index="2">
			<uib-tab-heading>상세 기능</uib-tab-heading>
			<div class="productIntroWrap">
				<dl>
					<dt>초기화 스크립트 지원</dt>
					<dd>
						‘초기화 스크립트’는 서버가 생성되는 시점에 사용자가 원하는 소프트웨어 설치 및 설정 등을  위해 필요한 정보를 서버에 전달하여 자동으로 수행하는 방법입니다. <br> 쉘 스크립트에 익숙한 경우 스크립트를 전달하여 서버 시작 시에 실행하는 방법이 가장 쉬운 방법입니다. 
					</dd>
					<dt>서버 스냅샷 및 이미지(템플릿) 서비스 지원</dt>
					<dd>‘스냅샷’은 서버나 볼륨의 현재 상태를 사진을 찍어 놓듯이 그대로 저장해 두고, 사용자가 원하면 언제든지 스냅샷을 저장한 시점 상태 그대로 돌아갈 수 있도록 해 주는 서비스입니다.<br>운영 중에 서버에 문제가 발생하였을 때 그 이전 상태로 복원할 수 있어 백업으로 사용되며,<br> 서버 별로 동일하고 반복적인 작업들을 사전에 설치 및 설정한 후에 스냅샷으로 만들면 여러 대의 서버를 생성할 때 이미지(템플릿)으로도 활용할 수 있습니다
                    </dd>
					<dt>보안정책 지원</dt>
					<dd>‘보안정책’은 서버에 대한 트래픽을 제어하는 방화벽 역할을 수행합니다.<br>
                    서버를 생성할 때 하나 이상의 보안 그룹을 서버와 연결합니다. 보안정책에 정의된 규칙은 언제든지 수정할 수 있으며 수정된 규칙은 <br>해당 보안정책을 사용하는 모든 서버에 자동으로 즉시 적용이 됩니다.
                    </dd>
					<dt>네트워크 서비스</dt>
					<dd>
                       <table class="table table-striped detail-table" style="border-top: 2px solid #595757;border-bottom: 2px solid #595757;"> 
							<colgroup>
								<col style="width: 200px"/> 
								<col />
							</colgroup>
							<thead> 
							</thead>
							<tbody>
								<tr>
									<th>공인 IP 지원</th>
									<td>컴퓨팅 서버를 생성하게 되면 사설 IP만 할당되며 서버 내에서 인터넷 환경으로 접속은 되지만,
                                        인터넷에서 직접 서버로 접근할 수는 없습니다.<br>
                                        컴퓨팅 서버를 통해 인터넷 서비스를 하기 위해서는 항시 사용자가 접근할 수 있는 고정된 공인 IP가 필요합니다.<br>
                                        고객은 지정한 서버에 고정된 공인 IP를 할당할 수 있으며 필요에 따라 기존의 공인 IP를 다른 서버에 할당할 수 있습니다.<br>(신규 서버로의 이전 경우 서비스 중단 시간을 최소화할 수 있습니다.)</td> 
								</tr>
								<tr>
									<th>기본 네트워크 지원</th>
									<td>인터넷으로 연결이 가능한 기본 네트워크를 제공합니다.<br>
                                    기본 네트워크에 연결되어 있는 컴퓨팅 서버들은 모두 인터넷으로 접근 가능합니다. 고객은 사용 용도(WEB, WAS, DB 서버 등)에 따라서 기본 네트워크를 여러 개 만들어 사용할 수 있습니다.</td> 
								</tr>
								<tr>
								    <th>사설 네트워크 지원</th>
									<td>지정된 서버들 간에서만 통신 할 수 있는 독립된 네트워크 제공합니다. <br>클러스터링 솔루션 등과 같이 별도의 통신 채널(Health 체크, 데이터 복제 등)이 필요한 소프트웨어를 사용할 경우사설 네트워크를 사용할 수 있습니다.</td> 
								</tr>							
							</tbody>
						</table> 
                    </dd>    
					<dt>서버 타입</dt>
					<dd>사용 사례에 맞게 최적화된 다양한 인스턴스 유형을 제공합니다.<br>인스턴스 유형은 CPU, 메모리, 스토리지 및 네트워킹 용량의 다양한 조합으로 구성되며, 애플리케이션에 따라 적합한 리소스 조합을 선택할 수 있는 유연성을 제공합니다.<br> 각 인스턴스 유형은 하나 이상의 인스턴스 크기를 포함하고 있으므로 목표로 하는 워크로드 요구 사항까지 리소스를 확장할 수 있습니다.
					    <table class="table table-striped detail-table">
					        <caption>서버 타입 목록</caption>
							<colgroup>
								<col style="width: 175px"/>
								<col style="width: 182px"/>
								<col />
							</colgroup>
							<thead>
								<tr>
									<th>타입</th>
									<th>적용</th>
									<th>설명</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Standard(s)</td>
									<td>범용</td>
									<td>대부분의 용도에 적합하도록 컴퓨팅, 메모리 자원을 균형 있게 구성한 사양으로 비용이 가장 저렴한 범용적인 유형입니다.</td>
								</tr>
								<tr>
									<td>High Computing(c)</td>
									<td>컴퓨팅 집약적 업무용</td>
									<td>컴퓨팅 파워를 많이 사용하는 업무에 활용할 수 있도록 최적화 된 사양으로 “Standard” 타입보다 더 많은 CPU 가 배정됩니다.</td>
								</tr>
								<tr>
								    <td>High Memroy(m)</td>
									<td>메모리 집약적 업무용</td>
									<td>고성능 데이터베이스, 인 메모리 데이터베이스 등 메모리를 많이 사용하는 앱에 활용 할 수 있도록 제공되는 사양입니다. “Standard” 타입보다 더 많은 메모리가 배정됩니다.</td>
								</tr>							
							</tbody>
						</table>
					</dd>
					<dt>서버 이미지</dt>
					<dd>현재 컴퓨팅 서버에서 사용할 수 있는 운영 체제는 다음과 같습니다.<br>
                    무료로 제공되는 운영체제의 경우 공식 Public Cloud Image를 일부 수정하여 제공하고 있으며, 유료 운영체제의 경우
                    기술 지원이 가능하도록 다른 파트너 및 커뮤니티와 협력하여 제공합니다.
					    <table class="table table-striped detail-table">
					        <caption>서버 이미지 목록</caption>
							<colgroup>
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th>운영체제</th>
									<th>버전</th>
									<th>비용</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Ubuntu</td>
									<td>Ubuntu 14.04 / Ubuntu16.04</td>
									<td style="text-align:center">무료</td>
								</tr>
								<tr>
									<td>Cent OS</td>
									<td>Cent OS 6 / Cent OS 7</td>
									<td style="text-align:center">무료</td>
								</tr>
								<tr>
								    <td>Redhat</td>
									<td>Redhat 6/ Redhat7</td>
									<td style="text-align:center">유료</td>
								</tr>
								<tr>
								    <td>Windows</td>
									<td>Windows server 2012 R2 / Windows server 2016 R2 </td>
									<td style="text-align:center">유료</td>
								</tr>							
							</tbody>
						</table>
					</dd>
				<!--	<dd>상용 또는 무료 소프트웨어가 컴퓨팅 서버 생성 시 바로 실행되도록 설계 된 다양한 서버 이미지들도 제공합니다.<br>
                    기업의 서비스 가동을 위한 시스템으로 사용 할 수는 없겠지만 개발/ 테스트 등의 단일 서버용으로 간단하게 사용할 수 있습니다.
					    <table class="table table-striped detail-table">
					        <caption>설계 된 이미지 목록</caption>
							<colgroup>
								<col />
								<col />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th>소프트웨어</th>
									<th>버전</th>
									<th>지원 및 운영체제</th>
									<th>비용</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Jeus</td>
									<td style="text-align:center">X.X</td>
									<td>Cent OS 6 , Cent OS 7, Redhat 6, Redhat 7</td>
									<td></td>
								</tr>
								<tr>
									<td>Tibero</td>
									<td style="text-align:center">X.X</td>
									<td>Cent OS 6 , Cent OS 7, Redhat 6, Redhat 7</td>
									<td></td>
								</tr> 						
							</tbody>
						</table>
					</dd> -->
				</dl>
			</div>
			<!--<div class="bottomBtnWrap">
				<button class="btn btn-add">이용 신청하기</button>
			</div>-->
		</uib-tab>
<!--
		<uib-tab index="3">
			<uib-tab-heading>이용안내</uib-tab-heading>
		</uib-tab>
-->
	</uib-tabset>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var winHeight = $(window).height();
        $(".productContainer").css("min-height",winHeight-434)
    });
</script>