<!-- search -->
<div class="searchWrap">
    <div class="searchBox">
        <div class="form-group">
            <select id="receiver" name="receiver" 
                ng-options="condition.id as ( condition.name | translate ) for condition in contents.conditions.receivers" 
                ng-model="contents.conditionParams.receiver" style="width:130px;" ng-change="contents.selectNotifications();">
                <option value="">-- 수신그룹 --</option>
            </select>
            <select id="schType" name="schType" 
                ng-options="condition.id as ( condition.name | translate ) for condition in contents.conditions.types" 
                ng-model="contents.conditionParams.schType" style="width:100px;">
            </select>
            <input type="text" style="width:400px;ime-mode:active;" maxlength="30" placeholder="{{ 'message.mi_type_search_word' | translate }}" 
                ng-model="contents.conditionParams.schText" id="searchText" ng-keypress="contents.schEnter($event);">
        </div>
        <button type="button" name="button" class="btn btn-sch" title="검색" ng-click="contents.selectNotifications();"><span class="ico">{{ 'label.search' | translate }}</span></button>
    </div>
</div>
<!-- search -->

<!-- table top -->
<div class="tb-top">
    <div class="pull-left">{{ 'label.all' | translate }} : {{ contents.pageOptions.total }} 건</div>
</div>
<!-- //table top -->

<!-- table -->
<div class="tbl type1" ng-show="contents.pageOptions.total">
    <table class="table">
        <colgroup>
            <col style="width:7%;">
            <col style="width:10%;">
            <col style="width:10%;">
            <col style="width:auto;">
            <col style="width:20%;">
            <col style="width:15%;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">{{ 'label.receiver' | translate }}</th>
                <th scope="col">{{ 'label.target' | translate }}</th>
                <th scope="col">{{ 'label.message' | translate }}</th>
                <th scope="col">{{ 'label.url' | translate }}</th>
                <th scope="col">{{ 'label.register_dt' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in contents.notifications">
                <td>{{contents.pageOptions.pageSize * (contents.pageOptions.currentPage - 1) + $index + 1}}</td>
                <td>
                    <span ng-if="item.receiver == 'p'">{{ 'label.project' | translate }}</span>
                    <span ng-if="item.receiver == 'a'">{{ 'label.admin' | translate }}</span>
                    <span ng-if="item.receiver == 'u'">{{ 'label.user' | translate }}</span>
                </td>
                <td>{{ item.target | translate }}</td>
                <td class="text-left">{{ item.message | translate }}</td>
                <td class="text-left"><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                <td>{{ item.time.time | date : "yyyy-MM-dd HH:mm" }}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- //table -->

<!-- page -->
<nav class="pagiWrap" ng-show="contents.pageOptions.total">
    <paging
        page="contents.pageOptions.currentPage"
        page-size="contents.pageOptions.pageSize"
        total="contents.pageOptions.total"
        pg-href=""
        show-prev-next="true"
        show-first-last="true"
        paging-action="contents.selectNotifications(page)"
        text-first-class="firstPage"
        text-last-class="lastPage"
        text-next-class="nextPage"
        text-prev-class="prevPage">
    </paging>
</nav>
<!-- //page -->

<!-- compMsgBox -->
<div class="compMsgBox type1" ng-show="!contents.pageOptions.total">
    <div class="inMsgTxt">
    <span class="ico"></span>
        <strong ng-if="!contents.conditions.schText" class="msg-tit">게시물이 존재하지 않습니다.</strong>
        <strong ng-if="contents.conditions.schText" class="msg-tit">'<span class="point1">{{contents.conditions.schText}}</span>'에 대한 검색 결과가 없습니다.</strong>
    <div ng-if="contents.conditions.schText" class="msg-txt">
        다른 검색어를 넣어 다시 검색해주세요.
    </div>
    </div>
</div>
<!-- //compMsgBox -->

