<script type="text/javascript">
	$(document).ready(function(){
		$(".carousel").hide();
	});
</script>
<div class="topVisualContainer productTop">
	<nav class="navbar navbar-default product-sub-nav">
		<div class="container-fluid">
			<a class="back-product-list" href="#/product"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
			<div class="navbar-header">
				<a class="navbar-brand" href="">DevOps</a>
			</div>
			<ul class="nav navbar-nav product-nav-list">
				<li><a href="#/product/devops/git">형상관리</a></li>
				<li><a href="#/product/devops/cicd">빌드/배포</a></li>
				<li class="active"><a href="#/product/devops/wide">웹 개발 도구</a></li>
			</ul>
		</div>
	</nav>
	<div class="productTopLeft"></div>
	<div class="productTopRight"></div>
	<div class="topVisualWrap devopsTopWrap">
		<!--<img src="../img/img_supporttop.png" width="1069" height="201" alt="" />-->
		<h3>웹 개발 도구 서비스</h3>
		<p>개발자들이 좀 더 편리하게 개발 할 수 있는 환경을<br />
		   위한 개발 IDE 서비스를 제공합니다.
		</p>
	</div>
</div>
<div id="content" class="container-fluid productContainer">
	<uib-tabset active="contents.activeTabIndex" class="tab-animation">
		<uib-tab index="1">
			<uib-tab-heading>소개</uib-tab-heading>
			<div class="productIntroWrap">
			    <div class="productImg">
			        <img src="../img/img_dev_tools.png" width="1011" height="275" alt="dashboard">
			    </div>
				<h4>언제 어디서든 개발이 가능한 웹 개발 도구 서비스</h4>
				<p class="producComm">
					개발자들이 좀 더 편리하게 개발을 할 수 있는 환경을 지원해주는 IDE 서비스로서,<br />
					워크스페이스를 서버가 관리 하기 때문에 뛰어난 보안성과 용이한 개발 소스 통합이 가능하며,<br />
					인터넷만 사용 가능하면 언제 어디든 개발이 가능한 웹 개발 도구 서비스입니다.
				</p>
				<ul class="devAdvantage">
					<li>
						<img src="../img/ico_dev_tools_0001.png" width="83" height="63" alt="" />
						<span>
							<span class="title">간편한 개발 환경</span>
							인터넷이 사용 가능한 환경에서,<br />
							설치 없이 간편하게 개발할 수 있는 환경을 제공합니다.<br />
							&nbsp; 
						</span>
					</li>
					<li>
						<img src="../img/ico_dev_tools_0002.png" width="70" height="67" alt="" />
						<span>
							<span class="title">효율적인 소스 통합</span>
							프로젝트 공유, 멤버를 관리하며 작업 영역을<br /> 
							설정하여 팀원들이 작업 할 수 있는 공간을 제공합니다.<br />
							&nbsp;
						</span>
					</li>
					<li>
						<img src="../img/ico_dev_tools_0003.png" width="83" height="77" alt="" />
						<span>
							<span class="title">뛰어난 보안성</span>
							개발 워크스페이스를 서버가 관리함으로써,<br /> 
							소스코드 보안에 대하여 강화된 환경을 제공합니다.<br />
							&nbsp;
						</span>
					</li>
					<li>
						<img src="../img/ico_dev_tools_0004.png" width="85" height="74" alt="" />
						<span>
							<span class="title">자유로운 개발</span>
							자동 완성과, 디버깅 기능을 통하여<br />
							기존 사용하던 IDE툴과 동일한 기능을 제공합니다.<br />
							&nbsp;
						</span>
					</li>
				</ul>
			</div> 
		</uib-tab>
		<uib-tab index="2">
			<uib-tab-heading>상세 기능</uib-tab-heading>
			<div class="productIntroWrap">
				<dl>
					<dt>익숙한 개발 환경 지원</dt>
					<dd>
						웹 개발 도구 서비스는 기존 IDE 개발 도구가 지원하는 기능을 개발자들에게 제공하고 있습니다.
				    </dd>
					<dt>간편한 개발 환경 지원</dt>
					<dd>설치가필요 없이 인터넷이 연결된 환경에서 바로 사용할 수 있는 개발 도구 서비스를 개발자들에게 제공하고 있습니다.</dd>
					<dt>강력한 보안</dt>
					<dd>개발 소스들을 관리하는 워크스페이스를 서버가 관리함으로써 개발에 관한 소스코드 유출 피해를 줄일 수 있도록 보안 환경을 제공하고 있습니다.</dd>
					<dt>미리보기 환경 지원</dt>
					<dd>플젝트 및 작업 영역을 실행 결과 터미널 및 웹페이지를 실행하는 미리보기 환경을 지원함으로써 프로젝트의 예상 결과물과 이슈를 미리 파악하고<br /> 프로젝트의 품질을 높일 수 있는 기능을 제공하고 있습니다.</dd>
					<dt>디버깅 환경 지원</dt>
					<dd>기존 IDE 툴과 같은 기능으로 개발자가작업하다 발생한 이슈에 대한 디버깅 작업을 지원하여 프로젝트를 원활하게 진행 할 수 있도록 디버깅 환경을 지원하고 있습니다.</dd>
				</dl>
			</div> 
		</uib-tab>
<!--
		<uib-tab index="3">
			<uib-tab-heading>이용안내</uib-tab-heading>
		</uib-tab>
-->
	</uib-tabset>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var winHeight = $(window).height();
        $(".productContainer").css("min-height",winHeight-434)
    });
</script>