<div ng-if="!!main.userTenantId" class="storage_infoWrap">
	<!-- 사용량 및 접속 정보 -->
	<div class="panel-group">
		<section class="panel panel-bordered">
			<div class="panel-heading border-bottom-0">
				<a class="panel-title collapsed" data-toggle="collapse" data-target="#basicCollapse1" href="" aria-expanded="false" ng-click="main.panelToggleChange($event);"><b>사용량 및 접속 정보</b></a>
			</div>
			<!-- // panel-heading -->
			<div class="panel-collapse collapse" id="basicCollapse1" aria-expanded="false">
				<div class="panel-body">
					<div class="graph-wrap-type1">
						<div class="row">
							<div class="col-md-6">
								<div class="text">
									<!--<strong ng-init="contents.objecteStorageQuator.quatorUsed ='0'">{{contents.objecteStorageQuator.quatorUsed}}</strong>-->
									<strong>{{contents.objectStorageUsedVolume}}</strong>
									<b>{{contents.objectStorageUsedVolumeUnit}}</b>
									<span ng-init="contents.objecteStorageQuator.teamQuator ='0'">(할당량 {{contents.objecteStorageQuator.teamQuator}} GB)</span>
									
								</div>
							</div>
							<div class="col-md-6 text-right">
								<div class="text grey" ng-init="contents.objecteStorageQuator.teamQuator ='0'" ng-if="contents.objecteStorageQuator.teamQuator == '0'">
									<strong>0</strong><b>%</b>
								</div>
								<div class="text grey" ng-if="contents.objecteStorageQuator.teamQuator != '0'">
									<strong>{{contents.objecteStorageQuator.quatorUsed / contents.objecteStorageQuator.teamQuator * 100}}</strong><b>%</b>
								</div>
							</div>
						</div>
						<div class="progress progress-sm" percent-progress-bar-animate bar-type="width" percent= "{{contents.objecteStorageQuator.quatorUsed / contents.objecteStorageQuator.teamQuator * 100}}" >
							<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="15%"></div>
						</div>
						<span class="pull-right font-size-12 margin-top-20">{{contents.toDay}} 기준</span>
					</div>
					
					<h4 class="heading h4 margin-top-30">접속정보</h4>
					<table class="table border-0 margin-top-20">
						<colgroup>
							<col style="width: 30%">
							<col>
						</colgroup>
						<tbody>
							<tr>
								<td>
									<span class="label label-pill label-round label-success label-ico">
										<i class="xi-folder-o"></i>
									</span>
									<span class="margin-left-10">오브젝트 스토리지 접속 주소</span>
								</td>
								<td>{{contents.sendSecretInfoList.s3RadosEndPoint}}</td>
							</tr>
							<tr>
								<td>
									<span class="label label-pill label-round label-primary label-ico">
										<i class="xi-log"></i>
									</span>
									<span class="margin-left-10">Access Key ID</span>
								</td>
								<td>{{contents.sendSecretInfoList.s3AccessKey}}</td>
							</tr>
							<tr>
								<td>
									<span class="label label-pill label-round label-warning label-ico">
										<i class="xi-lock-o"></i>
									</span>
									<span class="margin-left-10">Secret Access Key</span>
								</td>
								<td>{{contents.sendSecretInfoList.s3SecreteAccessKey}}</td>
							</tr>
							<!-- <tr>
								<td>
									<span class="label label-pill label-round label-warning label-ico">
										<i class="xi-lock-o"></i>
									</span>
									<span class="margin-left-10">API Key</span>
								</td>
								<td>{{contents.sendSecretInfoList.s3SecreteAccessKey}}</td>
							</tr> -->
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
	<!-- //사용량 및 접속 정보 -->
</div>

<!-- 버튼영역 -->
<div class="margin-bottom-20" ng-if="!!main.userTenantId">
	<button type="button" class="btn btn-default btn-lg" ng-click="contents.fn.createObjectStoragePop()" ng-disabled="!main.checkResourceUserRole()">
		<div class="feather-icon color-primary">
			<i data-feather="box"></i>
		</div>
		<b>버킷 만들기</b>
	</button>
	<button type="button" class="btn btn-default btn-lg" ng-click="main.showRightSliderContents($event, '사용법 안내', '/guideInfo/accessGuideInfoObjectStorageConnect.html', {floatingIp : instance.floatingIp, osType: instance.image.osType});" ng-if="false">
		<div class="feather-icon color-primary">
			<i data-feather="server"></i>
		</div>
		<b>사용법 안내</b>
	</button>
</div>
<!-- //버튼영역 -->


<div class="panel panel-bordered" ng-if="!!main.userTenantId">
	<div class="panel-heading">
		<div class="row no-margin bordered">
			<div class="col-md-4">
				<h3 class="panel-title">버킷목록</h3>
			</div>
			<div class="col-md-8">
				<h3 class="panel-title">파일 및 폴더</h3>
			</div>
		</div>
	</div>
	
	<div class="panel-body padding-0">
		<div class="row no-margin bordered">
			<!-- 버킷목록 -->
			<div class="col-md-4">
				<div class="scroll-content" style="height: 530px">
					<ul class="list-group list-group-dividered list-group-link">
						<li class="list-group-item" ng-repeat="item in contents.objectStorageList" ng-class="item.containerName==contents.data.bucketName ? 'animated fast fadeInDown active' : 'animated fast fadeInDown'">
							<a id="folder-branch-item" ng-click="contents.fn.getObjectStorageObject(item.containerName, '')">
								<img src="../assets/img/icon/icon_list_folder.png" alt="">
								<span>{{ item.containerName }}</span>
							</a>
							<!-- 선택되었을 때(삭제버튼) -->
							<button class="close" ng-if="item.containerName==contents.data.bucketName" type="button" ng-click="main.popDeleteCheckName($event, '버킷', item.containerName, contents.fn.deleteObjectBucket, item.containerName)" ng-disabled="!main.checkResourceUserRole()"><i class="xi-close"></i></button>
							<!-- //선택되었을 때(삭제버튼) -->
						</li>
					</ul>
				</div>
			</div>
			<!-- //버킷목록 -->
			
			<!-- 파일 및 폴더 -->
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<div class="table-path"><span class="tit">Path:</span><span class="link" ng-repeat="item in contents.objectStorageObjectList.currentPathList" ng-click="contents.fn.onClickObjectStoragePathList($index)">{{item}}</span></div>
					</div>
					<div class="col-md-6 text-right padding-top-10 padding-right-25">
						<div class="inline-block">
							<input type="file" id="uploaded" class="form-control" onchange="angular.element(this).scope().contents.fn.uploadFiles(this)" multiple placeholder="Upload File" style="display: none;">
							<button type="button" name="button" class="btn btn-sm btn-default" ng-click="main.fileSelectBtnClick($event);" ng-disabled="!main.checkResourceUserRole()"><i data-feather="upload" class="feather-directive"></i> 올리기</button>
						</div>
						<div class="inline-block">
							<button type="button" name="button" class="btn btn-sm btn-default" ng-disabled="contents.fn.getCheckedDownloadItems()==false" ng-class="{'disabled' : contents.fn.getCheckedDownloadItems()==false}" ng-click="contents.fn.downloadFiles()"><i data-feather="download" class="feather-directive"></i> 내려받기</button>
						</div>
						<div class="inline-block">
							<button type="button" name="button" class="btn btn-sm btn-default" ng-click="contents.fn.createFolder()" ng-disabled="!main.checkResourceUserRole()"><i data-feather="folder-plus" class="feather-directive"></i> 폴더만들기</button>
						</div>
						<div class="inline-block">
							<div class="dropdown btn-option">
								<button type="button" name="button" id="btn-option" class="btn btn-sm btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!main.checkResourceUserRole()"><i data-feather="more-horizontal" class="feather-directive"></i> 작업</button>
								<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
									<li><a ng-class="{'disabled' : contents.fn.getCheckedFileItems().length!=1}" ng-click="contents.fn.renameObject()">선택 항목 이름 변경</a></li>
									<li><a ng-class="{'disabled' : contents.fn.getCheckedFileItems().length!=1}" ng-click="contents.fn.cutObject()">선택 항목 자르기</a></li>
									<li><a ng-class="{'disabled' : contents.data.cutObjectName.length==0}" ng-click="contents.fn.pasteObject()">잘라낸 항목 붙여 넣기</a></li>
									<li><a ng-class="contents.fn.getCheckedFileItems().length==0 ? 'disabled' : 'delete'" ng-click="contents.fn.deleteObject()">선택 항목 삭제</a></li>
									<li><a ng-class="{'disabled' : contents.fn.getCheckedFileItems().length!=1}" ng-click="contents.fn.copyDownloadUrl()">내려받기 경로 복사</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">	
					<div class="padding-left-30 padding-right-30 padding-bottom-30">
						<div class="scroll-content" style="height: 440px;">
							<div class="table-wrap scroll-line">
								<table class="table table-outline text-center">
									<colgroup>
										<col style="width: 5%;">
										<col style="width: 10%;">
										<col style="width: 20%;">
										<col>
										<col style="width: 15%;">
										<col style="width: 15%;">
									</colgroup>
									<thead class="bg-blue-grey-100">
										<tr>
											<th>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox01" class="checkbox-input selectable-toggle" value="option1" ng-model="contents.data.allChecked" ng-click="contents.fn.onClickAllChecked()">
													<label for="checkbox01" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
													</label>
												</div>
											</th>
											<th scope="col"><a ng-click="order('item.type')">{{"종류" | translate}}<span class="sortorder" ng-show="predicate[1] === 'item.type'" ng-class="{reverse:reverse}"></span></a></th>
											<th scope="col"><a ng-click="order('item.size')"> {{"이름" | translate}} <span class="sortorder" ng-show="predicate[1] === 'model.size'" ng-class="{reverse:reverse}"></span></a></th>
											<th scope="col"><a ng-click="order('item.url')"> {{"URL" | translate}} <span class="sortorder" ng-show="predicate[1] === 'model.date'" ng-class="{reverse:reverse}"></span></a></th>
											<th scope="col"><a ng-click="order('model.permissions')"> {{"마지막 수정" | translate}} <span class="sortorder" ng-show="predicate[1] === 'model.permissions'" ng-class="{reverse:reverse}"></span></a></th>
											<th scope="col"><a ng-click="order('model.permissions')"> {{"크기" | translate}} <span class="sortorder" ng-show="predicate[1] === 'model.permissions'" ng-class="{reverse:reverse}"></span></a></th>
										</tr>
									</thead>
									<tbody class="file-item">
										<tr class="item-list" ng-repeat="item in contents.objectStorageObjectList.fileList | filterList:contents.objectStorageObjectList.currentPath | orderBy:'type'" ng-show="contents.objectStorageObjectList.fileList">
											<td>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox{{item.$$hashKey}}" class="checkbox-input selectable" ng-model="item.checked">
													<label for="checkbox{{item.$$hashKey}}" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
													</label>
												</div>
											</td>
											<td>
												<!-- <div href="" title="{{item.type}}" ng-click="contents.fn.onClickObjectStorageObject(item.name, item.type)"> -->
												<div class="feather-icon font-size-18 grey-500" title="{{item.type}}">
													<i data-feather="folder" class="feather-directive" ng-if="item.type === 'dir'" title="폴더"></i>
													<i data-feather="file-text" class="feather-directive" ng-if="item.type === 'file'" title="파일"></i>
												</div>
											</td>
											<td>
												<a class="link" title="{{item.name}}" ng-click="contents.fn.onClickObjectStorageObject(item.name, item.type)"> {{item.name.substring(contents.objectStorageObjectList.currentPath.length)}} </a>
											</td>
											<td>
												<a class="link txt_long" title="{{item.url}}" style="width:300px;"> {{item.url}} </a>
												<button type="button" tooltip-placement="top" uib-tooltip-html="'복사하기'"><span class="feather-icon blue-600"><i data-feather="copy" class="feather-directive"></i></span></button>
												<div class="t_tip_bx margin-left-5"><a class="info-icon-tooltip" tooltip-placement="top" uib-tooltip-html="'{{item.name}} ({{item.size}})'">	i</a></div>
											</td>
											<td class="hidden-sm hidden-xs"> {{item.modifiedDate}} </td>
											<td class="hidden-xs">
												<span ng-show="item.type !== 'dir'">  {{item.size}} </span>
											</td>
										</tr>
										<tr ng-show="!contents.objectStorageObjectList.fileList &amp;&amp; contents.objectStorageObjectList.fileList.length < 1">
											<td colspan="6">
												{{"no_files_in_folder" | translate}}...
											</td>
										</tr>
										<tr ng-show="!contents.objectStorageObjectList">
											<td colspan="6">---</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //파일 및 폴더 -->
		</div>
	</div>
</div>
	
<!-- 테넌트 생성 전인 경우 -->
<div class="welcome_layer" ng-if="!main.userTenantId">
	<div class="text-center blank-page">
		<div class="img">
			<img src="../assets/img/icon/data-center.png" alt="data-center">
		</div>
		<div class="cont">
			<p>서버가상화 서비스에서는 리눅스(Linux) 또는 윈도우(Windows) 운영체제가 포함된 가상서버를 생성하여 사용할 수 있습니다.</p>
			<p><span class="point">'서비스 시작하기'</span>를 통해 서비스를 시작해 보세요.</p>
		</div>
		<button type="button" class="btn btn-default btn-lg" ng-click="main.createPortalOrgSystem('iaas');" ng-disabled="!main.checkResourceUserRole()">서비스 시작하기</button>
	</div>
</div>
<!-- //테넌트 생성 전인 경우 -->


