<div class="tbw type1">
    <table class="table">
        <colgroup>
            <col style="width: 25%;">
            <col style="width: auto;">
        </colgroup>
        <tbody>
        <tr>
            <th scope="row">저장소 이름</th>
            <td>
                <div class="validation validation-description text-danger" style="font-size:12px;">타 프로젝트에서 사용한 버켓명을 사용하지 못하므로 "{프로젝트id}-"를 기본으로 추가함</div>
                <div>{{contents.data.sltPortalOrgId}}-</div>
                <input type="text" class="form-control" ng-model="pop.data.containerName" maxlength="50" name="containerName" validation="alpha_dash|required" placeholder="저장소명을 입력해 주세요." />

            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //table --