<div class="tbw type1">
    <table class="table">
        <colgroup>
            <col style="width: 25%;">
            <col style="width: auto;">
        </colgroup>
        <tbody>
        <tr>
            <th scope="row">이름 변경</th>
            <td>
                <input type="text" class="form-control" ng-model="pop.data.rename" maxlength="50" name="folderName" validation="required" placeholder="" ng-keypress="schEnter($event)" />
            </td>
        </tr>
        </tbody>
    </table>
</div>
