<div class="table-wrap">
	<table class="table">
		<colgroup>
			<col style="width: 35%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">디스크 이름(변경 전)</th>
				<td><input type="text" name="" value="" class="form-control" placeholder="{{pop.volume.name}}" disabled></td>
			</tr>
			<tr>
				<th scope="row">디스크 이름(변경 후)</th>
				<td><input type="text" name="newVolNm" ng-model="pop.newVolNm" class="form-control" placeholder="변경할 이름을 입력하세요." ng-keypress="pop.fn.inputEnter($event)" validation="required|custom:pop.fn.storageNameCustomValidationCheck(pop.newVolNm)"></td>
			</tr>
		</tbody>
	</table>
</div>
