<!-- table -->
<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 35%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">디스크 이름(변경 전)<!-- <em class="ico-info1 ico" data-toggle="tooltip" title="" data-original-title="툴팁이 필요"></em> --></th>
				<td><input type="text" name="" value="" class="form-control" 	placeholder="{{pop.volume.name}}" disabled></td>
			</tr>
			<tr>
				<th scope="row">디스크 이름(변경 후) <!-- <em class="ico-info1 ico" data-toggle="tooltip" title="" data-original-title="백업이미지 툴팁이 필요"></em> --></th>
				<td><input type="text" name="snapshotName" ng-model="pop.newVolNm" name="newVolNm" class="form-control" placeholder="변경할 이름(영문)을 입력하세요." validation="alpha_dash|required"></td>
			</tr>
		</tbody>
	</table>
</div>
<!-- //table -->