<div class="board-warp board-write-wrap">
	<table class="table">
		<colgroup>
			<col style="width: 35%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">디스크 이름(변경 전)<!-- <em class="ico-info1 ico" data-toggle="tooltip" title="" data-original-title="툴팁이 필요"></em> --></th>
				<td><input type="text" name="" value="" class="form-control form-control-sm" 	placeholder="{{pop.volume.name}}" disabled></td>
			</tr>
			<tr>
				<th scope="row">디스크 이름(변경 후) <!-- <em class="ico-info1 ico" data-toggle="tooltip" title="" data-original-title="백업 이미지 툴팁이 필요"></em> --></th>
				<td><input type="text" name="snapshotName" ng-model="pop.newVolNm" name="newVolNm" class="form-control form-control-sm" placeholder="변경할 이름(영문)을 입력하세요." validation="required|custom:pop.fn.storageNameCustomValidationCheck(pop.newVolNm)"></td>
			</tr>
		</tbody>
	</table>
</div>
