<!-- table -->
<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 30%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">디스크 설명(변경 전)</th>
				<td>
					<textarea name="" value="" class="form-control" placeholder="{{pop.volume.description}}" disabled></textarea>
				</td>
			</tr>
			<tr>
				<th scope="row">디스크 설명(변경 후)</th>
				<td>
					<textarea id="description_toUpdate" class="form-control volTxt" name="newVolDesc" ng-model="pop.newVolDesc" placeholder="디스크 설명을 입력하세요"></textarea>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- //table -->