<!-- 신규소스 -->
<div class="write_wrap">

	<div class="alert alert-primary" role="alert">
		<i data-feather="file-text" class="feather-directive"></i>
		<div class="text-area">‘디스크 만들기’를 통해 가상서버에 추가적인 저장공간을 할당할 수 있습니다.</div>
	</div>
	
	<div class="row">
		<div class="col-md-8">
			<section class="panel panel-bordered">
				<!-- panel-heading -->
				<div class="panel-heading">
					<h3 class="panel-title">디스크 만들기</h3>
				</div>
				<!-- // panel-heading -->
				
				<!-- panel-body -->
				<div class="panel-body">
					<form name="{{contents.formName}}" novalidate>
						<div class="form_list">
							<div class="text-right add-txt">
								<span><b class="caution-star">*</b> 는 필수입력 사항입니다</span>
							</div>
							
							<!-- 디스크 이름 -->
							<div class="write-sub-title">
								<b class="caution-star">*</b> 디스크 이름
								<div class="t_tip_bx"><a class="info-icon-tooltip" tooltip-placement="top" uib-tooltip-html="'최대 20자까지 입력할 수 있습니다.'">	i</a><img ng-if="!contents.isStorageListLoad" src="images/loading_sm.gif" /></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" ng-model="contents.volume.name" name="volumeName" validation="required|custom:contents.fn.storageNameCustomValidationCheck(contents.volume.name)" maxlength="50" placeholder="디스크 이름을 입력하세요." >
							</div>
							<!-- //디스크 이름 -->
							
							<!-- 디스크 크기 -->
							<div class="write-sub-title">
								<b class="caution-star">*</b> 디스크 크기
								<div class="t_tip_bx"><a class="info-icon-tooltip" tooltip-placement="top" uib-tooltip-html="'추가하는 디스크의 크기(Size)를 설정할 수 있습니다. 프로젝트에 할당된 디스크 쿼터(최대 크기) 내에서 자유롭게 설정이 가능합니다.'">	i</a>
									<img ng-if="!contents.isTenantResourceLoad" src="images/loading_sm.gif">
								</div>
							</div>
							<!-- //디스크 크기 -->
							
							<!-- 프로젝트 사용가능 디스크 정보 -->
							<div class="panel-inner-collapse">
								<div class="panel-group margin-top-30">
									<section class="panel panel-bordered" ng-if="contents.isTenantResourceLoad">
										<div class="panel-heading">
											<a class="panel-title" data-toggle="collapse" data-target="#basicCollapse1" aria-expanded="false" ng-click="main.pnbBoxToggleChange($event);">
												<h3>프로젝트 사용가능 디스크 정보</h3>
												
											</a>
										</div>
										<!-- // panel-heading -->
										<div class="panel-collapse collapse" id="basicCollapse1">
											<div class="panel-body disk-use-info font-weight-600">
												<div class="clearfix"><b>- 디스크 사용량</b></div>
												<div class="clearfix text-center">
													<span class="font-size-35 blue-600">{{ contents.tenantResource.maxResource.volumeGigabytes | displayVolume:'GB': {viewType:'val'} }}</span>
													<span class="font-size-20 grey-600">{{ contents.tenantResource.maxResource.volumeGigabytes | displayVolume:'GB': {viewType:'unit'} }}</span>
												</div>
												<div class="clearfix text-center grey-400 margin-top-5">전체 디스크 공간</div>
												<div class="clearfix">
													<div class="disk_cnt_mid">
														<span class="txt fl_l">0</span>
														<span class="txt fl_r">100</span>
														<div class="cnt_usage">
															<div class="use_left" ng-style="{ width: contents.tenantResource.usedResource.volumePercent + '%'}">
																<span>{{contents.tenantResource.usedResource.volumePercent | number:1}}%</span>
															</div>
															<div class="use_right" ng-style="{ width: contents.tenantResource.available.volumePercent + '%'}">
																<span>{{contents.tenantResource.available.volumePercent | number:1}}%</span>
															</div>
														</div>
													</div>
												</div>
												<div class="clearfix text-center margin-top-30">
													<div class="btm_use_left">
														<span class="txt_tit">사용중</span>
														<span class="txt_val grey-600">{{ contents.tenantResource.usedResource.volumeGigabytes | displayVolume:'GB':{viewType:'val'} }}<span class="txt_sm grey-500">{{ contents.tenantResource.usedResource.volumeGigabytes | displayVolume:'GB':{viewType:'unit'} }}</span></span>
													</div>
													<div class="btm_use_right margin-left-40">
														<span class="txt_tit">남은 공간</span>
														<span class="txt_val grey-600">{{ contents.tenantResource.available.volumeGigabytes | displayVolume:'GB':{viewType:'val'} }}<span class="txt_sm grey-500">{{ contents.tenantResource.available.volumeGigabytes | displayVolume:'GB':{viewType:'unit'} }}</span></span>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
							<!-- //프로젝트 사용가능 디스크 정보 -->
							
							<!-- 디스크 추가 -->
							<div ng-if="contents.isTenantResourceLoad" class="disk_area">
								<p>마우스를 움직여 생성하실 디스크의 크기를 설정 해주세요.</p>
								<div class="disk_box">
									<div class="disk_info">최대 {{contents.volumeSliderOptions.ceil | displayVolume:'GB'}}</div>
									<div class="rangeWrap type2">
										<div class="range_box rb_l">
											<rzslider rz-slider-model="contents.volumeSize" rz-slider-options="contents.volumeSliderOptions"></rzslider>
										</div>
										<div class="range_box rb_r">
											<div class="range-text">
												<input type="text" class="form-control" ng-model="contents.inputVolumeSize"  ng-change="contents.fn.inputVolumeSizeChange()" ng-blur="contents.fn.inputVolumeSizeBlur()" name="volumeSize" maxlength="4" only-digits style="width:60px; display: inline-block;">
												<span class="app-tit">GB</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="alert alert-primary margin-top-30" role="alert">
								<i data-feather="file-text" class="feather-directive"></i>
								<div class="text-area">디스크 크기는 최대 {{contents.maxSingleDiskSize | displayVolume:'GB'}}까지 설정이 가능합니다. 단, {{contents.maxSingleDiskSize | displayVolume:'GB'}} 이하로 용량이 남아 있는 경우 잔여 용량이 디스크 최대값이 됩니다.</div>
							</div>
							<!-- //디스크 추가 -->
							
							<!-- 설명 -->
							<div class="panel-inner-collapse">
								<div class="panel-group margin-top-30">
									<section class="panel panel-bordered">
										<div class="panel-heading">
											<a class="panel-title" data-toggle="collapse" data-target="#basicCollapse2" aria-expanded="false" ng-click="main.panelToggleChange($event);">
												<h3>
													 설명
													<div class="t_tip_bx">
														<div class="info-icon-tooltip" tooltip-placement="top" uib-tooltip-html="'추가할 디스크에 대한 설명을 100자 내외로 입력할 수 있습니다.'">	i</div>
													</div>
												</h3>
											</a>
										</div>
										<!-- // panel-heading -->
										<div class="panel-collapse collapse" id="basicCollapse2">
											<div class="panel-body">
												<div class="form-gruop">
													<textarea rows="5" cols="" id="volumeDescription" name="volumeDescription" style="height:150px;" ng-model="contents.volume.description" class="form-control"  placeholder="설명을 입력해 주세요." validation="max_len:100"></textarea>
													<span class="txt_limit"><em ng-class="{'red' : (contents.volume.description.length > 100)}">{{contents.volume.description.length}}</em>/100자</span>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
							<!-- //설명 -->
							
							<!-- 가상서버와 연결 -->
							<div class="write-sub-title">
								가상서버와 연결
								<div class="t_tip_bx"><a class="info-icon-tooltip" tooltip-placement="top" uib-tooltip-html="'원하는 서버를 선택하여 추가되는 디스크와 연결할 수 있습니다. 디스크를 생성하고 선택된 서버와 연결하는 작업을 진행합니다.'">	i</a>
									<img ng-if="!contents.isServerListLoad" src="images/loading_sm.gif" />
								</div>
							</div>
							<div class="form-group" ng-if="contents.isServerListLoad">
								<select class="form-control" ng-model="contents.sltInstanceId" ng-change="contents.fn.sltInstanceChange(contents.sltInstanceId);">
									<option value="">연결 할 가상서버 선택</option>
									<option ng-repeat="instance in contents.instances" value="{{instance.id}}">{{instance.name}}</option>
								</select>
							</div>
							<!-- //가상서버와 연결 -->
							
							<!-- <div class="btn_add_area">
								<span>추가기능 설정하기</span>
								<button type="button" class="btn_add"></button>
							</div> -->
	
						</div>
					</form>
				</div>
				<!-- //panel-body -->
			</section>
		</div>
		
		<div class="col-md-4">
			<section class="panel panel-bordered">
				<!-- panel-heading -->
				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="panel-title">디스크 기본정보</h3>
						</div>
					</div>
				</div>
				<!-- // panel-heading -->
				<!-- panel-body -->
				<div class="panel-body">
					<div class="s_cont_box">
						<ul>
							<li>
								<span class="s_tit">디스크 이름</span>
								<span class="s_txt">{{contents.volume.name}}</span>
							</li>
							<li>
								<span class="s_tit">디스크 크기</span>
								<span class="s_txt">{{contents.volumeSize | displayVolume:'GB'}}</span>
							</li>
							<li>
								<span class="s_tit">디스크 유형</span>
								<!-- <div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'툴팁내용입력'"><span class="ico_info"></span></button></div> -->
								<span class="s_txt">Volume Storage</span>
							</li>
							<li>
								<span class="s_tit">디스크 설명</span>
								<!-- <span class="s_txt">text-area</span> -->
								<div class="s_inner_cont">
									<pre>{{contents.volume.description}}</pre>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- //panel-body -->
			</section>
			
			<div class="panel-group" ng-if="contents.sltInstance.id">
				<section class="panel panel-bordered">
					<div class="panel-heading">
						<a class="panel-title" data-toggle="collapse" data-target="#basicCollapse3" aria-expanded="false" ng-click="main.panelToggleChange1($event);"><h3>연결대상 가상서버 정보</h3></a>
					</div>
					<!-- // panel-heading -->
					<div class="panel-collapse collapse" id="basicCollapse3">
						<div class="panel-body">
							<div class="s_cont_box">
								<ul>
									<li>
										<span class="s_tit">서버 이름</span>
										<span class="s_txt">{{contents.sltInstance.name}}</span>
									</li>
									<li>
										<span class="s_tit">서버 OS</span>
										<span class="s_txt">{{contents.sltInstance.image.serviceName}}</span>
									</li>
									<!-- 2018.12.07 sg0730 차후 윈도우OS 리눅스OS에 따른 분기처리 필요. 접속도메인과 접속IP로 분기. -->
									<li>
										<span class="s_tit">서버 접속IP</span>
										<span class="s_txt">{{contents.sltInstance.floatingIp}}</span>
									</li>
									<li>
										<span class="s_tit">서버 사양</span>
										<span class="s_txt">소형</span>
										<div class="s_inner_cont">
											<div class="innr_tbl">
												<table>
													<colgroup>
														<col width="30" />
														<col width="30" />
														<col width="30" />
													</colgroup>
													<thead>
													<tr>
														<th>vCPU</th>
														<th>메모리</th>
														<th>디스크</th>
													</tr>
													</thead>
													<tbody>
													<tr>
														<td>{{contents.sltInstance.spec.vcpus}} Core</td>
														<td>{{contents.sltInstance.spec.ram | displayVolume:'MB'}}</td>
														<td>{{contents.sltInstance.spec.disk | displayVolume:'GB'}}</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
			
			<!-- 2019-01-04 [좌측 컨텐츠와 중복된 내용으로 임시 주석처리함] -->
			<!-- <div class="panel-group">
				<section class="panel panel-bordered">
					<div class="panel-heading">
						<a class="panel-title" data-toggle="collapse" data-target="#basicCollapse4" aria-expanded="false" ng-click="main.panelToggleChange($event);"><h3>프로젝트 사용가능 디스크 정보</h3></a>
					</div>
					// panel-heading
					<div class="panel-collapse collapse" id="basicCollapse4">
						<div class="panel-body">
							<div class="s_cont_box">
								<ul>
									<li>
										<span class="s_tit">전체 쿼터</span>
										<span class="s_txt">{{ contents.tenantResource.maxResource.volumeGigabytes | displayVolume:'GB' }}</span>
									</li>
									<li>
										<span class="s_tit">현재 사용량</span>
										<span class="s_txt">{{ contents.tenantResource.usedResource.volumeGigabytes | displayVolume:'GB' }}</span>
									</li>
									<li>
										<span class="s_tit">잔여 용량</span>
										<span class="s_txt">{{ contents.tenantResource.available.volumeGigabytes | displayVolume:'GB' }}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div> -->
			
		</div>
	</div>
	<div class="text-right">
		<button class="btn btn-lg btn-primary" ng-click="contents.fn.createVolumeCheck();" ng-disabled="!main.checkResourceUserRole()">디스크 만들기</button>
		<button class="btn btn-lg btn-default" ng-click="main.goToHistoryBack();">취소</button>
		<!-- '서비스 튜토리얼 바로가기' 소스 임시주석 -->
		<!-- <button class="btn btn-lg btn-success"  onclick="location.href='#/tutorial/1';">서비스 튜토리얼 바로가기</button>-->
	</div>
	
</div>