<!-- 프로젝트 정보 -->
<div class="cBox type0 projt-mana">
	<div class="pull-left">
		<h4 class="c-tit">전체 디스크 <em class="point1">({{(contents.storageMainList | filter:{ status: '!deleting' }).length}})</em></h4>
	</div>
	<div class="pull-right">
		<!-- 검색 -->
		<div class="searchBox type2">
			<div class="form-group">
				<input type="text" placeholder="디스크 검색" style="width:300px;" ng-model="contents.schFilterText">
			</div>
			<button type="button" name="button" class="btn btn-sch" title="지우기" ng-click="contents.schFilterText = ''"><span class="ico">지우기</span></button>
		</div>
		<!-- //검색 -->
	</div>
</div>
<!-- //프로젝트 정보 -->

<!-- 2018.11.14 sg0730 디스크 만들기 버튼 추가.-->
<!-- button area Start-->
<div class="btnWrap">
	<button type="button" class="btn_lg" ng-click="main.goToPage('/iaas/storage/create')">
		<span class="ico ico_vlm_str"></span>디스크 만들기
	</button>
</div>
<!-- button area end-->

<!-- panel area-->
<ul class="ul-panel">
	<li ng-repeat="volume in contents.storageMainList | filter:{ name: contents.schFilterText, status: '!deleting' }">
		<!-- panel -->
		<div class="panelWrap" style="height:370px; width: 365px;">
			<div class="panel type6" style="height:320px; width: 365px;">
				<div class="panel_head pdlr30">
					<p class="tit" title="{{volume.name}}">{{volume.name}}</p>
					<p class="txt" >디스크스토리지</p>
					<!-- 20181122 디스크과 인스턴스 연결된 것이 있으면 링크 이미지 표현. 차후 구현시 참조. -->
					<!--<span class="link_info" ng-if="volume.volumeAttachment.instanceId"></span>-->
					<div class="dropdown btn-option">
						<button id="btn-option" type="button" class="btn only-ico ico-dot_h" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
							<span class="ico">실행 설정</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
							<li><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'snapshot', volume);" title="연결된 서버가 ‘정지’상태인 경우 이미지 생성이 가능합니다.">백업 이미지 생성</a></li>
							<li><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'rename', volume);" title="디스크 이름 변경">디스크 이름 변경</a></li>
							<li ng-if="volume.status =='available'"><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'resize', volume);" title="디스크 크기 변경">디스크 크기 변경</a></li>
							<li ng-if="volume.status !='available'"><a href="javascript:void(0);" class="disabled" title="디스크 상태가 ‘사용가능’인 경우 크기 변경이 가능합니다.">디스크 크기 변경</a></li>
							<!--<li ng-if="volume.status == 'in-use'" ng-click="contents.fn.dettachVolume()"><a href="javascript:void(0);" title="서버 연결 해제" >서버 연결 해제</a></li>-->
							<li ng-if="volume.status =='available'" ng-click="contents.deleteVolumes('thum', volume.volumeId)"><a class="delete" href="javascript:void(0);" title="디스크 삭제">디스크 삭제</a></li>
							<li ng-if="volume.status !='available'"><a class="disabled" href="javascript:void(0);" title="디스크 상태가 ‘사용가능’인 경우 삭제 가능합니다.">디스크 삭제</a></li>
						</ul>
					</div>
				</div>
				<!-- <div class="panel_body" ng-if="volume.status != 'creating'" ng-click="main.goToPage('/iaas/storage/detail/'+volume.volumeId)"> -->
				<div class="panel_body" >
					<div class="ul-in">
					
						<div class="cnt_wrap">
							<div class="cnt_imgBox">
								<span class="cnt_img ico01"></span>
								<div class="cnt_txt"><span class="txt_name">{{volume.type}}</span><span class="color1">{{volume.size | displayVolume:'GB'}}</span></div>
								<!--<div class="cnt_txt"><span class="txt_name">{{volume.type}}</span><span class="color1"><span count-to="{{volume.size | number : 0}}" duration="1" count-from="0" filter="number"></span>GB</span></div>-->
								<!-- UI사용 예시: 10GB(사용량) / 100GB(전체용량) 필요. -->
							</div>
							<div class="cnt_infoBox">
								<dl>
									<dt>연결서버</dt>
									<dd ng-if="volume.status == 'in-use'"><a href="" ng-click="main.goToPage('/iaas/compute/detail/' + volume.volumeAttachment.instanceId);">{{volume.volumeAttachment.instanceName}}</a></dd>
									<dd ng-if="volume.status != 'in-use'">연결 정보 없음</dd>
									<dt>장치정보</dt>
									<dd ng-if="volume.status == 'in-use'">{{volume.volumeAttachment.device}}</dd>
									<dd ng-if="volume.status != 'in-use'">연결 정보 없음</dd>
								</dl>
								<!-- <button tooltip-placement="bottom" uib-tooltip="{{volume.description}}"> <span class="cnt_tooltip type01">설명<span class="ico_tip"></span></span> </button> -->
								<button tooltip-placement="bottom" tooltip-class="tooltip_long" uib-tooltip-html="'{{volume.description | enterByNbr}}'"> <span class="cnt_tooltip type02">설명<span class="ico_tip"></span></span> </button>
							</div>
						</div>
						<div class="down">
							<span ng-switch="volume.status" class="stateWrap">
								<span ng-switch-when="in-use" class="stateMark type1"></span>
								<span ng-switch-when="available" class="stateMark type3" ng-if="volume.status == 'available'"></span>
								<span ng-switch-when="error" class="stateMark type2" ng-if="volume.status == 'error'"></span>
								<span ng-switch-default class="stateMark type4"></span>
								<span class="state-txt">{{ 'iaas.label.volume_' + volume.status | translate }}</span>
							</span>
						</div>
					</div>
				</div>
				<div class="panel_body" ng-if="volume.status == 'creating'">
					<div class="ul-in2">
						<div class="info-chart2">
							<div class="chartWrap" >
								<div stop-watch-d3-circular-progress max="20" start="true" size="20" options="{}" on-stop="contents.fn.getStorageList()" class="progress-indicator"></div>
							</div>
						</div>
						<div class="info-txt">
							<p class="txt"><span class="ico ico-timer"></span>생성중</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //panel -->
	</li>
</ul>
<!-- //panel area-->
<div ng-if="!contents.pageFirstLoad && (contents.serverMainList | filter:{ name: contents.schFilterText, taskState : '!deleting' }).length == 0" class="welcome_layer">
	<div class="guide_fnt arrw_btm">신규 디스크를 만들고 가상서버와 연결하세요.</div>
	<div class="guide_cnt">
		디스크 관리는 <span class="fnt20"><span class="color1">Block Storage 기반의 데이터 저장공간 서비스를 제공</span></span>합니다.<br>
		할당된 클라우드 자원 용량 내에서 사용자 스스로 필요한 만큼 디스크를 만들고, 생성된 가상 서버와 연결하는 방식으로 디스크를 수평적으로 확장할 수 있습니다.<br>
		<span class="fnt20"><spna class="color1">‘디스크 만들기’</spna></span>를 통해 서비스를 시작해 보세요.
	</div>
</div>