<div class="inner">
    <ul id="quick">
        <li class="lnb-depth1-item all">
            <a href="">
                <p class="sr-only">all menu</p>
            </a>
        </li>
        <li class="lnb-depth1-item home">
            <a href="dashboard.html">
                <p class="sr-only">dashboard</p>
            </a>
        </li>
    </ul>
    <ul id="gnb">
        <li class="lnb-depth1-item item1 active">
            <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Compute">
                <p class="sr-only">Compute</p>
            </a>
        </li>
        <li class="lnb-depth1-item item2">
            <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Analytics">
                <p class="sr-only">Analytics</p>
            </a>
        </li>
        <li class="lnb-depth1-item item3">
            <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Dev Tools">
                <p class="sr-only">Dev Tools</p>
            </a>
        </li>
        <li class="lnb-depth1-item item4">
            <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Visualization Tools">
                <p class="sr-only">Visualization Tools</p>
            </a>
        </li>
        <li class="lnb-depth1-item item5">
            <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Storage">
                <p class="sr-only">Storage</p>
            </a>
        </li>
        <li class="lnb-depth1-item item6">
            <a href="#" class="button" data-toggle="tooltip" data-placement="right" data-original-title="Service">
                <p class="sr-only">Service</p>
            </a>
        </li>
    </ul>
</div>