<div class="ctlog_cntWrap">
    <div class="ctlog-cnt">
        <h5>서비스 접속정보</h5>
        <ul>
            <li>
                <strong class="tit">접속 IP</strong>
                <span class="txt">{{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}</span>
            </li>
        </ul>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="ctlog-cnt">
        <h5> 서비스 환경 설정 파일 경로</h5>
        <ul>
            <li>
                <strong class="tit">haproxy.cfg: </strong>
                <span class="txt">/etc/haproxy.cfg</span>
            </li>
        </ul>
    </div>
</div>
