				<!-- guide box -->
				<div class="sevGuide" ng-show="contents.sevGuideProject == true">
					<div class="">
						<p class="txt1">회원님은 현재, 액세스 권한이 있는 프로젝트가 없습니다.</p>
						<p class="txt2">서비스 이용을 위해서는 프로젝트 생성이 필요합니다.</p>
					</div>
					<button type="button" name="button" class="btn btn-color1" ng-click="contents.createProject();">프로젝트 만들기<span class="ico"></span></button>
				</div>
				<!-- //guide box -->

				<!-- guide box -->
				<div class="sevGuide" ng-show="contents.sevGuideOrg == true">
					<div class="">
						<p class="txt1">회원님은 현재, 액세스 권한이 있는 작업 없습니다.</p>
						<p class="txt2">서비스 이용을 위해서는 작업 생성이 필요합니다.</p>
					</div>
					<button type="button" name="button" class="btn btn-color1" ng-click="contents.createOrg();">작업 만들기<span class="ico"></span></button>
				</div>
				<!-- //guide box -->

				<!-- title -->
				<div class="cont-titWrap" ng-show="contents.sevGuideProject == false && contents.sevGuideOrg == false">
					<h3 class="h-tit3">CloudXpert Service</h3>
				</div>
				<!-- //title -->

				<!-- tab wrap -->
				<div class="tabWrap type1" ng-show="contents.sevGuideProject == false && contents.sevGuideOrg == false">
					<!-- Nav tabs -->
					<div class="navWrap">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" onclick="return false;">전체 서비스</a></li>
							<li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" onclick="return false;">전력SW 개발 프레임워크</a></li>
							<li role="presentation"><a href="#tab3" role="tab" data-toggle="tab" onclick="return false;">표준 APP. 개발 서비스</a></li>
							<li role="presentation"><a href="#tab4" role="tab" data-toggle="tab" onclick="return false;">인터페이스 허브 서비스</a></li>
							<li role="presentation"><a href="#tab5" role="tab" data-toggle="tab" onclick="return false;">분석 허브 서비스</a></li>
							<li role="presentation"><a href="#tab6" role="tab" data-toggle="tab" onclick="return false;">서버 가상화 서비스</a></li>
							<li role="presentation"><a href="#tab7" role="tab" data-toggle="tab" onclick="return false;">GIS 플랫폼 서비스</a></li>
						</ul>
					</div>
					<!-- //Nav tabs -->

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="tab1">
							<!-- 탭 내용 -->
							<ul class="ul-panel">
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Java App1</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/java">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>C/C APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/c">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>.Net APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/net">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
<!-- 												<img src="images/im_app_logo2.png" alt="로고" class="logo"> -->
												<img src="images/thum/im_logo_compute.png" alt="로고" class="logo">
												<dl class="dl-list">
<!-- 													<dt>전력 프로토콜 서비스</dt> -->
													<dt>가상서버</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/compute">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_data.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>볼륨 스토리지</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/volume">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_data.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>오브젝트 스토리지</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/object">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>IoT Broker</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>미디어 스트림 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>메시지 처리 미들웨어</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>전력 프로토콜 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
							</ul>
							<div class="btn-btm">
								<button type="button" name="button" class="btn btn-lg btn-color4 btn-only-more">더보기<span class="ico"></span></button>
							</div>
							<!-- //탭 내용 -->
						</div>
						<div role="tabpanel" class="tab-pane" id="tab2">
							<!-- 탭 내용 -->
							<ul class="ul-panel">
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Java App2</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>C/C APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>.Net APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>전력 프로토콜 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>IoT Broker</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>미디어 스트림 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>메시지 처리 미들웨어</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>전력 프로토콜 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
							</ul>
							<div class="btn-btm">
								<button type="button" name="button" class="btn btn-lg btn-color4 btn-only-more">더보기<span class="ico"></span></button>
							</div>
							<!-- //탭 내용 -->
						</div>
						<div role="tabpanel" class="tab-pane" id="tab3">
							<!-- 탭 내용 -->
							<h3 class="h-tit3"><span class="ico_blt"></span>Cloud Foundry Buildpacks</h3>
							<ul class="ul-panel">
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Java App3</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/java">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_nginx.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>NginX</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/nginx">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_go.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>GO</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/go">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_python.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Python</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/python">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_ruby.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Ruby</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/ruby">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_nodejs.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Node.js</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/nodejs">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
							</ul>
							
							<h3 class="h-tit3"><span class="ico_blt"></span>Database Back-Ends</h3>
							<ul class="ul-panel">
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_mysql.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>MySQL</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/mysql">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_redis.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Redis</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/redis">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_postgre.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Postgre SQL</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/postgre">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_mongo.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Mongo DB</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/mongo">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_oracle.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Oracle</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/oracle">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
							</ul>
							
							<h3 class="h-tit3"><span class="ico_blt"></span>DevOps Back-Ends</h3>
							<ul class="ul-panel">
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>CI/CD(Pipeline)</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/cicd">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Logging(ELK)</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/logging">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
							</ul>
							
							<div class="btn-btm">
								<button type="button" name="button" class="btn btn-lg btn-color4 btn-only-more">더보기<span class="ico"></span></button>
							</div>
							<!-- //탭 내용 -->
						</div>
						<div role="tabpanel" class="tab-pane" id="tab4">
							<!-- 탭 내용 -->
							<ul class="ul-panel">
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Java App4</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>C/C APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>.Net APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>전력 프로토콜 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>IoT Broker</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>미디어 스트림 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>메시지 처리 미들웨어</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>인터페이스 허브 서비스1</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
							</ul>
							<div class="btn-btm">
								<button type="button" name="button" class="btn btn-lg btn-color4 btn-only-more">더보기<span class="ico"></span></button>
							</div>
							<!-- //탭 내용 -->
						</div>
						<div role="tabpanel" class="tab-pane" id="tab5">
							<!-- 탭 내용 -->
							<ul class="ul-panel">
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Java App5</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>C/C APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>.Net APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>전력 프로토콜 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>IoT Broker</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>미디어 스트림 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>메시지 처리 미들웨어</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>분석 허브 서비스1</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
							</ul>
							<div class="btn-btm">
								<button type="button" name="button" class="btn btn-lg btn-color4 btn-only-more">더보기<span class="ico"></span></button>
							</div>
							<!-- //탭 내용 -->
						</div>
						<div role="tabpanel" class="tab-pane" id="tab6">
							<!-- 탭 내용 -->
							<ul class="ul-panel">
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_compute.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>가상서버</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/compute">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_data.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>볼륨 스토리지</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/volume">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_data.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>오브젝트 스토리지</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3"><a href="#/serviceCatalogs/object">자세히 보기</a></button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Java App6</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>C/C APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>.Net APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>전력 프로토콜 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>IoT Broker</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>미디어 스트림 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>메시지 처리 미들웨어</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>전력 프로토콜 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
							</ul>
							<div class="btn-btm">
								<button type="button" name="button" class="btn btn-lg btn-color4 btn-only-more">더보기<span class="ico"></span></button>
							</div>
							<!-- //탭 내용 -->
						</div>
						<div role="tabpanel" class="tab-pane" id="tab7">
							<!-- 탭 내용 -->
							<ul class="ul-panel">
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>Java App7</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>C/C APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>.Net APP</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>전력 프로토콜 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_java.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>IoT Broker</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_c.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>미디어 스트림 서비스</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li ng-if="0">
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/thum/im_logo_net.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>메시지 처리 미들웨어</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
								<li>
									<!-- panel -->
									<div class="panelWrap">
										<div class="panel type4">
											<div class="in">
												<img src="images/im_app_logo2.png" alt="로고" class="logo">
												<dl class="dl-list">
													<dt>GIS 플랫폼 서비스1</dt>
													<dd>
														실시간 머신 데이터, 다양한 소스의<br>
														비정형 데이터를 융합 분석할 수 있는 실시간 빅데이터<br>
														분석 플랫폼의 핵심 기능 수행
													</dd>
												</dl>
												<div class="btnArea">
													<button type="button" name="button" class="btn btn-md btn-color3">자세히 보기</button>
												</div>
											</div>
										</div>
									</div>
									<!-- panel -->
								</li>
							</ul>
							<div class="btn-btm">
								<button type="button" name="button" class="btn btn-lg btn-color4 btn-only-more">더보기<span class="ico"></span></button>
							</div>
							<!-- //탭 내용 -->
						</div>
					</div>
					<!-- //Tab panes -->

				</div>
				<!-- //tab wrap -->

<div ng-if="1">
<!-- 해당페이지에서만 사용되는 리소스 -->
<link rel="stylesheet" type="text/css" href="css/components/jquery.scrolling-tabs.min.css">
<script type="text/javascript" src="js/components/jquery.scrolling-tabs.min.js"></script>
<script type="text/javascript">
	function reset(){
		 var max=0

		_box=$(".scrtabs-tabs-fixed-container");

		_box.each(function(){
			var _this = $(this);
			_this.width("auto");
			var _w = _this.width();
			if(_w >= max) max= _w;
			_box.css("width", max);
		});
	};

	$(function(){
// 		$(window).load(function(){
		$( document ).ready(function() {
			setTimeout("reset();", 100);
		});

		$(".action-left").on("click", function(){
			setTimeout("reset();", 300);
			$('.nav-tabs').scrollingTabs('refresh');
		});

		$('.nav-tabs').scrollingTabs({
			cssClassLeftArrow: 'ico btn-left',
			cssClassRightArrow: 'ico btn-right',
		});

		$(window).on("resize", function(){
			setTimeout("reset();", 300);
		}).trigger("resize");
	});
</script>
</div>
