				<!-- cata hd -->
				<div class="cata-hd">
					<img src="images/thum/im_logo_python.png" class="logo" alt="">
					<div class="cata-in">
						<div class="txt1">PYTHON Java runtime 기반의 APPlication 개발을 위한 표준화된 템플릿 서비스를 제공합니다.<br>Java 웹 앱을 쉽게 개발하고 배치하며 스케일링 합니다.</div>
						<ul class="ul">
							<li><strong>JAVA :</strong>
								<span>Log4j API 2.1.0MariaDB JDBC 1.4.4PostgreSQL JDBC</span>
							</li>
							<li>
								<span>9.4.1208RedisStore 1.2.0_RELEASEOpenJDK JRE 1.8.0_91Tomcat 8.0.33</span>
							</li>
						</ul>

						<div class="btnArea">
							<button type="button" name="button" class="btn btn-md btn-color1"><a href="#/paas">서비스 추가하기</a></button>
						</div>
					</div>
				</div>
				<!-- //cata hd -->

				<!-- tab wrap -->
				<div role="tabpanel" class="tabWrap type2">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#tab1-1" aria-controls="tab1-1" role="tab" data-toggle="tab" onclick="return false;">제품정보</a></li>
						<li role="presentation"><a href="#tab1-2" aria-controls="tab1-2" role="tab" data-toggle="tab" onclick="return false;">아키텍쳐</a></li>
						<li role="presentation"><a href="#tab1-3" aria-controls="tab1-3" role="tab" data-toggle="tab" onclick="return false;">개발문서</a></li>
						<li role="presentation"><a href="#tab1-4" aria-controls="tab1-4" role="tab" data-toggle="tab" onclick="return false;">빌드팩</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content cataTab">
						<!-- tab1 cnt -->
						<div role="tabpanel" class="tab-pane in active" id="tab1-1">
							<ol class="cate-ol">
								<li><span class="point3">Java APP 서비스</span>는 Cloud Foundry 플랫폼 상에서 Container를 생성하고, Container 내부에 Java 애플리케이션 동작에 필요한 Runtime 환경을 자동으로 구성함으로써, 애플리케이션 비즈니스 로직 구현 외에 개발자가 해야하는 기타 인프라 작업들에 대한 부담을 줄여줍니다.</li>

								<li><span class="point3">Java APP 서비스</span>가 제공하는 Runtime 환경 서비스의 범위는 다음과 같으며, 사용자의 선택에 따라 자동으로 구성이 가능합니다.<br>
								- Server Container(Tomcat, JBoss 등)<br>
								- Runtime Framework(Spring, 전자정부 프레임워크, KDN Power Framework 등)<br>
								- Language Runtime Environment(Open JDK)
								</li>

								<li><span class="point3">Java APP 서비스</span>는 애플리케이션의 소스코드관리시스템(Git 등)과 연동하여 실행환경 Container 생성과 동시에 사용자가 개발한 애플리케이션을 자동으로 Container 상에 배치 할 수 있습니다.</li>

								<li><span class="point3">Java APP 서비스</span>의 Scaling 기능을 통해 사용자는 개발한 애플리케이션의 분산처리 환경을 쉽게 구성 할 수 있으며, Disk와 Memory 설정 만으로 클라우드 기반의 서버 자원을 쉽게 할당 받아 활용할 수 있습니다.</li>

								<li>애플리케이션 데이터베이스 생성 및 연결, 빌드/배포/테스트 자동화, 디버깅 등의 백-엔드 및 운영 관리 서비스와 IoT 등의 산업 특화 기능을 제공하는 서비스들과의 손쉬운 연결을 통해 사용자 애플리케이션이 제공해야할 비즈니스 요건을 빠르게 구축하고 Delivery 할 수 있습니다.</li>
							</ol>
						</div>
						<!-- //tab1 cnt -->

						<!-- tab2 cnt -->
						<div role="tabpanel" class="tab-pane" id="tab1-2">탭2 컨텐츠 영역</div>
						<!-- //tab2 cnt -->

						<!-- tab3 cnt -->
						<div role="tabpanel" class="tab-pane" id="tab1-3">탭3 컨텐츠 영역</div>
						<!-- //tab3 cnt -->
						<!-- tab4 cnt -->
						<div role="tabpanel" class="tab-pane" id="tab1-4">탭4 컨텐츠 영역</div>
						<!-- //tab4 cnt -->
					</div>
				</div>
				<!-- //tab wrap -->
