<div class="ctlog_cntWrap">
    <div class="ctlog-cnt">
        <h5>서비스 접속정보</h5>
        <ul>
            <li>
                <strong class="tit">접속 IP</strong>
                <span ng-if="contents.octaviaLbUse" class="txt">{{ contents.octaviaLb.loadBalancer.vip_address }}</span>
                <span ng-if="!contents.octaviaLbUse && contents.deployType != 'cluster'" class="txt">{{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}</span>
                <span ng-if="!contents.octaviaLbUse && contents.deployType == 'cluster'" class="txt">각 서버로 접속</span>
            </li>
            <li>
                <strong class="tit">관리자 계정</strong>
                <span class="txt">{{ contents.vmCatalogDeployInfo.parameters.admin_id }}</span>
            </li>
        </ul>
        <ul>
            <li>
                <strong class="tit">접속포트</strong>
                <span ng-if="contents.octaviaLbUse" class="txt">{{ contents.octaviaLb.listeners[0].listener.protocol_port }}{{ contents.vmCatalogDeployInfo.servicePort }}</span>
                <span ng-if="!contents.octaviaLbUse" class="txt">{{ contents.vmCatalogDeployInfo.parameters.service_port }}</span>
            </li>
        </ul>
    </div>
    <div class="ctlog-cnt">
        <h5> 서비스 환경 설정 파일 경로</h5>
        <ul>
            <li>
                <strong class="tit">config: </strong>
                <span class="txt">/etc/mongod.conf</span>
            </li>
        </ul>
    </div>
</div>
