<style type="text/css">
	.mainLoading {
		background:url("../../img/loading.gif") 50% 50% no-repeat;
		content:"";
		display:block;
		width:150px;
		height:150px;
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-75px;
		margin-top: -55px;
	}
	.chart_wrap {
		position: relative;
		clear:both;
	}
	.warning:after {
		background:url("../../img/alert_warning.png") 50% 50% no-repeat;
		content:"";
		display:block;
		width:150px;
		height:150px;
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-75px;
		margin-top: -55px;
	}
</style>
<div class="panelWrap">
	<div class="panel type2">
		<div class="panel_head">
			<div class="tit pull-left">사용 금액 현황</div>
			<div class="pull-right">
				<select ng-model = "contents.data.sltYear" ng-options=" year + '년' for year in contents.dashYears"
						ng-change="contents.fn.changeMeteringYear(contents.data.sltYear)">
				</select>
				<select ng-model="contents.data.sltMonth" ng-options="month + '월' for month in contents.dashMonths"
						ng-change="contents.fn.changeMeteringMonth(contents.data.sltMonth)">
				</select>
			</div>
		</div>
		<div class="panel_body h_auto">
			<div class="in">
				<div class="amount_usedWrap">
					<div class="col-md-4">
						<h4>사용금액</h4><span class="amount_used_date">{{ contents.data.today | date: 'yyyy년 MM월 dd일' }}</span>
						<div class="this_month">
							<p>이달 사용 금액</p>
							<div class="amountTxt">
								<span class="amount">{{ contents.data.sltSumPerfAmt | number }}</span>
								<img ng-if="!contents.data.sltSumPerfAmt" src="images/loading_sm.gif">
								<span class="won"> 원</span>
							</div>
						</div>
						<ul class="amountBox">
							<li class="last_month">
								<p>지난달 사용 금액</p>
								<div class="amountTxt">
									<span class="amount">{{ contents.data.lastSumPerfAmt | number }}</span>
									<img ng-if="!contents.data.lastSumPerfAmt" src="images/loading_sm.gif">
									<span class="won"> 원</span></div>
							</li>
							<li class="next_month">
								<p>이달 사용 예상 금액</p>
								<div class="amountTxt">
									<span class="amount">{{ contents.data.nextSumPerfAmt | number : 0 }}</span>
									<img ng-if="!contents.data.nextSumPerfAmt" src="images/loading_sm.gif">
									<span class="won">원</span></div>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<h4>서비스별 사용 금액</h4>

						<div class="chart_wrap pt20" style="overflow:hidden;">
							<div id="itemGroup-anls-chart"></div>
							<div class="mainLoading" ng-if="contents.itemGroupChart.loading"></div>
							<div class="warning" ng-if="!contents.itemGroupChart.loading && contents.itemGroupChart.data.series.length < 1"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="pull-left">
							<h4>서비스 항목별 사용 금액</h4>
						</div>
						<div class="pull-right">
							<select ng-options="meteringItemGroup.itemGroupCode as meteringItemGroup.itemGroupName for meteringItemGroup in contents.meteringItemGroups"
									ng-model="contents.data.sltItemGroupCode" ng-change="contents.fn.changeMeteringItemsByItemGroupCode(contents.data.sltItemGroupCode)">
							</select>
						</div>

						<div class="chart_wrap pt20" style="overflow:hidden;">
							<div id="item-anls-chart"></div>
							<div class="mainLoading" ng-if="contents.itemChart.loading"></div>
							<div class="warning" ng-if="!contents.itemChart.loading && contents.itemChart.data.series.length < 1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel type2">
		<div class="panel_head">
			<div class="tit pull-left">사용 금액 현황</div>
			<div class="pull-right">
				<select ng-options="columnOption.value as columnOption.label for columnOption in contents.columnOptions"
						ng-model="contents.data.sltColumnOption" ng-change="contents.fn.changeColumnOption(contents.data.sltColumnOption)">
				</select>
			</div>
		</div>
		<div class="panel_body h_auto">
			<div class="in">
				<div class="chart_wrap" style="overflow:hidden;">
					<div ng-show="contents.data.sltColumnOption == 'daily'" id="daily-anls-chart"></div>
					<div ng-show="contents.data.sltColumnOption == 'monthly'" id="monthly-anls-chart"></div>
					<div class="mainLoading" ng-if="contents.dailyChart.loading"></div>
				</div>
			</div>
		</div>
	</div>
</div>