<style type="text/css">
	h4.note {
		float: left;
		font-size:22px;
		color:#333;
		line-height: 80px;
	}
</style>
<div class="cBox type0 projt-mana">
	<div class="pull-left">
		<h4 class="note">※ 각 항목의 사용량은 시간당 사용량의 합산입니다.</h4>
	</div>
	<div class="pull-right pt20">
		<select ng-options=" year + '년' for year in contents.meteringYears" ng-model="contents.data.sltYear"
				ng-change="contents.fn.selectMeteringYear(contents.data.sltYear)">
		</select>

		<select ng-options="meteringItemGroup.itemGroupCode as meteringItemGroup.itemGroupName for meteringItemGroup in contents.meteringItemGroups"
				ng-model="contents.data.sltItemGroupCode"
				ng-change="contents.fn.changeMeteringItemsByItemGroupCode(contents.data.sltItemGroupCode)">
		</select>

		<select ng-options="meteringItem.itemCode as  meteringItem.itemName for meteringItem in contents.meteringItemsBySltItemGroup"
				ng-model="contents.data.sltItemCode"
				ng-change="contents.fn.changeMeteringItem(contents.data.sltItemCode)">
		</select>
	</div>
</div>
<div class="panelWrap">
	<div class="panel type2">
		<div class="panel_head">
			<h4 class="tit">월별 사용 추이<em>(단위: {{contents.sltItem.itemUnit}})</em></h4>
		</div>
		<div class="panel_body h_auto">
			<!--h4 class="h-tit4">추이<em>(단위: vCore)</em></h4-->
			<div class="chart_wrap mt30">
				<div id="monthly-metering-chart"></div>
				<!--img alt="차트 테스트 이미지" src="images/chart_test_img03.png"-->
			</div>
			<h4 class="mt30">현황<em>(단위: {{contents.sltItem.itemUnit}})</em></h4>
			<div class="tbl type3 mt30">
				<table class="table">
					<colgroup>
						<col style="width:;" /><!-- 1월 -->
						<col style="width:;" /><!-- 2월 -->
						<col style="width:" /><!-- 3월 -->
						<col style="width:;" /><!-- 4월 -->
						<col style="width:;" /><!-- 5월 -->
						<col style="width:;" /><!-- 6월 -->
						<col style="width:;" /><!-- 7월 -->
						<col style="width:;" /><!-- 8월 -->
						<col style="width:;" /><!-- 9월 -->
						<col style="width:" /><!-- 10월 -->
						<col style="width:;" /><!-- 11월 -->
						<col style="width:;" /><!-- 12월 -->
						<col style="width:15%;" /><!-- 합계 -->
					</colgroup>
					<thead>
						<tr>
							<th colspan="12">월별현황</th>
							<th rowspan="2">합계</th>
						</tr>
						<tr>
							<th ng-repeat="month in contents.meteringMonthsForChart">{{month}}월</th>
						</tr>
					</thead>
					<tbody>
					<tr>
						<td ng-if="perfMeteringMonthlyByOrgAndItem !== ''" ng-repeat="perfMeteringMonthlyByOrgAndItem in contents.perfMeteringMonthlyByOrgAndItems track by $index"> {{perfMeteringMonthlyByOrgAndItem | numberUnit : contents.data.numUnit | number}}</td>
						<td ng-if="perfMeteringMonthlyByOrgAndItem === ''" ng-repeat="perfMeteringMonthlyByOrgAndItem in contents.perfMeteringMonthlyByOrgAndItems track by $index"> {{perfMeteringMonthlyByOrgAndItem}}</td>
						<td class="text-right" ng-if="contents.perfMeteringMonthlyByOrgAndItemSum > 0">{{contents.perfMeteringMonthlyByOrgAndItemSum | numberUnit : contents.data.numUnit | number}}</td>
						<td class="text-right" ng-if="!contents.perfMeteringMonthlyByOrgAndItemSum"> 0 </td>
					</tr>

					<tr ng-if="(contents.perfMeteringMonthlyByOrgAndItems.length == 0 || !contents.perfMeteringMonthlyByOrgAndItems) && (contents.perfMeteringMonthlyByOrgAndItemSum < 1 || !contents.perfMeteringMonthlyByOrgAndItemSum)" class="ng-scope">
						<td colspan="13" class="center ng-binding">목록이 존재하지 않습니다.</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="panel type2">
		<div class="panel_head">
			<div class="pull-left">
				<h4 class="tit">일별 사용 추이<em>(단위: {{contents.sltItem.itemUnit}})</em></h4>
			</div>
			<div class="pull-right">
				<select ng-options="month + '월' for month in contents.meteringMonths" ng-model = "contents.data.sltMonth" ng-change="contents.fn.changeMeteringMonth(contents.data.sltMonth)"></select>
			</div>
		</div>
		<div class="panel_body h_auto">
			<!--h4 class="h-tit4">추이<em>(단위: vCore)</em></h4-->
			<div class="chart_wrap mt30">
				<div id="daily-metering-chart"></div>
				<!--img alt="차트 테스트 이미지" src="images/chart_test_img04.png"-->
			</div>
			<h4 class="h-tit4 mt40">현황<em>(단위: {{contents.sltItem.itemUnit}})</em></h4>
			<div class="tbl type3 double-th mt30">
				<table class="table">
					<colgroup>
						<col style="width:;" /><!-- 1일 -->
						<col style="width:;" /><!-- 2일 -->
						<col style="width:" /><!-- 3일 -->
						<col style="width:;" /><!-- 4일 -->
						<col style="width:;" /><!-- 5일 -->
						<col style="width:;" /><!-- 6일 -->
						<col style="width:;" /><!-- 7일 -->
						<col style="width:;" /><!-- 8일 -->
						<col style="width:;" /><!-- 9일 -->
						<col style="width:" /><!-- 10일 -->
						<col style="width:;" /><!-- 11일 -->
						<col style="width:;" /><!-- 12일 -->
						<col style="width:;" /><!-- 13일 -->
						<col style="width:;" /><!-- 14일 -->
						<col style="width:;" /><!-- 15일 -->
						<col style="width:;" /><!-- 16일 -->
						<col style="width:;" /><!-- 16일 -->
					</colgroup>
					<tbody>
					<tr>
						<th ng-repeat="day in contents.meteringDays| limitTo : 15 track by $index">{{day}}일</th>
						<!--th ng-repeat="blank in [].constructor(15) track by $index">{{contents.meteringDays[$index]}}일</th-->
						<th>합계</th>
					</tr>
					<tr><!-- 1-15 {{ object | limitTo : limit(갯수) : begin(시작 index) }} -->
						<td ng-if="perfMeteringDailyByOrgAndItem !== ''" ng-repeat="perfMeteringDailyByOrgAndItem in contents.perfMeteringDailyByOrgAndItems | limitTo : 15 track by $index "> {{perfMeteringDailyByOrgAndItem | numberUnit : contents.data.numUnit | number}}</td>
						<td ng-if="perfMeteringDailyByOrgAndItem === ''" ng-repeat="perfMeteringDailyByOrgAndItem in contents.perfMeteringDailyByOrgAndItems | limitTo : 15 track by $index"> </td>
						<!--td ng-repeat="perfMeteringDailyByOrgAndItem in contents.perfMeteringDailyByOrgAndItems | limitTo : 15 track by $index "> - </td-->
						<td class="text-right" ng-if="contents.perfMeteringDailyByOrgAndItemSum > 0">{{contents.perfMeteringDailyByOrgAndItemSum | numberUnit : contents.data.numUnit | number}}</td>
						<td class="text-center" ng-if="!contents.perfMeteringDailyByOrgAndItemSum"> 0 </td>
					</tr>
					<tr>
						<!-- limitTo : 갯수: 시작 index-->
						<th ng-repeat="day in contents.meteringDays| limitTo : 16: 15 track by $index">{{day}}일</th>
						<th ng-repeat="blank in [].constructor(31 - contents.meteringDays.length) track by $index"> - </th>
						<!--th ng-repeat="blank in [].constructor(16) track by $index">{{contents.meteringDays[$index+15]}} 일</th-->
					</tr>
					<tr><!-- 16-31 month = {0~11}, day = {1-31} {{ object | limitTo : limit(갯수) : begin(시작 index) }}-->
						<td ng-if="perfMeteringDailyByOrgAndItem !== ''" ng-repeat="perfMeteringDailyByOrgAndItem in contents.perfMeteringDailyByOrgAndItems | limitTo : 16 : 15 track by $index"> {{perfMeteringDailyByOrgAndItem | numberUnit : contents.data.numUnit | number}}</td>
						<td ng-if="perfMeteringDailyByOrgAndItem === ''" ng-repeat="perfMeteringDailyByOrgAndItem in contents.perfMeteringDailyByOrgAndItems | limitTo : 16 : 15 track by $index"> </td>
						<td ng-if="contents.perfMeteringDailyByOrgAndItems.length > 0" ng-repeat="blank in [].constructor(31 - contents.perfMeteringDailyByOrgAndItems.length) track by $index"> </td>
					</tr>
					<tr ng-if="(contents.perfMeteringDailyByOrgAndItems.length == 0 || !contents.perfMeteringDailyByOrgAndItems) && (contents.perfMeteringDailyByOrgAndItemSum < 1 || !contents.perfMeteringDailyByOrgAndItemSum)" class="ng-scope">
						<td colspan="16" class="center ng-binding">목록이 존재하지 않습니다.</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>