<div class="cBox type0 projt-mana">
	<div class="pull-left">
		<h4 class="c-tit">프로젝트1</h4>
	</div>
	<div class="pull-right pt20">
		<select>
			<option value="">가상서버</option>
			<option value="">GPU</option>
			<option value="">PaaS</option>
			<option value="">CaaS</option>
			<option value="">FaaS</option>
			<option value="">상용/클러스터 DB</option>
			<option value="">데이터 브로커</option>
		</select>
		<select>
			<option value="">가상서버 vCore</option>
			<option value="">가상서버 RAM</option>
			<option value="">가상서버 HDD</option>
			<option value="">가상서버 SSD</option>
		</select>
		<select>
			<option value="">2020년</option>
			<option value="">2019년</option>
		</select>
	</div>
</div>
<div class="panelWrap">
	<div class="panel type2">
		<div class="panel_head">
			<h4 class="tit">월별 사용 추이<em>(단위: vCore)</em></h4>
		</div>
		<div class="panel_body h_auto">
			<h4 class="h-tit4">추이<em>(단위: vCore)</em></h4>
			<div class="chart_wrap mt30">
				<img alt="차트 테스트 이미지" src="../../images/chart_test_img03.png">
			</div>
			<h4 class="h-tit4 mt40">현황<em>(단위: vCore)</em></h4>
			<div class="tbl type3 mt30">
				<table class="table">
					<colgroup>
						<col style="width:;" /><!-- 1월 -->
						<col style="width:;" /><!-- 2월 -->
						<col style="width:" /><!-- 3월 -->
						<col style="width:;" /><!-- 4월 -->
						<col style="width:;" /><!-- 5월 -->
						<col style="width:;" /><!-- 6월 -->
						<col style="width:;" /><!-- 7월 -->
						<col style="width:;" /><!-- 8월 -->
						<col style="width:;" /><!-- 9월 -->
						<col style="width:" /><!-- 10월 -->
						<col style="width:;" /><!-- 11월 -->
						<col style="width:;" /><!-- 12월 -->
						<col style="width:15%;" /><!-- 합계 -->
					</colgroup>
					<thead>
						<tr>
							<th colspan="12">월별현황</th>
							<th rowspan="2">합계</th>
						</tr>
						<tr>
							<th>1월</th>
							<th>2월</th>
							<th>3월</th>
							<th>4월</th>
							<th>5월</th>
							<th>6월</th>
							<th>7월</th>
							<th>8월</th>
							<th>9월</th>
							<th>10월</th>
							<th>11월</th>
							<th>12월</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-right">1432</td>
							<td class="text-right">1782</td>
							<td class="text-right">1564</td>
							<td class="text-right">1801</td>
							<td class="text-right">2345</td>
							<td class="text-right">2216</td>
							<td class="text-right">1531</td>
							<td class="text-right">1876</td>
							<td class="text-right">2784</td>
							<td class="text-right">2402</td>
							<td class="text-right"></td>
							<td class="text-right"></td>
							<td class="text-right">235</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="panel type2">
		<div class="panel_head">
			<div class="pull-left">
				<h4 class="tit">일별 사용 추이<em>(단위: vCore)</em></h4>
			</div>
			<div class="pull-right">
				<select>
					<option value="">10월</option>
					<option value="">9월</option>
					<option value="">8월</option>
					<option value="">7월</option>
					<option value="">6월</option>
					<option value="">5월</option>
					<option value="">4월</option>
					<option value="">3월</option>
					<option value="">2월</option>
					<option value="">1월</option>
				</select>
			</div>
		</div>
		<div class="panel_body h_auto">
			<h4 class="h-tit4">추이<em>(단위: vCore)</em></h4>
			<div class="chart_wrap mt30">
				<img alt="차트 테스트 이미지" src="../../images/chart_test_img04.png">
			</div>
			<h4 class="h-tit4 mt40">현황<em>(단위: vCore)</em></h4>
			<div class="tbl type3 double-th mt30">
				<table class="table">
					<colgroup>
						<col style="width:;" /><!-- 1일 -->
						<col style="width:;" /><!-- 2일 -->
						<col style="width:" /><!-- 3일 -->
						<col style="width:;" /><!-- 4일 -->
						<col style="width:;" /><!-- 5일 -->
						<col style="width:;" /><!-- 6일 -->
						<col style="width:;" /><!-- 7일 -->
						<col style="width:;" /><!-- 8일 -->
						<col style="width:;" /><!-- 9일 -->
						<col style="width:" /><!-- 10일 -->
						<col style="width:;" /><!-- 11일 -->
						<col style="width:;" /><!-- 12일 -->
						<col style="width:;" /><!-- 13일 -->
						<col style="width:;" /><!-- 14일 -->
						<col style="width:;" /><!-- 15일 -->
						<col style="width:;" /><!-- 16일 -->
						<col style="width:;" /><!-- 16일 -->
					</colgroup>
					<tbody>
						<tr>
							<th>1일</th>
							<th>2일</th>
							<th>3일</th>
							<th>4일</th>
							<th>5일</th>
							<th>6일</th>
							<th>7일</th>
							<th>8일</th>
							<th>9일</th>
							<th>10일</th>
							<th>11일</th>
							<th>12일</th>
							<th>13일</th>
							<th>14일</th>
							<th>15일</th>
							<th>16일</th>
							<th>합계</th>
						</tr>
						<tr>
							<td class="text-right">1</td>
							<td class="text-right">2</td>
							<td class="text-right">3</td>
							<td class="text-right">4</td>
							<td class="text-right">5</td>
							<td class="text-right">6</td>
							<td class="text-right">7</td>
							<td class="text-right">8</td>
							<td class="text-right">9</td>
							<td class="text-right">10</td>
							<td class="text-right">11</td>
							<td class="text-right">12</td>
							<td class="text-right">13</td>
							<td class="text-right">14</td>
							<td class="text-right">15</td>
							<td class="text-right">16</td>
							<td class="text-right" rowspan="3">16</td>
						</tr>
						<tr>
							<th>17일</th>
							<th>18일</th>
							<th>19일</th>
							<th>20일</th>
							<th>21일</th>
							<th>22일</th>
							<th>23일</th>
							<th>24일</th>
							<th>25일</th>
							<th>26일</th>
							<th>27일</th>
							<th>28일</th>
							<th>29일</th>
							<th>30일</th>
							<th>31일</th>
							<th>-</th>
						</tr>
						<tr>
							<td class="text-right">17</td>
							<td class="text-right">18</td>
							<td class="text-right">19</td>
							<td class="text-right">20</td>
							<td class="text-right">21</td>
							<td class="text-right">22</td>
							<td class="text-right">23</td>
							<td class="text-right">24</td>
							<td class="text-right">25</td>
							<td class="text-right">26</td>
							<td class="text-right">27</td>
							<td class="text-right">28</td>
							<td class="text-right">29</td>
							<td class="text-right">30</td>
							<td class="text-right">31</td>
							<td class="text-right">-</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>