<section class="panel panel-bordered">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<h3 class="panel-title">월별 사용현황 </h3>
			</div>
			<div class="col-md-6">
				<div class="text-right margin-15">
					<div class="form-group inline-block margin-bottom-0">
						<select class="form-control form-control-md" ng-model="contents.data.sltYear" ng-options="year + '년' for year in contents.meteringYears"
								ng-change="contents.fn.selectMeteringYear(contents.data.sltYear)">
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="alert alert-primary" role="alert">
			<i data-feather="file-text" class="feather-directive"></i>
			<div class="text-area">각 항목의 사용량은 시간당 사용량의 합산입니다.</div>
		</div>
		<div class="table-wrap margin-top-20">
			<table class="table table-hover table-bordered double-th">
				<colgroup>
					<col style="width:12%;" /><!-- 서비스 -->
					<col style="width:15%;" /><!-- 항목 -->
					<col style="width:;" /><!-- 1월 -->
					<col style="width:;" /><!-- 2월 -->
					<col style="width:;" /><!-- 3월 -->
					<col style="width:;" /><!-- 4월 -->
					<col style="width:;" /><!-- 5월 -->
					<col style="width:;" /><!-- 6월 -->
					<col style="width:;" /><!-- 7월 -->
					<col style="width:;" /><!-- 8월 -->
					<col style="width:;" /><!-- 9월 -->
					<col style="width:;" /><!-- 10월 -->
					<col style="width:;" /><!-- 11월 -->
					<col style="width:;" /><!-- 12월 -->
					<col style="width:7%;" /><!-- 합계 -->
				</colgroup>
				<thead class="bg-blue-grey-100 text-center th-row-2 doubleRow">
					<tr>
						<th rowspan="2">서비스</th>
						<th rowspan="2">항목</th>
						<th colspan="12">월별사용량</th>
						<th rowspan="2">합계</th>
					</tr>
					<tr>
						<th ng-repeat="idx in [].constructor(12) track by $index">{{ $index + 1 }}월</th>
					</tr>
				</thead>
				<tbody class="tbody_group" ng-if="!(contents.orgMeteringMonthlyLists.length == 0 || !contents.orgMeteringMonthlyLists)" class="ng-scope"
						ng-repeat="meteringItemGroup in contents.meteringItemGroups">
					<tr ng-if="meteringItemGroup.exist">
						<th rowspan="{{ contents.data.maxRow + 1 }}">{{ meteringItemGroup.itemGroupName }}</th>
					</tr>
					<tr ng-repeat="orgMeteringMonthlyList in contents.orgMeteringMonthlyLists | filter:{ itemGroupCode: meteringItemGroup.itemGroupCode }">
						<td ng-switch="orgMeteringMonthlyList.itemUnit">{{ orgMeteringMonthlyList.itemName }}
							<span ng-switch-when="CNT">({{ orgMeteringMonthlyList.itemUnit }})</span>
							<span ng-switch-when="NUM">({{ orgMeteringMonthlyList.itemUnit }})</span>
						</td>
						<td ng-repeat="(idx, meteringMonth) in contents.meteringMonths" ng-switch="orgMeteringMonthlyList.itemUnit" class="text-center">
							<span ng-hide="orgMeteringMonthlyList['mv' + meteringMonth] == 0" ng-switch-when="MB">{{ orgMeteringMonthlyList['mv' + meteringMonth] | displayVolume:'MB'}}</span>
							<span ng-hide="orgMeteringMonthlyList['mv' + meteringMonth] == 0" ng-switch-when="GB">{{ orgMeteringMonthlyList['mv' + meteringMonth] | displayVolume:'GB'}}</span>
							<span ng-hide="orgMeteringMonthlyList['mv' + meteringMonth] == 0" ng-switch-default="">{{ orgMeteringMonthlyList['mv' + meteringMonth] | number }}</span>
							<span ng-show="orgMeteringMonthlyList['mv' + meteringMonth] == 0 && contents.fn.isPast(contents.data.sltYear, idx) == true">-</span>
						</td>
						<td ng-switch="orgMeteringMonthlyList.itemUnit" class="text-center">
							<span ng-switch-when="MB">{{ orgMeteringMonthlyList.totalMeteringValue | displayVolume:'MB'}}</span>
							<span ng-switch-when="GB">{{ orgMeteringMonthlyList.totalMeteringValue | displayVolume:'GB'}}</span>
							<span ng-switch-default="">{{ orgMeteringMonthlyList.totalMeteringValue | number }}</span>
						</td>
					</tr>
					<tr ng-if="!meteringItemGroup.exist" class="text-center">
						<th class="text-left">{{ meteringItemGroup.itemGroupName }}</th>
						<td>-</td>
						<td>-</td>    <!-- 1월 -->
						<td>-</td>    <!-- 2월 -->
						<td>-</td>    <!-- 3월 -->
						<td>-</td>    <!-- 4월 -->
						<td>-</td>    <!-- 5월 -->
						<td>-</td>    <!-- 6월 -->
						<td>-</td>    <!-- 7월 -->
						<td>-</td>    <!-- 8월 -->
						<td>-</td>    <!-- 9월 -->
						<td>-</td>    <!-- 10월 -->
						<td>-</td>    <!-- 11월 -->
						<td>-</td>    <!-- 12월 -->
						<td>0</td>    <!-- 합계 -->
					</tr>
				</tbody>
				<tbody ng-if="contents.orgMeteringMonthlyLists.length == 0 || !contents.orgMeteringMonthlyLists" class="ng-scope">
					<tr>
						<td colspan="15" class="text-center ng-binding">목록이 존재하지 않습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
