<div class="write_wrap">
	<div class="row">
		<div class="col-md-8">
			<section class="panel panel-bordered">
				<!-- panel-heading -->
				<div class="panel-heading">
					<h3 class="panel-title">{{ contents.vmCatalogInfo.catalogName }} 서비스 만들기</h3>
				</div>
				<!-- // panel-heading -->
				<!-- panel-body -->
				<div class="panel-body">
					<form name="subPage.deployForm" novalidate>
						<input type="password" style="display: block; width: 0px; height: 0px; border: 0;"><!-- 아이디 패스워드 자동 입력 방지 -->
						<div class="form_list">
							<div class="text-right add-txt">
								<span><b class="caution-star">*</b> 는 필수입력 사항입니다</span>
							</div>
							
							<!-- 서비스이름 -->
							<div ng-include="contents.htmlUrls.deployName"></div>
							<!-- //서비스이름 -->
							
							<!-- 서비스 영문 이름 -->
							<div class="margin-top-30" ng-include="contents.htmlUrls.stackName"></div>
							<!-- //서비스 영문 이름 -->
							
							<!-- 배포 유형 선택 -->
							<div class="margin-top-30" ng-include="contents.htmlUrls.deployTypeRadio"></div>
							<!-- //배포 유형 선택 -->
							
							<!--  Octavia LB 사용여부 -->
							<div class="margin-top-30" ng-show="contents.data.deployType == 'cluster'" ng-include="contents.htmlUrls.octaviaLbUse"></div>
							<!--  //Octavia LB 사용여부 -->
							
							<!-- 포트 -->
							<div class="margin-top-30" ng-include="contents.htmlUrls.servicePort"></div>
							<!-- //포트 -->
							
							<!-- root 비밀번호 -->
							<div class="margin-top-30" ng-include="contents.htmlUrls.rootPassword"></div>
							<!-- //root 비밀번호 -->
							
							<!-- root 비밀번호 확인 -->
							<div class="margin-top-30" ng-include="contents.htmlUrls.rootConfirmPassword"></div>
							<!-- //root 비밀번호 확인 -->
							
							<!-- 사용자 계정 및 DB 생성 -->
							<div class="margin-top-30" ng-include="contents.htmlUrls.userDbUse"></div>
							<!-- //사용자 계정 및 DB 생성 -->
							
							<!-- 존 선택 -->
							<div class="margin-top-30" ng-include="contents.htmlUrls.zoneSelect"></div>
							<!-- //존 선택 -->
							
							<!-- 사양 선택 -->
							<div  class="margin-top-30" ng-include="contents.htmlUrls.specSelect"></div>
							<!-- //사양 선택 -->
							
							<!-- 데이터 디스크 사용 -->
							<div class="margin-top-30" ng-include="contents.htmlUrls.volumeSelect"></div>
							<!-- //데이터 디스크 사용 -->

						</div>
					</form>
				</div>
			</section>
		</div>
		<div class="col-md-4">
			<div ng-include="contents.htmlUrls.createDeployInfo"></div>
		</div>
	</div>
	<!-- 버튼 -->
	<div ng-include="contents.htmlUrls.createDeployBtn"></div>
	<!-- //버튼 -->
</div>
