<div class="footerContainer" style="{{ main.isAuthenticated ? 'margin-top: 50;' : 'margin-top: 0;'; }}">
    <div class="footer containerWrap">
        <div class="footer-brand"><img src="../../img/logo_cloudxpert_footer.png" width="149" height="32" alt="cloudxpert" /></div>
        <div class="footerWrap">
            <ul ng-hide="true">
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">본인인증</a></li>
                <li><a href="#">고객만족센터</a></li>
                <li><a href="#">SITE LINK</a></li>
            </ul>
            <address>서울시 영등포구 여의나루로 76 (주)크로센트 대표전화 : 02-2078-2088</address>
            <p class="copyright">COPYRIGHT 2015 CROSSENT CORP ALLRIGHTS RESERVED.</p>
            <p class="info">본 페이지에 게시된 이메일 주소가 자동 수집되는 것을 거부하며, 이를 위반시 정보통신법에 의해 처벌함을 유의하시기 바랍니다.</p>
            <p class="info">이 페이지는 크롬(Chrome)에 최적화 되어 있습니다.</p>
        </div>
    </div>
</div>