<!--<form name="passwordForm">-->
<table class="table table-bordered" ng-form name="passwordForm">
    <colgroup>
        <col style="width:150px;" />
        <col />
    </colgroup>
    <tbody>
    <tr>
        <!-- 2020.03.24 - 패스워드 팝업창 글씨 색과 정렬변경 요청에 따라 각 th style 수정 by ksw -->
        <th style="text-align: center; vertical-align: middle; background: #e7e8e9; color: #333;">
            <label for="voldPassword">{{ 'label.current_pwd' | translate }}</label>
        </th>
        <td>
            <!-- <input type="password" id="voldPassword" name="voldPassword" ng-model="pop.changePasswordData.oldPassword" ng-pattern="/^.*(?=^.{6,20}$)(?=.*\d)(?=.*[a-zA-Z]).*$/" placeholder="{{ 'message.mi_type_current_pwd' | translate }}" style="width:95%" required /> -->
            <input type="password" id="voldPassword" name="voldPassword" ng-model="pop.changePasswordData.oldPassword" placeholder="{{ 'message.mi_type_current_pwd' | translate }}" style="width:95%" required />
            <!--<div class="error_msg_block" ng-show="passwordForm.voldPassword.$error.pattern" ><em>{{ 'message.mi_type_eng_number_8to16_pwd' | translate }}</em></div> -->
            <p class="has-error" ng-show="passwordForm.voldPassword.$error.pattern" ><em>{{ 'message.mi_type_eng_number_8to16_pwd' | translate }}</em></p>
            <!-- <div class="error_msg_block" ng-show="passwordForm.voldPassword.$error.required && !passwordForm.voldPassword.$pristine"><em>{{ 'message.mi_required_item' | translate }}</em></div> -->
            <p class="has-error" ng-show="passwordForm.voldPassword.$error.required && !passwordForm.voldPassword.$pristine"><em>{{ 'message.mi_required_item' | translate }}</em></p>
        </td>
    </tr>
    <tr>
        <th style="text-align: center; vertical-align: middle; background: #e7e8e9; color: #333;">
            <label for="vpassword">{{ 'label.change_pwd' | translate }}</label>
        </th>
        <td>
            <input type="password" id="vpassword" name="vpassword" ng-model="pop.changePasswordData.password" ng-pattern="/^.*(?=^.{8,16}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[~`!@#$%\^&*()\-_+=\\|\{\}\[\]\;':,./<>?]).*$/" placeholder="{{ 'message.mi_type_new_pwd' | translate }}" style="width:95%" required />
            <p class="has-error" ng-show="passwordForm.vpassword.$error.pattern" ><em>{{ 'message.mi_type_eng_number_8to16_pwd' | translate }}</em></p>
            <p class="has-error" ng-show="passwordForm.vpassword.$error.required && !passwordForm.vpassword.$pristine"><em>{{ 'message.mi_required_item' | translate }}</em></p>
        </td>
    </tr>
    <tr>
        <th style="text-align: center; vertical-align: middle; background: #e7e8e9; color: #333;">
            <label for="vretypePassword">{{ 'label.change_pwd_confirm' | translate }}</label>
        </th>
        <td>
            <input type="password" id="vretypePassword" name="vretypePassword" ng-model="pop.changePasswordData.retypePassword" ng-pattern="/^.*(?=^.{8,16}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[~`!@#$%\^&*()\-_+=\\|\{\}\[\]\;':,./<>?]).*$/" placeholder="{{ 'message.mi_type_new_pwd' | translate }}" style="width:95%" required ng-keypress="changePasswordEnter($event);"/>
            <p class="has-error" ng-show="passwordForm.vretypePassword.$error.pattern" ><em>{{ 'message.mi_type_eng_number_8to16_pwd' | translate }}</em></p>
            <p class="has-error" ng-show="passwordForm.vretypePassword.$error.required && !passwordForm.vretypePassword.$pristine"><em>{{ 'message.mi_required_item' | translate }}</em></p>
        </td>
    </tr>
    </tbody>
</table>
<!--</form>-->
