	<!-- 작업 추가 및 선택 -->
	<div ng-if="main.projectType == 'pjt'" class="projt-selWarp">
		<div class="pull-left" ng-include="main.portalOrgDropdownTempeUrl"></div>
		<div class="pull-right">
			<button type="button" name="button" class="btn only-ico ico-refresh" tooltip-placement="bottom" uib-tooltip="새로고침" ng-click="main.replacePage();"><span class="ico">새로고침</span></button>
		</div>
	</div>
	<!-- //작업 추가 및 선택 -->
	
	<!-- 버튼영역 -->
	<div class="btnWrap">
		<button type="button" class="btn_lg" ng-click="main.moveToAppPage('/iaas/compute/create')">
			<span class="ico ico_create" ></span>서버 만들기
		</button>
		<button type="button" class="btn_lg">
			<span class="ico ico_copy"></span>다른서버 복사하기
		</button>
	</div>
	<!-- //버튼영역 -->


	<!-- panel area-->
	<!-- <ul ng-if="main.contentsViewType == 'thum'" class="ul-panel thum_style"> -->
	<ul  class="ul-panel thum_style">
		<li ng-repeat="instance in contents.serverMainList">
			<!-- panel -->
			<div class="panelWrap">
				<div class="panel type5">
					<div class="panel_head">
						<img ng-if="instance.image.icon" ng-src="data:{{ instance.image.contentType }}; base64, {{ instance.image.icon }}" class="logo" alt="" ng-click="contents.moveToAppPage('/iaas/compute/detail/'+instance.id,instance.name,true)" >
						<img ng-if="!instance.image.icon" src="images/thum/im_logo_compute.png" class="logo" alt="" ng-click="main.moveToAppPage('/iaas/compute/detail/'+instance.id,instance.name,true)" >
						<p class="tit" ng-click="main.moveToAppPage('/iaas/compute/detail/'+instance.id,instance.name,true)" >{{instance.name}}</p>
						<p class="txt" ng-click="main.moveToAppPage('/iaas/compute/detail/'+instance.id,instance.name,true)" >{{instance.image.serviceName}}</p>

						<div class="dropdown btn-option">
							<button id="btn-option" type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
								<span class="ico">실행 설정</span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
								<li ng-class="{'on_disablec' : instance.vmState != 'active'}"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('START',instance,$index);">시작</a></li>
								<li ng-class="{'on_disablec' : instance.vmState == 'active'}"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('REBOOT',instance,$index);">재시작</a></li>
								<li ng-class="{'on_disablec' : instance.vmState != 'stopped'}"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('STOP',instance,$index);">정지</a></li>
								<li><a href="" ng-click="contents.computePopEditServerForm($event);">서버 사양 변경</a></li>
								<li ng-class="{'on_disablec' : instance.vmState == 'stopped'}"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('SNAPSHOT',instance,$index, $event);">백업 이미지 생성</a></li>
								<li><a href="javascript:void(0);" ng-click="">키페어 다운로드</a></li>
								<li><a href="javascript:void(0);" ng-click="contents.fn.createInstanceVolumePop(instance);">디스크 추가</a></li>
								<li><a href="javascript:void(0);" ng-click="contents.deleteInstanceJob(instance.id);">서버 삭제</a></li>
								<!--<li ng-class="{'on_disablec' : instance.vmState == 'active'}"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('PAUSE',instance,$index)">일시정지</a></li>-->
								<!--<li ng-class="{'on_disablec' : instance.vmState == 'paused'}"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('UNPAUSE',instance,$index)">정지해제</a></li>-->
								<!-- <li ng-if="instance.vmState == 'stopped'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('SNAPSHOT',instance,$index);">이미지 스냅샷</a></li> -->
								<!--<li ng-class="{'on_disablec' : instance.floatingIp == ''}"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('IPCONNECT',instance,$index);">접속IP설정</a></li>-->
								<!--<li ng-class="{'on_disablec' : instance.floatingIp != ''}"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('IPDISCONNECT',instance,$index);">접속IP해제</a></li>-->
							</ul>
						</div>
					</div>
					<div class="panel_body" ng-if="instance.vmState != 'building'" ng-click="main.moveToAppPage('/iaas/compute/detail/'+instance.id,instance.name,true)" >
						<div class="ul-in" ng-if="instance.vmState != 'starting' && instance.vmState != 'stopping' && instance.vmState != 'pausing' && instance.vmState != 'unpausing' && instance.vmState != 'rebooting'">
							<div class="up">
								<ul class="ul-prog">
									<li>
										<div class="progressWrap type1">
											<div class="progress">
												<div percent-progress-bar-animate bar-type="height" percent="{{instance.spec.vcpus / contents.tenantResource.maxResource.cores * 100 | number: 0}}" class="progress">
													<div class="progress-bar color-type3" role='progressbar' tooltip-placement="top" uib-tooltip="{{instance.spec.vcpus / contents.tenantResource.maxResource.cores * 100 | number: 0}}%"></div>
												</div>
											</div>
										</div>
										<span class="percent_txt">{{instance.spec.vcpus / contents.tenantResource.maxResource.cores * 100 | number: 0}}<span>%</span></span>
										<strong class="tit mt10">CPU</strong>
										<span class="flavor_info">{{instance.spec.vcpus}} 개</span>
									</li>
									<li>
										<div class="progressWrap type1">
											<div class="progress">
												<div percent-progress-bar-animate bar-type="height" percent="{{instance.spec.ram / contents.tenantResource.maxResource.ramSize * 100 | number: 0}}" class="progress">
													<div class="progress-bar color-type2" role='progressbar' tooltip-placement="top" uib-tooltip="{{instance.spec.ram / contents.tenantResource.maxResource.ramSize * 100 | number: 0}}%"></div>
												</div>
											</div>
										</div>
										<span class="percent_txt">{{instance.spec.ram / contents.tenantResource.maxResource.ramSize * 100 | number: 0}}<span>%</span></span>
										<strong class="tit mt10">Memory</strong>
										<span class="flavor_info">{{(instance.spec.ram/1024|number:1).replace('.0', '')}} GB</span>
									</li>
									<li>
										<div class="progressWrap type1">
											<div class="progress">
												<div percent-progress-bar-animate bar-type="height" percent="{{instance.spec.disk / contents.tenantResource.maxResource.instanceDiskGigabytes * 100 | number : 0}}" class="progress">
													<div class="progress-bar" role="progressbar" tooltip-placement="top" uib-tooltip="{{instance.spec.disk / contents.tenantResource.maxResource.instanceDiskGigabytes * 100 | number : 0}}%"></div>
												</div>
											</div>
										</div>
										<span class="percent_txt">{{instance.spec.disk / contents.tenantResource.maxResource.instanceDiskGigabytes * 100 | number : 0}}<span>%</span></span>
										<strong class="tit mt10">Disk</strong>
										<span class="flavor_info">{{instance.spec.disk}} GB</span>
									</li>
								</ul>
							</div>
							<div class="down">
								<span class="stateWrap">
									<span ng-if="instance.vmState == 'active'" class="stateMark type1">정상배포</span>
									<span ng-if="instance.vmState == 'error'" class="stateMark type2">오류</span>
									<span ng-if="instance.vmState == 'paused' || instance.vmState == 'resized' || instance.vmState == 'building'" class="stateMark type4">대기</span>
									<span ng-if="instance.vmState == 'stopped'" class="stateMark type3">중지</span>
									<span class="state-txt">{{instance.vmState | iaasVmState}}</span>
								</span>
							</div>
						</div>

						<!--<div class="ul-in2" ng-if="instance.vmState == 'starting' || instance.vmState == 'stopping' || instance.vmState == 'pausing' || instance.vmState == 'unpausing' || instance.vmState == 'rebooting'">
							<div class="info-chart">
								<div class="chartWrap" style="height:180px;">
									<div stop-watch-d3-circular-progress max="180" start="true" size="180" options="{type:'seconds'}" on-stop="contents.stopProgress()" class="progress-indicator"></div>
								</div>
							</div>

							<div class="info-txt">
								<p class="txt"><span class="ico ico-timer"></span>{{instance.vmState | iaasVmState}}</p>
							</div>
						</div>-->
						<div class="ul-in2 spinner_area" ng-if="instance.vmState == 'starting' || instance.vmState == 'stopping' || instance.vmState == 'pausing' || instance.vmState == 'unpausing' || instance.vmState == 'rebooting'"><!-- 스피너 들어갈경우에만 이 영역에 class명 추가해줌(.spinner_area) -->
							<div class="info-chart">
								<div class="chartWrap">
									<ion-spinner icon="lines" class="spinner-calm spinner spinner-lines">
										<svg viewBox="0 0 64 64">
											<g stroke-width="7" stroke-linecap="round">
												<line x1="10" x2="10" y2="48" y1="16">
													<animate attributeName="y1" dur="750ms" values="16;18;28;18;16;16" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="48;46;36;44;48;48" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values="1;.4;.5;.8;1;1" repeatCount="indefinite"></animate>
												</line>
												<line x1="24" x2="24" y2="45.2501" y1="17.3749">
													<animate attributeName="y1" dur="750ms" values="16;16;18;28;18;16" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="48;48;46;36;44;48" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values="1;1;.4;.5;.8;1" repeatCount="indefinite"></animate>
												</line>
												<line x1="38" x2="38" y2="38.5002" y1="24.8747">
													<animate attributeName="y1" dur="750ms" values="18;16;16;18;28;18" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="44;48;48;46;36;44" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values=".8;1;1;.4;.5;.8" repeatCount="indefinite"></animate>
												</line>
												<line x1="52" x2="52" y2="42.8747" y1="21.1253">
													<animate attributeName="y1" dur="750ms" values="28;18;16;16;18;28" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="36;44;48;48;46;36" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values=".5;.8;1;1;.4;.5" repeatCount="indefinite"></animate>
												</line>
											</g>
										</svg>
									</ion-spinner>
								</div>
							</div>
							<div class="info-txt">
								<div class="sec_txt"><span>{{instance.vmStateSec}}</span>초</div>
								<p class="txt"><span class="ico ico-timer"></span>{{instance.vmState | iaasVmState}}입니다.</p>
							</div>
						</div>
					</div>
					<div class="panel_body" ng-if="instance.vmState == 'building'">
						<div class="ul-in2 spinner_area">
							<!-- 기존소스
                            <div class="info-chart">
                                <div class="chartWrap">
                                    <div stop-watch-d3-circular-progress max="180" start="true" size="180" options="{type:'seconds'}" on-stop="contents.stopProgress()" class="progress-indicator"></div>
                                </div>
                            </div>
                            <div class="info-txt">
                                <p class="txt"><span class="ico ico-timer"></span>생성중</p>
                            </div> -->
							<div class="info-chart">
								<div class="chartWrap">
									<ion-spinner icon="lines" class="spinner-calm spinner spinner-lines">
										<svg viewBox="0 0 64 64">
											<g stroke-width="7" stroke-linecap="round">
												<line x1="10" x2="10" y2="48" y1="16">
													<animate attributeName="y1" dur="750ms" values="16;18;28;18;16;16" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="48;46;36;44;48;48" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values="1;.4;.5;.8;1;1" repeatCount="indefinite"></animate>
												</line>
												<line x1="24" x2="24" y2="45.2501" y1="17.3749">
													<animate attributeName="y1" dur="750ms" values="16;16;18;28;18;16" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="48;48;46;36;44;48" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values="1;1;.4;.5;.8;1" repeatCount="indefinite"></animate>
												</line>
												<line x1="38" x2="38" y2="38.5002" y1="24.8747">
													<animate attributeName="y1" dur="750ms" values="18;16;16;18;28;18" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="44;48;48;46;36;44" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values=".8;1;1;.4;.5;.8" repeatCount="indefinite"></animate>
												</line>
												<line x1="52" x2="52" y2="42.8747" y1="21.1253">
													<animate attributeName="y1" dur="750ms" values="28;18;16;16;18;28" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="36;44;48;48;46;36" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values=".5;.8;1;1;.4;.5" repeatCount="indefinite"></animate>
												</line>
											</g>
										</svg>
									</ion-spinner>
								</div>
							</div>
							<div class="info-txt">
								<div class="sec_txt"><span>{{instance.vmStateSec}}</span>초</div>
								<p class="txt"><span class="ico ico-timer"></span>생성중입니다.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //panel -->
		</li>
		<!-- <li>
			<button type="button" name="button" class="btn btn-panel-add" data-user="aside" data-username="#aside-aside1" style="height:390px;" ng-click="contents.formOpen()"><span class="ico"></span><span class="txt">인스턴스 추가</span></button>
		</li> -->
	</ul>
	<!-- //panel area-->
