<div class="board-warp board-write-wrap">
	<table class="table">
		<colgroup>
			<col style="width: 35%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">서버 이름(변경 전)</th>
				<td><input type="text" name="" value="" class="form-control form-control-sm" placeholder="{{pop.instance.name}}" disabled></td>
			</tr>
			<tr>
				<th scope="row">서버 이름(변경 후)</th>
				<td><input type="text" name="changeName" class="form-control form-control-sm" ng-model="pop.newInstanceName" value="" maxlength="50" ng-keypress="pop.fn.inputEnter($event)" placeholder="이름을 입력해 주세요." validation="required|custom:pop.fn.serverNameCustomValidationCheck(pop.newInstanceName)"></td>
			</tr>
		</tbody>
	</table>
</div>