<div id="computeCreate" ng-controller="iaasComputeRestoreCtrl as pop">
	<div ng-show="pop.activeTabIndex == 1">
		<!-- aside aside1 title -->
		<div class="sideTitWrap">
			<h2 class="c_tit">인스턴스 만들기</h2>
			<button type="button" name="closeBtn" class="btn btn-close" data-user="aside-close" ng-click="main.thisAsideClose($event)"><span class="ico">닫기</span></button>
		</div>
		<!-- //aside aside1 title -->
		
		<!-- aside aside1 cnt -->
		<form name="{{pop.formName}}" novalidate>
			<div class="sideCntWrap">
				<!-- aside step -->
				<div class="sideStepWrap">
					<ul>
						<li class="pull-left on"><em>step 01</em><span>APP환경설정</span></li>
						<li class="pull-right"><em>step 02</em><span>인스턴스 설정</span></li>
					</ul>
				</div>
				<!-- //aside step -->
			
				<!-- sideInWrap -->
				<div class="sideInWrap">
					<ol class="app-set">
						<li>
							<p class="app-tit">원본 인스턴스 이름</p>
							<input type="text" class="form-control" ng-model="pop.data.image.instanceName" disabled>
						</li>
						<li>
							<p class="app-tit">백업 이미지 생성 시간</p>
							<input type="text" class="form-control" ng-model="pop.data.image.snapCreateDate" disabled>
						</li>
						<li>
							<p class="app-tit">작업 그룹</p>
							<input type="text" class="form-control" ng-model="pop.data.tenantName" disabled>
						</li>
						<li>
							<p class="app-tit">OS 이미지</p>
							<input type="text" class="form-control" ng-model="pop.data.image.name" disabled>
						</li>
						<li>
							<p class="app-tit">이름 입력</p>
							<input type="text" class="form-control" name="serverName" ng-model="pop.data.name" maxlength="50" placeholder="이름을 입력해 주세요." validation="alpha_dash|required">
						</li>
						<li>
							<p class="app-tit">보안그룹 선택</p>
							<div class="dropdown instSelWrap2">
								<button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true" >
									<span ng-if="pop.roles.length > 0">{{ pop.roles | join:', ':'name' }}</span>
									<span class="fontW400" ng-if="pop.roles.length == 0">선택</span>
									<span class="ico"></span>
								</button>
								<div class="dropdown-menu dropdown-menu-hold instBox2">
									<ul>
										<li ng-repeat="policy in pop.securityPolicyList">
											<div>
												<p>
													<input type="checkbox" id="{{policy.id}}" ng-click="pop.fn.changeSecurityPolicy()" checklist-model="pop.roles" checklist-value="policy">
													<label for="{{policy.id}}" class="fontW400">{{policy.name}}</label>
												</p>
												{{policy.description | splitStr : '\n' : 0}}
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<p class="app-tit">키페어 선택 (필수)</p>
							<div class="input-group">
								<select name="keypairValue"
										class="form-control"
										ng-model="pop.keypairValue"
										ng-change="pop.fn.changeKeypair()"
										ng-options="keypair as keypair.name for keypair in pop.keypairList track by keypair.name"
										validation="required">
	                            	<option value="">선택</option>
	                            </select>
								<div class="input-group-btn">
									<button type="button" name="button" class="btn btn-color1" style="width:90px;" ng-click="pop.fn.createKeypair()">키페어 추가</button>
								</div>
							</div>
						</li>
					</ol>
				</div>
				<!-- //sideInWrap -->
			</div>
		</form>
		<!-- //aside aside1 cnt -->
		
		<!-- aside btm -->
		<div class="sideBtmWrap">
			<button type="button" name="nextStpeBtn" class="btn" data-user="aside" data-username="#aside-aside2" ng-click="pop.nextStep()">다음단계</button>
		</div>
		<!-- //aside btm -->
	</div>
	<div ng-show="pop.activeTabIndex == 2">
			<!-- aside title -->
			<div class="sideTitWrap">
				<h2 class="c_tit">인스턴스 만들기</h2>
				<button type="button" name="button" class="btn btn-close" data-user="aside-close" ng-click="main.thisAsideClose($event)"><span class="ico">닫기</span></button>
			</div>
			<!-- //aside title -->
	
			<!-- aside cnt -->
			<form name="{{pop.formName2}}" novalidate>
				<div class="sideCntWrap">
					<!-- aside step -->
					<div class="sideStepWrap">
						<ul>
							<li class="pull-left"><em>step 01</em><span>APP환경설정</span></li>
							<li class="pull-right on"><em>step 02</em><span>인스턴스 설정</span></li>
						</ul>
					</div>
					<!-- //aside step -->
		
					<!-- sideInWrap -->
					<div class="sideInWrap">
						<ol class="app-set">
							<!--<li>-->
								<!--<p class="app-tit">초기화스크립트 선택</p>-->
								<!--<select class="form-control" ng-disabled="!pop.initCheck" ng-model="pop.initScriptValue" ng-change="pop.fn.changeInitScript()" style="float:left; width:235px;">-->
									<!--<option value="" ng-if="pop.initScriptList.length > 0">선택</option>-->
<!--+									<option value="" ng-if="pop.initScriptList.length == 0">초기화 스크립트가 존재하지 않습니다.</option>-->
									<!--<option ng-repeat="initScript in pop.initScriptList" value="{{initScript}}">-->
										<!--{{initScript.name}}-->
									<!--</option>-->
								<!--</select>-->
								<!--<div class="checkbox checkbox-inline" style="margin:6px 0px 0px 10px;">-->
									<!--<input type="checkbox" id="initCheck" ng-init="pop.initCheck = false"  ng-model="pop.initCheck" ng-click="pop.fn.initScriptSet()">-->
									<!--<label for="initCheck" class="label"><span style="margin-left:5px;">사용</span></label>-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-show="pop.initCheck">-->
								<!--<textarea ng-model="pop.data.initScript.script" style="height:80px;" disabled></textarea>-->
							<!--</li>-->
							<li>
								<p class="app-tit">인스턴스 사양 선택</p>
								<select name="pop.specValue"
										class="form-control"
										ng-model="pop.specValue"
										ng-change="pop.fn.selectSpec();"
										ng-options="spec as spec.title for spec in pop.specList track by spec.name"
										validation="required">
									<option value="">선택</option>
								</select>
								<ul class="app-reso" style="margin-top: 10px;">
									<li><span>{{pop.data.spec.vcpus}}<em>Core</em></span><strong>Total<br>vCPU</strong></li>
									<li><span>{{pop.data.spec.ram/1024|number}}<em>G</em></span><strong>Total<br>vMemory</strong></li>
									<li><span>{{pop.data.spec.disk}}<em>G</em></span><strong>Total<br>Disk</strong></li>
								</ul>
						</ol>
					</div>
					<!-- //sideInWrap -->
				</div>
			</form>
			<!-- //aside cnt -->
	
			<!-- aside btm -->
			<div class="sideBtmWrap">
				<button type="button" name="preBtn" class="btn" data-user="aside" data-username="#aside-aside1" ng-click="pop.preStep();" style="width:49.5%">이전단계</button>
				<button type="button" name="saveBtn" class="btn" data-user="aside" data-username="#aside-aside2" ng-click="pop.fn.createServer();" style="width:49.5%">인스턴스 생성</button>
			</div>
			<!-- //aside btm -->
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".aside .instSelWrap .btn").on("click", function(){
			$(this).next(".instBox").slideToggle();
		});
		
		$(window).on("resize", function(){
			//scroll
			if($(".scroll-pane").length > 0){
				setTimeout(function() {
					var scrollPane = $('.scroll-pane').jScrollPane({});
				}, 1000); //시간 200 이하로 수정하지 마세요. 왼쪽 확장영역과 관련 있어요.

			}
		}).trigger("resize");
		
		$('.dropdown-menu-hold').click(function (e) { e.stopPropagation(); });
	});
</script>