<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 30%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">서버 이름(변경 전)</th>
				<td><input type="text" name="" value="" class="form-control" placeholder="{{pop.instance.name}}" disabled></td>
			</tr>
			<tr>
				<th scope="row">서버 이름(변경 후)</th>
				<td><input type="text" name="changeName" class="form-control" ng-model="pop.newInstanceName" value="" maxlength="50" placeholder="이름을 입력해 주세요." validation="alpha_dash|required|custom:pop.fn.serverNameCustomValidationCheck(pop.newInstanceName)"></td>
			</tr>
		</tbody>
	</table>
</div>