	<!-- 작업 추가 및 선택 -->
	<div ng-if="main.projectType == 'pjt'" class="projt-selWarp">
		<div class="pull-left" ng-include="main.portalOrgDropdownTempeUrl"></div>
		<div class="pull-right">
			<button type="button" name="button" class="btn only-ico ico-refresh" tooltip-placement="bottom" uib-tooltip="새로고침" ng-click="main.replacePage();"><span class="ico">새로고침</span></button>
		</div>
	</div>
	<!-- //작업 추가 및 선택 -->
	
	<!-- 프로젝트 정보 -->
	<div class="cBox type0 projt-mana">
		<div class="pull-left">
			<h4 class="c-tit">전체 서버 <em class="point1">({{(contents.serverMainList | filter:{ taskState : '!deleting'}).length}})</em></h4>
		</div>
		<div class="pull-right">
			<!-- 검색 -->
			<div class="searchBox type2">
				<div class="form-group">
					<input type="text" placeholder="서버 검색" style="width:300px;" ng-model="contents.schFilterText">
				</div>
				<button type="button" name="button" class="btn btn-sch" title="지우기" ng-click="contents.schFilterText = ''"><span class="ico">지우기</span></button>
			</div>
			<!-- //검색 -->
		</div>
	</div>
	<!-- //프로젝트 정보 -->
	
	<!-- 버튼영역 -->
	<div class="btnWrap">
		<button type="button" class="btn_lg" ng-click="main.goToPage('/iaas/compute/create')">
			<span class="ico ico_create" ></span>서버 만들기
		</button>
		<button type="button" class="btn_lg" ng-click="main.goToPage('/iaas/compute/copy')">
			<span class="ico ico_copy"></span>다른서버 복사하기
		</button>
	</div>
	<!-- //버튼영역 -->


	<!-- panel area-->
	<!-- <ul ng-if="main.contentsViewType == 'thum'" class="ul-panel thum_style"> -->
	<ul ng-if="(contents.serverMainList | filter:{ name: contents.schFilterText, taskState : '!deleting' }).length > 0" class="ul-panel thum_style">
		<li ng-repeat="(key, instance) in contents.serverMainList | filter:{ name: contents.schFilterText, taskState : '!deleting' }">
			<!-- panel -->
			<div class="panelWrap">
				<div class="panel type5" ng-class="{'new-create' : instance.newCreated}">
					<div class="panel_head">
						<div class="logo" ng-if="instance.procState != 'end'" >
							<img ng-if="instance.image.icon" ng-src="data:{{ instance.image.contentType }}; base64, {{ instance.image.icon }}" >
							<img ng-if="!instance.image.icon" src="images/thum/im_logo_compute.png" >
						</div>
						<div class="logo" ng-if="instance.procState == 'end'" >
							<img ng-if="instance.image.icon" ng-src="data:{{ instance.image.contentType }}; base64, {{ instance.image.icon }}" ng-click="main.goToPage('/iaas/compute/detail/'+instance.id)" >
							<img ng-if="!instance.image.icon" src="images/thum/im_logo_compute.png" class="" alt="" ng-click="main.goToPage('/iaas/compute/detail/'+instance.id)" >
						</div>
						<p class="tit" ng-if="instance.procState != 'end'" >{{instance.name}}</p>
						<p class="tit" ng-if="instance.procState == 'end'" ng-click="main.goToPage('/iaas/compute/detail/'+instance.id)" >{{instance.name}}</p>
						<!-- <p class="txt" ng-click="main.goToPage('/iaas/compute/detail/'+instance.id)" >{{instance.image.serviceName}}</p> -->
						<!-- 접속정보 -->
						<div ng-if="instance.procState == 'end'" class="tg_box_area btn-option type2">
							<button type="button" class="btn_txt" ng-click="contents.showInfo(instance);">접속정보</button>
							<div class="tg_box" ng-show="instance.showVal">
								<div class="tgb_head">
									<p class="tit">접속 정보</p>
									<button class="close_sm" ng-click="contents.showInfo(instance);">닫기</button>
								</div>
								<!-- ubuntu  -->
								<div ng-if="instance.image.osType == 'ubuntu' || instance.image.osType == 'centos'" class="tgb_body">
									<ul>
										<li><strong><span class="tb_tit">접속 프로토콜 :</span></strong><span class="tb_txt">SSH</span></li>
										<li><strong><span class="tb_tit">접속 IP :</span></strong><span class="tb_txt">{{instance.floatingIp}}</span></li>
										<li><strong><span class="tb_tit">접속 계정 :</span></strong><span class="tb_txt">{{instance.image.osType}}</span></li>
										<li><strong><span class="tb_tit">접속 인증 키(KEY) :</span></strong><span class="tb_txt">{{instance.keypair.name}}</span><button type="button" tooltip-placement="top" uib-tooltip-html="'파일 다운로드'" ng-click="contents.fn.getKeyFile(instance.keypair,'privateKey')"><span class="ico_sm ico_file_dw">파일다운로드</span></button></li>
									</ul>
									<div class="guide_link"><a href="" ng-click="main.showRightSliderContents();">접속방법 가이드</a></div>
								</div>
								<!-- windows  -->
								<div ng-if="instance.image.osType == 'windows'" class="tgb_body">
									<ul>
										<li><strong><span class="tb_tit">접속 프로토콜 :</span></strong><span class="tb_txt">RDP</span></li>
										<li>
											<strong><span class="tb_tit">접속 도메인</span></strong><button type="button" tooltip-placement="top" uib-tooltip-html="'복사하기'" ng-click="contents.fn.copyToRdpConnectUrl(instance)"><span class="ico_sm ico_copy">복사</span></button>
											<a class="domain_txt" tooltip-placement="top" uib-tooltip-html="'{{ (instance.rdpConnectDomain) ? instance.rdpConnectDomain + ':' + contents.rdpConnectPort : '' }}'">{{ (instance.rdpConnectDomain) ? instance.rdpConnectDomain + ':' + contents.rdpConnectPort : '' }}</a>
										</li>
										<li><strong><span class="tb_tit">접속 계정 :</span></strong><span class="tb_txt">Administrator</span></li>
										<li><strong><span class="tb_tit">접속 비밀번호 :</span></strong><span class="tb_txt">(사용자 정의)</span></li>
									</ul>
									<div class="guide_link"><a href="" ng-click="main.showRightSliderContents('/guideInfo/accessGuideInfo01.html');">접속방법 가이드</a></div>
								</div>
							</div>
						</div>
						<!-- //접속정보 -->
						<div ng-if="instance.procState == 'end'" class="dropdown btn-option">
							<button type="button" class="btn only-ico ico-dot_h" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
								<span class="ico">실행 설정</span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
								<li ng-if="instance.vmState == 'stopped'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('START',instance,$index);" title="시작">시작</a></li>
								<li ng-if="instance.vmState != 'stopped'"><a href="javascript:void(0);" class="disabled" title="시작">시작</a></li>
								<li ng-if="instance.vmState == 'active'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('REBOOT',instance,$index);" title="재시작">재시작</a></li>
								<li ng-if="instance.vmState != 'active'"><a href="javascript:void(0);" class="disabled" title="재시작">재시작</a></li>
								<li ng-if="instance.vmState == 'active'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('STOP',instance,$index);" title="정지">정지</a></li>
								<li ng-if="instance.vmState != 'active'"><a href="javascript:void(0);" class="disabled" title="정지">정지</a></li>
								<li ng-if="instance.vmState == 'stopped'"><a href="javascript:void(0);" ng-click="contents.computePopEditServerForm(instance,$event);" title="서버 사양 변경">서버 사양 변경</a></li>
								<li ng-if="instance.vmState != 'stopped'"><a href="javascript:void(0);" class="disabled" title="서버 사양 변경">서버 사양 변경</a></li>
								<li ng-if="instance.vmState == 'stopped'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('SNAPSHOT',instance,$index, $event);" title="백업 이미지 생성">백업 이미지 생성</a></li>
								<li ng-if="instance.vmState != 'stopped'"><a href="javascript:void(0);" class="disabled" title="백업 이미지 생성">백업 이미지 생성</a></li>
								<li><a href="javascript:void(0);" ng-click="contents.fn.createInstanceVolumePop($event,instance);" title="디스크 연결">디스크 연결</a></li>
								<li><a href="javascript:void(0);" ng-click="contents.fn.getKeyFile(instance.keypair,'privateKey')" title="키페어 다운로드">키페어 다운로드</a></li>
								<li><a href="javascript:void(0);" ng-click="contents.deleteInstanceJob(instance.id);" title="서버 삭제">서버 삭제</a></li>
								<!--<li ng-if="instance.vmState == 'active'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('PAUSE',instance,$index)">일시정지</a></li>-->
								<!--<li ng-if="instance.vmState == 'paused'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('UNPAUSE',instance,$index)">정지해제</a></li>-->
								<!-- <li ng-if="instance.vmState == 'stopped'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('SNAPSHOT',instance,$index);">이미지 백업이미지</a></li> -->
								<!--<li ng-if="instance.floatingIp == ''"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('IPCONNECT',instance,$index);">접속IP설정</a></li>-->
								<!--<li ng-if="instance.floatingIp != ''"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('IPDISCONNECT',instance,$index);">접속IP해제</a></li>-->
							</ul>
						</div>
					</div>
					<div class="panel_body">
						<div ng-if="instance.procState == 'end'" ng-click="main.goToPage('/iaas/compute/detail/'+instance.id);" class="ul-in">
							<div class="up">
								<ul class="ul-prog">
									<li>
										<div class="progressWrap type1">
											<div class="progress">
												<div percent-progress-bar-animate bar-type="height" percent="{{instance.spec.vcpus / contents.tenantResource.maxResource.cores * 100 | number: 0}}" class="progress">
													<div class="progress-bar color-type3" role='progressbar' tooltip-placement="top" uib-tooltip="{{instance.spec.vcpus / contents.tenantResource.maxResource.cores * 100 | number: 0}}%"></div>
												</div>
											</div>
										</div>
										<span class="percent_txt">{{instance.spec.vcpus / contents.tenantResource.maxResource.cores * 100 | number: 0}}<span>%</span></span>
										<strong class="tit mt10">CPU</strong>
										<span class="flavor_info">{{instance.spec.vcpus}} 개</span>
									</li>
									<li>
										<div class="progressWrap type1">
											<div class="progress">
												<div percent-progress-bar-animate bar-type="height" percent="{{instance.spec.ram / contents.tenantResource.maxResource.ramSize * 100 | number: 0}}" class="progress">
													<div class="progress-bar color-type2" role='progressbar' tooltip-placement="top" uib-tooltip="{{instance.spec.ram / contents.tenantResource.maxResource.ramSize * 100 | number: 0}}%"></div>
												</div>
											</div>
										</div>
										<span class="percent_txt">{{instance.spec.ram / contents.tenantResource.maxResource.ramSize * 100 | number: 0}}<span>%</span></span>
										<strong class="tit mt10">Memory</strong>
										<span class="flavor_info">{{(instance.spec.ram/1024|number:1).replace('.0', '')}} GB</span>
									</li>
									<li>
										<div class="progressWrap type1">
											<div class="progress">
												<div percent-progress-bar-animate bar-type="height" percent="{{instance.spec.disk / contents.tenantResource.maxResource.instanceDiskGigabytes * 100 | number : 0}}" class="progress">
													<div class="progress-bar" role="progressbar" tooltip-placement="top" uib-tooltip="{{instance.spec.disk / contents.tenantResource.maxResource.instanceDiskGigabytes * 100 | number : 0}}%"></div>
												</div>
											</div>
										</div>
										<span class="percent_txt">{{instance.spec.disk / contents.tenantResource.maxResource.instanceDiskGigabytes * 100 | number : 0}}<span>%</span></span>
										<strong class="tit mt10">Disk</strong>
										<span class="flavor_info">{{instance.spec.disk}} GB</span>
									</li>
								</ul>
							</div>
							<div class="down">
								<span class="stateWrap">
									<span ng-if="instance.vmState == 'active'" class="stateMark type1">정상배포</span>
									<span ng-if="instance.vmState == 'error'" class="stateMark type2">오류</span>
									<span ng-if="instance.vmState == 'paused' || instance.vmState == 'resized' || instance.vmState == 'building'" class="stateMark type4">대기</span>
									<span ng-if="instance.vmState == 'stopped'" class="stateMark type3">중지</span>
									<span class="state-txt">{{instance.vmState | iaasVmState}}</span>
								</span>
							</div>
						</div>
						<div ng-if="instance.procState == 'creating'" class="ul-in">
							<div class="pnb_progress_wrap">
								<div class="progress_box">
									<span class="bar_bg"></span>
									<ul>
										<li ng-class="{'creating' : (instance.uiTask == 'creating'), 'complete' : (instance.uiTask != 'creating')}">
											<div class="state_box">
												<span class="state_ico"><span>1</span></span>
											</div>
											<div class="state_txt"><span>서버 생성</span></div>
										</li>
										<li ng-class="{'standby' : (instance.uiTask == 'creating'), 'creating' : (instance.uiTask == 'networking'), 'complete' : (instance.uiTask == 'block_device_mapping' || instance.uiTask == 'created_complete')}">
											<div class="state_box">
												<span class="state_ico"><span>2</span></span>
											</div>
											<div class="state_txt"><span>네트워크 연결</span></div>
										</li>
										<li ng-if="instance.uiTaskType == 'v'" ng-class="{'standby' : (instance.uiTask == 'creating' || instance.uiTask == 'networking'), 'creating' : (instance.uiTask == 'block_device_mapping'), 'complete' : (instance.uiTask == 'created_complete') }">
											<div class="state_box">
												<span class="state_ico"><span>3</span></span>
											</div>
											<div class="state_txt"><span>디스크 구성</span></div>
										</li>
									</ul>
									<div class="progress_txt">
										<p>{{'iaas.label.instance_ui_' + instance.uiTask | translate}}</p>
										<span>{{instance.creatingTimmer}}초</span>
									</div>
								</div>
							</div>
						</div>
						<div ng-if="instance.procState == 'ing'" class="ul-in2 spinner_area">
							<div class="info-chart">
								<div class="chartWrap">
									<ion-spinner icon="lines" class="spinner-calm spinner spinner-lines">
										<svg viewBox="0 0 64 64">
											<g stroke-width="7" stroke-linecap="round">
												<line x1="10" x2="10" y2="48" y1="16">
													<animate attributeName="y1" dur="750ms" values="16;18;28;18;16;16" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="48;46;36;44;48;48" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values="1;.4;.5;.8;1;1" repeatCount="indefinite"></animate>
												</line>
												<line x1="24" x2="24" y2="45.2501" y1="17.3749">
													<animate attributeName="y1" dur="750ms" values="16;16;18;28;18;16" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="48;48;46;36;44;48" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values="1;1;.4;.5;.8;1" repeatCount="indefinite"></animate>
												</line>
												<line x1="38" x2="38" y2="38.5002" y1="24.8747">
													<animate attributeName="y1" dur="750ms" values="18;16;16;18;28;18" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="44;48;48;46;36;44" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values=".8;1;1;.4;.5;.8" repeatCount="indefinite"></animate>
												</line>
												<line x1="52" x2="52" y2="42.8747" y1="21.1253">
													<animate attributeName="y1" dur="750ms" values="28;18;16;16;18;28" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="36;44;48;48;46;36" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values=".5;.8;1;1;.4;.5" repeatCount="indefinite"></animate>
												</line>
											</g>
										</svg>
									</ion-spinner>
								</div>
							</div>
							<div class="info-txt">
								<!--<div class="sec_txt"><span>{{instance.vmStateSec}}</span>초</div>-->
								<p class="txt"><span class="ico ico-timer"></span>{{'iaas.label.instance_' + instance.vmState | translate}} 입니다.</p>
							</div>
						</div>
					</div>
<!--
					<div class="panel_body" ng-if="instance.vmState == 'building'">
						<div class="ul-in2 spinner_area">
							<div class="info-chart">
								<div class="chartWrap">
									<ion-spinner icon="lines" class="spinner-calm spinner spinner-lines">
										<svg viewBox="0 0 64 64">
											<g stroke-width="7" stroke-linecap="round">
												<line x1="10" x2="10" y2="48" y1="16">
													<animate attributeName="y1" dur="750ms" values="16;18;28;18;16;16" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="48;46;36;44;48;48" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values="1;.4;.5;.8;1;1" repeatCount="indefinite"></animate>
												</line>
												<line x1="24" x2="24" y2="45.2501" y1="17.3749">
													<animate attributeName="y1" dur="750ms" values="16;16;18;28;18;16" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="48;48;46;36;44;48" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values="1;1;.4;.5;.8;1" repeatCount="indefinite"></animate>
												</line>
												<line x1="38" x2="38" y2="38.5002" y1="24.8747">
													<animate attributeName="y1" dur="750ms" values="18;16;16;18;28;18" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="44;48;48;46;36;44" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values=".8;1;1;.4;.5;.8" repeatCount="indefinite"></animate>
												</line>
												<line x1="52" x2="52" y2="42.8747" y1="21.1253">
													<animate attributeName="y1" dur="750ms" values="28;18;16;16;18;28" repeatCount="indefinite"></animate>
													<animate attributeName="y2" dur="750ms" values="36;44;48;48;46;36" repeatCount="indefinite"></animate>
													<animate attributeName="stroke-opacity" dur="750ms" values=".5;.8;1;1;.4;.5" repeatCount="indefinite"></animate>
												</line>
											</g>
										</svg>
									</ion-spinner>
								</div>
							</div>
							<div class="info-txt">
								<div class="sec_txt"><span>{{instance.vmStateSec}}</span>초</div>
								<p class="txt"><span class="ico ico-timer"></span>생성중입니다.</p>
							</div>
						</div>
					</div>
-->
				</div>
			</div>
			<!-- //panel -->
		</li>
		<!-- <li>
			<button type="button" name="button" class="btn btn-panel-add" data-user="aside" data-username="#aside-aside1" style="height:390px;" ng-click="contents.formOpen()"><span class="ico"></span><span class="txt">인스턴스 추가</span></button>
		</li> -->
	</ul>
	<!-- //panel area-->
	<div ng-if="!contents.pageFirstLoad && (contents.serverMainList | filter:{ name: contents.schFilterText, taskState : '!deleting' }).length == 0" class="welcome_layer">
		<div class="guide_fnt arrw_btm">신규 가상서버를 만듭니다.</div>
		<div class="guide_fnt arrw_top">다른 프로젝트의 백업 이미지로부터 신규 가상서버를 만듭니다.</div>
		<div class="guide_cnt">
			서버가상화 서비스에서는 <span class="fnt20"><span class="color1">리눅스(Linux)</span> 또는 <span class="color1">윈도우(Windows)</span>를 실행하는 <span class="color1">가상 서버</span></span>를 만듭니다. <br>
			사용자 스스로가 쉽고 빠르게 필요한 서버를 만들고 활용할 수 있습니다. <br>
			<span class="fnt20"><spna class="color1">‘서버 만들기’</spna></span>를 통해 서비스를 시작해 보세요.
		</div>
	</div>
