	<!-- cBox -->
	<div class="cBox type1 appCnt-info">
		<div class="cBox-hd">
			<div class="logo">
				<img src="images/thum/{{contents.instance.image.iconFileName}}.png" alt="">
			</div>
			<h4 class="c-tit">{{contents.instance.name}}</h4>
			<div class="pull-right">
				<button type="button" name="button" class="btn only-ico ico-start" title="시작" ng-if="contents.instance.vmState == 'stopped'" ng-click="contents.fnServerConfirm('START',contents.instance);"><span class="ico">시작</span></button>
				<button type="button" name="button" class="btn only-ico ico-pause" title="중지" ng-if="contents.instance.vmState == 'active'" ng-click="contents.fnServerConfirm('STOP',contents.instance);"><span class="ico">중지</span></button>
				<button type="button" name="button" class="btn only-ico ico-refresh" title="새로고침" ng-click="main.replacePage();"><span class="ico">새로고침</span></button>
				<div class="dropdown btn-option">
					<button id="btn-option" type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
						<span class="ico">실행 설정</span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
						<li ng-if="contents.instance.vmState != 'active'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('START',contents.instance);">시작</a></li>
						<li ng-if="contents.instance.vmState != 'stopped'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('STOP',contents.instance);">중지</a></li>
						<li ng-if="contents.instance.vmState == 'active'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('REBOOT',contents.instance);">재시작</a></li>
						<li ng-if="contents.instance.vmState == 'active'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('PAUSE',contents.instance)">일시정지</a></li>
						<li ng-if="contents.instance.vmState == 'paused'"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('UNPAUSE',contents.instance)">정지해제</a></li>
						<li><a href="javascript:void(0);" ng-click="contents.computeEditFormOpen();">인스턴스수정</a></li>
						<li><a href="javascript:void(0);" ng-click="contents.deleteInstanceJob(contents.instance);">삭제</a></li>
						<li ng-if="contents.instance.vmState == 'stopped'"><a href="javascript:void(0);" ng-click="contents.fn.createSnapshot($event,contents.instance);">이미지 스냅샷</a></li>
						<li><a href="javascript:void(0);" ng-click="contents.fn.createInstanceVolumePop();">볼륨연결</a></li>
						<li ng-if="contents.instance.floatingIp == ''"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('IPCONNECT',contents.instance);">접속IP설정</a></li>
						<li ng-if="contents.instance.floatingIp != ''"><a href="javascript:void(0);" ng-click="contents.fnServerConfirm('IPDISCONNECT',contents.instance);">접속IP해제</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="cBox-cnt">
			<div class="in">
				<!-- app 정보 -->
				<div class="col info-txt useChart" style="padding-top: 30px;">
					<ul>
						<li>
							<strong class="tit">인스턴스 이름</strong>
							<div class="txt">{{contents.instance.name}}</div>
						</li>
						<li>
							<strong class="tit">OS 이미지</strong>
							<div class="txt">{{contents.instance.image.serviceName}}</div>
						</li>
						<li>
							<strong class="tit">IP 주소</strong>
							<div class="txt">{{contents.instance.fixedIp}}</div>
						</li>
						<li>
							<strong class="tit">키페어</strong>
							<div class="txt">{{contents.instance.keyPair.name}}</div>
						</li>
						<li>
							<strong class="tit">보안그룹</strong>
							<div class="txt">
								<span ng-repeat="securityPolicy in contents.instance.securityPolicys" ng-if="$index == 0">{{securityPolicy.name}}</span><span ng-repeat="securityPolicy in contents.instance.securityPolicys" ng-if="$index != 0">, {{securityPolicy.name}}</span>
							</div>
						</li>
						<li>
							<strong class="tit">접속 IP 주소</strong>
							<div class="txt">{{contents.instance.floatingIp}}</div>
						</li>
						<li>
							<strong class="tit">접속 URL</strong>
							<div class="txt">
								<p ng-repeat="dnsRouter in contents.dnsRouterList">
									<a ng-href="http://{{dnsRouter.subDomain}}.{{dnsRouter.baseDomain}}" target="_blank">http://{{dnsRouter.subDomain}}.{{dnsRouter.baseDomain}}</a>
								</p>
							</div>
						</li>
						<li>
							<strong class="tit">생성일</strong>
							<div class="txt">{{contents.instance.created | date : 'yyyy-MM-dd HH:mm:ss'}}</div>
						</li>
						<li>
							<strong class="tit">상태</strong>
							<div class="txt">
								<span class="stateWrap">
									<span ng-if="contents.instance.vmState == 'active'" class="stateMark type1"></span>
									<span ng-if="contents.instance.vmState == 'error'" class="stateMark type2"></span>
									<span ng-if="contents.instance.vmState == 'paused' || contents.instance.vmState == 'resized'" class="stateMark type4"></span>
									<span ng-if="contents.instance.vmState == 'stopped'" class="stateMark type3"></span>
									<span class="state-txt">{{contents.instance.vmState | iaasVmState}}</span>
								</span>
							</div>
						</li>
					</ul>
				</div>
				<!-- //app 정보 -->
				
				<!-- app 챠트 정보 -->
				<div class="col info-chart type3">
					<div class="chartWrap" style="height:270px;width:180px;"><!-- 인라인 border를 속성과 내용을 지우고 챠트를 삽입하세요. -->
						<p class="chrt-tit">vCPU</p>
						<p style="margin-top: -15px;margin-bottom: 20px;font-size: 18px;">({{contents.instance.spec.vcpus}} 개 / {{contents.tenantResource.maxResource.cores | number: 0}} 개)</p>
						<canvas id="doughnutCpu" class="chart chart-doughnut chart-xs" height="180" width="180"
							chart-data="contents.doughnut.data.cpu"
							chart-labels="contents.doughnut.labels"
							chart-colors="contents.doughnut.colors.cpu"
							chart-options="contents.doughnut.options"></canvas>
						<div class="doughnut-label-box">
							<ul>
								<li><span>{{contents.instance.spec.vcpus / contents.tenantResource.maxResource.cores * 100 | number: 0}}</span><span>%</span></li>
								<li><span>{{'label.usage' | translate}}</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- //app 챠트 정보 -->

				<!-- app 챠트 정보 -->
				<div class="col info-chart type1">
					<div class="chartWrap" style="height:270px;width:180px;"><!-- 인라인 border를 속성과 내용을 지우고 챠트를 삽입하세요. -->
						<p class="chrt-tit">메모리</p>
						<p style="margin-top: -15px;margin-bottom: 20px;font-size: 18px;">({{(contents.instance.spec.ram/1024|number:1).replace('.0', '')}} GB / {{(contents.tenantResource.maxResource.ramSize/1024|number:1).replace('.0', '') + ' GB'}})</p>
						<canvas id="doughnutRam" class="chart chart-doughnut chart-xs" height="180" width="180"
							chart-data="contents.doughnut.data.ram"
							chart-labels="contents.doughnut.labels"
							chart-colors="contents.doughnut.colors.ram"
							chart-options="contents.doughnut.options"></canvas>
						<div class="doughnut-label-box">
							<ul>
								<li><span>{{contents.instance.spec.ram / contents.tenantResource.maxResource.ramSize * 100 | number: 0}}</span><span>%</span></li>
								<li><span>{{'label.usage' | translate}}</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- //app 챠트 정보 -->

				<!-- app 챠트 정보 -->
				<div class="col info-chart type2">
					<div class="chartWrap" style="height:270px;width:180px;"><!-- 인라인 border를 속성과 내용을 지우고 챠트를 삽입하세요. -->
						<p class="chrt-tit">디스크</p>
						<p style="margin-top: -15px;margin-bottom: 20px;font-size: 18px;">({{contents.instance.spec.disk}} GB / {{contents.tenantResource.maxResource.instanceDiskGigabytes | number: 0}} GB)</p>
						<canvas id="doughnutDisk" class="chart chart-doughnut chart-xs" height="180" width="180"
							chart-data="contents.doughnut.data.disk"
							chart-labels="contents.doughnut.labels"
							chart-colors="contents.doughnut.colors.disk"
							chart-options="contents.doughnut.options"></canvas>
						<div class="doughnut-label-box">
							<ul>
								<li><span>{{contents.instance.spec.disk / contents.tenantResource.maxResource.instanceDiskGigabytes * 100 | number : 0}}</span><span>%</span></li>
								<li><span>{{'label.usage' | translate}}</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- //app 챠트 정보 -->
			</div>
		</div>
	</div>
	<!-- //cBox -->

	<!-- cBox -->
	<div class="cBox type2 appCnt-vol strgList">
		<div class="cBox-hd">
			<h4 class="c-tit">볼륨 연결 정보 <em class="point1">({{contents.instanceVolListLength}})</em></h4>
		</div>

		<div class="cBox-cnt">
			<div class="in scroll-pane" >
				<div style="width:1520px;">
					<ul class="ul-volume">
						<li ng-repeat="volume in contents.instanceVolList">
							<div style=" margin-left:90px;">
								{{volume.volumeName}}
							</div>
							<div class="in">
								<div class="progressWrap">
									<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
									  </div>
									</div>
									<p class="progress-txt">{{volume.size}}GB</p>
								</div>
								<div class="dropdown">
									<button type="button" class="txt2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
										<span class="ico">실행 설정</span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right" role="btn-volum" aria-labelledby="btn-volum">
										<li><a href="javascript:void(0);" ng-click="contents.fn.restorationConfirm(volume);">연결해제</a></li>
									</ul>
								</div>
							</div>
							<input type="hidden" ng-if="$last" ng-init="contents.scrollPane()">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //cBox -->
	
	<div role="tabpanel" class="tabWrap type1 mt50">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" style="border-bottom:0;">
			<li id="tab1-1" role="presentation" class="active"><a href="" aria-controls="tab-1" role="tab" data-toggle="tab" class="workTab" ng-click="contents.tabNgClick({$event : $event, tabId : 'tab-1'});">이벤트 로그</a></li>
			<li id="tab1-2" role="presentation"><a href="" aria-controls="tab-2" role="tab" data-toggle="tab" class="workTab" ng-click="contents.tabNgClick({$event : $event, tabId : 'tab-2'});">시스템 로그</a></li>
		</ul>
	
		<div class="tab-content">
			<div class="tabWrap type1">
				<ul role="tablist" class="tab-content">
					<li id="tab-1" class="tab-pane st_none in active">
						<!-- panel -->
						<div class="panelWrap">
							<div class="panel type2">
								<div class="panel_head">
									<div class="tit pull-left">이벤트 로그</div>
									<div class="pull-right">
										<button type="button" name="button" class="btn btn-ico-zoom only-ico" title="확대/축소" ng-click="contents.zoomPanel('eventLog')"><span class="ico">확대/축소</span></button>
									</div>
								</div>
								<div class="panel_body">
									<div class="in scroll-pane1">
										<div class="tbl type1">
											<table id="eventLog" class="table" style="width:1530px;">
												<colgroup>
													<col style="width:30%;">
													<col style="width:30%;">
													<col style="width:40%;">
												</colgroup>
												<thead>
													<tr>
														<th scope="col">사용자</th>
														<th scope="col">동작</th>
														<th scope="col">시간</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="actionLog in contents.instance.actionLogs">
														<td>{{actionLog.userName}}</td>
														<td>{{actionLog.action}}</td>
														<td>{{actionLog.time | date : "yyyy.MM.dd hh.mm a"}}</td>
														<input type="hidden" ng-if="$last" ng-init="contents.scrollPane()">
													</tr>
													<tr ng-if="contents.instance.actionLogs == null">
														<td colspan="3" class="center">{{ 'message.mi_dont_exist_list' | translate }}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //panel -->
					<li id="tab-2" class="tab-pane st_none">
						<!-- panel -->
						<div class="panelWrap">
							<div class="panel type2">
								<div class="panel_head">
									<div class="tit pull-left">시스템 로그</div>
									<div class="pull-right">
										<button type="button" name="button" class="btn btn-ico-zoom only-ico" title="확대/축소" ng-click="contents.zoomPanel('systemLog')"><span class="ico">확대/축소</span></button>
									</div>
								</div>
								<div class="panel_body">
									<div class="in scroll-pane2">
										<p id="systemLog" style="white-space:pre-line;word-break:break-all;width:1530px;">{{contents.instance.console}}</p>
									</div>
								</div>
							</div>
						</div>
						<!-- //panel -->
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- tb btm -->
	<div class="btn-btm">
		<button type="button" name="button" class="btn btn-color1 btn-md" ng-click="main.goToPage(main.moveParentUrl);">목록</button>
	</div>
	<!-- //tb btm -->
<script type="text/javascript">
	$(document).ready(function() {
		$(window).on("resize", function(){
			//scroll
			if($(".scroll-pane").length > 0){
				var scrollPane = $('.scroll-pane').jScrollPane({});
			}
		}).trigger("resize");
	});
</script>