<!-- cBox -->
<div class="cBox type1 appCnt-info">
	<div class="cBox-hd">
		<h4 class="c-tit"><img ng-if="contents.instance.image.icon" ng-src="data:{{ contents.instance.image.contentType }}; base64, {{ contents.instance.image.icon }}" class="logo" alt=""><img ng-if="!contents.instance.image.icon" src="images/thum/im_logo_compute.png" class="logo" alt="">{{contents.instance.name}}</h4>
		<div class="pull-right">
			<button type="button" name="button" class="btn only-ico ico-start" tooltip-placement="bottom" uib-tooltip="시작" ng-if="contents.instance.vmState == 'stopped'" ng-click="contents.fn.serverActionConfirm('START',contents.instance);"><span class="ico">시작</span></button>
			<button type="button" name="button" class="btn only-ico ico-pause" tooltip-placement="bottom" uib-tooltip="중지" ng-if="contents.instance.vmState == 'active'" ng-click="contents.fn.serverActionConfirm('STOP',contents.instance);"><span class="ico">중지</span></button>
			<button ng-if="main.projectType == 'pjt'" type="button" name="button" class="btn only-ico ico-refresh" tooltip-placement="bottom" uib-tooltip="새로고침" ng-click="main.replacePage();"><span class="ico">새로고침</span></button>
			<div class="dropdown btn-option">
				<button id="btn-option" type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
					<span class="ico">실행 설정</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
					<li ng-class="{'on_disablec' : deployServer.deployStatus != 'fail'}"><a href="" ng-click="contents.fn.serverActionConfirm('REBOOT',contents.instance);">재시작</a></li>
					<li ng-class="{'on_disablec' : deployServer.deployStatus != 'fail'}"><a href="" ng-click="contents.computePopEditServerForm($event);">서버 사양 변경</a></li>
					<li ng-class="{'on_disablec' : deployServer.deployStatus != 'fail'}"><a href="" ng-click="contents.fn.createPopSnapshot($event,contents.instance);">백업 이미지 생성</a></li>
					<li ng-class="{'on_disablec' : deployServer.deployStatus != 'fail'}"><a href="" ng-click="contents.fn.createInstanceVolumePop(contents.instance);">디스크 추가</a></li>
					<li><a href="javascript:void(0);" ng-click="">키페어 다운로드</a></li>
					<li><a href="javascript:void(0);" ng-click="contents.deleteInstanceJob(instance.id);">서버 삭제</a></li>
					<!--<li ng-class="{'on_disablec' : contents.instance.floatingIp == ''}"><a href="" ng-click="contents.fn.serverActionConfirm('IPCONNECT',contents.instance);">접속IP설정</a></li>-->
					<!--<li ng-class="{'on_disablec' : contents.instance.floatingIp != ''}"><a href="" ng-click="contents.fn.serverActionConfirm('IPDISCONNECT',contents.instance);">접속IP해제</a></li>-->
					<!--<li ng-class="{'on_disablec' : (deployServer.deployStatus != 'fail' && contents.instance.vmState == 'active')}"><a href="" ng-click="contents.fn.serverActionConfirm('PAUSE',contents.instance)">일시정지</a></li>-->
					<!--<li ng-class="{'on_disablec' : (deployServer.deployStatus != 'fail' && contents.instance.vmState == 'paused'}}"><a href="" ng-click="contents.fn.serverActionConfirm('UNPAUSE',contents.instance)">정지해제</a></li>-->
					<!-- <li ng-if="deployServer.deployStatus != 'fail'"><a href="" ng-click="contents.fn.createSnapshot($event,contents.instance);">이미지 스냅샷</a></li> -->
					<!-- <li ng-if="deployServer.deployStatus != 'fail'"><a href="" ng-click="contents.computeEditFormOpen();">인스턴스수정</a></li> -->
				</ul>
			</div>
		</div>
	</div>

	<div class="cBox-cnt">
		<div class="in">
			<!-- app 정보 -->
			<div class="col info-txt useChart" style="padding-top: 30px;">
				<ul>
					<li>
						<strong class="tit">서버 이름</strong>
						<div class="txt">{{contents.instance.name}}</div>
					</li>
					<li>
						<strong class="tit">서버 OS </strong>
						<div class="txt">{{contents.instance.image.serviceName}}</div>
					</li>
					<li>
						<strong class="tit">외부 접속 도메인</strong>
						<div class="txt">
							<p ng-repeat="item in contents.instance.instanceDomainLinkInfos">
								<a ng-if="item.protocolType == 'http' && !item.sslUsed && item.sourcePort == '8080'" ng-href="http://{{ item.domainInfo.domain }}" target="_blank">http://{{ item.domainInfo.domain }}</a>
								<a ng-if="item.protocolType == 'http' && !item.sslUsed && item.sourcePort != '8080'" ng-href="http://{{ item.domainInfo.domain }}:{{ item.sourcePort }}" target="_blank">http://{{ item.domainInfo.domain }}:{{ item.sourcePort }}</a>
								<a ng-if="item.protocolType == 'http' && item.sslUsed" ng-href="https://{{ item.domainInfo.domain }}:{{ item.sslSourcePort }}" target="_blank">https://{{ item.domainInfo.domain }}:{{ item.sslSourcePort }}</a>
							</p>
						</div>
					</li>
					<li>
						<strong class="tit">외부 접속 IP</strong>
						<div class="txt">{{contents.instance.fixedIp}}</div>
					</li>
					<li>
						<strong class="tit">내부 IP</strong>
						<div class="txt">{{contents.instance.floatingIp}} </div>
					</li>
						<strong class="tit">키페어</strong>
						<div class="txt">{{contents.instance.keypair.name}}</div>
					</li>
					<li>
						<strong class="tit">보안그룹</strong>
						<div class="txt">{{contents.instance.securityPolicies | join:' ,':'name'}}</div>
					</li>
					<li>
						<strong class="tit">생성일시</strong>
						<div class="txt">{{contents.instance.created | date : 'yyyy-MM-dd HH:mm:ss'}}</div>
					</li>
					<li>
						<strong class="tit">상태</strong>
						<div class="txt">
								<span class="stateWrap">
									<span ng-if="contents.instance.vmState == 'active'" class="stateMark type1"></span>
									<span ng-if="contents.instance.vmState == 'error'" class="stateMark type2"></span>
									<span ng-if="contents.instance.vmState == 'paused' || contents.instance.vmState == 'resized'" class="stateMark type4"></span>
									<span ng-if="contents.instance.vmState == 'stopped'" class="stateMark type3"></span>
									<span class="state-txt">{{ 'iaas.label.instance_' + contents.instance.vmState | translate }}</span>
								</span>
						</div>
					</li>
					
				</ul>
			</div>
			<!-- //app 정보 -->

			<!-- app 챠트 정보 -->
			<div class="col info-chart type3">
				<div class="chartWrap" style="height:270px;width:180px;"><!-- 인라인 border를 속성과 내용을 지우고 챠트를 삽입하세요. -->
					<p class="chrt-tit">vCPU</p>
					<p style="margin-top: -15px;margin-bottom: 20px;font-size: 18px;">({{contents.instance.spec.vcpus}} 개 / {{contents.tenantResource.maxResource.cores | number: 0}} 개)</p>
					<canvas id="doughnutCpu" class="chart chart-doughnut chart-xs" height="180" width="180"
							chart-data="contents.doughnut.data.cpu"
							chart-labels="contents.doughnut.labels"
							chart-colors="contents.doughnut.colors.cpu"
							chart-options="contents.doughnut.options"></canvas>
					<div class="doughnut-label-box">
						<ul>
							<li><span>{{contents.instance.spec.vcpus / contents.tenantResource.maxResource.cores * 100 | number: 0}}</span><span>%</span></li>
							<li><span>{{'label.usage' | translate}}</span></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //app 챠트 정보 -->

			<!-- app 챠트 정보 -->
			<div class="col info-chart type1">
				<div class="chartWrap" style="height:270px;width:180px;"><!-- 인라인 border를 속성과 내용을 지우고 챠트를 삽입하세요. -->
					<p class="chrt-tit">메모리</p>
					<p style="margin-top: -15px;margin-bottom: 20px;font-size: 18px;">({{(contents.instance.spec.ram/1024|number:1).replace('.0', '')}} GB / {{(contents.tenantResource.maxResource.ramSize/1024|number:1).replace('.0', '') + ' GB'}})</p>
					<canvas id="doughnutRam" class="chart chart-doughnut chart-xs" height="180" width="180"
							chart-data="contents.doughnut.data.ram"
							chart-labels="contents.doughnut.labels"
							chart-colors="contents.doughnut.colors.ram"
							chart-options="contents.doughnut.options"></canvas>
					<div class="doughnut-label-box">
						<ul>
							<li><span>{{contents.instance.spec.ram / contents.tenantResource.maxResource.ramSize * 100 | number: 0}}</span><span>%</span></li>
							<li><span>{{'label.usage' | translate}}</span></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //app 챠트 정보 -->

			<!-- app 챠트 정보 -->
			<div class="col info-chart type2">
				<div class="chartWrap" style="height:270px;width:180px;"><!-- 인라인 border를 속성과 내용을 지우고 챠트를 삽입하세요. -->
					<p class="chrt-tit">디스크</p>
					<p style="margin-top: -15px;margin-bottom: 20px;font-size: 18px;">({{contents.instance.spec.disk}} GB / {{contents.tenantResource.maxResource.instanceDiskGigabytes | number: 0}} GB)</p>
					<canvas id="doughnutDisk" class="chart chart-doughnut chart-xs" height="180" width="180"
							chart-data="contents.doughnut.data.disk"
							chart-labels="contents.doughnut.labels"
							chart-colors="contents.doughnut.colors.disk"
							chart-options="contents.doughnut.options"></canvas>
					<div class="doughnut-label-box">
						<ul>
							<li><span>{{contents.instance.spec.disk / contents.tenantResource.maxResource.instanceDiskGigabytes * 100 | number : 0}}</span><span>%</span></li>
							<li><span>{{'label.usage' | translate}}</span></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //app 챠트 정보 -->
		</div>
	</div>
</div>
<!-- //cBox -->

<!-- cBox -->
<div class="cBox type2 appCnt-vol strgList">
	<div class="cBox-hd">
		<!-- <h4 class="c-tit">볼륨 연결 정보 <em class="point1">({{contents.instanceVolListLength}})</em></h4> -->
		<h4 class="c-tit">디스크 연결 정보 <em class="point1">({{contents.instanceVolListLength}})</em></h4>
	</div>

	<div class="cBox-cnt">
		<div class="in scroll-pane">
			<ul class="ul-volume">
				<li ng-repeat="volume in contents.instanceVolList">
					<div style=" margin-left:90px;">
						{{volume.volumeName}}
					</div>
					<div class="in">
					<div class="progressWrap">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
								</div>
							</div>
							<p class="progress-txt">{{volume.size}}GB</p>
						</div>
						<div class="dropdown">
							<button type="button" class="txt2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
								<span class="ico">실행 설정</span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" role="btn-volum" aria-labelledby="btn-volum">
								<li><a href="javascript:void(0);" ng-click="contents.fn.restorationConfirm(volume);">연결해제</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- //cBox -->

<!-- title -->
<div class="cont-titWrap">
	<h3 class="h-tit3">디스크 정보</h3>
</div>
<!-- //title -->

<div class="tabWrap type1 mt30">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs padding40">
		<li ng-class="{'active':contents.sltInfoTab == 'actEvent'}"><a href="" ng-click="contents.fn.changeSltInfoTab('actEvent');">액션 이벤트</a></li>
		<li ng-class="{'active':contents.sltInfoTab == 'domain'}"><a href="" ng-click="contents.fn.changeSltInfoTab('domain');">도메인</a></li>
		<li ng-class="{'active':contents.sltInfoTab == 'bootLog'}" ><a href="" ng-click="contents.fn.changeSltInfoTab('bootLog');">부트 로그</a></li>
	</ul>
	<!-- //Nav tabs -->

	<!-- Tab panes -->
	<div class="tab-content inst">
		<div ng-if="contents.sltInfoTab == 'actEvent'" class="tab-pane" ng-class="{'active':contents.sltInfoTab == 'actEvent'}">
			<!-- panel -->
			<div class="panelWrap">
				<div class="panel type2" style="cursor: unset;">
					<div class="panel_head">
						<div class="tit pull-left">이벤트</div>
						<div class="pull-right">
							<button type="button" name="button" class="btn btn-ico-zoom only-ico" title="확대/축소" ng-click="contents.zoomPanel($event, 'actEvent')"><span class="ico">확대/축소</span></button>
						</div>
					</div>
					<div ng-if="contents.instance.actionLogs" class="panel_body" style="height: 400px;">
						<div scroll-pane scroll-config="{ contentWidth: '0px' }" id="action_event_panel" class="in">
							<div class="tbl type1">
								<table class="table">
									<colgroup>
										<col style="width:30%;">
										<col style="width:30%;">
										<col style="width:40%;">
									</colgroup>
									<thead>
									<tr>
										<th scope="col">사용자</th>
										<th scope="col">동작</th>
										<th scope="col">시간</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="actionLog in contents.instance.actionLogs">
										<td>{{actionLog.userName}}</td>
										<td>{{actionLog.action}}</td>
										<td>{{actionLog.time | date : "yyyy-MM-dd HH:mm:ss"}}</td>
									</tr>
									<tr ng-if="contents.instance.actionLogs == null">
										<td colspan="3" class="center">{{ 'message.mi_dont_exist_list' | translate }}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- panel -->
		</div>

		<div ng-if="contents.sltInfoTab == 'domain'" class="tab-pane" ng-class="{'active':contents.sltInfoTab == 'domain'}">
			<!-- panel -->
			<div class="panelWrap">
				<div class="panel type2" style="cursor: unset;">
					<div class="panel_head">
						<div class="tit pull-left">도메인</div>
						<div class="pull-right">
							<!-- 20181121 sg0730 접속 도메인 연결 기능 변경으로 인한 팝업 호출  -->
							<button type="button" name="button" class="btn btn-ico-add only-ico" title="추가" ng-click="contents.fn.popConnDomainForm($event);"><span class="ico">추가</span></button>
							<!-- <button type="button" name="button" class="btn btn-ico-add only-ico" title="추가" ng-click="contents.fn.connectDomainFormOpen();"><span class="ico">추가</span></button> -->
							<button type="button" name="button" class="btn btn-ico-zoom only-ico" title="확대/축소" ng-click="contents.zoomPanel($event, 'domain')"><span class="ico">확대/축소</span></button>
						</div>
					</div>
					<div ng-if="contents.instance.actionLogs" class="panel_body" style="height: 400px;">
						<div scroll-pane scroll-config="{ contentWidth: '0px' }" id="action_domain_panel" class="in">
							<div class="tbl type1">
								<table class="table">
									<colgroup>
										<col style="width:30%;">
										<col style="width:25%;">
										<col style="width:25%;">
										<col style="width:20%;">
									</colgroup>
									<thead>
									<tr>
										<th scope="col">도메인</th>
										<th scope="col">프로토콜 타입</th>
										<th scope="col">포트</th>
										<th scope="col">삭제</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-if="contents.instance.instanceDomainLinkInfos.length == 0">
										<td colspan="4">연결된 도메인이 없습니다.</td>
									</tr>
									<tr ng-repeat="item in contents.instance.instanceDomainLinkInfos">
										<td>{{ item.domainInfo.domain }}</td>
										<td>{{ item.protocolType }}</td>
										<td>{{ item.sourcePort }}</td>
										<td><button type="button" name="button" class="btn btn-ico-del-s only-ico ng-scope" ng-click="contents.fn.publicIpReturn(item);" tooltip-placement="bottom" uib-tooltip="반납"><span class="ico">반납</span></button></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- panel -->
		</div>

		<div ng-if="contents.sltInfoTab == 'bootLog'" class="tab-pane" ng-class="{'active':contents.sltInfoTab == 'bootLog'}">
			<!-- panel -->
			<div class="panelWrap">
				<div class="panel type2" style="cursor: unset;">
					<div class="panel_head">
						<div class="tit pull-left">부트 로그</div>
						<div class="pull-right">
							<button type="button" name="button" class="btn btn-ico-zoom only-ico" title="확대/축소" ng-click="contents.zoomPanel($event, 'bootLog')"><span class="ico">확대/축소</span></button>
						</div>
					</div>
					<div class="panel_body" style="height: 400px;">
						<div id="boot_log_terminal_panel" class="in">
							<div id="boot_log_terminal" style="height: 100%;"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- //panel -->
		</div>

	</div>
	<!-- //Tab panes -->
</div>

<!-- tb btm -->
<div class="btn-btm" style="margin-top: 0px;">
	<button type="button" name="button" class="btn btn-color1 btn-md" ng-click="main.goToPage(main.moveParentUrl);">목록</button>
</div>
<!-- //tb btm -->
