<div ng-controller="iaasComputePublicIpSearchFormCtrl as pop">
<!-- aside aside1 title -->
<div class="sideTitWrap">
	<h2 class="c_tit">{{pop.title}}</h2>
	<button type="button" name="closeBtn" class="btn btn-close" data-user="aside-close" ng-click="pop.fn.formClose();"><span class="ico">닫기</span></button>
</div>
<!-- //aside aside1 title -->

<!-- aside aside1 cnt -->
<form name="{{pop.formName}}" novalidate>
	<div class="sideCntWrap">
		<!-- sideInWrap -->
		<div class="sideInWrap">
			<ol class="app-set">
				<li>
					<p class="app-tit">접속 IP 할당</p>
					<div class="input-group">
						<select class="form-control" name="selectFloatingIp" ng-model="pop.selectFloatingIp" validation="required">
							<option value="" ng-if="pop.floatingIpsList.length > 0">선택</option>
							<option value="" ng-if="pop.floatingIpsList.length == 0">할당된 IP가 존재하지 않습니다.</option>
							<option ng-repeat="floatingIp in pop.floatingIpsList" value="{{floatingIp.floatingIp}}">
								{{floatingIp.floatingIp}}
							</option>
						</select>
						<div class="input-group-btn btn-top">
							<button type="button" name="publicIpAllocate" class="btn btn-color1" style="width:90px;" ng-click="pop.fn.publicIpAllocate()">IP 신규 할당</button>
						</div>
					</div>
					<div class="validation validation-selectFloatingIp text-danger"></div>
				</li>
			</ol>
		</div>
		<!-- //sideInWrap -->
	</div>
</form>
<!-- //aside aside1 cnt -->

<!-- aside aside1 btm -->
<div class="sideBtmWrap">
	<button type="button" name="saveBtn" class="btn" data-user="aside-close" ng-click="pop.popDialogOk();">확인</button>
</div>
<!-- //aside aside1 btm -->
</div>