<div class="col-md-4">
	<h4 class="heading h4">- 서비스 접속정보</h4>
	<ul class="list-dot margin-bottom-20">
		<li>
			<b>접속 IP : </b>
			<span ng-if="!contents.octaviaLbUse && contents.vmCatalogDeployInfo.deployType != 'cluster'">{{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}</span> 
			<span ng-if="!contents.octaviaLbUse && contents.vmCatalogDeployInfo.deployType == 'cluster'">각 서버로 접속</span>
		</li>
		<!-- <li>
			<b>Kafka 계정 : </b>
			<span>Kafka 접속 하여 생성</span> 
		</li> -->
		<li>
			<b>Kafka 포트 : </b>
			<span>{{ contents.vmCatalogDeployInfo.parameters.service_port}}</span> 
		</li>
		<li>
			<b>Zookeeper : </b>
			<span>{{ contents.vmCatalogDeployInfo.parameters.zookeeper_port}}</span> 
		</li>
	</ul>
</div>

<div class="col-md-4">
	<h4 class="heading h4">- 서비스 환경 설정 파일 경로</h4>
	<ul class="list-dot margin-bottom-20">
		<li>
			<b>kafka :</b>
			<span>/home/kafka/kafka/config/server.properties</span>
		</li>
		<li>
			<b>zookeeper :</b>
			<span>/home/kafka/kafka/config/zookeeper.properties</span>
		</li>
	</ul>
</div>