<script type="text/javascript">
	$(document).ready(function(){
		$(".carousel").hide();
	});
</script>
<div class="topVisualContainer productTop">
    <nav class="navbar navbar-default product-sub-nav">
	  <div class="container-fluid">
	   <a class="back-product-list" href="#/product"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a> 
		<div class="navbar-header">            
		  <a class="navbar-brand" href="">Network</a>
		</div>
		<ul class="nav navbar-nav product-nav-list">
		  <li><a href="#/product/iaas/network/loadbalancer">Load Balancer</a></li>
		  <li class="active"><a href="#/product/iaas/network/ipsecvpn">IPSec VPN</a></li> 
		</ul>
	  </div>
	</nav>
	<div class="productTopLeft"></div>
	<div class="productTopRight"></div>
	<div class="topVisualWrap">
		<!--<img src="../img/img_supporttop.png" width="1069" height="201" alt="" />-->
		<h3>IPSec VPN</h3>
		<p>외부에 있는 사용자가 효율적으로 <br>내부 서비스를 이용할 수 있는 환경을 제공합니다. </p>
	</div>
</div>
<div id="content" class="container-fluid productContainer">
	<uib-tabset active="contents.activeTabIndex" class="tab-animation">
		<uib-tab index="1">
			<uib-tab-heading>소개</uib-tab-heading>
			<div class="productIntroWrap productOdd">
                <h4><span>IPSec VPN</span>인증과 암호화로 보안 강화 IP 전송을 제공하는</h4>
				<p>
					방화벽 및 통신 정책으로 인해 일반 네트워크로부터 접근이 제한된 내부망에 암호화된 터널링 통신으로 연결이 가능합니다.<br> 사용자는 웹 기반의 콘솔에서 쉽고 신속하게 접속 환경을 구성할 수 있으며, 이로 인해 인증된 네트워크 및 사용자는<br> 언제든지 내부 네트워크에 접근이 가능합니다. 
				</p>
				<ul>
					<li>
						<img src="../img/ico_service_detail_0003.png" width="90" height="72" alt="" />
						<span>
							<span class="title">강화된 보안 </span>
							암호화된 데이터 전송을 위한 IPSec 프로토콜과 각각 테넌트의 독립성을 지원하여 높은 암호화 데이터와 네트워크 신뢰성을 보장합니다. 
				        </span>
					</li>
					<li>
						<img src="../img/ico_service_detail_0005.png" width="90" height="68" alt="" />
						<span>
							<span class="title">손쉬운 사용 </span>
							웹 콘솔 기반으로 제작되어 다양한 기능을 손쉽게 사용할 수 있는 환경을 제공합니다. 
						</span>
					</li>
					<li>
						<img src="../img/ico_service_detail_0006.png" width="90" height="73" alt="" />
						<span>
							<span class="title">높은 가용성 </span>
							데이터는 액티브/스탠바이 아키텍처 위에서 실시간 동기화로 Primary 노드가 접속 장애로 인한 데이터 전송이 실패하게 되었을 때,<br> 차선 노드인 Standard 노드가 어떠한 세션의 손실 및 비즈니스 영향 없이 서비스를 연속적으로 진행합니다.  
						</span>
					</li> 
				</ul>
			</div> 
		</uib-tab>
		<uib-tab index="2">
			<uib-tab-heading>상세 기능</uib-tab-heading>
			<div class="productIntroWrap">
				<dl>
					<dt>강화된 보안 </dt>
					<dd>
						VPN G/W는 암호화된 데이터 전송을 원활하게 하기 위해 IPSec 프로토콜을 사용합니다.<br> 그리고 복수의 암호화, 인증 알고리즘과 각각의 테넌트들에 대한 독립성을 지원합니다. 높은 암호화 데이터와 네트워크 신뢰성을 보장합니다. 
					</dd>
					<dt>높은 가용성 </dt>
					<dd>데이터는 액티브/스탠바이 아키텍처위에서 실시간 동기화됩니다.<br> 그렇기 때문에 Primary 노드가 접속 장애로 인한 데이터 전송이 실패하게 되었을 때, 차선 노드인 Standard 노드가 어떠한 세션의 손실 및 비즈니스 영향 없이 서비스를 연속적으로 진행합니다. 
                    </dd>
					<dt>손쉬운 사용 </dt>
					<dd>웹 콘솔 기반으로 제작된 IPSec VPN은 다양한 기능을 손쉽게 사용할 수 있는 환경을 제공합니다.<br>사용자의 요청 및 수행 사항은 별도의 대기 시간 없이 즉각 반영되며 빠른 속도와 효율적인 기능 환경을 제공하여 최고의 개발환경을 경험할 수 있습니다.</dd> 
                    <dt>Active-Standby 방식의 High Availability 제공 </dt>
					<dd>두개 이상의 IPSec VPN 서비스를 뛰우고 VIP( Virtual IP Address )를 제공하는 방식으로 Active 서비스가 문제가 생겨도 Standby 서비스가 VIP를 양도 받아<br> 끊김 없는 로드밸런서 서비스를 사용할 수 있습니다. </dd> 
					<dt>사용자 관리 </dt>
					<dd>사용자 ID와 패스워드를 등록 가능하며 사용자 별로 몇 번 로그인 했는지 가장 마지막으로 로그인 했는지 등의 계정 관리를 제공하며 사용자가 접속할 수 있는<br> IP 대역을 설정함으로써 전반적인 사용자 관리를 할 수 있습니다.
					</dd>
					<dt>라우팅 관리</dt>  
					<dd>
					   VPN 서비스 자체에 라우팅 관리가 가능하여 특정 요청이 VPN 서비스에 왔을 때, 패킷을 어디로 라우팅 해줘야 하는지 설정할 수 있습니다. <br>사용자에게 어떠한 라우팅 설정을 해주는지 설정하여 사용자가 접속하면 해당 라우팅 설정을 사용자에게 내려 줄 수 있습니다.
					</dd> 
				</dl>
			</div> 
		</uib-tab>
<!--
		<uib-tab index="3">
			<uib-tab-heading>이용안내</uib-tab-heading>
		</uib-tab>
-->
	</uib-tabset>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var winHeight = $(window).height();
        $(".productContainer").css("min-height",winHeight-434)
    });
</script>