<div class="pn_head">
    <h4 class="pnh_tit ico01">서비스 기본정보</h4>
</div>
<div class="pn_body">
    <div class="s_cont_box">
        <ul>
            <li>
                <span class="s_tit">서비스 이름</span>
                <span class="s_txt">MyDB01</span>
            </li>
            <li>
                <span class="s_tit">카탈로그 이름</span>
                <span class="s_txt">MariaDB</span>
            </li>
            <li>
                <span class="s_tit">버전</span>
                <span class="s_txt">10.1.13</span>
            </li>
            <li>
                <span class="s_tit">서버 수</span>
                <span class="s_txt">3</span>
            </li>
            <li>
                <span class="s_tit">서버 OS</span>
                <span class="s_txt">kepri-mariadb-10.1.raw</span>
            </li>
            <li>
                <span class="s_tit">서버 사양</span>
                <span class="s_txt" >m1.small</span>
                <div class="s_inner_cont">
                    <div class="innr_tbl">
                        <table>
                            <colgroup>
                                <col width="30" />
                                <col width="30" />
                                <col width="30" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th>vCPU</th>
                                <th>메모리</th>
                                <th>디스크</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>3 X 1Core</td>
                                <td>3 X 2GB</td>
                                <td>3 X 20GB</td>
                            </tr>
                            </tbody>
                        </table>
                        <span class="info_txt">*  ‘디스크’ 크기는 OS 설치에 필요한 디스크 공간을 포함한 수치입니다.</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="pn-Toggle brd0">
    <div class="pn_head brdt">
        <h4 class="pnh_tit ico02">추가 디스크</h4>
        <button type="button" name="button" class="btn_add_toggle" title="열고/닫기" ng-click="main.panelToggleChange($event);"><span class="ico_arw_sm_gray">열고/닫기</span></button>
    </div>
    <div class="pn_body">
        <div class="s_cont_box">
            <ul>
                <li>
                    <span class="s_tit">크기</span>
                    <span class="s_txt">3 X 20GB</span>
                </li>
                <li>
                    <span class="s_tit">유형</span>
                    <span class="s_txt">MariaDB</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="pn-Toggle">
    <div class="pn_head brdt">
        <h4 class="pnh_tit ico09">프로젝트 자원 계획(Resource Quota Plan)</h4>
        <button type="button" name="button" class="btn_add_toggle" title="열고/닫기" ng-click="main.panelToggleChange($event);"><span class="ico_arw_sm_gray">열고/닫기</span></button>
    </div>
    <div class="pn_body">
        <div class="s_cont_box">
            <div class="s_progress_box wd_tit">
                <ul>
                    <li>
                        <span class="tit_txt">vcpu</span>
                        <div class="progressWrap type2">
                            <div class="progress">
                                <div percent-progress-bar-animate bar-type="width" percent="{{((contents.tenantResource.usedResource.cores + contents.data.spec.vcpus)/contents.tenantResource.maxResource.cores)*100|number:0}}" class="progress">
                                    <div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{((contents.tenantResource.usedResource.cores + contents.data.spec.vcpus)/contents.tenantResource.maxResource.cores)*100|number:0}}%"></div>
                                </div>
                            </div>
                        </div>
                        <span class="txt_count">({{(contents.tenantResource.usedResource.cores + contents.data.spec.vcpus)}} 개 / {{contents.tenantResource.maxResource.cores}} 개)</span>
                    </li>
                    <li>
                        <span class="tit_txt">메모리</span>
                        <div class="progressWrap type2">
                            <div class="progress">
                                <div percent-progress-bar-animate bar-type="width" percent="{{((contents.tenantResource.usedResource.ramSize + contents.data.spec.ram)/contents.tenantResource.maxResource.ramSize)*100|number:0}}" class="progress">
                                    <div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{((contents.tenantResource.usedResource.ramSize + contents.data.spec.ram)/contents.tenantResource.maxResource.ramSize)*100|number:0}}%"></div>
                                </div>
                            </div>
                        </div>
                        <span class="txt_count">({{(contents.tenantResource.usedResource.ramSize + contents.data.spec.ram) | displayVolume:'MB'}} / {{contents.tenantResource.maxResource.ramSize | displayVolume:'MB'}})</span>
                    </li>
                    <li>
                        <span class="tit_txt">디스크</span>
                        <div class="progressWrap type2">
                            <div class="progress">
                                <div percent-progress-bar-animate bar-type="width" percent="{{((contents.tenantResource.usedResource.instanceDiskGigabytes + contents.data.spec.disk)/contents.tenantResource.maxResource.instanceDiskGigabytes)*100|number:0}}" class="progress">
                                    <div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{((contents.tenantResource.usedResource.instanceDiskGigabytes + contents.data.spec.disk)/contents.tenantResource.maxResource.instanceDiskGigabytes)*100|number:0}}%"></div>
                                </div>
                            </div>
                        </div>
                        <span class="txt_count">({{(contents.tenantResource.usedResource.instanceDiskGigabytes + contents.data.spec.disk) | displayVolume:'GB'}} / {{contents.tenantResource.maxResource.instanceDiskGigabytes | displayVolume:'GB'}})</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
