<section class="panel panel-bordered app-info-area">
	<div class="panel-heading padding-0" ng-include="contents.htmlUrls.deployTitle"></div>
	<div class="panel-body">
		
		<div ng-if="contents.vmCatalogDeployInfo.deployStatus != 'DEPLOY_COMPLETE' || contents.vmCatalogDeployInfo.stackStatus != 'CREATE_COMPLETE'">
			<!-- 서버생성중 -->
			<div class="text-center padding-vertical-50" ng-if="contents.vmCatalogDeployInfo.stackStatus == 'CREATE_IN_PROGRESS' && contents.vmCatalogDeployInfo.deployStatus == 'CREATE_IN_PROGRESS'">
				<div class="spinner-border spinner-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<div class="margin-top-20">서버 생성 중입니다.</div>
			</div>
			<!-- //서버생성중 -->
			
			<!-- 서버 생성 실패 -->
			<div class="text-center padding-vertical-30" ng-if="vmCatalogDeploy.stackStatus == 'CREATE_FAILED'">
				<i class="xi-close-circle-o font-size-40 red-500"></i>
				<div class="margin-top-20">생성 실패입니다.</div>
			</div>
			<!-- //서버 생성 실패 -->
			
			<!-- 서비스 배포 중 -->
			<div class="text-center padding-vertical-50" 
				ng-if="contents.vmCatalogDeployInfo.deployStatus != 'DEPLOY_TIME_OUT' && ((contents.vmCatalogDeployInfo.deployStatus == 'DEPLOY_IN_PROGRESS' && contents.vmCatalogDeployInfo.stackStatus != 'CREATE_FAILED') || (contents.vmCatalogDeployInfo.deployStatus != 'DEPLOY_COMPLETE' && contents.vmCatalogDeployInfo.stackStatus == 'CREATE_COMPLETE') || (contents.vmCatalogDeployInfo.deployStatus == 'DEPLOY_COMPLETE' && contents.vmCatalogDeployInfo.stackStatus == 'CREATE_IN_PROGRESS'))" >
				<div class="spinner-border spinner-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<div class="margin-top-20">서비스 배포 및 설정 중입니다.</div>
			</div>
			<!-- //서비스 배포 중 -->
			
			<!-- 서비스 배포 실패 -->
			<div class="text-center padding-vertical-30" ng-if="contents.vmCatalogDeployInfo.stackStatus == 'CREATE_COMPLETE' && (contents.vmCatalogDeployInfo.deployStatus == 'DEPLOY_FAILED' || contents.vmCatalogDeployInfo.deployStatus == 'DEPLOY_TIME_OUT')">
				<i class="xi-close-circle-o font-size-40 red-500"></i>
				<div class="margin-top-20">서비스 배포 실패입니다.</div>
			</div>
			<!-- //서비스 배포 실패 -->
			
			<!-- 서버 삭제 중 -->
			<div class="text-center padding-vertical-50" ng-if="contents.vmCatalogDeployInfo.deployStatus == 'DELETE_IN_PROGRESS'">
				<div class="spinner-border spinner-danger" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<div class="margin-top-20">삭제 중입니다.</div>
			</div>
			<!-- //서버 삭제 중 -->
		</div>
		<div ng-if="contents.vmCatalogDeployInfo.deployStatus == 'DEPLOY_COMPLETE' && contents.vmCatalogDeployInfo.stackStatus == 'CREATE_COMPLETE'" ng-include="contents.vmCatalogTemplateUrl"></div>

	</div>
</section>


<!-- 부하분산 서버정보 -->
<div ng-if="contents.octaviaLbUse" ng-include="contents.htmlUrls.deployOctaviaLb"></div>

<!-- 생성 서버 -->
<div ng-include="contents.htmlUrls.deployServerList"></div>