<!-- 프로젝트 정보 -->
<div class="cBox type0 projt-mana mt30">
    <div class="pull-left">
        <h4 class="c-tit">전체 서비스 <em class="point1">({{ (contents.vmCatalogDeployList | filter: { deployName : contents.searchText }).length }})</em></h4>
    </div>
    <div class="pull-right">
        <!-- 검색 -->
        <div class="searchBox type2">
            <div class="form-group">
                <input type="text" placeholder="서비스명 검색" style="width:300px;" ng-model="contents.schFilterText">
            </div>
            <button type="button" name="button" class="btn btn-sch" title="지우기" ng-click="contents.schFilterText = ''"><span class="ico">지우기</span></button>
        </div>
        <!-- //검색 -->
    </div>
</div>
<!-- //프로젝트 정보 -->
<ul ng-show="(contents.vmCatalogDeployList | filter: { deployName : contents.searchText }).length > 0" class="ul-panel thum_style">
    <li ng-repeat="(key, vmCatalogDeploy) in contents.vmCatalogDeployList | filter: { deployName : contents.searchText }">
        <div class="panelWrap">
            <div class="panel type6 serv_list">
                <div class="panel_head">
                    <div class="logo radius0">
                        <img ng-src="{{ main.gpuVmCatalogTemplatePath + vmCatalogDeploy.vmCatalogInfo.templatePath + '/logo.png' }}" >
                    </div>
                    <p class="tit" title="{{ vmCatalogDeploy.deployName }}"><a href="" ng-click="main.goToPage('/gpu/vmCatalogDeploy/view/' + vmCatalogDeploy.id)">{{ vmCatalogDeploy.deployName }}</a></p>
                    <p class="txt mb10">{{ vmCatalogDeploy.vmCatalogInfo.catalogName }} ( version {{ vmCatalogDeploy.vmCatalogInfo.version }} ) </p>
                    <div class="dropdown btn-option">
                        <button type="button" class="btn only-ico ico-dot_h" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
                            <span class="ico">실행 설정</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
                            <li><a href="" ng-click="contents.fn.openVmCatalogDeployRenameForm($event, vmCatalogDeploy)">이름 변경</a></li>
                            <li><a href="" ng-click="contents.fn.deleteVmCatalogDeploy(vmCatalogDeploy)" class="delete">서비스 제거</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel_body">
                    <div class="img_info_wrap">
                        <ul class="img_count" ng-class="{ 'imgType1': vmCatalogDeploy.deployServerCount == 1,  'imgType2': vmCatalogDeploy.deployServerCount == 2,  'imgType3': vmCatalogDeploy.deployServerCount == 3 }">
                            <li ng-repeat="(key, server) in ( vmCatalogDeploy.servers )"><img src="images/thum/im_thum_centos_300.png" ></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <!-- //panel -->
</ul>
<div ng-show="(contents.vmCatalogDeployList | filter: { deployName : contents.searchText }).length == 0" class="proj_list_area">
    <ul class="ul-panel dash_list no_data">
        <li><p class="no_data_txt pd0">생성된 서비스가 없습니다.</p></li>
    </ul>
</div>
