<!-- table -->
<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 25%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">포트이름</th>
				<td><input type="text" name="portName" class="form-control" ng-model="pop.ports.name" placeholder="포트 이름을 입력하세요."></td>
			</tr>
			<tr>
				<th>프로토콜</th>
				<td>
					<div class="radio radio-inline">
						<input type="radio" ng-init="pop.ports.protocol='HTTP'" ng-model="pop.ports.protocol" name="protocolRadio" id="protocolHTTP" value="HTTP">
						<label for="protocolHTTP" class="label">HTTP</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="protocolRadio" id="protocolHTTPS" ng-model="pop.ports.protocol" value="HTTPS">
						<label for="protocolHTTPS" class="label">HTTPS</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="protocolRadio" id="protocolTCP" ng-model="pop.ports.protocol" value="TCP">
						<label for="protocolTCP" class="label">TCP</label>
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">포트</th>
				<td><input type="text" name="protocolPort" class="form-control" ng-model="pop.ports.protocolPort" placeholder="포트(1~65535)를 입력하세요."></td>
			</tr>
		</tbody>
	</table>
</div>
<!-- //table -->