<div class="ctlog_cntWrap">
    <div class="ctlog-cnt">
        <h5>서비스 접속정보</h5>
        <ul>
            <li>
                <strong class="tit">접속 IP</strong>
                <span class="txt">{{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}</span>
            </li>
            <li ng-if="contents.vmCatalogDeployInfo.parameters.create_user_id">
                <strong class="tit">사용자계정</strong>
                <span class="txt">{{ contents.vmCatalogDeployInfo.parameters.create_user_id }}</span>
            </li>
        </ul>
        <ul>
            <li>
                <strong class="tit">접속포트</strong>
                <span class="txt">{{ contents.vmCatalogDeployInfo.servicePort }}</span>
            </li>
            <li ng-if="contents.vmCatalogDeployInfo.parameters.create_db_name">
                <strong class="tit">사용자 DB명</strong>
                <span class="txt">{{ contents.vmCatalogDeployInfo.parameters.create_db_name }}</span>
            </li>
        </ul>
    </div>
    <div class="ctlog-cnt">
        <h5> 서비스 환경 설정 파일 경로</h5>
        <ul>
            <li>
                <strong class="tit">postgresql.cnf path: </strong>
                <span class="txt">/var/lib/pgsql/11/data/postgresql.conf</span>
            </li>
            <li>
                <strong class="tit">pg_hba.cnf path: </strong>
                <span class="txt">/var/lib/pgsql/11/data/pg_hba.conf</span>
            </li>
            <li>
                <strong class="tit">data path: </strong>
                <span class="txt">/var/lib/pgsql/11/data</span>
            </li>
        </ul>
    </div>
</div>
