<ul class="pn_list_style">
    <li>
        <div class="panel_box pn_l">
            <div class="pn_head">
                <h4 class="pnh_tit">{{ contents.vmCatalogInfo.catalogName }} 서비스 만들기</h4>
            </div>
            <form name="subPage.deployForm" novalidate>
                <input type="password" style="display: block; width:0px; height:0px; border: 0;"><!-- 아이디 패스워드 자동 입력 방지 -->
                <div class="pn_body">
                    <span class="sm_txt">* 는 필수입력 사항입니다.</span>
                    <ul class="form_list">
                        <li ng-include="contents.htmlUrls.deployName"></li>
                        <li ng-include="contents.htmlUrls.stackName"></li>
                        <li ng-include="contents.htmlUrls.deployTypeRadio"></li>
                        <li ng-include="contents.htmlUrls.servicePort"></li>
                        <li>
                            <div class="pnb_tit">
                                <i class="i_star"></i> <span class="pnb_t_txt">postgres 비밀번호</span>
                                <div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'Postgresql 관리를 위한 postgres 계정 비밀번호입니다.'"><span class="ico_info"></span></button></div>
                            </div>
                            <div class="tbw type1 mt20">
                                <table class="table">
                                    <colgroup>
                                        <col style="width:20%;">
                                        <col style="width:">
                                        <col style="width:20%;">
                                        <col style="width:;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th><i class="i_star"></i> 비밀번호</th>
                                        <td><input type="password" name="postgresPassword" class="form-control" maxlength="50" ng-model="contents.data.postgresPassword" validation="min:6|max:20|required" placeholder="비밀번호를 입력하세요." ></td>
                                        <th><i class="i_star"></i> 비밀번호 확인</th>
                                        <td><input type="password" name="postgresConfirmPassword" class="form-control" maxlength="50" ng-model="contents.data.postgresConfirmPassword" validation="min:6|max:20|required|custom:contents.fn.checkPasswordValidation(contents.data.postgresPassword, contents.data.postgresConfirmPassword)" placeholder="비밀번호를 확인하세요." ></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li ng-include="contents.htmlUrls.userDbUse"></li>
                        <li ng-include="contents.htmlUrls.zoneSelect"></li>
                        <li ng-include="contents.htmlUrls.spacSelect"></li>
                        <li ng-include="contents.htmlUrls.volumeSelect"></li>
                    </ul>
                </div>
            </form>
            <div class="pn_footer" ng-include="contents.htmlUrls.createDeployBtn"></div>
        </div>
    </li>
    <li>
        <div class="panel_box pn_r" ng-include="contents.htmlUrls.createDeployInfo"></div>
    </li>
</ul>
