heat_template_version: '2018-08-31'

description: single mariadb template

parameters:
  image:
    type: string
    default: CentOS-7-x86_64-Heat-1907-Mariadb.qcow2
  service_port:
    type: string
    default: 3306
  flavor:
    type: string
  availability_zone:
    type: string
  key_name:
    type: string
  security_group:
    type: string
  provider_net:
    type: string
  provider_subnet:
    type: string
  root_password:
    type: string
  create_usre_id:
    type: string
  create_user_password:
    type: string
  create_db_name:
    type: string
{% if volume %}
  volume_type:
    type: string
    default: "RBD"
  volume_size:
    type: string
    default: 10
  volume_mountpoint:
    type: string
    default: "/dev/vdb"
  volume_mount_path:
    type: string
    default: "/mnt/data"
{% endif %}

resources:

  server_port:
    type: OS::Neutron::Port
    properties:
      fixed_ips: [{ subnet_id: get_param: provider_subnet }]
      network: { get_param: provider_net }
      security_groups: [{ get_param: security_group }]

{% if volume %}
  cinder_volume:
    type: OS::Cinder::Volume
    properties:
      size: { get_param: volume_size }
      volume_type: { get_param: volume_type }
{% endif %}

  init_config:
    type: OS::Heat::SoftwareConfig
    properties:
      group: ungrouped
      config:
        str_replace:
          params:
{% if volume %}
            $volume_mountpoint: { get_param: volume_mountpoint }
            $volume_mount_path: { get_param: volume_mount_path }
{% endif %}
            $create_usre_id: { get_param: create_usre_id }
            $create_user_password: { get_param: create_user_password }
            $create_db_name: { get_param: create_db_name }
            $service_port: { get_param: service_port }
            $root_password: { get_param: root_password }
          template: |
            #!/bin/sh
            echo "mariadb setting start"
            cp /etc/my.cnf /etc/my.cnf.backup
            sed -i 's/^port            = 3306/port            = $service_port/' /etc/my.cnf
            sleep 1
            systemctl start mariadb
            /usr/bin/mysqladmin -u root password '$root_password'

            mysql -u root -p$root_password <<EOF
            create database $create_db_name CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;
            GRANT ALL PRIVILEGES ON $create_db_name.* To '$create_usre_id'@'%' IDENTIFIED BY '$create_user_password';
            EOF

            systemctl enable mariadb
            echo "mariadb setting end"

  server:
    type: OS::Nova::Server
    properties:
      flavor: { get_param: flavor }
      image: { get_param: image }
      availability_zone: { get_param: availability_zone }
      networks:
        - port: { get_resource: server_port }
      key_name: { get_param: key_name }
      user_data_update_policy: IGNORE
      user_data_format: RAW
      user_data:
        get_resource: init_config

{% if volume %}
  cinder_volume_attachment:
    type: OS::Cinder::VolumeAttachment
    properties:
      instance_uuid: { get_resource: server }
      volume_id: { get_resource: cinder_volume }
      mountpoint: { get_param: volume_mountpoint }
{% endif %}

outputs:
  server_ip:
    value: { get_attr: [ server_port, fixed_ips, 0, ip_address] }
  volume_id:
    value: { get_resource: cinder_volume }
