heat_template_version: '2018-08-31'

description: mairadb cluster volume template

parameters:
  image:
    type: string
    default: CentOS-7-x86_64-Heat-1907-Galera-Mariadb.qcow2
  flavor:
    type: string
  availability_zone:
    type: string
  key_name:
    type: string
  security_group:
    type: string
  provider_net:
    type: string
  provider_subnet:
    type: string
{% if octaviaLbUse %}
  lb_svc_port:
    type: string
  lb_svc_protocol:
    type: string
    default: TCP
  lb_algorithm:
    type: string
    default: ROUND_ROBIN
  lb_svc_connection_limit:
    type: string
    default: 2000
  lb_svc_monitor_type:
    type: string
    default: TCP
  lb_svc_monitor_delay:
    type: string
    default: 3
  lb_svc_monitor_max_retries:
    type: string
    default: 5
  lb_svc_monitor_timeout:
    type: string
    default: 5
  lb_svc_monitor_url_path:
    type: string
    default: /
{% endif %}
  service_port:
    type: string
    default: 3306
  galera_port:
    type: string
    default: 4567
  root_password:
    type: string
{% if createUser %}
  create_user_id:
    type: string
  create_user_password:
    type: string
  create_db_name:
    type: string
{% endif %}
{% if volumeUse %}
  volume_type:
    type: string
  volume_size:
    type: string
  volume_mount_point:
    type: string
    default: /dev/vdb
  volume_format_type:
    type: string
    default: xfs
  volume_mount_path:
    type: string
    default: /mnt/data
{% endif %}

resources:

  server1_port:
    type: OS::Neutron::Port
    properties:
      fixed_ips: [{ subnet_id: { get_param: provider_subnet } }]
      network: { get_param: provider_net }
      security_groups: [{ get_param: security_group }]

  server2_port:
    type: OS::Neutron::Port
    properties:
      fixed_ips: [{ subnet_id: { get_param: provider_subnet } }]
      network: { get_param: provider_net }
      security_groups: [{ get_param: security_group }]

  server3_port:
    type: OS::Neutron::Port
    properties:
      fixed_ips: [{ subnet_id: { get_param: provider_subnet } }]
      network: { get_param: provider_net }
      security_groups: [{ get_param: security_group }]

{% if volumeUse %}
  cinder_volume1:
    type: OS::Cinder::Volume
    properties:
      size: { get_param: volume_size }
      volume_type: { get_param: volume_type }

  cinder_volume2:
    type: OS::Cinder::Volume
    properties:
      size: { get_param: volume_size }
      volume_type: { get_param: volume_type }

  cinder_volume3:
    type: OS::Cinder::Volume
    properties:
      size: { get_param: volume_size }
      volume_type: { get_param: volume_type }
{% endif %}

  init_config1:
    type: OS::Heat::SoftwareConfig
    properties:
      group: ungrouped
      config:
        str_replace:
          params:
{% if volumeUse %}
            $volume_mount_point: { get_param: volume_mount_point }
            $volume_format_type: { get_param: volume_format_type}
            $volume_mount_path: { get_param: volume_mount_path }
{% endif %}
{% if createUser %}
            $create_user_id: { get_param: create_user_id }
            $create_user_password: { get_param: create_user_password }
            $create_db_name: { get_param: create_db_name }
{% endif %}
            $service_port: { get_param: service_port }
            $galera_port: { get_param: galera_port }
            $root_password: { get_param: root_password }
            $node_address: { get_attr: [server1_port, fixed_ips, 0, ip_address] }
            $server_addresses_and_ports:
              list_join:
                - ','
                - - list_join:
                      - ':'
                      - - { get_attr: [server1_port, fixed_ips, 0, ip_address] }
                      - - { get_param: galera_port }
                - - list_join:
                      - ':'
                      - - { get_attr: [server2_port, fixed_ips, 0, ip_address] }
                      - - { get_param: galera_port }
                - - list_join:
                      - ':'
                      - - { get_attr: [server3_port, fixed_ips, 0, ip_address] }
                      - - { get_param: galera_port }
          template: |
            #!/bin/sh
            echo "mariadb setting start"
            curl -X PUT -H "Content-Type: application/json" --data "{\"deployStatus\": \"DEPLOY_IN_PROGRESS\"}" {{ apiExternalEndPoint }}/vm_catalog/${{ tenant_id }}/deploy/$stackId/status
{% if volumeUse %}
            mkfs.xfs $volume_mount_point
            mkdir -p $volume_mount_path
            mount $volume_mount_point $volume_mount_path
            sleep 1

            chmod u+x /etc/rc.d/rc.local
            cat <<EOF>> /etc/rc.d/rc.local
            mount -t $volume_format_type $volume_mount_point $volume_mount_path
            EOF

            systemctl enable rc-local
            sleep 1

            mv /var/lib/mysql $volume_mount_path/
            ln -s $volume_mount_path/mysql /var/lib/mysql
            sleep 1
{% endif %}
            touch /var/log/mysqld.log
            chown mysql:mysql /var/log/mysqld.log
            sed -i 's/^port            = 3306/port            = $service_port/' /etc/my.cnf
            systemctl start mariadb.service
            /usr/bin/mysqladmin -u root password '$root_password'
            sleep 1
{% if createUser %}
            mysql -u root -p$root_password <<EOF
            create database $create_db_name CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;
            GRANT ALL PRIVILEGES ON $create_db_name.* TO '$create_user_id'@'localhost' IDENTIFIED BY '$create_user_password';
            GRANT ALL PRIVILEGES ON $create_db_name.* To '$create_user_id'@'%' IDENTIFIED BY '$create_user_password';
            EOF
{% endif %}
            systemctl stop mariadb.service
            sleep 1
            cat <<EOF> /etc/my.cnf.d/server.cnf
            [server]

            [mysqld]
            datadir=/var/lib/mysql
            log-error=/var/log/mysqld.log

            [galera]
            wsrep_on=ON
            wsrep_provider=/usr/lib64/galera-4/libgalera_smm.so
            wsrep_cluster_address="gcomm://$server_addresses_and_ports"
            wsrep_cluster_name="galeracluster"
            wsrep_node_address="$node_address"
            wsrep_node_name="galera1"
            wsrep_sst_method=rsync
            binlog_format=row
            default_storage_engine=InnoDB
            innodb_autoinc_lock_mode=2
            bind-address=0.0.0.0

            [embedded]

            [mariadb]

            [mariadb-10.4]

            EOF
            galera_new_cluster
            systemctl enable mariadb.service
            curl -X PUT -H "Content-Type: application/json" --data "{\"deployStatus\": \"DEPLOY_COMPLETE\"}" {{ apiExternalEndPoint }}/vm_catalog/${{ tenant_id }}/deploy/$stackId/status
            echo "mariadb setting end"


  init_config2:
    type: OS::Heat::SoftwareConfig
    properties:
      group: ungrouped
      config:
        str_replace:
          params:
{% if volumeUse %}
            $volume_mount_point: { get_param: volume_mount_point }
            $volume_format_type: { get_param: volume_format_type }
            $volume_mount_path: { get_param: volume_mount_path }
{% endif %}
            $service_port: { get_param: service_port }
            $galera_port: { get_param: galera_port }
            $root_password: { get_param: root_password }
            $master_address: { get_attr: [server1_port, fixed_ips, 0, ip_address] }
            $node_address: { get_attr: [server2_port, fixed_ips, 0, ip_address] }
            $server_addresses_and_ports:
              list_join:
                - ','
                - - list_join:
                      - ':'
                      - - { get_attr: [server1_port, fixed_ips, 0, ip_address] }
                      - - { get_param: galera_port }
                - - list_join:
                      - ':'
                      - - { get_attr: [server2_port, fixed_ips, 0, ip_address] }
                      - - { get_param: galera_port }
                - - list_join:
                      - ':'
                      - - { get_attr: [server3_port, fixed_ips, 0, ip_address] }
                      - - { get_param: galera_port }
          template: |
            #!/bin/sh
            echo "mariadb setting start"
            curl -X PUT -H "Content-Type: application/json" --data "{\"deployStatus\": \"DEPLOY_IN_PROGRESS\"}" {{ apiExternalEndPoint }}/vm_catalog/${{ tenant_id }}/deploy/$stackId/status
{% if volumeUse %}
            mkfs.xfs $volume_mount_point
            mkdir -p $volume_mount_path
            mount $volume_mount_point $volume_mount_path
            sleep 1

            chmod u+x /etc/rc.d/rc.local
            cat <<EOF>> /etc/rc.d/rc.local
            mount -t $volume_format_type $volume_mount_point $volume_mount_path
            EOF

            systemctl enable rc-local
            sleep 1

            mv /var/lib/mysql $volume_mount_path/
            ln -s $volume_mount_path/mysql /var/lib/mysql
            sleep 1
{% endif %}
            touch /var/log/mysqld.log
            chown mysql:mysql /var/log/mysqld.log
            sleep 1
            cp /etc/my.cnf.d/server.cnf /etc/my.cnf.d/server.cnf.backup
            cat <<EOF> /etc/my.cnf.d/server.cnf
            [server]

            [mysqld]
            port=$service_port
            datadir=/var/lib/mysql
            log-error=/var/log/mysqld.log

            [galera]
            wsrep_on=ON
            wsrep_provider=/usr/lib64/galera-4/libgalera_smm.so
            wsrep_cluster_address="gcomm://$server_addresses_and_ports"
            wsrep_cluster_name="galeracluster"
            wsrep_node_address="$node_address"
            wsrep_node_name="galera2"
            wsrep_sst_method=rsync
            binlog_format=row
            default_storage_engine=InnoDB
            innodb_autoinc_lock_mode=2
            bind-address=0.0.0.0

            [embedded]

            [mariadb]

            [mariadb-10.4]

            EOF
            sleep 10
            masterRun=1
            while [ $masterRun -ne 0 ]
            do
              echo "nc -z $master_address $galera_port"
              nc -z $master_address $galera_port
              masterRun=$?
              sleep 5
            done
            sleep 10
            systemctl start mariadb.service
            systemctl enable mariadb
            echo "mariadb setting end"


  init_config3:
    type: OS::Heat::SoftwareConfig
    properties:
      group: ungrouped
      config:
        str_replace:
          params:
{% if volumeUse %}
            $volume_mount_point: { get_param: volume_mount_point }
            $volume_format_type: { get_param: volume_format_type }
            $volume_mount_path: { get_param: volume_mount_path }
{% endif %}
            $service_port: { get_param: service_port }
            $galera_port: { get_param: galera_port }
            $root_password: { get_param: root_password }
            $master_address: { get_attr: [server1_port, fixed_ips, 0, ip_address] }
            $node_address: { get_attr: [server3_port, fixed_ips, 0, ip_address] }
            $server_addresses_and_ports:
              list_join:
                - ','
                - - list_join:
                      - ':'
                      - - { get_attr: [server1_port, fixed_ips, 0, ip_address] }
                      - - { get_param: galera_port }
                - - list_join:
                      - ':'
                      - - { get_attr: [server2_port, fixed_ips, 0, ip_address] }
                      - - { get_param: galera_port }
                - - list_join:
                      - ':'
                      - - { get_attr: [server3_port, fixed_ips, 0, ip_address] }
                      - - { get_param: galera_port }
          template: |
            #!/bin/sh
            echo "mariadb setting start"
            curl -X PUT -H "Content-Type: application/json" --data "{\"deployStatus\": \"DEPLOY_IN_PROGRESS\"}" {{ apiExternalEndPoint }}/vm_catalog/${{ tenant_id }}/deploy/$stackId/status
{% if volumeUse %}
            mkfs.xfs $volume_mount_point
            mkdir -p $volume_mount_path
            mount $volume_mount_point $volume_mount_path
            sleep 1

            chmod u+x /etc/rc.d/rc.local
            cat <<EOF>> /etc/rc.d/rc.local
            mount -t $volume_format_type $volume_mount_point $volume_mount_path
            EOF

            systemctl enable rc-local
            sleep 1

            mv /var/lib/mysql $volume_mount_path/
            ln -s $volume_mount_path/mysql /var/lib/mysql
            sleep 1
{% endif %}
            touch /var/log/mysqld.log
            chown mysql:mysql /var/log/mysqld.log
            cp /etc/my.cnf.d/server.cnf /etc/my.cnf.d/server.cnf.backup
            cat <<EOF> /etc/my.cnf.d/server.cnf
            [server]

            [mysqld]
            port=$service_port
            datadir=/var/lib/mysql
            log-error=/var/log/mysqld.log

            [galera]
            wsrep_on=ON
            wsrep_provider=/usr/lib64/galera-4/libgalera_smm.so
            wsrep_cluster_address="gcomm://$server_addresses_and_ports"
            wsrep_cluster_name="galeracluster"
            wsrep_node_address="$node_address"
            wsrep_node_name="galera3"
            wsrep_sst_method=rsync
            binlog_format=row
            default_storage_engine=InnoDB
            innodb_autoinc_lock_mode=2
            bind-address=0.0.0.0

            [embedded]

            [mariadb]

            [mariadb-10.4]

            EOF
            sleep 10
            masterRun=1
            while [ $masterRun -ne 0 ]
            do
              echo "nc -z $master_address $galera_port"
              nc -z $master_address $galera_port
              masterRun=$?
              sleep 5
            done
            sleep 10
            systemctl start mariadb.service
            systemctl enable mariadb
            echo "mariadb setting end"

  server1:
    type: OS::Nova::Server
    properties:
      flavor: { get_param: flavor }
      image: { get_param: image }
      availability_zone: { get_param: availability_zone }
      networks:
        - port: { get_resource: server1_port }
      key_name: { get_param: key_name }
      user_data_update_policy: IGNORE
      user_data_format: RAW
      user_data:
        get_resource: init_config1

  server2:
    type: OS::Nova::Server
    properties:
      flavor: { get_param: flavor }
      image: { get_param: image }
      availability_zone: { get_param: availability_zone }
      networks:
        - port: { get_resource: server2_port }
      key_name: { get_param: key_name }
      user_data_update_policy: IGNORE
      user_data_format: RAW
      user_data:
        get_resource: init_config2

  server3:
    type: OS::Nova::Server
    properties:
      flavor: { get_param: flavor }
      image: { get_param: image }
      availability_zone: { get_param: availability_zone }
      networks:
        - port: { get_resource: server3_port }
      key_name: { get_param: key_name }
      user_data_update_policy: IGNORE
      user_data_format: RAW
      user_data:
        get_resource: init_config3
{% if volumeUse %}
  cinder_volume1_attachment:
    type: OS::Cinder::VolumeAttachment
    properties:
      instance_uuid: { get_resource: server1 }
      volume_id: { get_resource: cinder_volume1 }
      mountpoint: { get_param: volume_mount_point }

  cinder_volume2_attachment:
    type: OS::Cinder::VolumeAttachment
    properties:
      instance_uuid: { get_resource: server2 }
      volume_id: { get_resource: cinder_volume2 }
      mountpoint: { get_param: volume_mount_point }

  cinder_volume3_attachment:
    type: OS::Cinder::VolumeAttachment
    properties:
      instance_uuid: { get_resource: server3 }
      volume_id: { get_resource: cinder_volume3 }
      mountpoint: { get_param: volume_mount_point }
{% endif %}
{% if octaviaLbUse %}
  octavia_lb:
    type: OS::Octavia::LoadBalancer
    properties:
      vip_subnet: { get_param: provider_subnet }

  octavia_lb_svc_listener:
    type: OS::Octavia::Listener
    properties:
      loadbalancer: { get_resource: octavia_lb }
      connection_limit: { get_param: lb_svc_connection_limit }
      protocol: { get_param: lb_svc_protocol }
      protocol_port: { get_param: lb_svc_port }

  octavia_lb_svc_pool:
    type: OS::Octavia::Pool
    properties:
      listener: { get_resource: octavia_lb_svc_listener }
      lb_algorithm: { get_param: lb_algorithm }
      protocol: { get_param: lb_svc_protocol }

  octavia_lb_svc_monitor:
    type: OS::Octavia::HealthMonitor
    properties:
      pool: { get_resource: octavia_lb_svc_pool }
      type: { get_param: lb_svc_monitor_type }
      delay: { get_param: lb_svc_monitor_delay }
      max_retries: { get_param: lb_svc_monitor_max_retries }
      timeout: { get_param: lb_svc_monitor_timeout }
{% if monitorUrlPathUse %}
      url_path: { get_param: lb_svc_monitor_url_path }
{% endif %}

  lb_svc_pool_member1:
    type: OS::Octavia::PoolMember
    properties:
      pool: { get_resource: octavia_lb_svc_pool }
      address: { get_attr: [server1_port, fixed_ips, 0, ip_address] }
      protocol_port: { get_param: service_port }

  lb_svc_pool_member2:
    type: OS::Octavia::PoolMember
    properties:
      pool: { get_resource: octavia_lb_svc_pool }
      address: { get_attr: [server2_port, fixed_ips, 0, ip_address] }
      protocol_port: { get_param: service_port }

  lb_svc_pool_member3:
    type: OS::Octavia::PoolMember
    properties:
      pool: { get_resource: octavia_lb_svc_pool }
      address: { get_attr: [server3_port, fixed_ips, 0, ip_address] }
      protocol_port: { get_param: service_port }
{% endif %}

outputs:
  servers:
    value:
      - instance: { get_attr: [ server1, show ] }
        instancePort: { get_attr: [ server1_port, show ] }
{% if volumeUse %}
        volume: { get_attr: [ cinder_volume1, show ] }
{% endif %}
      - instance: { get_attr: [ server2, show ] }
        instancePort: { get_attr: [ server2_port, show ] }
{% if volumeUse %}
        volume: { get_attr: [ cinder_volume2, show ] }
{% endif %}
      - instance: { get_attr: [ server3, show ] }
        instancePort: { get_attr: [ server3_port, show ] }
{% if volumeUse %}
        volume: { get_attr: [ cinder_volume3, show ] }
{% endif %}
{% if octaviaLbUse %}
  octaviaLb:
    value:
      loadBalancer: { get_attr: [ octavia_lb, show ] }
      listeners:
        - listener: { get_attr: [ octavia_lb_svc_listener, show ] }
          pool: { get_attr: [ octavia_lb_svc_pool, show ] }
          monitor: { get_attr: [ octavia_lb_svc_monitor, show ] }
          poolMembers:
            - { get_attr: [ lb_svc_pool_member1, show ] }
            - { get_attr: [ lb_svc_pool_member2, show ] }
            - { get_attr: [ lb_svc_pool_member3, show ] }
{% endif %}
