<ul class="pn_list_style">
    <li>
        <div class="panel_box pn_l">
            <div class="pn_head">
                <h4 class="pnh_tit">MariaDB 서비스 만들기</h4>
            </div>
            <div class="pn_body">
                <span class="sm_txt">* 는 필수입력 사항입니다.</span>
                <ul class="form_list">
                    <li>
                        <div class="pnb_tit">
                            <i class="i_star"></i> <span class="pnb_t_txt">서비스 이름</span>
                            <div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'영문, 숫자, ‘-’만 포함할 수 있으며, 최대 20자까지 입력할 수 있습니다.'"><span class="ico_info"></span></button></div>
                        </div>
                        <input type="text" class="form-control" maxlength="50" placeholder="서비스 이름을 입력하세요." >
                    </li>
                    <li>
                        <div class="pnb_tit">
                            <i class="i_star"></i> <span class="pnb_t_txt">포트</span>
                            <div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'영문, 숫자, ‘-’만 포함할 수 있으며, 최대 20자까지 입력할 수 있습니다.'"><span class="ico_info"></span></button></div>
                        </div>
                        <input type="text" class="form-control" maxlength="50" placeholder="서비스 이름을 입력하세요." >
                    </li>
                    <li>
                        <div class="pnb_tit">
                            <i class="i_star"></i> <span class="pnb_t_txt">root 비밀번호</span>
                            <div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'영문, 숫자, ‘-’만 포함할 수 있으며, 최대 20자까지 입력할 수 있습니다.'"><span class="ico_info"></span></button></div>
                        </div>
                        <input type="password" class="form-control" maxlength="50" placeholder="비밀번호를 입력하세요." >
                    </li>
                    <li>
                        <div class="pnb_tit">
                            <i class="i_star"></i> <span class="pnb_t_txt">root 비밀번호 확인</span>
                            <div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'영문, 숫자, ‘-’만 포함할 수 있으며, 최대 20자까지 입력할 수 있습니다.'"><span class="ico_info"></span></button></div>
                        </div>
                        <input type="password" class="form-control" maxlength="50" placeholder="비밀번호를 확인하세요." >
                    </li>
                    <li ng-include="contents.htmlUrls.userDbUse"></li>
                    <li ng-include="contents.htmlUrls.deployTypeRadio"></li>
                    <li ng-show="contents.data.deployType == 'cluster'" ng-include="contents.htmlUrls.octaviaLbUse"></li>
                    <li ng-include="contents.htmlUrls.spaceSelect"></li>
                    <li ng-include="contents.htmlUrls.volumeSelect"></li>
                </ul>
            </div>
            <div class="pn_footer" ng-include="contents.htmlUrls.createDeployBtn"></div>
        </div>
    </li>
    <li>
        <div class="panel_box pn_r" ng-include="contents.htmlUrls.createDeployInfo"></div>
    </li>
</ul>
