<ul class="pn_list_style">
    <li>
        <div class="panel_box pn_l">
            <div class="pn_head">
                <h4 class="pnh_tit">{{ contents.vmCatalogInfo.catalogName }} 서비스 만들기</h4>
            </div>
            <form name="subPage.deployForm" novalidate>
            <input type="password" style="display: block; width:0px; height:0px; border: 0;"><!-- 아이디 패스워드 자동 입력 방지 -->
            <div class="pn_body">
                <span class="sm_txt">* 는 필수입력 사항입니다.</span>
                <ul class="form_list">
                    <li ng-include="contents.htmlUrls.deployName"></li>
                    <li ng-include="contents.htmlUrls.stackName"></li>
                    <li ng-include="contents.htmlUrls.deployTypeRadio"></li>
                    <li ng-show="contents.data.deployType == 'cluster'" ng-include="contents.htmlUrls.octaviaLbUse"></li>
                    <li ng-include="contents.htmlUrls.servicePort"></li>
                    <li ng-include="contents.htmlUrls.rootPassword"></li>
                    <li ng-include="contents.htmlUrls.rootConfirmPassword"></li>
                    <li ng-include="contents.htmlUrls.userDbUse"></li>
                    <li ng-include="contents.htmlUrls.zoneSelect"></li>
                    <li ng-include="contents.htmlUrls.spacSelect"></li>
                    <li ng-include="contents.htmlUrls.volumeSelect"></li>
                </ul>
            </div>
            </form>
            <div class="pn_footer" ng-include="contents.htmlUrls.createDeployBtn"></div>
        </div>
    </li>
    <li>
        <div class="panel_box pn_r" ng-include="contents.htmlUrls.createDeployInfo"></div>
    </li>
</ul>
