<!-- 생성된 서버 -->
<div class="cont-titWrap mt50">
    <h3 class="h-tit3">생성된 서버</h3>
</div>
<ul class="ul-panel ctlog-panel">
    <li ng-repeat="(key, server) in ( contents.servers | filter: { instance : '!null' } )">
        <!-- panel -->
        <div class="panelWrap">
            <div class="panel type5">
                <div class="panel_head pdlr30">
                    <div class="tit_area">
                        <p class="tit"><a href="" ng-click="main.goToPage('/gpu/compute/detail/' + server.instance.id)">{{ server.instance.name }}</a></p>
                    </div>
                </div>
                <div class="panel_body">
                    <div class="ctlog_cntWrap">
                        <div class="ctlog-cnt">
                            <div class="logoBox">
                                <div ng-if="contents.vmCatalogDeployInfo.deployStatus == 'CREATE_IN_PROGRESS' && contents.vmCatalogDeployInfo.stackStatus != 'CREATE_FAILED'" class="ul-in2 spinner_area">
                                    <img ng-src="images/loading/loading_cloud.gif" height="160">
                                    <div class="text-center">
                                        <p class="txt"><span class="ico ico-timer"></span>서버 생성 중입니다.</p>
                                    </div>
                                </div>
                                <div ng-if="(contents.vmCatalogDeployInfo.deployStatus == 'DEPLOY_IN_PROGRESS' && contents.vmCatalogDeployInfo.stackStatus != 'CREATE_FAILED') || (contents.vmCatalogDeployInfo.deployStatus == 'DEPLOY_COMPLETE' && contents.vmCatalogDeployInfo.stackStatus == 'CREATE_IN_PROGRESS')" class="ul-in2 spinner_area">
                                    <img ng-src="images/loading/lg.triple-gears-loading-icon.gif" height="160">
                                    <div class="text-center">
                                        <p class="txt"><span class="ico ico-timer"></span>서비스 배포 및 설정 중입니다.</p>
                                    </div>
                                </div>
                                <div ng-if="contents.vmCatalogDeployInfo.stackStatus == 'CREATE_FAILED'" class="ul-in2 spinner_area">
                                    <img ng-src="images/loading/614369-cloud_error-512.png" height="160">
                                    <div class="text-center">
                                        <p class="txt"><span class="ico ico-timer"></span>생성 실패입니다.</p>
                                    </div>
                                </div>
                                <div ng-if="contents.vmCatalogDeployInfo.stackStatus == 'DELETE_IN_PROGRESS'" class="ul-in2 spinner_area">
                                    <img ng-src="images/loading/funny-trash-playing.gif" height="160">
                                    <div class="text-center">
                                        <p class="txt"><span class="ico ico-timer"></span>삭제 중입니다.</p>
                                    </div>
                                </div>
                                <img ng-if="contents.vmCatalogDeployInfo.deployStatus == 'DEPLOY_COMPLETE' && contents.vmCatalogDeployInfo.stackStatus == 'CREATE_COMPLETE'" ng-src="images/thum/im_thum_centos_300.png" >
                            </div>
                        </div>
                        <div class="ctlog-cnt">
                            <ul>
                                <li>
                                    <strong class="tit">접속 계정</strong>
                                    <span class="txt">centos</span>
                                </li>
                                <li>
                                    <strong class="tit">접속 IP</strong>
                                    <span class="txt"><a href="">{{ server.instancePort.fixed_ips[0].ip_address }}</a></span>
                                    <button type="button" tooltip-placement="top" uib-tooltip-html="'복사하기'" ng-click="contents.fn.copyConnectInfoToClipboard(server.instancePort.fixed_ips[0].ip_address)"><span class="ico_sm ico_copy"></span></button>
                                </li>
                                <li>
                                    <strong class="tit">접속 인증 키</strong>
                                    <span class="txt">default</span>
                                    <button type="button" tooltip-placement="top" uib-tooltip-html="'파일 다운로드'" ng-click="contents.fn.getKeyFile('default', 'privateKey')"><span class="ico_sm ico_file_dw"></span></button>
                                </li>
                                <li ng-if="contents.vmCatalogDeployInfo.volumeUse">
                                    <strong class="tit">데이터 디스크</strong>
                                    <span class="txt">{{ contents.vmCatalogDeployInfo.parameters.volume_size | displayVolume : 'GB' }} <button type="button" tooltip-placement="top" uib-tooltip-html="'디스크 이름: {{ server.volume.name }}'"><span class="ico_info"></span></button></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //panel -->
    </li>
</ul>
<!-- //생성된 서버 -->
