 <!-- 부하분산 서버정보 -->
 <h3 class="heading h3 margin-top-50">부하분산 서버정보</h3>
 <section class="panel panel-bordered app-info-area">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<div class="round-img pull-left">
					<img src="images/thum/im_logo_compute.png" class="logo" alt="">
				</div>
				<div class="pull-left">
					<h3 class="panel-title padding-left-5">
						<a href="" ng-click="main.goToPage('/gpu/loadbalancer/detail/' + contents.octaviaLb.loadBalancer.id)">{{ contents.octaviaLb.loadBalancer.name }}</a>
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		
		<div ng-if="contents.vmCatalogDeployInfo.stackStatus != 'CREATE_COMPLETE'">
			<!-- 서버생성중 -->
			<div class="text-center padding-vertical-50" ng-if="contents.vmCatalogDeployInfo.stackStatus == 'CREATE_IN_PROGRESS' && contents.vmCatalogDeployInfo.deployStatus == 'CREATE_IN_PROGRESS'">
				<div class="spinner-border spinner-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<div class="margin-top-20">서버 생성 중입니다.</div>
			</div>
			<!-- //서버생성중 -->
			
			<!-- 서버 생성 실패 -->
			<div class="text-center padding-vertical-30" ng-if="contents.vmCatalogDeployInfo.stackStatus == 'CREATE_FAILED'">
				<i class="xi-close-circle-o font-size-40 red-500"></i>
				<div class="margin-top-20">생성 실패입니다.</div>
			</div>
			<!-- //서버 생성 실패 -->
			
			<!-- 서버 삭제 중 -->
			<div class="text-center padding-vertical-50" ng-if="contents.vmCatalogDeployInfo.stackStatus == 'DELETE_IN_PROGRESS'">
				<div class="spinner-border spinner-danger" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<div class="margin-top-20">삭제 중입니다.</div>
			</div>
			<!-- //서버 삭제 중 -->
		</div>
		
		<div ng-if="contents.vmCatalogDeployInfo.stackStatus == 'CREATE_COMPLETE'" >
			<div class="clearfix">
				<div class="col-md-4">
					<ul class="list-dot margin-bottom-20">
						<li>
							<b>접속 IP :</b> 
							<span>{{ contents.octaviaLb.loadBalancer.vip_address }}</span>
							<button type="button" tooltip-placement="top" uib-tooltip-html="'복사하기'" ng-click="contents.fn.copyConnectInfoToClipboard(contents.octaviaLb.loadBalancer.vip_address)"><span class="feather-icon blue-600 margin-left-5"><i data-feather="copy" class="feather-directive"></i></span></button>
						</li>
						<li>
							<b>연결포트 :</b> 
							<span>{{ contents.octaviaLb.listeners[0].listener.protocol_port }}</span>
						</li>
						<li>
							<b>프로토콜 :</b> 
							<span>{{ contents.octaviaLb.listeners[0].listener.protocol }}</span>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-dot margin-bottom-20">
						<li>
							<b>접속 포트 :</b> 
							<span>{{ contents.octaviaLb.listeners[0].listener.protocol_port }}</span>
						</li>
						<li>
							<b>로드 밸런스 유형 :</b> 
							<span>{{ contents.octaviaLb.listeners[0].pool.lb_algorithm }}</span>
						</li>
						<li>
							<b>헬스 체크 주기(초) :</b> 
							<span>{{ contents.octaviaLb.listeners[0].monitor.timeout }}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //부하분산 서버정보 -->