<div id="content" class="container-fluid memberContainer">
	<h4>{{'label.business_info' | translate }}</h4>
    <div class="containerWrap">
        <form name="companyForm" >
			<p class="topInfoWrap">아래 항목에서 별 표시(<span class="require"></span>)는 모두 필수 입력 항목입니다</p>
			<div class="tableWrap">
				<table class="table">
					<colgroup>
						<col style="width:160px;" />
						<col />
					</colgroup>
					<tbody>
					<tr>
						<th>
							<span class="require"></span>
							<label for="companyId">{{ 'label.business_id' | translate }}</label>
						</th>
						<td>
							<input type="text" class="form-control" id="companyId" name="companyId" ng-model="companyInfo.companyId" disabled />
						</td>
					</tr>
					<tr>
						<th>
							<span class="require"></span>
							<label for="companyName">{{ 'label.business_name' | translate }}</label>
						</th>
						<td>
							<input type="text" class="form-control" id="companyName" name="companyName" ng-model="companyInfo.companyName" placeholder="{{ 'message.mi_type_business_name' | translate }}" required />
						</td>
					</tr>
					<tr>
						<th>
							<span class="require"></span>
							<label for="representativeName">{{ 'label.representative_name' | translate }}</label>
						</th>
						<td>
							<input type="text" class="form-control" id="representativeName" name="representativeName" ng-model="companyInfo.representativeName" placeholder="{{ 'message.mi_representative_name' | translate }}" required />
						</td>
					</tr>
					<tr class="phoneNumWrap">
						<th>
							<span class="require"></span>
							{{ 'label.registration_number' | translate }}</span>
						</th>
						<td class="numberWrap">
							<input class="form-control" type="text" id="registrationNo1" name="registrationNo1" minlength="3" maxlength="3" ng-model="companyInfo.registrationNumber1" placeholder="000" only-number required/>
							<span>-</span>
							<input class="form-control" type="text" id="registrationNo2" name="registrationNo2" minlength="2" maxlength="2" ng-model="companyInfo.registrationNumber2" placeholder="00" only-number required/>
							<span>-</span>
							<input class="form-control" type="text" id="registrationNo3" name="registrationNo3" minlength="5" maxlength="5" ng-model="companyInfo.registrationNumber3" placeholder="00000" only-number required/>
							<!--
							<span class="help-block" ng-show="companyForm.registrationNo1.$error.required || companyForm.registrationNo2.$error.required || companyForm.registrationNo3.$error.required">{{ 'message.mi_required_item' | translate }}</span>
							<span class="help-block" ng-show="companyForm.registrationNo1.$error.minlength || companyForm.registrationNo2.$error.minlength || companyForm.registrationNo3.$error.minlength">{{ 'message.mi_error_len_busi_no' | translate }}</span>
                            -->
						</td>
					</tr>
					<tr>
						<th>
							<span class="require none"></span>
							<label for="address">{{ 'label.address' | translate }}</label>
						</th>
						<td>
							<input type="text" class="form-control" id="address" name="address" ng-model="companyInfo.address" placeholder="{{ 'message.mi_type_address' | translate }}"/>
						</td>
					</tr>
					<tr class="phoneNumWrap">
						<th>
							<span class="require"></span>
							{{ 'label.representative_tel_no' | translate }}
						</th>
						<td class="numberWrap">
							<select id="phoneNo1" name="phoneNo1" ng-model="companyInfo.phoneNumber1">
								<option value="">{{ 'label.select' | translate }}</option>
								<option ng-repeat="pNumber in phoneNumbers" value="{{pNumber.no}}">{{pNumber.no}}</option>
							</select>
							<span>-</span>
							<input class="form-control" type="text" id="phoneNo2" name="phoneNo2" ng-model="companyInfo.phoneNumber2" minlength="3" maxlength="4" ng-minlength="3" ng-maxlength="4" placeholder="0000" only-number>
							<span>-</span>
							<input class="form-control" type="text" id="phoneNo3" name="phoneNo3" ng-model="companyInfo.phoneNumber3" minlength="4" maxlength="4" ng-minlength="3" ng-maxlength="4" placeholder="0000" only-number>
							<!--
							<span class="help-block" ng-show="companyForm.phoneNo1.$error.required || companyForm.phoneNo2.$error.required || companyForm.phoneNo3.$error.required">{{ 'message.mi_required_item' | translate }}</span>
							<span class="help-block" ng-show="companyForm.phoneNo1.$error.minlength || companyForm.phoneNo2.$error.minlength || companyForm.phoneNo3.$error.minlength">{{ 'message.mi_error_len' | translate }}</span>
                            -->
						</td>
					</tr>
					<tr>
						<th>
							<span class="require"></span>
							<label for="username">{{ 'label.manager_name' | translate }}</label>
						</th>
						<td>
							<input type="text" id="username" name="username" ng-model="managerInfo.userName" placeholder="{{ 'message.mi_type_name' | translate }}" disabled />
						</td>
					</tr>
					<tr class="phoneNumWrap">
						<th>
							<span class="require none"></span>
							{{'label.mobile_no' | translate }}
						</th>
						<td>
							<input class="form-control" type="text" id="cellphoneNo1" name="cellphoneNo1" minlength="3" maxlength="3" ng-model="managerInfo.cellphoneNumber1" placeholder="000" only-number disabled/>
							<span>-</span>
							<input type="text" id="cellphoneNo2" name="cellphoneNo2" ng-model="managerInfo.cellphoneNumber2" only-number minlength="3" maxlength="4" ng-minlength="3" ng-maxlength="4" placeholder="0000" disabled/>
							<span>-</span>
							<input type="text" id="cellphoneNo3" name="cellphoneNo3" ng-model="managerInfo.cellphoneNumber3" only-number minlength="4" maxlength="4" ng-minlength="4" ng-maxlength="4" placeholder="0000" disabled/>

						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="bottomBtnWrap">
				<button class="btn btn-add" ng-click="updateCompany()">{{ 'label.save' | translate }}</button>
			</div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var winHeight = $(window).height();
        $(".memberContainer").css("min-height",winHeight-163)
    });
</script>