<script type="text/javascript">
	$(document).ready(function(){
		$(".carousel").hide();
	});
</script>
<div class="topVisualContainer productTop">
	<nav class="navbar navbar-default product-sub-nav">
		<div class="container-fluid">
			<a class="back-product-list" href="#/product"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
			<div class="navbar-header">
				<a class="navbar-brand" href="">상품</a>
			</div>
			<ul class="nav navbar-nav product-nav-list">
				<li class="active"><a href="#/product/iaas/computing/server">인프라 서비스</a></li>
				<li><a href="#/product/paas">플랫폼 서비스</a></li>
				<li><a href="#/product/devops/git">DevOps</a></li>
			</ul>
		</div>
	</nav>
	<div class="productTopLeft"></div>
	<div class="productTopRight"></div>
	<div class="topVisualWrap">
		<!--<img src="../img/img_supporttop.png" width="1069" height="201" alt="" />-->
		<h3>상품안내</h3>
		<p>Compute, Storage, Network 등 다양한 클라우드 상품을 만나보세요.</p>
	</div>
</div>
<div id="content" class="container-fluid productContainer">
	<div class="pull-left">
		<dl>
			<dt>COMPUTING</dt>
			<dd>
				<a href="#/product/iaas/computing/server">
					<img src="../img/ico_service_0001.png" width="40" height="40" alt="" />
					<span>
						<span class="title">Server</span>
						비즈니스 환경에 맞춰 원하는 서버를 제공받을 수 있습니다.
					</span>
				</a>
			</dd>
			<!--<dd>
				<a href="#/product/computing/autoscaling">
					<img src="../img/ico_service_0002.png" width="40" height="40" alt="" />
					<span>
						<span class="title">Auto Scaling</span>
						사용자가 미리 설정한 이벤트에 따라 서버 수를 자동으로 증가<br />또는 감소시켜 줍니다
					</span>
				</a>
			</dd> -->
		</dl>
		<dl>
			<dt>NETWORK</dt>
			<dd>
				<a href="#/product/iaas/network/loadbalancer">
					<img src="../img/ico_service_0003.png" width="40" height="40" alt="" />
					<span>
						<span class="title">Load Balancer</span>
						서버의 성능과 부하량을 고려해 네트워크 트래픽을 다수의 서버로<br />분산시켜 줍니다.
					</span>
				</a>
			</dd>
			<dd>
				<a href="#/product/iaas/network/ipsecvpn">
					<img src="../img/ico_service_0010.png" width="40" height="40" alt="" />
					<span>
						<span class="title">IPSec VPN</span>
						외부에 있는 사용자가 효율적으로 내부 서비스를 이용할 수 있는<br />환경을 제공합니다.
					</span>
				</a>
			</dd>
		</dl>
	</div>
	<div class="pull-right">
		<dl>
			<dt>STORAGE</dt>
		<!--<dd>
				<a href="">
					<img src="../img/ico_service_0004.png" width="40" height="40" alt="" />
					<span>
						<span class="title">File Storage</span>
						언제 어디서나 데이터를 저장하고 확인할 수 있는 스토리지 입니다.
					</span>
				</a>
			</dd> -->
			<dd>
				<a href="#/product/iaas/storage/blockstorage">
					<img src="../img/ico_service_0005.png" width="40" height="40" alt="" />
					<span>
						<span class="title">Block Storage</span>
						서버에 할당하여 사용하는 스토리지 입니다.
					</span>
				</a>
			</dd>
			<dd>
				<a href="#/product/iaas/storage/objectstorage">
					<img src="../img/ico_service_0011.png" width="40" height="35" alt="" />
					<span>
						<span class="title">Object Storage</span>
						자유롭게 데이터를 저장 및 확인이 가능한 스토리지 입니다.
					</span>
				</a>
			</dd>
		<!--<dd>
				<a href="">
					<img src="../img/ico_service_0006.png" width="40" height="40" alt="" />
					<span>
						<span class="title">NAS</span>
						다수의 서버가 네트워크로 연결해 사용할 수 있는 스토리지 입니다.
					</span>
				</a>
			</dd>-->
			<dd>
				<a href="#/product/iaas/storage/backup">
					<img src="../img/ico_service_0007.png" width="40" height="40" alt="" />
					<span>
						<span class="title">Backup</span>
						서비스 장애 및 데이터 손실을 최소화하고, <br />특정 경우에 장치의 가상 이미지를 생성하게 합니다.
					</span>
				</a>
			</dd> 
		</dl>
    <!--<dl>
			<dt>DATABASE</dt>
			<dd>
				<a href="">
					<img src="../img/ico_service_0008.png" width="40" height="40" alt="" />
					<span>
						<span class="title">MySQL</span>
						가장 많이 사용되고 있는 오픈 소스 관계형 데이터 베이스 관리<br />시스템 입니다.
					</span>
				</a>
			</dd>
			<dd>
				<a href="">
					<img src="../img/ico_service_0009.png" width="40" height="40" alt="" />
					<span>
						<span class="title">Redis</span>
						빠른 응답속도를 가진 고성능 오픈 소스인 메모리 데이터 베이스 입니다.
					</span>
				</a>
			</dd>
		</dl>-->
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var winHeight = $(window).height();
        $(".productContainer").css("min-height",winHeight-434)
    });
</script>