<div class="mainWrap container-fluid devopsConsoleWrap">
	<div class="main devopsService">
	    <div class="serviceMain">
            <div class="devServiceInfo devServiceMg">
                <h3 class="title">
                    Dev-Ops 서비스 
                </h3> 
                <p class="devopsComm">
                Dev–Ops 서비스를 통해 프로젝트를 안정적이고 빠른 속도로 서비스 할 수 있도록 제공하고 있습니다. 
                </p>
            </div>
            <div class="devManage">
                <div class="main">
                    <div class="mainItem devConBox">
                      <h4>빠르고 안정적인 <b>빌드와 배포 관리 서비스</b></h4>
                      <p>본 서비스는 높은 품질의 프로젝트의 완성도를 위하여 더 빠르고 더 고품질의 자동화 된 빌드와 배포 서비스를 제공합니다.
                        <br/>프로젝트에서 파이프 라인 상태를 볼 수 있어 빌드 프로세스 유지에 용이하며, 버전화 되어 복잡한 프로젝트를<br/> 간편하게 관리 할 수 있습니다.</p> 
                      <p class="subComm">빠른 빌드와 배포 / 파이프 라인 팀 공유 / 복잡한 프로젝트 관리</p>
                      <div class="bottomBtnWrap">
                         <button type="button" class="btn btn-add" ng-click="contents.goUrl('ci');">서비스 시작</button>
                         <button type="button" class="btn btn-more" ng-click="contents.productUrl('ci');">상품 더 알아보기</button>
					  </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
</div>