<div class="mainWrap container-fluid devopsConsoleWrap">
	<div class="main devopsService">
	    <div class="serviceMain"> 
            <!--<img src="img/img_beta_icon.png" width="80" height="31" alt="">-->
            <div class="devServiceInfo">
                <h3 class="title betaSign">
                    Dev-Ops 서비스 
                </h3> 
                <p class="devopsComm">
                    <span>Dev–Ops 서비스를 통해 프로젝트를 안정적이고 빠른 속도로 서비스 할 수 있도록 제공하고 있습니다.</span>
                    프로젝트 시 협업과 통합이 필수인 개발 팀 및 운영 팀의 유용하고 편리한 서비스 입니다.<br/>
                    Dev-Ops 서비스를 사용하여 좀 더 편리하고 빠른 서비스를 경험해 보시기 바랍니다.
                </p>
            </div>
            <div class="devopsServiceList">
                <div class="main">
                    <div class="mainItem"> 
                        <a href="#/devops/devopsGit">
                            <img src="img/ico_devops_service01.png" width="46" height="46" alt=""/>
                            <span>
                                <span class="title">빠르고 효율적으로 사용 할 수 있는 <b>형상관리 서비스</b></span>
                                빠르고 쉬운 구성 / git호환 프라이빗 서비스 / 이슈, 버그의 빠른 확인
                            </span>
                        </a>
                    </div>
                </div>
                <div class="main">
                    <div class="mainItem">
                        <a href="#/devops/devopsCi">
                            <img src="img/ico_devops_service02.png" width="45" height="45" alt=""/>
                            <span>
                                <span class="title">빠르고 안정적인 <b>빌드와 배포 관리 서비스</b></span>
                                빠른 빌드와 배포 / 파이프 라인 팀 공유 / 복잡한 프로젝트 관리
                            </span>
                        </a>
                    </div>
                </div>
                <div class="main">
                    <div class="mainItem">
                        <a href="#/devops/devopsWide">
                            <img src="img/ico_devops_service03.png" width="45" height="45" alt=""/>
                            <span>
                                <span class="title">언제 어디든 개발이 가능한 <b>웹 개발 도구 서비스</b></span>
                                간편한 개발 환경 / 간편한 통합과 안정성 / 장소 상관 없는 개발 환경
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>