<div class="inner">
	<div class="pull-left">
		<h1 class="logo"><a href="#/"><img ng-src="{{main.topLogoIcon}}" alt="HUB POP"></a></h1>
	</div>
	<div class="pull-right">
<!--
		<div class="align_l">
			<div class="col col-proj">
				<div class="dropdown">
					<button id="btn-projt" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="txt">{{main.sltPortalOrgDisplayName ? main.sltPortalOrgDisplayName : "프로젝트"}}</span>
						<span class="ico arr"></span>
					</button>
					<ul class="dropdown-menu" role="btn-projt" aria-labelledby="btn-projt">
						<span class="bg_arrw"></span>
						<a ng-if="main.userAuth == 'M'" class="btn_create_proj" ng-click="main.addOrgProjectFormOpen($event)">프로젝트 생성</a>
						<li ng-repeat="orgItem in main.portalOrgs" ng-if="$index < 5"><a ng-click="main.goToPortalOrgPage(orgItem);">{{orgItem.orgName}}</a></li>
						<a class="btn_all_proj" href="/#/comm/projects">전체프로젝트</a>
					</ul>
				</div>
			</div>
		</div>
-->
		<div class="align_r">
			<!-- 기타서비스 임시 주석처리(컨텐츠 완료 후 해제)-190109 
			<div class="col col-etc">
				<button id="btn-set2" type="button" class="btn" title="기타서비스" tooltip-placement="bottom" uib-tooltip="기타서비스" onclick="location.href = '#/tutorial/1';">
					<span class="ico"></span>
				</button>
			</div> -->
			<!-- 튜토리얼 임시 주석처리(컨텐츠 완료 후 해제)-190109 
			<div class="col col-tuto">
				<button id="btn-set2" type="button" class="btn" title="매뉴얼" tooltip-placement="bottom" uib-tooltip="매뉴얼" onclick="location.href = '#/tutorial/1';">
					<span class="ico"></span>
				</button>
			</div> -->
			<div class="col col-noti" ng-show="main.userTenantId">
				<div class="dropdown">
					<button type="button" name="button" class="btn btn-noti" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false" title="{{ 'comm.label.alarm' | translate }}">
						<span class="ico">
							<em class="badge" ng-show="main.alarmCnt > 0">{{ main.alarmCnt }}</em>
						</span>
					</button>
					<ul class="dropdown-menu" role="btn-noti" aria-labelledby="btn-noti">
						<li class="noti-txt ng-binding">총 <em class="ng-binding">{{ main.alarmCnt }}</em>개의 알람이 있습니다.</li>
						<li class="divider"></li>
						<li ng-repeat="alarm in main.alarmList | limitTo:5" class="noti-li" ng-click="main.alarmListOnClick('#/iaas/compute/alarm', alarm.id)">
							<div class="noti-name">{{ alarm.alarmType.substr(0, 1).toUpperCase() }}</div>
							<a class="ng-binding noti-tit">{{ alarm.title }}<div class="ng-binding noti-date">{{ alarm.regDate }}</div></a>
						</li>
						<li class="divider"></li>
						<li class="noti-more">
							<a href="#/iaas/compute/alarm" class="ng-binding">알람 더보기 <span class="ico"><em class="badge ng-binding"></em></span></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col col-my">
				<div class="dropdown" ng-class="{userIcon03: main.userAuth == 'M'}">
					<button id="btn-my" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<p class="name">{{ main.userInfo.user_name }}{{ 'label.dear' | translate }}</p>
						<span class="ico arr"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="btn-my" aria-labelledby="btn-my">
						<li><a href="#/comm/memberEdit"><span class="ico ico1"></span>{{ 'label.personal_info_edit' | translate }}</a></li>
						<!--<li><a href="#/comm/boards/faq"><span class="ico ico2"></span>나의 문의내역</a></li>
						<li><a href="#/comm/boards/qna"><span class="ico ico3"></span>문의하기</a></li>-->
						<!-- <li><a href="#/comm/boards/notice"><span class="ico ico3"></span>{{ 'label.board_notice' | translate }}</a></li> -->
						<li><a href="" ng-click="main.logout()"><span class="ico ico4"></span>{{ 'label.logout' | translate }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

