
<!-- table -->
<div class="tbw type1">
    <table class="table">
        <colgroup>
            <col style="width:30%;">
            <col style="width:auto;">
        </colgroup>
        <tbody>
        <span class="tbw_tit">Swift</span>
        <tr>
            <th scope="row">User ID</th>
            <td><input type="text" class="form-control" ng-click="pop.fn.selectInput($event)" ng-model="pop.secret.swiftuserId" style="width:98%"></td>
        </tr>
        <tr>
            <th scope="row">Secret Access Key</th>
            <td><input type="text" class="form-control" ng-click="pop.fn.selectInput($event)" ng-model="pop.secret.swiftSecreteAccessKey" style="width:98%"></td>
        </tr>
        <tr>
            <th scope="row">URL</th>
            <td><input type="text" class="form-control" ng-click="pop.fn.selectInput($event)" ng-model="pop.secret.swiftUrl" style="width:98%"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="tbw type1">
    <table class="table">
        <colgroup>
            <col style="width:30%;">
            <col style="width:auto;">
        </colgroup>
        <tbody>
        <span class="tbw_tit mgt30">S3</span>
        <tr>
            <th scope="row">Rest Endpoint</th>
            <td><input type="text" name="" value="" class="form-control" ng-click="pop.fn.selectInput($event)" ng-model="pop.secret.s3RadosEndPoint"></td>
        </tr>
        <tr>
            <th scope="row">Access Key ID</th>
            <td><input type="text" name="" value="" class="form-control" ng-click="pop.fn.selectInput($event)" ng-model="pop.secret.s3AccessKey"></td>
        </tr>
        <tr>
            <th scope="row">Secret Access Key</th>
            <td><input type="text" name="" value="" class="form-control" ng-click="pop.fn.selectInput($event)" ng-model="pop.secret.s3SecreteAccessKey"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //table -->
