<div class="tbw type1">
    <table class="table">
        <colgroup>
            <col style="width: 25%;">
            <col style="width: auto;">
        </colgroup>
        <tbody>
            <div class="infoBox">
                <div class="info_head">
                    <h5 class="tit_access">접속 정보</h5>
                </div>
                <li>
                    <div class="infoBox">
                        <div class="info_body pd0">
                            <!-- 내부컨텐츠 -->
                            <div class="access_info_area">
                                <ul>
                                    <li>
                                        <dl>
                                            <dt class="tit_address">오브젝트 스토리지 접속 주소</dt>
                                            <dd>{{contents.sendSecretInfoList.s3RadosEndPoint}}</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt class="tit_access_key">Access Key ID</dt>
                                            <dd>{{contents.sendSecretInfoList.s3AccessKey}}</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt class="tit_secret">Secret Access Key</dt>
                                            <dd>{{contents.sendSecretInfoList.s3SecreteAccessKey}}</dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                            <!-- //내부컨텐츠 -->
                        </div>
                    </div>
                </li>
                <!-- //접속정보 -->
                </div>
        </tbody>
    </table>
</div>
