
<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 33%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">볼륨 크기(변경 전)<!-- <button type="button" tooltip-placement="right" uib-tooltip="툴팁"><span class="ico-info1 ico"></span></button> --></th>
				<td>
				<!-- <input type="text" name="" value="" class="form-control" placeholder="{{pop.volume.size}}" disabled> <span class="app-tit">GB</span> -->
					<div class="inputbox input-inline">
						<input type="text" name="" value="" class="form-control" placeholder="{{pop.volume.size}}" style="width:90%;">
						<label class="label-txt">GB</label>
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">볼륨 크기(변경 후)</th>
				<td>
					<div class="inputbox input-inline">

						<input type="number"  ng-model="pop.inputVolumeSize" ng-change="pop.inputVolumeSizeChange();" ng-blur="pop.inputVolumeSizeBlur();" name="volumeSize" maxlength="4" class="form-control" placeholder="내용입력" style="width:90%;">
						<label class="label-txt">GB</label>
					</div>
				</td>
				
			</tr>
		</tbody>
	</table>
	<div class="disk_area">
		<div ng-if="pop.isTenantResourceLoad" class="disk_info ng-binding">최대 {{pop.reSizeSliderOptions.ceil | displayVolume : 'GB'}}</div>
		<p>마우스를 움직여 생성하실 볼륨의 크기를 설정 해주세요.</p>
		<div class="disk_box">
			<div class="rangeWrap type2">
				<div ng-if="pop.isTenantResourceLoad" class="range_box">
					<rzslider rz-slider-model="pop.volumeSize" rz-slider-options="pop.reSizeSliderOptions"></rzslider>
				</div>
			</div>
		</div>
	</div>
	<span class="sm_point"><em>*</em>볼륨 크기는 최대 2TB까지 설정이 가능합니다.</span>
</div>
<!-- //table -->
