<div class="board-warp board-write-wrap">
	<table class="table">
		<colgroup>
			<col style="width: 35%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">볼륨 크기(변경 전)<!-- <button type="button" tooltip-placement="right" uib-tooltip="툴팁"><span class="ico-info1 ico"></span></button> --></th>
				<td>
				<!-- <input type="text" name="" value="" class="form-control form-control-sm" placeholder="{{pop.volume.size}}" disabled> <span class="app-tit">GB</span> -->
					<div class="style-table">
						<div class="style-td padding-right-10" style="width:90%;">
							<input type="text" name="" class="form-control form-control-sm" value="{{pop.volume.size}}"readonly="readonly">
						</div>
						<div class="style-td">
							<label class="label-txt">GB</label>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">볼륨 크기(변경 후)</th>
				<td>
					<div class="style-table">
						<div class="style-td padding-right-10" style="width:90%;">
							<input type="number" ng-model="pop.inputVolumeSize" ng-change="pop.inputVolumeSizeChange();" ng-blur="pop.inputVolumeSizeBlur();" name="volumeSize" maxlength="4" class="form-control form-control-sm" placeholder="내용입력">
						</div>
						<div class="style-td">
							<label class="label-txt">GB</label>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- 볼륨 추가 -->
<div class="disk_area">
	<p class="font-size-13">마우스를 움직여 생성하실 볼륨의 크기를 설정 해주세요.</p>
	<div class="disk_box margin-top-20">
		<div ng-if="pop.isTenantResourceLoad" class="disk_info" style="top:0;">최대 {{pop.reSizeSliderOptions.ceil | displayVolume : 'GB'}}</div>
		<div class="rangeWrap type2">
			<div class="range_box rb_l" ng-if="true">
				<rzslider rz-slider-model="pop.volumeSize" rz-slider-options="pop.reSizeSliderOptions"></rzslider>
			</div>
		</div>
	</div>
</div>
<!--<div class="alert alert-primary margin-top-20" role="alert">
	<i data-feather="file-text" class="feather-directive"></i>
	<div class="text-area">볼륨 크기는 최대 2TB까지 설정이 가능합니다.</div>
</div>-->
<!-- //볼륨 추가 -->
