<!-- 검색 및 목록 타입 선택 -->
<div class="card-input-wrap" ng-if="!!main.userTenantGpuId">
	<div class="row">
		<div class="col-md-6">
			<div class="font-size-18 padding-top-5">
				<b>전체 볼륨 <span class="color-primary" ng-if="!!main.userTenantGpuId">({{(contents.storageMainList | filter:{ status: '!deleting' }).length}})</span></b>
			</div>
		</div>
		<div class="col-md-6">
			<div class="text-right">
				<!-- 검색 -->
				<div class="form-group inline-block margin-bottom-0">
					<div class="input-icon-type2 icon-right">
						<input type="text" class="form-control form-control-md" placeholder="볼륨 검색" style="width:300px;" ng-model="contents.schFilterText">
						<span class="input-icon-addon" ng-click="contents.schFilterText = ''">
							<i class="xi-close"></i>
						</span>
					</div>
				</div>
				<!-- //검색 -->
				
				<!-- 목록 카드형/리스트형 선택 버튼 -->
				<button type="button" class="btn btn-default" title="카드형" ng-click="contents.listType = 'image'" ng-class="{ on : contents.listType == 'image'}">
					<div class="feather-icon">
						<i data-feather="grid" class="feather-directive"></i>
					</div>
					<span class="sr-only">카드형</span>
				</button>
				<button type="button" class="btn btn-default" title="리스트형" ng-click="contents.listType = 'list'" ng-class="{ on : contents.listType == 'list'}">
					<div class="feather-icon">
						<i data-feather="list" class="feather-directive"></i>
					</div>
					<span class="sr-only">리스트형</span>
				</button>
				<!-- //목록 카드형/리스트형 선택 버튼 -->
			</div>
		</div>
	</div>
</div>
<!-- //검색 및 목록 타입 선택 -->

<!-- button area Start-->
<div class="margin-bottom-20" ng-if="!!main.userTenantGpuId">
	<button type="button" class="btn btn-default btn-lg font-size-14" ng-click="main.goToPage('/gpu/storage/create')">
		<div class="feather-icon color-primary"><i data-feather="hard-drive" class="feather-directive"></i></div> <b>볼륨 만들기</b>
	</button>
</div>
<!-- button area end-->

<!-- 볼륨 리스트(카드형) -->
<div class="card-list-wrap"  ng-if="!!main.userTenantGpuId && (contents.storageMainList | filter:{ name: contents.schFilterText, status: '!deleting' }).length > 0 && contents.listType == 'image'">
	<div class="row">
		<div class="col-md-4" ng-repeat="volume in contents.storageMainList | filter:{ name: contents.schFilterText, status: '!deleting' }">
			<div class="card card-type1">
				<div class="card-header">
					<div class="card-info-area">
						<div class="text-box">
							<div class="top">
								<div class="row">
									<div class="col-xs-10">
										<b class="title" title="{{volume.name}}">{{volume.name}}</b>
									</div>
									<div class="col-xs-2">
										<!-- 20181122 디스크과 인스턴스 연결된 것이 있으면 링크 이미지 표현. 차후 구현시 참조. -->
										<!--<span class="link_info" ng-if="volume.volumeAttachment.instanceId"></span>-->
										<div class="pull-right dropdown btn-option">
											<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정" ng-disabled="!main.checkResourceUserRole()">
												<div class="feather-icon">
													<i data-feather="more-horizontal" class="feather-directive"></i>
												</div>
											</button>
											<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
												<li ng-if="volume.type"><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'snapshot', volume);" title="연결된 인스턴스가 ‘정지’상태인 경우 스냅샷 생성이 가능합니다.">스냅샷 생성</a></li>
												<li ng-if="!volume.type"><a class="disabled" href="javascript:void(0);" title="‘부트볼륨’은 스냅샷 생성이 불가능합니다.">스냅샷 생성</a></li>
												<li><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'rename', volume);" title="볼륨 이름 변경">볼륨 이름 변경</a></li>
												<li ng-if="volume.type && volume.status =='available'"><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'resize', volume);" title="볼륨 크기 변경">볼륨 크기 변경</a></li>
												<li ng-if="volume.type && volume.status !='available'"><a href="javascript:void(0);" class="disabled" title="볼륨 상태가 ‘사용가능’인 경우 크기 변경이 가능합니다.">볼륨 크기 변경</a></li>
												<li ng-if="!volume.type"><a href="javascript:void(0);" class="disabled" title="‘부트볼륨’은 크기를 변경할 수 없습니다..">볼륨 크기 변경</a></li>
												<!--<li ng-if="volume.status == 'in-use'" ng-click="contents.fn.dettachVolume()"><a href="javascript:void(0);" title="서버 연결 해제" >서버 연결 해제</a></li>-->
												<li ng-if="volume.type && volume.status =='available' && !volume.backupImageCount" ng-click="main.popDeleteCheckName($event, '볼륨', volume.name, contents.deleteVolumes, 'thum', volume.volumeId);"><a class="delete" href="javascript:void(0);" title="볼륨 삭제">볼륨 삭제</a></li>
												<li ng-if="volume.type && volume.status =='available' && volume.backupImageCount"><a href="javascript:void(0);" class="disabled" title="볼륨에 스냅샷이 존재하여 삭제할수 없습니다.">볼륨 삭제</a></li>
												<li ng-if="volume.type && volume.status !='available'"><a class="disabled" href="javascript:void(0);" title="볼륨 상태가 ‘사용가능’인 경우 삭제 가능합니다.">볼륨 삭제</a></li>
												<li ng-if="!volume.type"><a class="disabled" href="javascript:void(0);" title="‘부트볼륨’은 삭제할 수 없습니다.">볼륨 삭제</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="clearfix">
									<span class="lagn">볼륨스토리지</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body" style="height:230px;">
					<div class="row">
						<div class="cnt_wrap padding-0">
							<div class="col-sm-4 text-center">
								<div class="cnt_imgBox">
									<span class="cnt_img ico04"></span>
									<div class="cnt_value"><span class="t_lg">{{volume.size}}</span><span class="t_sm">GB</span></div>
									<!-- <div class="cnt_txt"><span class="txt_name">{{volume.type}}</span><span class="color1">{{volume.size | displayVolume:'GB'}}</span></div> -->
									<!--<div class="cnt_txt"><span class="txt_name">{{volume.type}}</span><span class="color1"><span count-to="{{volume.size | number : 0}}" duration="1" count-from="0" filter="number"></span>GB</span></div>-->
									<!-- UI사용 예시: 10GB(사용량) / 100GB(전체용량) 필요. -->
								</div>
							</div>
							<div class="col-sm-8">
								<div class="text-box margin-top-20">
									<ul class="list-dot font-size-13">
										<li>
											<b>볼륨타입 </b>
											<span ng-show="volume.type">{{volume.type}}</span>
											<span ng-show="!volume.type">부팅볼륨</span>
										</li>
										<li>
											<b>연결서버  </b>
											<span class="txt_long" ng-if="volume.status == 'in-use'" href="" title="{{volume.volumeAttachment.instanceName}}" ng-click="main.goToPage('/gpu/compute/detail/' + volume.volumeAttachment.instanceId);">{{volume.volumeAttachment.instanceName}}</span>
											<span ng-if="volume.status != 'in-use'">연결 정보 없음</span>
										</li>
										<li>
											<b>스냅샷 개수 </b>
											<span>{{volume.backupImageCount? volume.backupImageCount : 0 }} 개</span>
										</li>
										<li>
											<b>설명  </b>
											<div class="t_tip_bx"><a class="info-icon-tooltip"  tooltip-class="tooltip_long" tooltip-placement="top" uib-tooltip-html="'{{volume.description | enterByNbr}}'" ng-click="contents.fn.formOpen($event, 'description', volume);">i</a></div>
										</li>
										<li>
											<b><a class="link" ng-click="main.showRightSliderContents($event, '볼륨 연결 가이드', '/guideInfo/accessGuideInfoDiskConnect.html', {volume : volume});">볼륨 연결 가이드<span class="feather-icon blue-600 margin-left-5"><i data-feather="file-text" class="feather-directive"></i></span></a></b>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="margin-top-20 text-center">
						<span class="state" ng-switch="volume.status">
							<span class="state-start state-circle" ng-switch-when="in-use"></span>
							<span class="state-normal state-circle" ng-switch-when="available" ng-if="volume.status == 'available'"></span>
							<span class="state-danger state-circle" ng-switch-when="error" ng-if="volume.status == 'error'"></span>
							<span class="state-default state-circle" ng-switch-default></span>
							<span>{{ 'iaas.label.volume_' + volume.status | translate }}</span>
						</span>
					</div>
				</div>
				
				<div class="card-body text-center" style="height:200px;" ng-if="volume.status == 'creating'">
					<div class="info-chart2">
						<div class="chartWrap">
							<div stop-watch-d3-circular-progress max="120" start="true" size="120" options="{}" on-stop="contents.fn.getStorageList()" class="progress-indicator"></div>
						</div>
					</div>
					<div class="info-txt">
						<p class="txt">
							<div class="spinner-border spinner-border-sm" role="status"></div>
							<span>생성중</span>
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- //볼륨 리스트(카드형) -->

<!-- 볼륨 리스트(테이블형) -->
<section class="panel panel-bordered" ng-if="!!main.userTenantGpuId && (contents.storageMainList | filter:{ name: contents.schFilterText, status: '!deleting' }).length > 0 && contents.listType == 'list'">
	<div class="panel-body padding-0">
		<div class="table-input-wrap">
			<div class="row">
				<div class="col-sm-3">
					<div class="datatable-length">
						<span>페이지당 행 수 : </span>
						<select class="form-control form-control-sm margin-left-5" ng-model="contents.pageOptions.pageSize" ng-init="contents.pageOptions.pageSize = '10'" ng-change="contents.pageOptions.currentPage = 1">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="table-wrap">
			<table class="table table-hover" cellspacing="0" width="100%">
				<colgroup>
					<col style="width:20%;">
					<col style="width:10%;">
					<col style="width:10%;">
					<col style="width:">
					<col style="width: 10%;">
					<col style="width: 8%;">
					<col style="width: 10%;">
					<col style="width: 8%;">
				</colgroup>
				<thead class="text-center">
					<tr>
						<th scope="col">볼륨명</th>
						<th scope="col">크기(GB)</th>
						<th scope="col">볼륨타입</th>
						<th scope="col">설명</th>
						<th scope="col">연결서버</th>
						<th scope="col">스냅샷개수</th>
						<th scope="col">상태</th>
						<th scope="col">관리</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, volume) in contents.storageMainList | filter:{ name: contents.schFilterText, status: '!deleting' }" ng-show="key >= (contents.pageOptions.currentPage - 1) * contents.pageOptions.pageSize && key < contents.pageOptions.currentPage * contents.pageOptions.pageSize">
						<td>{{volume.name}}</td>
						<td class="text-center">{{volume.size}}</td>
						<td class="text-center">{{volume.type}}</td>
						<td>{{volume.description | enterByNbr}}</td>
						<td class="text-center">
							<span ng-if="volume.status == 'in-use'"><a class="txt_long" href="" title="{{volume.volumeAttachment.instanceName}}" ng-click="main.goToPage('/gpu/compute/detail/' + volume.volumeAttachment.instanceId);">{{volume.volumeAttachment.instanceName}}</a></span>
							<span ng-if="volume.status != 'in-use'">연결 정보 없음</span>
						</td>
						<td class="text-center">{{volume.backupImageCount? volume.backupImageCount : 0 }} 개</td>
						<td class="text-center">
							<span class="state" ng-switch="volume.status">
								<span class="state-start state-circle" ng-switch-when="in-use"></span>
								<span class="state-normal state-circle" ng-switch-when="available" ng-if="volume.status == 'available'"></span>
								<span class="state-danger state-circle" ng-switch-when="error" ng-if="volume.status == 'error'"></span>
								<span class="state-default state-circle" ng-switch-default></span>
								<span>{{ 'iaas.label.volume_' + volume.status | translate }}</span>
							</span>
						</td>
						<td class="text-center">
							<div class="dropdown btn-option">
								<button id="btn-option" type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정" ng-disabled="!main.checkResourceUserRole()">
									<div class="feather-icon">
										<i data-feather="more-horizontal" class="feather-directive"></i>
									</div>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
									<li ng-if="volume.type"><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'snapshot', volume);" title="연결된 서버가 ‘정지’상태인 경우 스냅샷 생성이 가능합니다.">스냅샷 생성</a></li>
									<li ng-if="!volume.type"><a class="disabled" href="javascript:void(0);" title="‘부트볼륨’은 스냅샷 생성이 불가능합니다.">스냅샷 생성</a></li>
									<li><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'rename', volume);" title="볼륨 이름 변경">볼륨 이름 변경</a></li>
									<li ng-if="volume.type"><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'description', volume);" title="볼륨 설명 변경">볼륨 설명 변경</a></li>
									<li ng-if="volume.type && volume.status =='available'"><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'resize', volume);" title="볼륨 크기 변경">볼륨 크기 변경</a></li>
									<li ng-if="volume.type && volume.status !='available'"><a href="javascript:void(0);" class="disabled" title="볼륨 상태가 ‘사용가능’인 경우 크기 변경이 가능합니다.">볼륨 크기 변경</a></li>
									<li ng-if="!volume.type"><a href="javascript:void(0);" class="disabled" title="‘부트볼륨’은 크기를 변경할 수 없습니다..">볼륨 크기 변경</a></li>
									<!--<li ng-if="volume.status == 'in-use'" ng-click="contents.fn.dettachVolume()"><a href="javascript:void(0);" title="서버 연결 해제" >서버 연결 해제</a></li>-->
									<li ng-if="volume.type && volume.status =='available' && !volume.backupImageCount" ng-click="main.popDeleteCheckName($event, '볼륨', volume.name, contents.deleteVolumes, 'thum', volume.volumeId);"><a class="delete" href="javascript:void(0);" title="볼륨 삭제">볼륨 삭제</a></li>
									<li ng-if="volume.type && volume.status =='available' && volume.backupImageCount"><a href="javascript:void(0);" class="disabled" title="볼륨에 스냅샷이 존재하여 삭제할수 없습니다.">볼륨 삭제</a></li>
									<li ng-if="volume.type && volume.status !='available'"><a class="disabled" href="javascript:void(0);" title="볼륨 상태가 ‘사용가능’인 경우 삭제 가능합니다.">볼륨 삭제</a></li>
									<li ng-if="!volume.type"><a class="disabled" href="javascript:void(0);" title="‘부트볼륨’은 삭제할 수 없습니다.">볼륨 삭제</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-bottom-wrap">
			<div class="row">
				<div class="col-sm-2">
					<span class="dataTables_info">
						{{ 'label.total' | translate }} {{ (contents.storageMainList | filter:{ name: contents.schFilterText, status: '!deleting' }).length }}{{ 'label.count' | translate }}
					</span>
				</div>
				<div class="col-sm-8">
					<nav class="text-center">
						<div class="paginationWrap">
							<paging
									page="contents.pageOptions.currentPage"
									page-size="contents.pageOptions.pageSize"
									total="(contents.storageMainList | filter:{ name: contents.schFilterText, status: '!deleting' }).length"
									pg-href=""
									show-prev-next="true"
									show-first-last="true"
									paging-action=""
									text-first-class="firstPage"
									text-last-class="lastPage"
									text-next-class="nextPage"
									text-prev-class="prevPage">
							</paging>
						</div>
					</nav>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
</section>
<!-- 볼륨 리스트(테이블형) -->

<!-- 검색결과 없음 -->
<div class="text-center blank-page" ng-if="!!main.userTenantGpuId && contents.isStorageMainListLoad && (contents.storageMainList | filter:{ name: contents.schFilterText, status: '!deleting' }).length == 0">
	<div class="img">
		<img src="../assets/img/icon/approval.png">
	</div>
	<div class="cont">
		<p>검색 결과가 없습니다.</p>
	</div>
</div>
<!-- //검색결과 없음 -->

<!-- 생성된 부하분산 서버 없을 경우 -->
<div class="welcome_layer" ng-if="!!main.userTenantGpuId && contents.storageMainList.length == 0">
	<div class="guide_fnt arrw_btm">신규 볼륨을 만들고 가상 인스턴스와 연결하세요.</div>
	<div class="text-center blank-page">
		<div class="img">
			<img src="../assets/img/icon/big-data2.png">
		</div>
		<div class="cont">
			<p>볼륨 관리는<span class="point">Block Storage 기반의 데이터 저장공간 서비스를 제공</span> 합니다.</p>
			<p>할당된 클라우드 자원 용량 내에서 사용자 스스로 필요한 만큼 볼륨을 만들고, 생성된 가상 인스턴스와 연결하는 방식으로 볼륨을 수평적으로 확장할 수 있습니다.</p>
			<p><span class="point">‘볼륨 만들기’</span>를 통해 서비스를 시작해 보세요.</p>
		</div>
		<!-- 자원사용여부 확인 후 사용하지 않을 때 [서비스 삭제하기] 활성화 -->
		<div class="text-center" ng-if="main.checkUseYnGpu == 'N' && main.userTenantGpuId">
			<div class="cont">
				<p>현재 생성된 <span class="point">자원</span>이 없습니다. <span class="point">서비스 삭제</span> 후에 <span class="point">프로젝트 삭제</span>가 가능합니다.</p>
			</div>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.deletePortalOrgSystem('gpu');" ng-disabled="!main.checkResourceUserRole()">서비스 삭제하기</button>
		</div>
		<!-- //자원사용여부 확인 후 사용하지 않을 때 [서비스 삭제하기] 활성화 -->
	</div>
</div>
<!-- //생성된 부하분산 서버 없을 경우 -->

<!-- 테넌트 생성 전인 경우(new) -->
<div class="welcome_layer" ng-if="!main.userTenantGpuId">
	<div class="text-center blank-page">
		<div class="img">
			<img src="../assets/img/icon/data-center.png" alt="data-center">
		</div>
		<div class="cont">
			<p>GPU 서버 가상화에서는 Deep Learning 고속처리를 지원하는 GPU가 포함된 가상서버를 생성하여 사용할 수 있습니다.</p>
			<p><span class="point">'서비스 시작하기'</span>를 통해 서비스를 시작해 보세요.</p>
		</div>
		<button type="button" class="btn btn-default btn-lg" ng-click="main.createPortalOrgSystem('gpu');">서비스 시작하기</button>
	</div>
</div>
<!-- //테넌트 생성 전인 경우(new) -->