			<!-- content -->
			<div class="content">
				<!-- 작업 추가 및 선택 -->
				<div class="projt-selWarp">
					<div class="pull-left">
						<!-- 선택할 수 있는 작업이 없을때 노출 -->
						<div class="projt-sel dropdown">
							<button id="btn-projt" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="txt">Hopepop_dav</span><span class="ico arr"></span>
							</button>
							<ul class="dropdown-menu" role="btn-projt" aria-labelledby="btn-projt">
								<li><a href="#">작업1</a></li>
								<li><a href="#">작업2</a></li>
							</ul>
						</div>
						<!-- 선택할 수 있는 작업이 없을때 노출
							<div class="no-txt">선택할 수 있는 작업이 없습니다. 작업을 새로 추가해주세요.</div>
						-->
					</div>

					<div class="pull-right">
						<button type="button" name="button" class="btn btn-add"><span class="ico"></span></button>
					</div>
				</div>
				<!-- //작업 추가 및 선택 -->

				<!-- title area -->
				<div class="cont-titWrap"><h3 class="h-tit3">공유 도메인</h3></div>
				<!-- //title area -->

				<!-- table -->
				<div class="tbl type1">
					<table class="table">
						<colgroup>
						<col style="width:23%;">
						<col style="width:24%;">
						<col style="width:35%;">
						<col style="width:18%;">
						</colgroup>
						<thead>
							<tr>
								<th scope="col">작업그룹</th>
								<th scope="col">도메인명</th>
								<th scope="col">URL</th>
								<th scope="col">삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>API</td>
								<td>허브팝</td>
								<td class="text-center"><a href="http://www.xxxx.com" target="_blank">http://www.xxxx.com</a></td>
								<td><button type="button" name="button" class="btn btn-add btn-ico-del-s only-ico" title="삭제"><span class="ico">삭제</span></button></td>
							</tr>
							<tr>
								<td>CELL</td>
								<td>허브팝</td>
								<td class="text-center"><a href="http://www.xxxx.com" target="_blank">http://www.xxxx.com</a></td>
								<td><button type="button" name="button" class="btn btn-add btn-ico-del-s only-ico" title="삭제"><span class="ico">삭제</span></button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- //table -->

				<!-- tb top -->
				<div class="tb-top">
					<div class="pull-left">
						<div class="searchBox">
							<div class="form-group">
								<input type="text" placeholder="작업그룹 및 도메인명" style="width:250px;">
							</div>
							<button type="button" name="button" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
						</div>
					</div>
					<div class="pull-right">
						<button type="button" name="button" class="btn btn-ico-add only-ico" title="추가"><span class="ico">추가</span></button>
					</div>
				</div>
				<!-- tb top -->

				<!-- table -->
				<div class="tbl type1">
					<table class="table">
						<colgroup>
						<col style="width:12%;">
						<col style="width:16%;">
						<col style="width:23%;">
						<col style="width:30%;">
						<col style="width:19%;">
						</colgroup>
						<thead>
							<tr>
								<th scope="col">No.</th>
								<th scope="col">작업 그룹</th>
								<th scope="col">도메인명</th>
								<th scope="col">URL</th>
								<th scope="col">편집</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>작업그룹</td>
								<td>도메인명</td>
								<td class="text-center"><a href="http://www.xxxx.com" target="_blank">http://www.xxxx.com</a></td>
								<td>
									<button type="button" name="button" class="btn btn-ico-del-s only-ico" title="삭제"><span class="ico">삭제</span></button>
									<button type="button" name="button" class="btn btn-ico-modi-s only-ico" title="수정"><span class="ico">수정</span></button>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>작업그룹</td>
								<td>도메인명</td>
								<td class="text-center"><a href="http://www.xxxx.com" target="_blank">http://www.xxxx.com</a></td>
								<td>
									<button type="button" name="button" class="btn btn-ico-del-s only-ico" title="삭제"><span class="ico">삭제</span></button>
									<button type="button" name="button" class="btn btn-ico-modi-s only-ico" title="수정"><span class="ico">수정</span></button>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>작업그룹</td>
								<td>도메인명</td>
								<td class="text-center"><a href="http://www.xxxx.com" target="_blank">http://www.xxxx.com</a></td>
								<td>
									<button type="button" name="button" class="btn btn-ico-del-s only-ico" title="삭제"><span class="ico">삭제</span></button>
									<button type="button" name="button" class="btn btn-ico-modi-s only-ico" title="수정"><span class="ico">수정</span></button>
								</td>
							</tr>
							<tr>
								<td>4</td>
								<td>작업그룹</td>
								<td>도메인명</td>
								<td class="text-center"><a href="http://www.xxxx.com" target="_blank">http://www.xxxx.com</a></td>
								<td>
									<button type="button" name="button" class="btn btn-ico-del-s only-ico" title="삭제"><span class="ico">삭제</span></button>
									<button type="button" name="button" class="btn btn-ico-modi-s only-ico" title="수정"><span class="ico">수정</span></button>
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td>작업그룹</td>
								<td>도메인명</td>
								<td class="text-center"><a href="http://www.xxxx.com" target="_blank">http://www.xxxx.com</a></td>
								<td>
									<button type="button" name="button" class="btn btn-ico-del-s only-ico" title="삭제"><span class="ico">삭제</span></button>
									<button type="button" name="button" class="btn btn-ico-modi-s only-ico" title="수정"><span class="ico">수정</span></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- //table -->

				<!-- page -->
				<nav class="pagiWrap">
					<ul class="pagination">
						<li class="first disabled"><a href="#">맨 처음</a></li>
						<li class="prev"><a href="#">이전</a></li>
						<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						<li class=" disabled"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li class="next"><a href="#">다음</a></li>
						<li class="end"><a href="#">맨 끝</a></li>
					</ul>
				</nav>
				<!-- //page -->
			</div>
			<!-- //content -->

<div ng-if="0">
	<!-- gnb menu -->
    <div class="gnbMenu">
        <div class="gnb-in">
            <h1 class="gnb-logo"><a href="#"><img src="images/cloudxpert_logo.png" alt="CloudXpert"></a></h1>
            <ul class="gnb-menu">
                <li>
                    <a href="#" class="gm" title="대시보드"><span class="ico ico-bul ico1"></span>대시보드</a><!-- selected class="gm on" -->
                </li>
                <li>
                    <a href="#" class="gm" title="프로젝트"><span class="ico ico-bul ico2"></span>프로젝트<span class="ico ico-arr"></span></a><!-- selected class="gm on" -->
                    <ul class="lnb">
                        <li class="lm"><a href="#" class="mm" title="프로젝트 관리">프로젝트 관리</a></li>
                        <li class="lm"><a href="#" class="mm" title="작업 관리">작업 관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="gm" title="플랫폼 서비스"><span class="ico ico-bul ico3"></span>플랫폼 서비스<span class="ico ico-arr"></span></a>
                    <ul class="lnb">
                        <li class="lm"><a href="#" class="mm" title="전력SW 개발 프레임워크">전력SW 개발 프레임워크</a></li>
                        <li class="lm"><a href="#" class="mm" title="표준 APP. 개발 서비스">표준 APP. 개발 서비스</a></li>
                        <li class="lm"><a href="#" class="mm" title="인터페이스 허브 서비스">인터페이스 허브 서비스</a></li>
                        <li class="lm"><a href="#" class="mm" title="분석 허브 서비스">분석 허브 서비스</a></li>
                        <li class="lm"><a href="#" class="mm" title="서버 가상화 서비스">서버 가상화 서비스</a></li>
                        <li class="lm"><a href="#" class="mm" title="GIS 플랫폼 서비스">GIS 플랫폼 서비스</a></li>
                        <li class="lm"><a href="#" class="mm" title="API Gateway 서비스">API Gateway 서비스</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="gm" title="데이터 연계"><span class="ico ico-bul ico4"></span>데이터 연계<span class="ico ico-arr"></span></a><!-- selected class="gm on" -->
                    <ul class="lnb">
                        <li class="lm"><a href="#" class="mm" title="허브팝 데이터 연계 및 보유 현황">허브팝 데이터 연계 및 보유 현황</a></li>
                        <li class="lm"><a href="#" class="mm" title="데이터 연계 신청 처리 현황">데이터 연계 신청 처리 현황</a></li>
                        <li class="lm"><a href="#" class="mm" title="데이터 연계 신청">데이터 연계 신청</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button type="button" name="button" class="gnb-close" data-user="gnb-close"><span class="ico"></span></button>
    </div>
    <!-- //gnb menu -->
</div>

	<!-- aside aside1 -->
	<div class="aside aside1">
		<!-- aside aside1 title -->
		<div class="sideTitWrap asideCnt">
			<h2 class="c_tit">보안그룹 규칙 관리 등록</h2>
			<button type="button" name="button" class="btn btn-close" data-user="aside-close"><span class="ico">닫기</span></button>
		</div>
		<!-- //aside aside1 title -->

		<!-- aside aside1 cnt -->
		<div class="sideCntWrap">
			<!-- sideInWrap -->
			<div class="sideInWrap">
				<ol class="app-set">
					<li>
						<p class="app-tit">1. 규칙을 선택해 주세요.</p>
						<select class="form-control" name="">
							<option value="">사용자 정의 TCP 규칙</option>
							<option value="">사용자 정의 UDP 규칙</option>
							<option value="">사용자 정의 ICMP 규칙</option>
							<option value="">다른 프로토콜</option>
							<option value="">모든 ICMP</option>
							<option value="">모든 TCP</option>
							<option value="">모든 UDP</option>
						</select>
					</li>
					<li>
						<p class="app-tit">2. 방향을 선택해 주세요.</p>
						<select class="form-control" name="">
							<option value="">Inbound</option>
							<option value="">Outbound</option>
						</select>
					</li>
					<li>
						<p class="app-tit">3. 사용하실 포트 또는 범위를 지정해 주세요.</p>
						<ul>
							<li>
								<div class="radio radio-inline">
									<input type="radio" name="radio1" id="app-radio1-1">
									<label for="app-radio1-1" class="label">All</label>
								</div>
							</li>
							<li>
								<div class="radio radio-inline">
									<input type="radio" name="radio1" id="app-radio1-2">
									<label for="app-radio1-2" class="label">포트</label>
								</div>
								<div class="" style="display:inline-block;">
									<input type="text" name="" value="" class="">
								</div>
							</li>
							<li>
								<div class="radio radio-inline">
									<input type="radio" name="radio1" id="app-radio1-3">
									<label for="app-radio1-3" class="label">범위</label>
								</div>
								<div class="" style="display:inline-block;">
									<input type="text" name="" value="" style="width:50px;">
									<span>~</span>
									<input type="text" name="" value="" style="width:50px;">
								</div>
							</li>
						</ul>
					</li>
					<li>
						<p class="app-tit">4. CIDR 정보를 입력해 주세요.</p>
						<input type="text" name="" value="" class="form-control">
					</li>
				</ol>
			</div>
			<!-- //sideInWrap -->
		</div>
		<!-- //aside aside1 cnt -->

		<!-- aside aside1 btm -->
		<div class="sideBtmWrap">
			<button type="button" name="button" class="btn" data-user="close">저장</button>
		</div>
		<!-- //aside aside1 btm -->
	</div>
	<!-- //aside aside1 -->

<div class="mainWrap container-fluid" ng-if="0">
	<div class="main domainWrap">
		<p class="title">
			{{ 'label.shared_domains' | translate }}
		</p>
		<ul class="sharedDomainList">
            <li ng-repeat="sharedDomainItem in contents.sharedDomains"><a href="" ng-click="contents.moveToRoutesPage(sharedDomainItem);">{{ sharedDomainItem.name }}</a></li>
		</ul>
	</div>
    <div class="main">
        <div class="topFunctionWrap">
            <div class="btnWrap">
                <ul class="systemBtnWrap">
                    <li>
                        <button type="button" class="btn btn-add" tooltip-placement="bottom" uib-tooltip="{{ 'label.domain_add' | translate }}" ng-click="contents.createPrivateDomain($event);"><img src="img/ico_add.png" width="9" height="9" alt="" />{{ 'label.domain_add' | translate }}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tableWrap">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">{{ 'label.no' | translate }}</th><!-- 번호 -->
                    <th class="col-md-4">{{ 'label.org' | translate }}</th><!-- 조직 -->
                    <th class="col-md-4">{{ 'label.domain_name' | translate }}</th><!-- 도메인명 -->
                    <th class="col-md-2">{{ 'label.set' | translate }}</th><!-- 설정 -->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, privateDomainItem) in contents.privateDomains.content">
                    <td>{{ ((contents.privateDomains.number - 1) * contents.privateDomains.size) + key + 1 }}</td>
                    <td class="text-left">{{ privateDomainItem.organization.name }}</td>
	                <td class="text-left"><a href="" ng-click="contents.moveToRoutesPage(privateDomainItem);">{{ privateDomainItem.name }}</a></td>
                    <td>
                        <button type="button" class="btn button_img" ng-click="contents.moveToRoutesPage(privateDomainItem);" tooltip-placement="bottom" uib-tooltip="{{ 'label.route' | translate }}"><img src="img//ico_route.png" width="16" height="16" alt="{{ 'label.route' | translate }}"/></button>
                        <button type="button" class="btn button_img" ng-click="contents.updatePrivateDomain($event, privateDomainItem);" tooltip-placement="bottom" uib-tooltip="{{ 'label.domain_edit' | translate }}"><img src="img//ico_edit.png" width="16" height="16" alt="{{ 'label.domain_edit' | translate }}"/></button>
                        <button type="button" class="btn button_img" ng-click="contents.deletePrivateDomain(privateDomainItem.guid, privateDomainItem.name);" tooltip-placement="bottom" uib-tooltip="{{ 'label.domain_del' | translate }}"><img src="img/ico_delete.png" width="13" height="16" alt="{{ 'label.domain_del' | translate }}" /></button>
                    </td>
                </tr>
                <tr ng-if="contents.pageOptions.total == 0">
                    <td colspan="4">{{ 'message.mi_dont_exist_list' | translate }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="paginationWrap">
            <div class="totalWrap">
                {{ 'label.total' | translate }} {{ contents.pageOptions.total }} {{ 'label.count' | translate }}
            </div>
            <paging
                    page="contents.pageOptions.currentPage"
                    page-size="contents.pageOptions.pageSize"
                    total="contents.pageOptions.total"
                    pg-href=""
                    show-prev-next="true"
                    show-first-last="true"
                    paging-action="contents.listPrivateDomains(page)"
                    text-first-class="firstPage"
                    text-last-class="lastPage"
                    text-next-class="nextPage"
                    text-prev-class="prevPage">
            </paging>
        </div>
    </div>
</div>

