	<!-- container -->
	<div id="container" class="fixed"><!-- 왼쪽메뉴가 고정일 경우 -->
<ol ng-if="0">
	<li>main.hubpop.orgSelected={{main.hubpop.orgSelected}}</li>
	<li>main.hubpop.orgSelected.orgName={{main.hubpop.orgSelected.orgName}}</li>
</ol>
		<img src="images2/main1.jpg" style="width: 100%;">
	</div>
	<!-- //container -->

<div ng-if="0">

	<!-- container -->
	<div id="container" class="fixed"><!-- 왼쪽메뉴가 고정일 경우 -->
		<!-- left menu -->
		<div class="leftMenu" ng-include="'views/ng-include/leftMenu.html'">
		</div>
		<!-- //left menu -->

		<!-- rignt Cnt -->
		<div class="rightCnt">
			<!-- title area -->
			<div class="titWrap">
				<h2 class="h2">임시 메인 {{'label.access_id' | translate}}</h2>

				<!-- breadcrumb -->
				<div class="breadWrap">
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">마이페이지</a></li>
						<li class="active">{{ 'label.personal_info_edit' | translate }}</li><!-- 마지막 li -->
					</ol>
				</div>
				<!-- //breadcrumb -->
			</div>
			<!-- //title area -->

			<!-- content -->
			<div class="content">
				<!-- table top -->
				<div class="tb-top">
					<div class="pull-left">

					</div>
					<div class="pull-right">
						<span class="point2"><i class="i_star">필수입력</i> 는 필수입력 사항입니다.</span>
					</div>
				</div>
				<!-- //table top -->

				<!-- table -->
				<div class="tbw type1">
						<table class="table">
							<colgroup>
							<col style="width:15%;">
							<col style="width:auto;">
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">아이디</th>
									<td>abcd</td>
								</tr>
								<tr>
									<th scope="row">이름</th>
									<td>홍길동</td>
								</tr>
								<tr>
									<th scope="row">비밀번호 변경<i class="i_star">필수입력</i></th>
									<td>
										<ul>
											<li><input type="text" name="" value="" style="width:620px;" placeholder="현재 비밀번호를 입력하세요"></li>
											<li class="mt10"><input type="text" name="" value="" style="width:620px;" placeholder="변경할 비밀번호를 입력하세요"></li>
											<li class="mt10"><input type="text" name="" value="" style="width:620px;" placeholder="변경할 비밀번호를 한번 더 입력하세요"></li>
										</ul>
										<p class="help-block type2">영문 대/소문자, 숫자 2종류 이상 혼합 10~20자 이하, 3종류 이상 혼합 8~20자 이하로 설정해 주세요.</p>
									</td>
								</tr>
								<tr>
									<th scope="row">회원구분</th>
									<td>프로젝트 책임자</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //table -->

					<!-- btn btm -->
					<div class="btn-btm type2">
						<div class="pull-left">
							<button type="button" name="button" class="btn btn-md btn-color2">회원탈퇴</button>
						</div>

						<div class="pull-right">
<!-- 							<button type="button" name="button" class="btn btn-md btn-color1">저장</button> -->
							<button type="button" name="button" class="btn btn-md btn-color1" ng-if="!main.isAuthenticated" onclick="location.href = '/#/login';">로그인</button>
							<button type="button" name="button" class="btn btn-md btn-color1" ng-if="!!main.isAuthenticated" ng-click="main.logout();">로그아웃</button>
						</div>
					</div>
					<!-- //btn btm -->

			</div>
			<!-- //content -->
		</div>
		<!-- rignt Cnt -->
	</div>
	<!-- //container -->

    <!-- gnb menu -->
    <div class="gnbMenu" ng-include="'views/ng-include/gnbMenu.html'">
    </div>
    <!-- //gnb menu -->

	<!-- aside aside1 -->
	<div class="aside" id="aside-aside1"><!-- 인스턴스 추가 버튼의 data-username에 연결할 아이디 이름을 넣어주세요. -->
		<!-- aside aside1 title -->
		<div class="sideTitWrap asideCnt">
			<h2 class="c_tit">Java APP 서비스 추가</h2>
			<button type="button" name="button" class="btn btn-close" data-user="aside-close"><span class="ico">닫기</span></button>
		</div>
		<!-- //aside aside1 title -->
		<!-- aside aside1 cnt -->
		<div class="sideCntWrap">
			<!-- aside aside1 step -->
			<div class="sideStepWrap">
				<ul>
					<li class="pull-left"><em>step 01</em><span>APP환경설정</span></li>
					<li class="pull-right on"><em>step 02</em><span>인스턴스 설정</span></li>
				</ul>
			</div>
			<!-- //aside aside1 step -->

			<!-- sideInWrap -->
			<div class="sideInWrap">
				레이어 내용
			</div>
			<!-- //sideInWrap -->
		</div>
		<!-- //aside aside1 cnt -->

		<!-- aside aside1 btm -->
		<div class="sideBtmWrap two">
			<button type="button" name="button" class="btn">저장</button>
			<button type="button" name="button" class="btn btn-color5">취소</button>
		</div>
		<!-- //aside aside1 btm -->
	</div>
	<!-- //aside aside1 -->

</div>

<div ng-if="main.hubpop.userJs == 'notMainBody'" ng-include="'views/ng-include/user.js.html'"></div>

<div ng-if="0">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
	  <div class="item active" style="background-image:url(&quot;/img/main_slide01.jpg&quot;);"><p><img src="/img/main_slide01-1.png" width="661" height="121" alt="" /></p></div>
	  <div class="item" style="background-image:url('/img/main_slide02.jpg');"><p><img src="/img/main_slide01-1.png" width="661" height="121" alt="" /></p></div>
	  <div class="item" style="background-image:url('/img/main_slide03.jpg');"><p><img src="/img/main_slide01-1.png" width="661" height="121" alt="" /></p></div>
  </div>
</div>
<div id="content" class="container-fluid contentContainer mainContainer">
    <div class="row intro">
        <div class="containerWrap">
            <h4>애플리케이션 개발 이슈에 대응하는 유연하고 편리한 솔루션을 제공합니다.</h4>
			<ul>
				<li>
					<img src="/img/img_intro01.png" width="121" height="120" alt="" />
					<p class="title">클릭만으로 애플리케이션을<br />쉽고 빠르게 구성</p>
					<p>몇 번의 화면 클릭으로 다양한 개발언어 및<br />런타임환경을 선택하면,<br />코드 업로드만으로 즉시 실행 가능</p>
				</li>
				<li>
					<img src="/img/img_intro02.png" width="122" height="120" alt="" />
					<p class="title">오픈소스 기반의<br />유연한 구축과 확장</p>
					<p>확장성, 개방성과 호환성 등을<br />가장 잘 지원할 수 있는 오픈 소스에 기반하여<br />다양한 Iaas환경에서 구축 가능</p>
				</li>
				<li>
					<img src="/img/img_intro03.png" width="139" height="120" alt="" />
					<p class="title">IT비즈니스<br />패러다임의 혁신</p>
					<p>클라우드 플랫폼을 통해 비용절감.<br />빠른 비즈니스 지원, 사용자 맞춤형 리소스 제공으로<br />기업의 획기적인 생산성 효과 제공</p>
				</li>
			</ul>
        </div>
    </div>
    <div class="row step">
        <div class="containerWrap">
            <h4>오픈소스 PaaS-TA 핵심 기능에 Enterprise급의 서비스 제공</h4>
            <dl>
                <dt>빠른 개발환경 구성</dt>
                <dd>PaaS-TA는 간단한 명령어와 몇 번의 클릭만으로 수 초 이내에 자신이 원하는 개발환경을 구축할 수 있습니다.</dd>
            </dl>
            <ul>
                <li><img src="/img/img_step01.png" width="281" height="389" alt="Step1 런타임 선택" /></li>
                <li><img src="/img/img_step02.png" width="281" height="389" alt="Step2 서비스 바인딩" /></li>
                <li><img src="/img/img_step03.png" width="281" height="389" alt="Step3 개발환경 제공" /></li>
            </ul>
        </div>
    </div>
</div>

</div>
