<div class="text">
    청정발전 전력연구 <br>프로젝트
</div>
<div class="dropdown">
    <button type="button" class="btn btn-nostyle dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <div class="feather-icon">
            <i data-feather="more-vertical"></i>
        </div>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">프로젝트1</a></li>
        <li><a href="#">프로젝트2</a></li>
        <li><a href="#">프로젝트3</a></li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <i data-feather="folder-plus"  class="dropdown-icon"></i>
                프로젝트 생성
            </a>
        </li>
        <li>
            <a href="#">
                <i data-feather="list"  class="dropdown-icon"></i>
                전체 프로젝트
            </a>
        </li>
    </ul>
</div>