            <!-- left-menu WRAP -->
            <div class="left-wrap">
                <div class="header-top">
                    <h1>
                        <a href="#/">
                            <p class="sr-only">HUB POP</p>
                        </a>
                    </h1>
                </div>
                <div class="header-mid">
                    <div class="inner">
                        <ul id="quick">
                            <li class="lnb-depth1-item all" ng-class="{'active' : main.allMenuOpen }">
                                <a href="" ng-click="main.allMenuOpenClick();">
                                    <p class="sr-only">all menu</p>
                                </a>
                            </li>
                            <li class="lnb-depth1-item home" ng-class="{'active' : main.stateKey == 'commProjectDetail'}">
                                <a href="" ng-click="main.goToPortalOrgPage(main.sltPortalOrg);">
                                    <p class="sr-only">dashboard</p>
                                </a>
                            </li>
                        </ul>
                        <ul id="gnb">
                            <li ng-repeat="menuItem in (main.dbMenuList | filter : { level: 1 })" class="lnb-depth1-item {{ menuItem.iconId }}" ng-class="{ 'active' : main.sltGroupMenuIconId == menuItem.iconId }" ng-click="main.setGroupMenu(menuItem)">
                                <a href="" class="button" data-toggle="tooltip" data-placement="right" title="{{ menuItem.depth1 }}">
                                    <p class="sr-only">{{ menuItem.depth1 }}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-bottom">
                    <ul class="quick-list">
                        <li class="notification-area">
                            <a href="" class="notification-btn">
                                <span class="sr-only">알림</span>
                                <i class="xi-bell"></i>
                                <em class="new" ng-if="main.notificationCount > 0"></em>
                            </a>
                            <div class="notification-wrap">
                                <div class="notification-title"><!--7일내 noti만 보여줌-->
                                    {{ main.notificationCount }} New Notifications
                                </div>
                                <ul class="notification-content">
                                    <li ng-repeat="notiItem in main.notifications | limitTo:5" ng-class="{'notification-type1' : notiItem.receiver == 'u', 'notification-type2' : notiItem.receiver == 'p'}">
                                        <a href="{{ notiItem.url }}" target="_blank">
                                            <div class="round">
                                                <i class="far" ng-class="{'fa-user' : notiItem.receiver == 'u', 'fa-folder' : notiItem.receiver == 'p'}"></i>
                                            </div>
                                            <div class="text">
                                                <strong class="title">
                                                    {{ (!!notiItem.message && notiItem.message.length > 20) ? notiItem.message.substring(0, 20) + "..." : notiItem.message }}
                                                </strong>
                                                <div class="clear">
                                                    <span class="date">
                                                        {{ notiItem.time }}
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="notification-show">
                                    <a href="#/comm/notification">
                                        Show all notifications
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="user-info-area">
                            <a href="" class="user-info-btn">
                                <span class="sr-only">마이메뉴</span>
                                <i class="xi-user"></i>
                            </a>
                            <ul class="user-info-wrap">
                            	<li class="user-info">
									<div class="user-img">
										<!-- 사용자 아이콘 -->
										<i class="xi-user-o"></i> 
										
										<!-- 관리자 아이콘 -->
										<!-- <i class="xi-user"></i>  -->
									</div>
									<div class="user-name">
                                        {{ main.userInfo.user_name }}{{ 'label.dear' | translate }}
									</div>
								</li>
                                <li>
                                    <a href="#/comm/memberEdit/">
                                        <div class="feather-icon">
                                            <i data-feather="user-check" class="feather-dierective"></i>
                                        </div>
                                        <span>개인정보 수정</span>
                                    </a>
                                </li>
                                <li>
                                    <!--<a href="#/comm/memberEdit/password">-->
                                    <a href="" ng-click="main.changePassword($event)">
                                        <div class="feather-icon">
                                            <i data-feather="lock"></i>
                                        </div>
                                        <span>비밀번호 설정</span>
                                    </a>
                                </li>
                                <li>
                                    <!--<a href="#/comm/memberEdit/signout">-->
                                    <a href="" ng-click="main.signout()">
                                        <div class="feather-icon">
                                            <i data-feather="user-x"></i>
                                        </div>
                                        <span>회원탈퇴</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/hsvc/no/retrieveNoticeView.do">
                                        <div class="feather-icon">
                                            <i data-feather="mic"></i>
                                        </div>
                                        <span>공지사항</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/comm/boards/qna">
                                        <div class="feather-icon">
                                            <i data-feather="message-square"></i>
                                        </div>
                                        <span>문의하기</span>
                                    </a>
                                </li>
                                <li class="logout">
                                    <a href="" ng-click="main.logout()">
                                        <i class="xi-power-off"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- // left-menu WRAP -->