            <!-- left-menu WRAP -->
            <div class="left-wrap">
                <div class="header-top">
                    <h1>
                        <a href="index.html">
                            <p class="sr-only">HUB POP</p>
                        </a>
                    </h1>
                </div>
                <div class="header-mid">
                    <div class="inner">
                        <ul id="quick">
                            <li class="lnb-depth1-item all active">
                                <a href="">
                                    <p class="sr-only">all menu</p>
                                </a>
                            </li>
                            <li class="lnb-depth1-item home">
                                <a href="dashboard.html">
                                    <p class="sr-only">dashboard</p>
                                </a>
                            </li>
                        </ul>
                        <ul id="gnb">
                            <li class="lnb-depth1-item item1 active">
                                <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Compute">
                                    <p class="sr-only">Compute</p>
                                </a>
                            </li>
                            <li class="lnb-depth1-item item2">
                                <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Analytics">
                                    <p class="sr-only">Analytics</p>
                                </a>
                            </li>
                            <li class="lnb-depth1-item item3">
                                <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Dev Tools">
                                    <p class="sr-only">Dev Tools</p>
                                </a>
                            </li>
                            <li class="lnb-depth1-item item4">
                                <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Visualization Tools">
                                    <p class="sr-only">Visualization Tools</p>
                                </a>
                            </li>
                            <li class="lnb-depth1-item item5">
                                <a href="#" class="button" data-toggle="tooltip" data-placement="right" title="Storage">
                                    <p class="sr-only">Storage</p>
                                </a>
                            </li>
                            <li class="lnb-depth1-item item6">
                                <a href="#" class="button" data-toggle="tooltip" data-placement="right" data-original-title="Service">
                                    <p class="sr-only">Service</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-bottom">
                    <ul class="quick-list">
                        <li class="notification-area">
                            <a href="" class="notification-btn">
                                <span class="sr-only">알림</span>
                                <i class="xi-bell"></i>
                                <em class="new"></em>
                            </a>
                            <div class="notification-wrap">
                                <div class="notification-title">
                                    3 New Notifications
                                </div>
                                <ul class="notification-content">
                                    <li class="notification-type1">
                                        <a href="">
                                            <div class="round">
                                                <i class="far fa-comment-alt"></i>
                                            </div>
                                            <div class="text">
                                                <strong class="title">
                                                    New Message
                                                </strong>
                                                <span>
                                                    Are Your goning to meet me
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-type2">
                                        <a href="">
                                            <div class="round">
                                                <i class="far fa-envelope"></i>
                                            </div>
                                            <div class="text">
                                                <strong class="title">
                                                    New Message
                                                </strong>
                                                <span>
                                                    Are Your goning to meet me
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-type3">
                                        <a href="">
                                            <div class="round">
                                                <i class="far fa-comment-alt"></i>
                                            </div>
                                            <div class="text">
                                                <strong class="title">
                                                    New Message
                                                </strong>
                                                <span>
                                                    Are Your goning to meet me
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-type4">
                                        <a href="">
                                            <div class="round">
                                                <i class="far fa-comment-alt"></i>
                                            </div>
                                            <div class="text">
                                                <strong class="title">
                                                    New Message
                                                </strong>
                                                <span>
                                                    Are Your goning to meet me
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="notification-show">
                                    <a href="">
                                        Show all notifications
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="user-info-area">
                            <a href="" class="user-info-btn">
                                <span class="sr-only">마이메뉴</span>
                                <i class="xi-user"></i>
                            </a>
                            <ul class="user-info-wrap">
                                <li>
                                    <a href="">
                                        <i class="fas fa-user-check"></i>
                                        <span>개인정보 수정</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-lock"></i>
                                        <span>비밀번호 설정</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-user-times"></i>
                                        <span>회원탈퇴</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-microphone"></i>
                                        <span>공지사항</span>
                                    </a>
                                </li>
                                <li class="logout">
                                    <a href="">
                                        <i class="xi-power-off"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- // left-menu WRAP -->