            <div class="all-menu-wrap">
                <div class="all-menu-top">
                    <div class="title">All Service</div>
                    <a href="" class="btn-close">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <p class="sr-only">닫기</p>
                    </a>
                </div>
                <div class="menu-list">
                    <ul class="category-list">
                        <!-- menu1 - Compute -->
                        <li>
                            <div class="inner">
                                <div class="title">
                                    Compute
                                </div>
                                <ul class="all-lnb-depth2">
                                    <!-- 페이지가 활성화 되면 class="on" 추가  -->
                                    <li class="all-depth2-item on" id="menu0101">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_server.png" alt="">
                                                </div>
                                                <span>서버 가상화</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                        <ul class="all-lnb-depth3">
                                            <!-- 페이지가 활성화 되면 class="on" 추가  -->
                                            <li class="all-depth3-item on">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_servermanager.png" alt="">
                                                    </div>
                                                    <span>서버 관리</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_diskmanager.png" alt="">
                                                    </div>
                                                    <span>디스크 관리</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_imgmanager.png" alt="">
                                                    </div>
                                                    <span>백업 이미지 관리</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="all-depth2-item" id="menu2">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_cpu.png" alt="">
                                                </div>
                                                <span>GPU 서버 가상화</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                        <ul class="all-lnb-depth3">
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_trello.png" alt="">
                                                    </div>
                                                    <span>인스턴스</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_volume.png" alt="">
                                                    </div>
                                                    <span>볼륨</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_copy.png" alt="">
                                                    </div>
                                                    <span>스냅샷</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_message.png" alt="">
                                                    </div>
                                                    <span>서비스 카탈로그</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="all-depth2-item" id="menu0103">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_smartphone.png" alt="">
                                                </div>
                                                <span>App 실행 서비스</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0104">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_kubernetes.png" alt="">
                                                </div>
                                                <span>쿠버네티스 서비스</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0105">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_connecting.png" alt="">
                                                </div>
                                                <span>Function 서비스</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <!-- menu2 - Analytics -->
                        <li>
                            <div class="inner">
                                <div class="title">
                                    Analytics
                                </div>
                                <ul class="all-lnb-depth2">
                                    <li class="all-depth2-item" id="menu0201">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_algorithm.png" alt="">
                                                </div>
                                                <span>데이터&amp;알고리즘 검색</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                        <ul class="all-lnb-depth3">
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_document.png" alt="">
                                                    </div>
                                                    <span>나의 저장공간</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_script.png" alt="">
                                                    </div>
                                                    <span>분석 파일 저장소</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_cloudcomputing .png" alt="">
                                                    </div>
                                                    <span>데이터 카탈로그</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_algorithm2.png" alt="">
                                                    </div>
                                                    <span>알고리즘 카탈로그</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="all-depth2-item" id="menu0202">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_sourcecode.png" alt="">
                                                </div>
                                                <span>분석 도구</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0203">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_cloudserver.png" alt="">
                                                </div>
                                                <span>Auto ML</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0204">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_server2.png" alt="">
                                                </div>
                                                <span>분석 파이프라인</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- menu3 - Dev Tools -->
                        <li>
                            <div class="inner">
                                <div class="title">
                                    Dev Tools
                                </div>
                                <ul class="all-lnb-depth2">
                                    <li class="all-depth2-item" id="menu0301">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_programming.png" alt="">
                                                </div>
                                                <span>소스코드 저장소</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0302">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_binary.png" alt="">
                                                </div>
                                                <span>개발 파이프라인</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0303">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_whale.png" alt="">
                                                </div>
                                                <span>Docker 이미지 저장소</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0304">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_code.png" alt="">
                                                </div>
                                                <span>Java 표준 개발환경</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0305">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_desktop.png" alt="">
                                                </div>
                                                <span>Java MSA</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                        <ul class="all-lnb-depth3">
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_refresh.png" alt="">
                                                    </div>
                                                    <span>Java MSA 소스 생성기</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_cloud.png" alt="">
                                                    </div>
                                                    <span>워크로드</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="all-depth2-item" id="menu0306">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_gitcommit.png" alt="">
                                                </div>
                                                <span>API 게이트웨이</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                        <ul class="all-lnb-depth3">
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_gitbranch.png" alt="">
                                                    </div>
                                                    <span>API</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_cloud2.png" alt="">
                                                    </div>
                                                    <span>Tocken</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- menu4 - Visualization Tools -->
                        <li>
                            <div class="inner">
                                <div class="title">
                                    Visualization Tools
                                </div>
                                <ul class="all-lnb-depth2">
                                    <li class="all-depth2-item" id="menu0401">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_map.png" alt="">
                                                </div>
                                                <span>GIS 서비스</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                        <ul class="all-lnb-depth3">
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_inbox.png" alt="">
                                                    </div>
                                                    <span>저장소 관리</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_layers.png" alt="">
                                                    </div>
                                                    <span>레이어 관리</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_layers2.png" alt="">
                                                    </div>
                                                    <span>레이어 그룹 관리</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_paperclip.png" alt="">
                                                    </div>
                                                    <span>스타일 관리</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_filetext.png" alt="">
                                                    </div>
                                                    <span>API 문서</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_views.png" alt="">
                                                    </div>
                                                    <span>API 활용 예제</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_user.png" alt="">
                                                    </div>
                                                    <span>WebMapClient</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="all-depth2-item" id="menu0402">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_find2.png" alt="">
                                                </div>
                                                <span>설비 데이터 수집&HMI</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0403">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_content.png" alt="">
                                                </div>
                                                <span>인포그래픽스</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0404">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_layout.png" alt="">
                                                </div>
                                                <span>웹UI 템플릿</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- menu5 - Storage -->
                        <li>
                            <div class="inner">
                                <div class="title">
                                    Storage
                                </div>
                                <ul class="all-lnb-depth2">
                                    <li class="all-depth2-item" id="menu0501">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_database.png" alt="">
                                                </div>
                                                <span>오브젝트 스토리지</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0502">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_database3.png" alt="">
                                                </div>
                                                <span>데이터 브로커</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                        <ul class="all-lnb-depth3">
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_edit.png" alt="">
                                                    </div>
                                                    <span>데이터 등록</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_unit.png" alt="">
                                                    </div>
                                                    <span>데이터 신청 승인</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_search.png" alt="">
                                                    </div>
                                                    <span>데이터 검색</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_chart2.png" alt="">
                                                    </div>
                                                    <span>데이터 이용현황</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="all-depth2-item" id="menu0503">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_database2.png" alt="">
                                                </div>
                                                <span>DB서비스(Baremetal)</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0504">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_cloudcomputing.png" alt="">
                                                </div>
                                                <span>하이브 브로커</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- menu6 - Service -->
                        <li>
                            <div class="inner">
                                <div class="title">
                                    Service
                                </div>
                                <ul class="all-lnb-depth2">
                                    <li class="all-depth2-item" id="menu0601">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_harddrive.png" alt="">
                                                </div>
                                                <span>도커 허브</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0602">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_statistics.png" alt="">
                                                </div>
                                                <span>소프트웨어 포털</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0603">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_laptop.png" alt="">
                                                </div>
                                                <span>패키지 미러</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0604">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_ai.png" alt="">
                                                </div>
                                                <span>AI 서비스</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>

                                    <li class="all-depth2-item" id="menu0605">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_network.png" alt="">
                                                </div>
                                                <span>API Store</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                        <ul class="all-lnb-depth3">
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_find2.png" alt="">
                                                    </div>
                                                    <span>API 검색</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_cloudcomputing2.png" alt="">
                                                    </div>
                                                    <span>API 이용 승인 관리</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_chart.png" alt="">
                                                    </div>
                                                    <span>API 이용현황</span>
                                                </a>
                                            </li>
                                            <li class="all-depth3-item">
                                                <a href="">
                                                    <div class="depth-icon-img">
                                                        <img src="../assets/img/user/ico_cloudcomputing3.png" alt="">
                                                    </div>
                                                    <span>Token 발급</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="all-depth2-item" id="menu0606">
                                        <div class="depth2">
                                            <a href="" class="link">
                                                <div class="depth-icon-img">
                                                    <img src="../assets/img/user/ico_feather.png" alt="">
                                                </div>
                                                <span>기타 서비스</span>
                                            </a>
                                            <a href="" class="bookmark">
                                                <p class="sr-only">북마크</p>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>