<div class="message_area">
	<div class="msg_bg"></div>
	<div class="msg_txt"><span>‘APP 만들기’를 통해 컨테이너 기반의 APP실행환경을 생성하고, 사용자가 제작한 APP을 배포할 수 있습니다.</span></div>
</div>

<div class="panel_area">
	<ul class="pn_list_style">
		<li>
		<form name="{{contents.formName}}" method="POST" novalidate>
			<div class="panel_box pn_l">
				<div class="pn_head">
					<h4 class="pnh_tit">APP 만들기</h4>
				</div>
				<div class="pn_body">
					<span class="sm_txt">* 는 필수입력 사항입니다.</span>
					<ul class="form_list">
						<li>
							<div class="pnb_tit">
								<i class="i_star"></i> <span class="pnb_t_txt">APP 이름</span>
								<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'생성하는 APP 이름을 입력합니다. 영문, 숫자, ‘-’만 포함할 수 있으며, 최대 20자까지 입력할 수 있습니다.'"><span class="ico_info"></span></button></div>
							</div>
							<input type="text" class="form-control" maxlength="20" placeholder="APP 이름을 입력하세요." id="appName" name="appName" ng-model="contents.appPushData.appName" ng-change="contents.appPushData.domainFirstName = contents.appPushData.appName" validation="alpha_dash|min_len:3|max_len:20|required|custom:contents.fn.appNameValidationCheck(contents.appPushData.appName)">
						</li>
						<li>
							<div class="pnb_tit">
								<i class="i_star"></i> <span class="pnb_t_txt">APP 도메인</span>
								<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'컨테이너 상에서 실행되는 WEB APP에 대한 접근 도메인을 구성합니다.</br> 고정되어 제공되는 도메인(domain)에 사용자가 입력한 서브 도메인(sub-domain)을 연결하여 </br>전체 접근 도메인을 생성합니다.</br> 서브 도메인(sub-domain)은 전체 허브팝내에서 중복을 허용하지 않습니다.'"><span class="ico_info"></span></button></div>
							</div>
							<div class="app-form-two">
								<div class="two_box w60">
									<input type="text" class="form-control" maxlength="50" id="domainFirstName" name="domainFirstName" ng-model="contents.appPushData.domainFirstName" ng-change="contents.hostDup = false" validation="alpha_dash|min_len:3|max_len:50|required|custom:contents.fn.subDomainValidationCheck(contents.appPushData.domainFirstName)" placeholder="APP 도메인을 입력하세요.">
								</div>
								<div class="two_box">
									<select name="" title="검색 구분 선택" id="domainName" name="domainName" ng-model="contents.sltDomainName">
										<option ng-repeat="domainItem in contents.domains" value="{{ domainItem.name }}">{{ domainItem.name }}</option>
									</select>
								</div>
							</div>
							<div ng-if="contents.appPushForm01.domainFirstName.$touched && contents.appPushForm01.domainFirstName.$invalid" class="validation validation-domainFirstName text-danger"></div>
							<!--<div ng-if="contents.hostDup" class="validation text-danger"><span class="validation-icon"></span>이미 사용 중인 도메인입니다.</div>-->
						</li>
						<li>
							<div class="pnb_tit">
								<i class="i_star"></i> <span class="pnb_t_txt">APP 유형</span>
								<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'‘빌드팩(Buildpack) 기반’ 선택 시, </br>CF(Cloud Foundry) 플랫폼에서 제공하는 빌드팩(Buildpack)을 기반으로 컨테이너를 생성하고</br> APP을 배포합니다. </br></br>‘도커(Docker) 이미지 기반’ 선택 시, </br>도커 저장소(Docker Registry)로부터 이미지를 다운로드하여 해당 이미지를 기반으로 컨테이너를 </br>생성합니다. '"><span class="ico_info"></span></button></div>
							</div>
							<div class="mt20">
								<div class="radio radio-inline">
									<input type="radio" name="pushType" id="app-radio1-1" value="GENERAL" ng-model="contents.appPushData.pushType" >
									<label for="app-radio1-1" class="label">빌드팩(Buildpack) 기반</label>
								</div>
								<div class="radio radio-inline">
									<input type="radio" name="pushType" id="app-radio1-2" value="DOCKER" ng-model="contents.appPushData.pushType"  disabled> <!-- 2018.12.13 disabled 처리  -->
									<label for="app-radio1-2" class="label" title="현재는 서비스 하지 않습니다." >도커(Docker) 이미지 기반</label>
								</div>
							</div>
						</li>
						<li ng-if="contents.appPushData.pushType != 'DOCKER'">
							<div class="pnb_tit">
								<i class="i_star"></i> <span class="pnb_t_txt">빌드팩(Buildpack) 선택</span>
								<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'빌드팩(Buildpack)은 사용자가 제작한 APP이 실행되는 환경을 자동으로 구성하기 위한 S/W 패키지입니다. 일반적으로 APP을 개발한 언어에 맞춰 빌드팩을 지정합니다.'"><span class="ico_info"></span></button></div>
							</div>
							<div ng-if="contents.portalBuildpacksLoad" scroll-pane scroll-config="{ contentHeight: '0px' }" id="buildpack_select_panel">
								<ul class="ul-list1">
									<li ng-repeat="(key, buildpackItem) in contents.portalBuildpacks track by $index">
										<div class="radio1 radio-inline">
										   <input type="radio" id="buldpack_{{ buildpackItem.id }}" name="buldpack" value="{{ buildpackItem.id }}" ng-model="contents.sltBuildpackId" ng-change="contents.changePortalBuildpack();" />
										   <label for="buldpack_{{ buildpackItem.id }}" class="label">
											<img class="im" ng-if="buildpackItem.iconImage != null" ng-src="data:{{ buildpackItem.iconImage.contentType }}; base64, {{ buildpackItem.iconImage.image }}" width="40" height="40">
											<img class="im" ng-if="buildpackItem.iconImage == null" src="img/default_image.png" width="40" height="40">
										   </label>
										</div>
										<p class="label-txt">{{ buildpackItem.name }}</p>
									</li>
								</ul>
							</div>	
						</li>
						<li ng-if="contents.appPushData.pushType == 'DOCKER'">
							<div class="pnb_tit" ><i class="i_star"></i> <span class="pnb_t_txt">도커(Docker) 이미지 정보 입력</span></div>
							<input type="text" maxlength="100" name="dockerImage" id="dockerImage" ng-model="contents.appPushData.dockerImage" class="form-control" placeholder="예 : cloudfoundry/lattice-app" validation="required">
						</li>
						
						<!-- <li class="pn-Toggle" ng-if="contents.appPushData.pushType != 'DOCKER'"> --> <!-- 2018.12.13 필수값으로 변경되면서 토글 해제. 파일 필수값 validation 추가 필요. sg0730  -->
						<li ng-if="contents.appPushData.pushType != 'DOCKER'">
							<div class="pnb_tit" >
								<i class="i_star"></i> <span class="pnb_t_txt">APP 실행파일 업로드</span>
								<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'파일찾기를 통해 사용자가 제작한 APP을 업로드하고 컨테이너에 배포할 수 있습니다. </br>업로드 되는 파일은 jar, war, zip 포멧을 지원합니다.'"><span class="ico_info"></span></button></div>
								<!-- <button type="button" name="button" class="btn_add_toggle" title="열고/닫기" ng-click="main.panelToggleChange($event);"><span class="ico_arw_sm_gray">열고/닫기</span></button> -->
							</div>
							<div class="s_cont_box">
								<div class="fileUploadWrap mt20">
									<div class="bootstrap-filestyle input-group">
										<input type="text" id="userfile" class="form-control" name="userfile" style="width:909px;" ng-model="contents.appFileItem.file.name" validation="required:alt=업로드 해야 할 APP 실행용 파일이 선택되지 않았습니다." readonly>
										<span class="group-span-filestyle input-group-btn" tabindex="0">
											<input nv-file-select="" uploader="contents.uploader" id="appFileInput" name="appFileInput" type="file" class="form-control" style="display: none;" accept=".war, .jar, .zip" >
											<label class="btn btn-default " ng-click="main.fileSelectBtnClick($event);">
												<span class="btn btn-md btn-color1" >파일찾기</span>
											</label>
										</span>
									</div>
								</div>
							</div>
							<div class="mt10">
								<span class="validation validation-userfile text-danger"></span>
								<span ng-if="contents.appFileErrorMessage" style="color: red;" dynamic-template="contents.appFileErrorMessage"></span>
							</div>
						</li>
					</ul>
					<!-- 사양설정 -->
					<div class="pnb_box type2 hd_type cToggle">
						<div class="pnb_bx_hd">
							<span class="hd_tit">APP 사양설정</span>
							<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'＊ 사용자 APP에 대한 자원사용 사양을 설정합니다. </br>&nbsp;&nbsp;· 인스턴스 수 : 배포되는 APP에 대한 인스턴스 수를 지정, 설정된 수만큼 Scale-Out</br>&nbsp;&nbsp;· 인스턴스 메모리 : 배포되는 APP 인스턴스 별 사용 가능한 최대 메모리 용량을 설정</br>&nbsp;&nbsp;· 인스턴스 디스크 : 배포되는 APP 인스턴스 별 사용 가능한 최대 디스크 용량을 설정'"><span class="ico_info"></span></button></div>
							<button type="button" name="button" class="btn_add_toggle" title="열고/닫기" ng-click="main.pnbBoxToggleChange($event, true);"><span class="ico_arw_sm_gray">열고/닫기</span></button>
						</div>
						<div class="pnb_bx_cnt">
						<!-- <div class="pnb_bx_cnt" > -->
							<ul class="cnt_sliderWrap">
								<li>
									<div class="tit"><span>인스턴스 수</span></div>
									<div class="slider_area">
										<div class="disk_area color2">
											<div class="disk_box">
												<div class="rangeWrap type2">
													<span class="s_txt">최대 {{contents.insSlider.options.ceil}}개</span>
													<div class="range_box">
														<div class="ico_minus">
															<button type="button" name="button" class="btn" title="감소" ng-click="contents.minValCheck(1);" ><span>감소</span></button>
														</div>
														<div class="rzslider">
															<rzslider rz-slider-model="contents.defaultSet.instances" rz-slider-options="contents.insSlider.options"></rzslider>
														</div>
														<div class="ico_plus">
															<!-- <button type="button" name="button" class="btn" title="minus" ng-click="if(contents.defaultSet.instances <= contents.insSlider.options.ceil )contents.defaultSet.instances = (contents.defaultSet.instances + contents.insSlider.options.step);"><span>증가</span></button> -->
															<button type="button" name="button" class="btn" title="증가" ng-click="contents.maxValCheck(1);"><span>증가</span></button>
														</div>
													</div>
												
												</div>
											</div>
										</div>
									</div>
								</li>
								
								<li>
									<div class="tit"><span>인스턴스 메모리</span></div>
									<div class="slider_area">
										<div class="disk_area">
											<div class="disk_box">
												<div class="rangeWrap type2">
													<span class="s_txt">최대  {{ (contents.memorySlider.options.ceil < 1024) ?  (contents.memorySlider.options.ceil|number:0)  : (contents.memorySlider.options.ceil/1024|number:2).replace('.00', '').replace('.0', '')}}GB</span>
													<div class="range_box">
														<div class="ico_minus">
															<button type="button" name="button" class="btn" title="감소" ng-click="contents.minValCheck(2);" ><span>감소</span></button>
														</div>
														<div class="rzslider"><rzslider rz-slider-model="contents.defaultSet.memory" rz-slider-options="contents.memorySlider.options"></rzslider></div>
														<div class="ico_plus">
															<button type="button" name="button" class="btn" title="증가" ng-click="contents.maxValCheck(2);"><span>증가</span></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								
								<li>
									<div class="tit"><span>인스턴스 디스크</span></div>
									<div class="slider_area">
										<div class="disk_area color3">
											<div class="disk_box">
												<div class="rangeWrap type2">
													<span class="s_txt">최대 {{ (contents.diskQuotaSlider.options.ceil < 1024) ?  (contents.diskQuotaSlider.options.ceil|number:0)  : (contents.diskQuotaSlider.options.ceil/1024|number:2).replace('.00', '').replace('.0', '')}}GB</span>
													<div class="range_box">
														<div class="ico_minus">
															<button type="button" name="button" class="btn" title="감소" ng-click="contents.minValCheck(3);" ><span>감소</span></button>
														</div>
														<div class="rzslider"><rzslider rz-slider-model="contents.defaultSet.diskQuota" rz-slider-options="contents.diskQuotaSlider.options"></rzslider></div>
														<div class="ico_plus">
															<button type="button" name="button" class="btn" title="증가" ng-click="contents.maxValCheck(3);" ><span>증가</span></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="cnt_msg_box msg-info mt40">인스턴스 메모리와 디스크는 APP 인스턴스 1개가 가질 수 있는 최대 크기를 설정합니다.</div>
						</div>
					</div>
					<!-- //사양설정 -->
				</div>
				<div class="pn_footer">
					<div class="btn-btm mgt0">
						<button type="button" name="button" class="btn btn-color1 btn-md" ng-click="contents.checkDuplRoute();">APP 생성</button>
						<button type="button" name="button" class="btn btn-color2 btn-md" ng-click="main.goToPage('/paas/apps')">취소</button>
					</div>
				</div>
			</div>
			</form>
		</li>
		<li>
			<div class="panel_box pn_r">
				<div class="pn_head">
					<h4 class="pnh_tit ico04">APP 기본정보</h4>
				</div>
				<div class="pn_body">
					<div class="s_cont_box">
						<ul>
							<li>
								<span class="s_tit">APP 이름</span>
								<span class="s_txt">{{contents.appPushData.appName}}</span>
							</li>
							<li>
								<span class="s_tit">APP 도메인</span>
								<span class="s_txt">{{contents.appPushData.domainFirstName}}.{{contents.sltDomainName}}</span>
							</li>
							<li>
								<span class="s_tit">APP 유형</span>
								<span class="s_txt" ng-if="contents.appPushData.pushType == 'GENERAL'">빌드팩(Buildpack) 기반</span>
								<span class="s_txt" ng-if="contents.appPushData.pushType == 'DOCKER'">도커(Docker) 이미지 기반</span>
							</li>
							<li ng-if="contents.appPushData.pushType == 'GENERAL'">
								<span class="s_tit">빌드팩 정보</span>
								<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'빌드팩에 대한 상세정보를 제공합니다.</br> Cloud Foundry 플랫폼에서 공식적으로 </br>제공하는 공개된 정보를 표시합니다.'"><span class="ico_info"></span></button></div>
								
								<div class="s_inner_cont" ng-if="contents.sltPortalBuildpack.name == 'java'">
									<dl>
									<!-- 빌드팩 선택에 따른 desc 하드코딩으로 할지 협의 필요.  -->
										<dt>종류 :</dt>
										<dd>{{contents.sltPortalBuildpack.name}} 빌드팩</dd>
										<dt>버전 :</dt>
										<!-- <dd>{{contents.sltBuildpackVersion.versionName}}</dd> -->
										<dd> v4.12 release</dd>
										<dt>주요구성 S/W</dt>
										<dd class="dd_row">OpenJDK JRE v1.8.0</dd>
										<dd class="dd_row">Spring Boot v1.5.13</dd>
										<dd class="dd_row">Tomcat v8.5.31</dd>
										<dd class="dd_row">MariaDB JDBC Driver v2.2.3</dd>
										<dd class="dd_row">PostgreSQL JDBC Driver v9.4.1212</dd>
										<dd class="dd_row">Redis Session Store v1.3.6</dd>
										<dt>Official Release Site</dt>
										<dd class="dd_row">https://github.com/cloudfoundry/java-buildpack/releases</dd>
									</dl>
									<!-- <pre>
										{{contents.sltBuildpackVersion.description}}
									</pre> -->
								</div>
								
								
								<div class="s_inner_cont" ng-if="contents.sltPortalBuildpack.name == 'nginx'">
									<dl>
									<!-- 빌드팩 선택에 따른 desc 하드코딩으로 할지 협의 필요.  -->
										<dt>종류 :</dt>
										<dd>{{contents.sltPortalBuildpack.name}} 빌드팩</dd>
										<dt>버전 :</dt>
										<!-- <dd>{{contents.sltBuildpackVersion.versionName}}</dd> -->
										<dd>v1.4.28 release</dd>
										<dt>주요구성 S/W</dt>
										<dd class="dd_row">nginx v1.15.0</dd>
										<dt>Official Release Site</dt>
										<dd class="dd_row">https://github.com/cloudfoundry/staticfile-buildpack/releases</dd>
									</dl>
								</div>
								
								<div class="s_inner_cont" ng-if="contents.sltPortalBuildpack.name == 'python'">
									<dl>
									<!-- 빌드팩 선택에 따른 desc 하드코딩으로 할지 협의 필요.  -->
										<dt>종류 :</dt>
										<dd>{{contents.sltPortalBuildpack.name}} 빌드팩</dd>
										<dt>버전 :</dt>								
										<dd>v1.6.17 release</dd>
										<dt>주요구성 S/W</dt>
										<dd class="dd_row">python v3.6.5</dd>
										<dt>Official Release Site</dt>
										<dd class="dd_row">https://github.com/cloudfoundry/python-buildpack/releases</dd>
									</dl>
								</div>
								<!-- <div class="s_inner_cont" ng-if="contents.sltPortalBuildpack.name == 'ruby'">
									<dl>
									빌드팩 선택에 따른 desc 하드코딩으로 할지 협의 필요. 
										<dt>종류 :</dt>
										<dd>{{contents.sltPortalBuildpack.name}} 빌드팩</dd>
										<dt>버전 :</dt>								
										<dd>v1.6.17 release</dd>
										<dt>주요구성 S/W</dt>
										<dd class="dd_row">python v3.6.5</dd>
										<dt>Official Release Site</dt>
										<dd class="dd_row">https://github.com/cloudfoundry/python-buildpack/releases</dd>
									</dl>
								</div> -->
								
								<div class="s_inner_cont" ng-if="contents.sltPortalBuildpack.name == 'nodejs'">
									<dl>
									<!-- 빌드팩 선택에 따른 desc 하드코딩으로 할지 협의 필요.  -->
										<dt>종류 :</dt>
										<dd>{{contents.sltPortalBuildpack.name}} 빌드팩</dd>
										<dt>버전 :</dt>								
										<dd>v1.6.25 release</dd>
										<dt>주요구성 S/W</dt>
										<dd class="dd_row">node v10.3.0</dd>
										<dd class="dd_row">yarn v1.7.0</dd>
										<dt>Official Release Site</dt>
										<dd class="dd_row">https://github.com/cloudfoundry/nodejs-buildpack/releases</dd>
									</dl>
								</div>
								
								
								<div class="s_inner_cont" ng-if="contents.sltPortalBuildpack.name == 'go'">
									<dl>
									<!-- 빌드팩 선택에 따른 desc 하드코딩으로 할지 협의 필요.  -->
										<dt>종류 :</dt>
										<dd>{{contents.sltPortalBuildpack.name}} 빌드팩</dd>
										<dt>버전 :</dt>								
										<dd>v1.8.23 release</dd>
										<dt>주요구성 S/W</dt>
										<dd class="dd_row">go v1.10.2</dd>
										<dt>Official Release Site</dt>
										<dd class="dd_row">https://github.com/cloudfoundry/go-buildpack/releases</dd>
									</dl>
								</div>
							</li>
							<li>
								<span class="s_tit">APP 실행파일 업로드</span>
								<div class="s_inner_cont">
									<p class="txt" ng-if="contents.appFileItem.file.name" >{{ contents.appFileItem.localFullFileName }}<!-- D:/dev/demand.war --></p>
									<p class="txt" ng-if="!contents.appFileItem.file.name" >선택된 파일이 없습니다.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<!-- 'APP 실행용 파일 업로드' 영역 상위로 이동 -->
				<!-- <div class="pn-Toggle brd0">
					<div class="pn_head brdt" ng-if="contents.appPushData.pushType == 'GENERAL'">
						<h4 class="pnh_tit ico06">APP 실행용 파일 업로드</h4>
						<button type="button" name="button" class="btn_add_toggle" title="열고/닫기" ng-click="main.panelToggleChange($event);"><span class="ico_arw_sm_gray">열고/닫기</span></button>
					</div>
					<div class="pn_body" ng-if="contents.appPushData.pushType == 'GENERAL'">
						<div class="s_cont_box">
							<ul>
								<li>
									<div class="s_inner_cont">
										<p class="txt" ng-if="contents.appFileItem.file.name" >{{ contents.appFileItem.localFullFileName }}D:/dev/demand.war</p>
										<p class="txt" ng-if="!contents.appFileItem.file.name" >선택된 파일이 없습니다.</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div> -->
				
				<div class="pn-Toggle brd0">
					<div class="pn_head brdt">
						<h4 class="pnh_tit ico05">APP 전체 사양</h4>
						<button type="button" name="button" class="btn_add_toggle" title="열고/닫기" ng-click="main.panelToggleChange($event);"><span class="ico_arw_sm_gray">열고/닫기</span></button>
					</div>
					<div class="pn_body">
						<div class="s_cont_box">
							<ul>
								<li>
									<div class="s_inner_cont">
										<div class="innr_tbl">
											<table>
												<colgroup>
													<col width="30" />
													<col width="30" />
													<col width="30" />
												</colgroup>
												<thead>
													<tr>
														<th>인스턴스 수</th>
														<th>전체 메모리</th>
														<th>전체 디스크</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{contents.defaultSet.instances}} 개</td>
														<td>{{(contents.defaultSet.memory * contents.defaultSet.instances) | displayVolume:'MB' }}</td>
														<td>{{(contents.defaultSet.diskQuota * contents.defaultSet.instances) | displayVolume:'MB' }}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<span class="info_txt">* 전체 메모리 = 인스턴스 수 x 설정된 메모리 크기</span>
										<span class="info_txt">* 전체 디스크 = 인스턴스 수 x 설정된 디스크 크기</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
		
				<div class="pn-Toggle">
						<div class="pn_head brdt">
							<h4 class="pnh_tit ico09">프로젝트 자원 계획(Resource Quota Plan)</h4>
							<button type="button" name="button" class="btn_add_toggle" title="열고/닫기" ng-click="main.panelToggleChange($event);"><span class="ico_arw_sm_gray">열고/닫기</span></button>
						</div>
						<div class="pn_body">
							<div class="s_cont_box">
								<div class="s_progress_box wd_tit">
									<ul>
										<li>
											<span class="tit_txt">인스턴스</span>
											<div class="progressWrap type2">
												<div class="progress">
													<div percent-progress-bar-animate bar-type="width" percent="{{((main.sltOrganization.appInstancesUsage + contents.defaultSet.instances)/main.sltOrganization.quotaDefinition.appInstanceLimit)*100|number:0}}" class="progress">
														<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{((main.sltOrganization.appInstancesUsage + contents.defaultSet.instances)/main.sltOrganization.quotaDefinition.appInstanceLimit)*100|number:0}}%"></div>
													</div>
												</div>
											</div>
											<span class="txt_count">({{(main.sltOrganization.appInstancesUsage + contents.defaultSet.instances)}} 개 / {{main.sltOrganization.quotaDefinition.appInstanceLimit}} 개)</span>
										</li>
										<li>
											<span class="tit_txt">메모리</span>
											<div class="progressWrap type2">
												<div class="progress">
													<div percent-progress-bar-animate bar-type="width" percent="{{((main.sltOrganization.memoryUsage + contents.defaultSet.memory*contents.defaultSet.instances)/main.sltOrganization.quotaDefinition.memoryLimit)*100|number:0}}" class="progress">
														<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{((main.sltOrganization.memoryUsage + contents.defaultSet.memory*contents.defaultSet.instances)/main.sltOrganization.quotaDefinition.memoryLimit)*100|number:0}}%"></div>
													</div>
												</div>
											</div>
											<span class="txt_count">({{(main.sltOrganization.memoryUsage + contents.defaultSet.memory*contents.defaultSet.instances) | displayVolume:'MB'}} / {{main.sltOrganization.quotaDefinition.memoryLimit | displayVolume:'MB'}})</span>
										</li>
										<li>
											<span class="tit_txt">디스크</span>
											<!--<div class="progressWrap type2">
												<div class="progress">
												  <div percent-progress-bar-animate bar-type="width" percent="{{((main.sltOrganization.diskQuotaUsage + contents.defaultSet.diskQuota)/(102400))*100|number:0}}" class="progress">
														<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{((main.sltOrganization.diskQuotaUsage + contents.defaultSet.diskQuota)/(102400))*100|number:0}}%"></div>
													</div>
												</div>
											</div>-->
											<span class="txt_count text-left">현재 {{(main.sltOrganization.diskQuotaUsage + contents.defaultSet.diskQuota*contents.defaultSet.instances) | displayVolume:'MB'}} 사용 중</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
				<!-- '서비스 튜토리얼 바로가기' 소스 임시주석 -->
				<!-- <div class="btn-btm">
					<button type="button" name="button" class="btn_tutorial" onclick="location.href='#/tutorial/2';">서비스 튜토리얼 바로가기</button>
				</div> -->
			</div>
		</li>
	</ul>
</div>