<!-- 검색 및 목록 타입 선택 -->
<div class="card-input-wrap" ng-if="!!main.sltOrganizationGuid">
	<div class="row">
		<div class="col-md-6">
			<div class="font-size-18 padding-top-5">
				<b>전체 App <span class="color-primary" ng-if="!!main.userTenantId">({{contents.apps.length}})</span></b>
			</div>
		</div>
		<div class="col-md-6">
			<div class="text-right">
				<!-- 검색 -->
				<div class="form-group inline-block margin-bottom-0">
					<input type="text" class="form-control form-control-md" placeholder="App 검색" style="width:300px;" ng-model="contents.schFilterText">
				</div>
				<!-- <button type="button" name="button" class="btn btn-sch" title="검색" ng-click="contents.schFilterText = ''"><span class="ico">검색</span></button> -->
				<!-- //검색 -->
				
				<!-- 목록 카드형/리스트형 선택 버튼 -->
				<button type="button" class="btn btn-default" title="카드형" ng-click="contents.listType = 'image'" ng-class="{ on : contents.listType == 'image'}">
					<div class="feather-icon">
						<i data-feather="grid" class="feather-directive"></i>
					</div>
					<span class="sr-only">카드형</span>
				</button>
				<button type="button" class="btn btn-default" title="리스트형" ng-click="contents.listType = 'list'" ng-class="{ on : contents.listType == 'list'}">
					<div class="feather-icon">
						<i data-feather="list" class="feather-directive"></i>
					</div>
					<span class="sr-only">리스트형</span>
				</button>
				<!-- //목록 카드형/리스트형 선택 버튼 -->
			</div>
		</div>
	</div>
</div>
<!-- //검색 및 목록 타입 선택 -->

<!-- button area Start-->
<div class="margin-bottom-20" ng-if="!!main.sltOrganizationGuid">
	<button type="button" class="btn btn-default btn-lg" ng-click="main.goToPage('/paas/appsPush')" ng-disabled="!main.checkResourceUserRole()">
		<div class="feather-icon color-primary"><i data-feather="smartphone" class="feather-directive"></i></div> <b>App 배포</b>
	</button>
</div>
<!-- button area end-->

<!-- 앱관리 리스트(카드형) -->
<div class="card-list-wrap" ng-if="(contents.apps | filter:{ name: contents.schFilterText }).length > 0 && contents.listType == 'image'">
	<div class="row">
		<div class="col-md-4" ng-repeat="appItem in contents.apps | filter : {name: contents.schFilterText}">
			<div class="card card-type1">
				<div class="card-header" style="height:86px;">
					<div class="card-info-area">
						<div class="img-size50">
							<img ng-if="appItem.buildpackName == null" src="images/thum/im_app_logo5.png">
							<img ng-if="appItem.buildpackName != null" ng-src="images/thum/im_logo_{{ appItem.buildpackName | lowercase }}.png">
						</div>
						<div class="text-box">
							<div class="top">
								<div class="row">
									<div class="col-xs-10">
										<a class="title">
											<b class="tit" id="txt-renameApp-{{appItem.name}}" style="display:block;" ng-click="contents.moveToApplicationPage(appItem);">{{ appItem.name }}</b>
										</a>
										<div id="renameAppButton-{{appItem.name}}" class="renameWrap" style="display: none;">
											<input id="inputAppName-{{appItem.name}}" type="text" data-guid="{{appItem.guid}}" name="{{appItem.name}}" class="form-control" ng-model="appItem.name" maxlength="20" validation="min_len:3|max_len:20|required">
											<div class="sdBtnWrap">
												<button type="button" name="button" class="btn btn-ico-saveName-s only-ico" title="이름저장" ng-click="contents.updateAppName(appItem.name)" ng-disabled="!main.checkResourceUserRole()"><i class="xi-save"></i></button>
												<button type="button" name="button" class="btn btn-ico-delName-s only-ico" title="변경취소" ng-click="contents.renameApp(appItem.name)" ng-disabled="!main.checkResourceUserRole()"><i class="xi-close"></i></button>
											</div>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="dropdown btn-option pull-right">
											<button type="button"  id="btn-option-{{appItem.name}}" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정" ng-disabled="!main.checkResourceUserRole()">
												<div class="feather-icon"><i data-feather="more-horizontal" class="feather-directive"></i></div>
											</button>
											<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
												<li class="renameApp"><a href="javascript:void(0);" ng-click="contents.renameApp(appItem.name)">App 이름변경</a></li>
												<li ng-if="appItem.state == 'STOPPED'"><a href="javascript:void(0);" ng-click="contents.startAppState(appItem.guid, appItem.name)">시작</a>	</li>
												<li ng-if="appItem.state != 'STOPPED'">	<a href="javascript:void(0);" class="disabled" title="App가‘정지’상태인 경우에만 '시작'이 가능합니다.">시작</a></li>
												<li ng-if="appItem.state == 'STARTED'"><a href="javascript:void(0);" ng-click="contents.stopAppState(appItem.guid, appItem.name)">정지</a></li>
												<li ng-if="appItem.state != 'STARTED'"><a href="javascript:void(0);" class="disabled" title="App가‘시작’상태인 경우에만 '정지'가 가능합니다.">정지</a></li>
												<li ng-if="appItem.state == 'STARTED'"><a href="javascript:void(0);" ng-click="contents.restartApp(appItem.guid, appItem.name)">재시작</a></li>
												<li ng-if="appItem.state != 'STARTED'">	<a href="javascript:void(0);" class="disabled" title="App가‘시작’상태인 경우에만 '재시작'이 가능합니다.">재시작</a></li>
												<li><a href="javascript:void(0);" class="delete" ng-click="main.popDeleteCheckName($event, '애플리케이션', appItem.name, contents.deleteAppAction, appItem.guid)">삭제</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="clearfix">
									<a class="lagn link txt_long" ng-if="0 < appItem.uris.length" ng-href="http://{{ appItem.uris[0] }}" target="_blank" title="{{ appItem.uris[0] }}" style="width:350px;">http://{{ appItem.uris[0] }} <i class="xi-external-link"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body" ng-click="contents.moveToApplicationPage(appItem);"><!-- style="height:240px;" -->
					<div class="row text-center">
						<div class="col-sm-4 card-border-right">
							<div class="padding-top-40">
								<div class="font-size-13 grey-500">인스턴스</div>
								<div class="font-size-45 blue-600"><b>{{ appItem.instances | number:0 }}</b></div>
							</div>
							<div class="padding-top-45">
								<!-- 20.04.14 by ksw - 인스턴스 상태가 하나라도 시작이면 앱 상태도 시작일수 있게 변경 -->
								<div class="state" ng-if="(appItem.state == 'STARTED' && appItem.packageState == 'STAGED' && appItem.instanceGroupStats)">
									<span class="state-round rgba-green-strong"></span>
									<span class="state-txt">시작</span>
								</div>
								<!-- 20.04.14 by ksw - 인스턴스 상태가 하나라도 시작이면 앱 상태도 시작일수 있게 변경 -->
								<div class="state" ng-if="(appItem.state == 'STARTED' && appItem.packageState == 'PENDING') || (appItem.state == 'STARTED' && appItem.packageState == 'STAGED' && !appItem.instanceGroupStats)">
									<span class="state-round rgba-orange-strong"></span>
									<span class="state-txt">시작중</span>
								</div>
								<div class="state" ng-if="(appItem.state == 'STOPPED') && (appItem.packageState != 'FAILED')">
									<span class="state-round rgba-black-strong"></span>
									<span class="state-txt">정지</span>
								</div>
								<div class="state" ng-if="appItem.packageState == 'FAILED'">
									<span class="state-round rgba-black-strong"></span>
									<span class="state-txt">실패</span>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-xs-4">
									<div class="card-progress-area">
										<div class="progress progress-vertical" percent-progress-bar-animate bar-type="height" percent="{{appItem.cpuRoundProgressPercentage > 100 ? 100 : appItem.cpuRoundProgressPercentage}}">
											<div class="progress-bar progress-bar-info" role='progressbar' tooltip-placement="top" uib-tooltip="{{appItem.cpuRoundProgressPercentage > 100 ? 100 : appItem.cpuRoundProgressPercentage}}%"></div>
										</div>
										<strong class="category padding-top-15">CPU</strong>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="card-progress-area">
										<div class="progress progress-vertical" percent-progress-bar-animate bar-type="height" percent="{{appItem.memoryRoundProgressPercentage}}">
											<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{appItem.memoryRoundProgressPercentage}}%"></div>
										</div>
										<strong class="category padding-top-15">메모리</strong>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="card-progress-area">
										<div class="progress progress-vertical" percent-progress-bar-animate bar-type="height" percent="{{appItem.diskRoundProgressPercentage}}">
											<div class="progress-bar progress-bar-secondary" role='progressbar' tooltip-placement="top" uib-tooltip="{{appItem.diskRoundProgressPercentage}}%"></div>
										</div>
										<strong class="category padding-top-15">디스크</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //앱관리 리스트(카드형) -->

<!-- 앱관리 리스트(테이블형) -->
<section class="panel panel-bordered" ng-if="contents.listType == 'list'">
	<div class="panel-body padding-0">
		<div class="table-input-wrap">
			<div class="row">
				<div class="col-sm-3">
					<div class="datatable-length">
						<span>페이지당 행 수 : </span>
						<select class="form-control form-control-sm margin-left-5" ng-model="contents.pageOptions.pageSize" ng-init="contents.pageOptions.pageSize = '10'" ng-change="contents.pageOptions.currentPage = 1">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="table-wrap">
			<table class="table table-hover" cellspacing="0" width="100%">
				<colgroup>
					<col style="width: ">
					<col style="width: 10%;">
					<col style="width: 10%;">
					<col style="width:">
					<col style="width: 10%;">
					<col style="width: 15%;">
					<col style="width: 8%;">
				</colgroup>
				<thead class="text-center">
					<tr>
						<th scope="col">APP 이름</th>
						<th scope="col">개발언어</th>
						<th scope="col">빌드팩버전</th>
						<th scope="col">URL</th>
						<th scope="col">상태</th>
						<th scope="col">최종배포일</th>
						<th scope="col">관리</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, appItem) in contents.apps | filter : {name: contents.schFilterText}" ng-show="key >= (contents.pageOptions.currentPage - 1) * contents.pageOptions.pageSize && key < contents.pageOptions.currentPage * contents.pageOptions.pageSize">
						<td>
							<a id="txt-renameApp-{{appItem.name}}" ng-click="contents.moveToApplicationPage(appItem);">{{ appItem.name }}</a>
							<div id="renameAppButton-{{appItem.name}}" class="renameWrap" style="display:none;">
								<input id="inputAppName-{{appItem.name}}" type="text" data-guid="{{appItem.guid}}" name="{{appItem.name}}" class="form-control" ng-model="appItem.name" maxlength="20" validation="min_len:3|max_len:20|required">
								<div class="sdBtnWrap">
									<button type="button" name="button" class="btn btn-ico-saveName-s only-ico" title="이름저장" ng-click="contents.updateAppName(appItem.name)" ng-disabled="!main.checkResourceUserRole()"><i class="xi-save"></i></button>
									<button type="button" name="button" class="btn btn-ico-delName-s only-ico" title="변경취소" ng-click="contents.renameApp(appItem.name)" ng-disabled="!main.checkResourceUserRole()"><i class="xi-close"></i></button>
								</div>
							</div>
						</td>
						<td class="text-center">{{ appItem.buildpackName }}</td>
						<td class="text-center">{{ appItem.buildpackVersion }}</td>
						<td><a class="txt" ng-if="0 < appItem.uris.length" ng-href="http://{{ appItem.uris[0] }}" target="_blank" title="{{ appItem.uris[0] }}">http://{{ appItem.uris[0] }}</a></td>
						<td class="text-center">
							<div class="state" ng-if="(appItem.state == 'STARTED') && (appItem.packageState == 'STAGED')">
								<span class="state-round rgba-green-strong"></span>
								<span class="state-txt">시작</span>
							</div>
							<div class="state" ng-if="(appItem.state == 'STARTED') && (appItem.packageState == 'PENDING')">
								<span class="state-round rgba-orange-strong"></span>
								<span class="state-txt">시작중</span>
							</div>
							<div class="state" ng-if="(appItem.state == 'STOPPED') && (appItem.packageState != 'FAILED')">
								<span class="state-round rgba-black-strong"></span>
								<span class="state-txt">정지</span>
							</div>
							<div class="state" ng-if="appItem.packageState == 'FAILED'">
								<span class="state-round rgba-black-strong"></span>
								<span class="state-txt">실패</span>
							</div>
						</td>
						<td class="text-center">{{ appItem.updated | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
						<td class="text-center">
							<div class="dropdown btn-option">
								<button type="button" id="btn-option-{{appItem.name}}" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정" ng-disabled="!main.checkResourceUserRole()">
									<div class="feather-icon"><i data-feather="more-horizontal" class="feather-directive"></i></div>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
									<li class="renameApp"><a href="javascript:void(0);" ng-click="contents.renameApp(appItem.name)">App 이름변경</a></li>
									<li ng-if="appItem.state == 'STOPPED'"><a href="javascript:void(0);" ng-click="contents.startAppState(appItem.guid, appItem.name)">시작</a></li>
									<li ng-if="appItem.state != 'STOPPED'"><a href="javascript:void(0);" class="disabled" title="App가‘정지’상태인 경우에만 '시작'이 가능합니다.">시작</a></li>
									<li ng-if="appItem.state == 'STARTED'"><a href="javascript:void(0);" ng-click="contents.stopAppState(appItem.guid, appItem.name)">정지</a></li>
									<li ng-if="appItem.state != 'STARTED'"><a href="javascript:void(0);" class="disabled" title="App가‘시작’상태인 경우에만 '정지'가 가능합니다.">정지</a></li>
									<li ng-if="appItem.state == 'STARTED'"><a href="javascript:void(0);" ng-click="contents.restartApp(appItem.guid, appItem.name)">재시작</a></li>
									<li ng-if="appItem.state != 'STARTED'"><a href="javascript:void(0);" class="disabled" title="App가‘시작’상태인 경우에만 '재시작'이 가능합니다.">재시작</a></li>
									<li><a href="javascript:void(0);" class="delete" ng-click="main.popDeleteCheckName($event, '애플리케이션', appItem.name, contents.deleteAppAction, appItem.guid)">삭제</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<!-- 등록된 멤버가 없을 때 -->
					<tr ng-if="!contents.isAppsLoad && contents.schFilterText.length > 0 && (contents.apps | filter:{ name:contents.schFilterText }).length == 0" class="no-data text-center">
						<td colspan="7">검색 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-bottom-wrap">
			<div class="row">
				<div class="col-sm-2">
			<span class="dataTables_info">
				{{ 'label.total' | translate }} {{ (contents.apps | filter:{ name:contents.schFilterText }).length }}{{ 'label.count' | translate }}
			</span>
				</div>
				<div class="col-sm-8">
					<nav class="text-center">
						<div class="paginationWrap">
							<paging
									page="contents.pageOptions.currentPage"
									page-size="contents.pageOptions.pageSize"
									total="(contents.apps | filter:{ name:contents.schFilterText }).length"
									pg-href=""
									show-prev-next="true"
									show-first-last="true"
									paging-action=""
									text-first-class="firstPage"
									text-last-class="lastPage"
									text-next-class="nextPage"
									text-prev-class="prevPage">
							</paging>
						</div>
					</nav>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 앱관리 리스트(테이블형) -->

<!-- 생성된 서버 없을 경우 -->
<div class="welcome_layer" ng-if="!contents.pageFirstLoad && contents.isAppsLoad && contents.apps.length == 0 && !!main.sltOrganizationGuid">
	<div class="guide_fnt arrw_btm">컨테이너 기반의 신규 App을 만듭니다.</div>
	<div class="text-center blank-page">
		<div class="img">
			<img src="../assets/img/icon/data-center.png">
		</div>
		<div class="cont">
			<p>표준App.개발 서비스에서는<span class="point">다양한 애플리케이션 개발언어 별</span>로 <span class="point">표준화된 실행환경</span>을 자동으로 구성할 수 있습니다.(Ex. Java, Python, Node.js, Go, etc,..)</p>
			<p>사용자는 제작한 애플리케이션을 빠르게 <span class="point">컨테이너 환경에 배포하고 테스트</span> 해볼 수 있습니다.</p>
			<p><span class="point">‘App 만들기’</span>를 통해 서비스를 시작해 보세요.</p>
		</div>
		<!-- 자원사용여부 확인 후 사용하지 않을 때 [서비스 삭제하기] 활성화 -->
		<div class="text-center" ng-if="main.checkUseYnPaas=='N'">
			<div class="cont">
				<p>현재 생성된 <span class="point">자원</span>이 없습니다. <span class="point">서비스 삭제</span> 후에 <span class="point">프로젝트 삭제</span>가 가능합니다.</p>
			</div>
			<button type="button" class="btn btn-default btn-lg" ng-click="main.deletePortalOrgSystem('paas');" ng-disabled="!main.checkResourceUserRole()">서비스 삭제하기</button>
		</div>
		<!-- //자원사용여부 확인 후 사용하지 않을 때 [서비스 삭제하기] 활성화 -->
	</div>
</div>
<!-- //생성된 서버 없을 경우 -->

<!-- 테넌트 생성 전인 경우(new) -->
<div class="welcome_layer" ng-if="!main.sltOrganizationGuid">
	<div class="text-center blank-page">
		<div class="img">
			<img src="../assets/img/icon/data-center.png" alt="data-center">
		</div>
		<div class="cont">
			<p>현재 생성한 서비스가 없습니다.</p>
			<p><span class="point">서비스를 생성</span> 하고 HUB-PoP을 이용하세요.</p>
		</div>
		<button type="button" class="btn btn-default btn-lg" ng-click="main.createPortalOrgSystem('paas');" ng-disabled="!main.checkResourceUserRole()">서비스 시작하기</button>
	</div>
</div>
<!-- //테넌트 생성 전인 경우(new) -->
