<!-- sideInWrap -->
<div class="pop_slide_area">
	<ul>
		<li>
			<ul class="app-reso">
				<li><span>{{contents.instancesSlider.value}}<em>개</em></span><strong>인스턴스 수</strong></li>
				<li><span>{{ contents.memorySlider.value | displayVolume:'MB' }}</span><strong>전체 메모리</strong></li>
				<li><span>{{ contents.diskQuotaSlider.value | displayVolume:'MB' }}</span><strong>전체 디스크</strong></li>
			</ul>
		</li>
		<li>
			<ul class="cnt_sliderWrap">
				<li>
					<div class="tit"><span>인스턴스 수</span></div>
					<div class="slider_area">
						<div class="disk_area color2">
							<div class="disk_box">
								<div class="rangeWrap type2">
									<span class="s_txt">최대 {{contents.instancesSlider.options.ceil}}개</span>
									<div class="range_box">
										<div class="ico_minus">
											<button type="button" name="button" class="btn" title="감소" ng-click="contents.minValCheck(1);"><span>감소</span></button>
										</div>
										<div class="rzslider">
											<rzslider rz-slider-model="contents.instancesSlider.value" rz-slider-options="contents.instancesSlider.options"></rzslider>
										</div>
										<div class="ico_plus">
											<button type="button" name="button" class="btn" title="증가"ng-click="contents.maxValCheck(1);"><span>증가</span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="tit"><span>인스턴스 메모리</span></div>
					<div class="slider_area">
						<div class="disk_area">
							<div class="disk_box">
								<div class="rangeWrap type2">
									<span class="s_txt">최대 {{ contents.memorySlider.options.ceil | displayVolume:'MB' }}</span>
									<div class="range_box">
										<div class="ico_minus">
											<button type="button" name="button" class="btn" title="감소" ng-click="contents.minValCheck(2);"><span>감소</span></button>
										</div>
										<div class="rzslider">
											<rzslider rz-slider-model="contents.memorySlider.value" rz-slider-options="contents.memorySlider.options"></rzslider>
										</div>
										<div class="ico_plus">
											<button type="button" name="button" class="btn" title="증가" ng-click="contents.maxValCheck(2);"><span>증가</span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="tit"><span>인스턴스 디스크</span></div>
					<div class="slider_area">
						<div class="disk_area color3">
							<div class="disk_box">
								<div class="rangeWrap type2">
									<span class="s_txt">최대 {{ contents.diskQuotaSlider.options.ceil | displayVolume:'MB' }}</span>
									<div class="range_box">
										<div class="ico_minus">
											<button type="button" name="button" class="btn" title="감소" ng-click="contents.minValCheck(3);"><span>감소</span></button>
										</div>
										<div class="rzslider">
											<rzslider rz-slider-model="contents.diskQuotaSlider.value" rz-slider-options="contents.diskQuotaSlider.options"></rzslider>
										</div>
										<div class="ico_plus">
											<button type="button" name="button" class="btn" title="증가" ng-click="contents.maxValCheck(3);"><span>증가</span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
<!-- //sideInWrap -->
