<div class="panel_head">
	<div class="tit pull-left">{{ 'label.app_log' | translate }}</div>
	<div class="pull-right">
        <button ng-if="!tab.tailLogAction" type="button" name="button" class="btn-sm btn-color4" style="height: 38px; margin-right: 7px;" title="시작하기" ng-click="tab.tailLog('start');">시작하기</button>
        <button ng-if="tab.tailLogAction" type="button" name="button" class="btn-sm btn-color5" style="height: 38px; margin-right: 7px;" title="중지하기" ng-click="tab.tailLog('stop');">중지하기</button>
        <button id="log" type="button" name="button" class="btn btn-ico-zoom only-ico" title="확대/축소" ng-click="contents.zoomPanel('log')"><span class="ico">확대/축소</span></button>
	</div>
</div>
<div class="panel_body">
	<div class="in scroll-pane">
        <div class="pr10">
			<div class="pop_message_area mb20">
				<div class="msg_bg"></div>
				<div class="msg_txt"><span>APP 배포 및 실행 로그를 실시간으로 표시합니다.</span></div>
			</div>
            <h3 ng-if="!tab.tailLogAction">앱 로깅이 시작되지 않았습니다.</h3>
            <div ng-if="tab.tailLogAction" style="width: 100%; border:1px solid #d7d7d7; height:250px;" dynamic-template="tab.appWebLogIframe"></div>
        </div>
	</div>
</div>