<!-- panel-heading -->
<div class="panel-heading">
	<div class="row">
		<div class="col-md-6">
			<h3 class="panel-title">
				<b class="tit">{{ 'label.app_log' | translate }}</b>
			</h3>
		</div>
		<div class="col-md-6 text-right">
			<div class="padding-top-10 padding-horizontal-20">
				<button id="log" type="button" title="확대/축소" class="btn-zoom grey-600" ng-click="contents.zoomPanel('log')"></button>
			</div>
		</div>
	</div>
</div> 
<!-- // panel-heading -->
<!-- panel-body -->
<div class="panel-body">
	<div class="in">
		<div class="alert alert-primary" role="alert">
			<i class="xi-info font-size-20"></i>
			<div class="text-area">APP의 콘솔 로그와 엑세스 로그를 표시합니다.</div>
			<!-- <div class="text-area">APP 배포 및 실행 로그를 실시간으로 표시합니다.</div> -->
		</div>
		<div class=" scroll-content" style="height:270px;">
			<p class="padding-vertical-20" ng-if="!tab.tailLogAction">앱 로깅이 시작되지 않았습니다.</p>
			<div ng-if="tab.tailLogAction" style="width: 100%; border:1px solid #d7d7d7; height:250px;" dynamic-template="tab.appWebLogIframe"></div>
		</div>
	</div>
</div>
<!-- //panel-body -->
