<div ng-if="tab.loadingAppEvents">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>
<div class="panel_head">
    <div class="tit pull-left">{{ 'label.event_log' | translate }}<span class="countList">전체 : {{tab.appEvents.totalElements}}건</span></div>
    <div class="pull-right">
        <button id="event" type="button" name="button" class="btn btn-ico-zoom only-ico" title="확대/축소" ng-click="contents.zoomPanel('event')"><span class="ico">확대/축소</span></button>
    </div>
</div>
<div class="panel_body">
    <div class="in scroll-pane">
        <!-- table -->
        <div class="tbl type1" id="tabAppEventsTable" style="width:665px;">
            <table class="table">
                <colgroup>
                    <col style="width:10%;">
                    <col style="width:20%;">
                    <col style="width:25%;">
                    <col style="width:35%;">
                </colgroup>
                <thead>
                <tr>
                    <th>{{ 'label.no' | translate }}</th>
                    <th>{{ 'label.timestamp' | translate }}</th>
                    <th>{{ 'label.actor' | translate }}</th>
                    <th>{{ 'label.event' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(k, eventItem) in tab.appEvents.content">
                    <td class="text-center">{{ (k + 1) }}</td>
                    <td class="text-left">{{ eventItem.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td class="text-left">{{ eventItem.actorName }}</td>
                    <td class="text-left">{{ eventItem.type }}</td>
                </tr>
                <tr ng-if="tab.appEvents.content.length == 0">
                    <td colspan="4"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- //table -->
    </div>
</div>
