<div class="ctlog_cntWrap">
    <div class="ctlog-cnt">
        <h5>서비스 접속정보</h5>
        <ul>
            <li>
                <strong class="tit">접속 IP</strong>
                <span ng-if="contents.data.deployType != 'cluster'" class="txt">{{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}</span>
                <span ng-if="contents.data.deployType == 'cluster'" class="txt">각 서버로 접속</span>
            </li>
        </ul>
        <ul>
            <li>
                <strong class="tit">접속포트</strong>
                <span class="txt">{{ contents.servers[0].amqpPort }}</span>
            </li>
            <li>
                <strong class="tit">플러그인 포트</strong>
                <span class="txt">{{ contents.servers[0].managementPort }}</span>
            </li>
        </ul>
    </div>
    <div class="ctlog-cnt">
        <h5> 서비스 환경 설정 파일 경로</h5>
        <ul>
            <li>
                <strong class="tit"> path: </strong>
                <span class="txt">/</span>
            </li>
            <li>
                <strong class="tit">.erlang.cookie path: </strong>
                <span class="txt">/var/lib/rabbitmq/.erlang.cookie</span>
            </li>
        </ul>
    </div>
</div>
