<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>K PaaS-TA</title>
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="stylesheet" href="css/common.css"/>
    <script type="text/javascript">
        function popCancel(){
            self.close();
        }

        /*오늘 하루 이 창을 열지 않기*/
        function setNotifyCookie(id){
            var now = new Date(), expireDate = new Date(now.getFullYear(), now.getMonth(), now.getDate()+1);
            document.cookie = "notice_"+ id + "=valid; path=/; expires=" + expireDate + ";";

            popCancel();
        }

        /*상세보기*/
        function viewDetail(id){
            self.close();
            opener.location.href="/#/support/notice/"+id;
            opener.location.reload();
            noticeDetail(id);
        }
    </script>
</head>
<body class="noticePopup">
    <div class="modal-header">
        <h4 class="modal-title">공지사항</h4>
    </div>
    <div class="modal-body">	<!--	첨부파일이 있을 경우 fileAttachModal 클래스 추가 :  class="modal-body fileAttachModal" 	-->
		<div class="title noticeTitle"><p>{{noticeTitle}}</p></div>
		<div class="noticeContent modalCon">{{noticeContent}}</div>
		<!--<div class="fileAttachContainer">
			<div class="fileAttachWrap">
				<ul>
					<li><a href="#">Filename_9939905-0-2093409402.zip</a></li>	
					<li><a href="#">Filename_9939905-0-2093409402.zip</a></li>
                    <li><a href="#">Filename_9939905-0-2093409402.zip</a></li>
                    <li><a href="#">Filename_9939905-0-2093409402.zip</a></li>
                </ul>
			</div>
		</div>-->
    </div>
    <div class="modal-footer" layout="row">
        <button class="btn btn-add noticePopBtn" onClick="javascript:viewDetail({{noticeId}});">상세보기</button>
        <button class="btn noticePopBtn" data-dismiss="modal" onClick="javascript:popCancel();">닫기</button>
		<div class="inputContainer">
			<p class="inputWrap">
				<input type="checkbox" id="chkOpen" class="mdl-checkbox__input" onClick="javascript:setNotifyCookie({{noticeId}});"/><label for="chkOpen">오늘 하루 이 창을 열지 않기</label>
			</p>
		</div>
    </div>
</body>
</html>
