<script type="text/javascript">
	$(document).ready(function(){
		$(".carousel").hide();
	});
</script>
<div class="topVisualContainer introTop">
	<div class="introTopLeft"></div>
	<div class="introTopRight"></div>
	<div class="topVisualWrap">
		<!--<img src="../img/img_supporttop.png" width="1069" height="201" alt="" />-->
		<h3>크로센트 클라우드 소개</h3>
		<p>국내 최초로 국산 PaaS-TA 솔루션을 기반으로 R&amp;D 기업을 대상으로 한<br> Public 상용 클라우드 서비스를 제공합니다.</p>
	</div>
</div>
<div id="content" class="container-fluid introContainer">
    <div class="row">
        <div class="containerWrap">
            <div class="introArea">
                <h4><span>크로센트 클라우드 개요</span></h4>
                <h5>오픈소스 기반 IaaS · PaaS 플랫폼을 통해 모든 유형의 어플리케이션을<br> 개발하여 운영할 수 있는 통합 환경을 제공합니다.</h5>
                <ul class="kcloudIntro-01">
                    <li>
                        <img src="../img/ico_intro_07.png" width="39" height="24" alt="" />
                        <span>
                            <span class="title">IaaS</span>
                            서버 &frasl; 스토리지 &frasl; 네트워크 가상화 기술로 경제성 극대화 
                        </span>
                    </li>
                     <li>
                        <img src="../img/ico_intro_08.png" width="34" height="29" alt="" />
                        <span>
                            <span class="title">SaaS</span> 
                            다양한 솔루션과 어플리케이션 유통이 가능한 마켓 포털
                        </span>
                    </li>
                    <li>
                        <img src="../img/ico_intro_09.png" width="30" height="30" alt="" />
                        <span>
                            <span class="title">PaaS</span>
                            자사 비즈니스를 쉽고 빠르게 개발할 수 있도록 프레임워크를<br>
                            기반으로 각종 런타임, 서비스, DevOps 지원 개발환경 제공 
                        </span>
                    </li>
                    <li>
                        <img src="../img/ico_intro_10.png" width="40" height="40" alt="" />
                        <span>
                            <span class="title">Network</span> 
                            상용 SDN &frasl; NFV 기술 탑재로 네트워크 병목현상 최소화
                        </span>
                    </li>
                </ul>
                <div class="circleCon">
                    <ul>
                        <li> 
                            <p class="title">IaaS</p>
                            <img src="../img/ico_intro_11.png"  width="49" height="33" alt="">
                            <p>Cost Saving<span>(인프라 비용 절감)</span></p>
                        </li>
                        <li> 
                            <p class="title">PaaS</p> 
                            <img src="../img/ico_intro_12.png"  width="48" height="46" alt="">
                            <p>Time Saving<span>(개발 기간 단축)</span></p>
                        </li>
                        <li> 
                            <p class="title">SaaS</p> 
                            <img src="../img/ico_intro_13.png"  width="37" height="37" alt="">
                            <p>Full lineup<span>(솔루션, 제작도구)</span></p>
                        </li>
                        <li> 
                            <p class="title">Network</p> 
                            <img src="../img/ico_intro_14.png"  width="44" height="44" alt="">
                            <p>SDN · NFV<span>(안정적 네트워크 품질)</span></p>
                        </li> 
                    </ul> 
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="containerWrap">
           <div class="introArea">
            <h4><span>크로센트 클라우드 특징</span></h4>
            <h5></h5>  
           <ul class="kcloudIntro-01 choicePart">
                    <li>
                        <img src="../img/ico_intro_15.png" width="62" height="60" alt="" />
                        <span>
                            <span class="title">빠른 개발환경 구성</span>
                            오픈소스 또는 상용 솔루션 기반의 런타임과 서비스 제공으로 간단한<br>명령어와 몇 번의 클릭만으로 수분 내에 원하는 개발환경을 구축 
                        </span>
                    </li>
                     <li>
                        <img src="../img/ico_intro_16.png" width="62" height="60" alt="" />
                        <span>
                            <span class="title">개발 프레임워크 지원</span> 
                           Pivotal Spring 및 전자정부 표준 프레임워크를 빌드 팩으로 탑재하여<br>추가설치 절차없이 DevOps 환경을 구성하여 바로 개발에 착수 가능
                        </span>
                    </li>
                    <li>
                        <img src="../img/ico_intro_17.png" width="62" height="60" alt="" />
                        <span>
                            <span class="title">Private·Public 클라우드 구성</span>
                            Private Cloud(Stand alone), Public Cloud(Shared) 타입으로<br>고객이 원하는 형태로 개발·운영 환경을 구성 
                        </span>
                    </li>
                    <li>
                        <img src="../img/ico_intro_18.png" width="62" height="60" alt="" />
                        <span>
                            <span class="title">장애 자동 감지·복구</span> 
                            다양한 유형의 장애를 자동으로 감지/복구할 수 있는 무중단 체계와<br>어플리케이션, 인프라, 프로세스 모니터링을 위한 대쉬보드 제공
                        </span>
                    </li>
                    <li>
                        <img src="../img/ico_intro_19.png" width="62" height="60" alt="" />
                        <span>
                            <span class="title">유연한 리소스 선택·확장 </span> 
                            개발에 필요한 각종 빌드도구와 분석도구를 선택할 수 있는 마켓포털<br>및 컨테이너를 유연하게 확장/축소하는 PaaS Auto Scaling 기능 제공
                        </span>
                    </li>
                </ul>
            </div>
        </div> 
    </div>
    <div class="row" style="padding-bottom: 0;">
        <div class="containerWrap conPart-03" style="padding-bottom: 108px;">
           <div class="introArea">
            <h4><span>크로센트 클라우드 구조</span></h4>
            <h5></h5>
            <div class="kcloudStructure">
                <p>플랫폼 Biz 지원 및 상용서비스를 위한 기술·플랫폼을 구현</p>
                <dl  style="margin-right:-2px">
                    <dt>01. IaaS 시스템 구축</dt>
                    <dd> 오픈소스인 Openstack 솔루션 기술 적용</dd>
                    <dd>시스템 가상화 인프라 환경 구현 (서버/스토리지/네트워크)</dd>
                    <dd><img src="../img/img_intro_04.png" width="526" height="145" alt=""></dd>
                </dl>
                <dl>
                    <dt>02. PaaS 시스템 구축</dt>
                    <dd>오픈소스인 Cloud Foundry 솔루션 기술 적용</dd>
                    <dd>통합 개발 환경 제제공 (Language, DBMS, App Server, Framework)</dd>
                    <dd><img src="../img/img_intro_05.png" width="525" height="151"alt=""></dd>
                </dl>
            </div>
            <div class="kcloudStructure infraPart">
                <p>IaaS 가상화 인프라와 PaaS 개발 인프라 분리 제공</p>
                <dl style="margin-right:98px;"> 
                    <dd><img src="../img/img_intro_06.png" width="577" height="391" alt=""></dd>  
                </dl>
                <dl> 
                    <dd><img src="../img/img_intro_07.png" width="434" height="391" alt=""></dd> 
                </dl>
            </div>
            <!--<div class="kcloudStructure infraPart">
                <p>크로센트 클라우드 서비스 현황</p>
                 <table class="table table-striped tabInTable productTable">
					<colgroup>
					    <col style="width:97px" />
					    <col />
					</colgroup>
					<thead> 
					</thead>
					<tbody> 
				        <tr>
						  <th><span><img src="../img/ico_intro_20.png" width="22" height="28" alt=""></span>가입자 수</th>
						  <td>
						   국내 663개 기업 등록<br>일반기업, 금융, 교육, 의료, 공공
						  </td> 
						</tr> 				
					</tbody>
				</table>
            </div>       
            </div>-->
        </div> 
    </div>
    <div class="row" style="background: #fff">
        <div class="containerWrap">
           <div class="introArea conPart-04">
            <h4><span>크로센트 클라우드 아키텍처</span></h4>
            <h5>IaaS와 PaaS 결합 플랫폼으로 빠른 개발 환경 구성과 유연한 리소스 확장 및 <br> SDN 적용으로 네트워크를 안정화하였습니다.</h5>    <ul>
                <li><img src="../img/img_intro_08.png" width="434" height="355" alt=""></li>
                <li>통합관리</li>
                <li><img src="../img/img_intro_09.png" width="434" height="355" alt=""></li>
            </ul>
            <div>
                <p> Work Flow를 기반으로 빌드, 테스트 및 배포 처리를 자동화할 수 있는 DevOps 환경을 제공</p>
                <p>어플리케이션의 개발과 운용 현황을 쉽게 확인할 수 있는 대쉬보드 및 장애 자동 감지/복구 처리 </p>
                <p>어플리케이션 및 개발소스의 라이프사이클 관리를 위한 Repository 기반 형상관리 지원</p>
                <p>상용 SDN과 NFV 솔루션 적용으로 오픈소스 엔진(Openstack Neutron)의 불안전성과 네트워크 병목 현상을 해결</p>
            </div> 
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="containerWrap">
           <div class="introArea conPart-05">
            <h4><span>크로센트 클라우드 제공범위</span></h4>
            <p>2018년 상반기 중 서비스 예정</p>
            <table class="table table-striped tabInTable productTable table-lt">
                <colgroup>
                    <col/>
				</colgroup>
				<thead> 
				</thead>
				<tbody> 
				    <tr>
                        <th style="background: #58585a; color: #fff; padding: 26px 0;">Portal</th>
					</tr>
					<tr>
					    <td style="background: #7a7066; color: #fff; padding: 11px 0;">IDE</td>
					</tr>
					<tr>
                        <td>Business Application</td>
					</tr>
					<tr>
					    <td>DevOps</td>
					</tr> 				
					<tr>
                        <td>App Service</td>
					</tr>
					<tr>
                        <td>Runtime/Frameworks</td>
					</tr>
					<!--<tr>
                        <td>Container</td>
					</tr>
					<tr>
                        <td>VM</td>
					</tr>
					<tr>
                        <td class="innerIcon"><span>Infrastructur</span>
                            <img src="../img/ico_intro_21.png" width="29" height="30" alt="">
                            <img src="../img/ico_intro_22.png" width="27" height="28" alt="">
                            <img src="../img/ico_intro_23.png" width="28" height="28" alt="">
                        </td> 
					</tr>-->
				</tbody>
            </table>
            <table class="table table-striped tabInTable productTable table-rt" style="width:780px">
                <colgroup>
                    <col style="width:172px" />
                    <col/>
				</colgroup>
				<thead> 
				</thead>
				<tbody> 
				    <tr>
                        <th>Web Portal</th>
                        <td>http://www.kpaasta.cloud</td>
					</tr>
					<tr>
                        <th>DevOps</th>
                        <td>Go-GIT, Concourse, Eclipse CHE</td>
					</tr>
					<tr>
                        <th>DBMS</th>
                        <td>
                            <img src="../img/logo_product_mysql.png" width="50" height="26" alt="" style="margin-right:32px">
                            <p class=" p01" style="padding: 0 15px; margin-left: -21px;">
                                <img src="../img/logo_product_mangodb.png" width="79" height="21" alt="" style="margin-right: 10px">
                                <img src="../img/logo_product_tibero.png" width="62" height="18" alt="">
                                <img src="../img/logo_product_postgresql.png" width="30" height="30" alt="">
                                <img src="../img/logo_product_cubrid.png" width="32" height="35" alt="">
                            </p>
                        </td> 
					</tr>
					<tr>
                        <th>Key Value</th>
                        <td><img src="../img/logo_product_redis-01.png" width="60" height="19" alt=""></td> 
					</tr>
					<tr>
                        <th>Messaging</th>
                        <td><p><img src="../img/logo_product_rabbitmq.png" width="77" height="13" alt=""></p></td> 
					</tr>
					<tr>
                        <th>Language</th>
                        <td>
                            <img src="../img/logo_product_java-01.png" width="45" height="25" alt="">
                            <img src="../img/logo_product_python.png" width="71" height="22" alt="">
                            <img src="../img/logo_product_ruby-01.png" width="28" height="29" alt="">
                            <img src="../img/logo_product_php.png" width="49" height="26" alt="">
                            <img src="../img/logo_product_nodejs.png" width="69" height="19" alt="">
                            <img src="../img/logo_product_go.png" width="55" height="29" alt="">
                        </td> 
					</tr>
					<tr>
                        <th>App Server</th>
                        <td>
                            <img src="../img/logo_product_apache.png" width="52" height="20" alt="">
                            <p style="margin-left:-16px;">
                                <img src="../img/logo_product_jboss.png" width="42" height="23" alt="">
                            </p>
                        </td> 
					</tr>
					<tr>
                        <th>Framework</th>
                        <td>
                            <img src="../img/logo_product_spring.png" width="41" height="24" alt="">
                            <img src="../img/logo_product_egovframe.png" width="95" height="21" alt="">
                        </td>
					</tr>
					<!--<tr>
                        <th>Container</th>
                        <td>Pivotal Garden, <p class=" p01">Docker</p></td> 
					</tr>
					<tr>
                        <th>Hypervisor</th>
                        <td>KVM</td> 
					</tr>
					<tr>
                        <th>OS Kernel</th>
                        <td>Ubuntu</td> 
					</tr>
					<tr>
                        <th>Virtualization</th>
                        <td>Server, Strange, Network(SDN/NFV)</td> 
					</tr>-->
				</tbody>
            </table>     
            </div>
        </div> 
    </div>
    <div class="row" style="padding-bottom: 0;">
        <div class="containerWrap" style="background: #fff; padding-bottom: 108px;margin-bottom:-50px;">
           <div class="introArea conPart-06" style="padding-bottom">
            <h4><span>크로센트 클라우드 생태계</span></h4>
            <h5>ICT 융복합 기반 기술 적용으로 비즈니스 혁신 기회를 제공합니다.</h5>
            <!--<p>2018년 상반기 중으로 단계별 오픈</p> -->
             <img src="../img/img_intro_11.png" width="984" height="758" alt=""> 
            </div>
        </div> 
    </div>
</div>
<div class="returnToTop">
    <a id="MOVE_TOP_BTN" class="topArrow-btn" href="#">
        <img src="../img/ico_quick-top.png" width="75" height="75" class="nomal-img" alt="">
        <img src="../img/ico_quick-top-on.png" width="75" height="75" class="on-img" alt="">
    </a>
</div>
<script>
    $(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 500) {
                $('#MOVE_TOP_BTN').fadeIn();
            } else {
                $('#MOVE_TOP_BTN').fadeOut();
            }
        });
        
        $("#MOVE_TOP_BTN").click(function() {
            $('html, body').animate({
                scrollTop : 0
            }, 400);
            return false;
        });
    });
</script> 
