<!-- 신규 loadding -->
<div class="loadWrap_spn">
    <div class="loadBox_spn">
        <div class="lds-css ng-scope">
            <div class="lds-spinner" style="height:100%">
                <div class="spiner_child_1"></div>
                <div class="spiner_child_2"></div>
                <div class="spiner_child_3"></div>
                <div class="spiner_child_4"></div>
                <div class="spiner_child_5"></div>
                <div class="spiner_child_6"></div>
                <div class="spiner_child_7"></div>
                <div class="spiner_child_8"></div>
                <div class="spiner_child_9"></div>
                <div class="spiner_child_10"></div>
                <div class="spiner_child_11"></div>
                <div class="spiner_child_12"></div>
            </div>
        </div>
    </div>
</div>
<!-- //신규 loadding -->

<!-- 
<div class="modal-dialog uploadWrap">
	<div ng-if="!main.uploadProgress" class="mainLoading"></div>
	<div ng-if="main.uploadProgress" class="modal-body">
		<div class="well">
			<div>
				<div class="uploadProgressMsg">
					<p class="pull-left">
						{{ 'label.file_upload' | translate }} ( {{ (main.uploadProgress.loaded/1024)|number:0 }} KB / {{ (main.uploadProgress.total/1024)|number:0 }} KB )
					</p>
					<p class="pull-right">
						{{ main.uploadProgress.percent }}%
					</p>				
				</div>
				<div class="uploadProgress progress">
					<div class="progress-bar" role="progressbar" ng-style="{ 'width': main.uploadProgress.percent + '%' }"></div>
				</div>
			</div>
			<div class="uploadMessage">
				<h3>{{ 'message.mi_uploading_file' | translate }}</h3>
				<h5>{{ 'message.mi_please_wait' | translate }}</h5>
			</div>
		</div>
	</div>
</div>
 -->