          <!-- loadding -->
          <!--<div class="loadWrap newLoadWrap">
            <div class="loadBox">
              &lt;!&ndash; progress &ndash;&gt;
              <div class="load-progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                  <span class="sr-only">50% Complete</span>
                </div>
              </div>
              &lt;!&ndash;// progress &ndash;&gt;

              &lt;!&ndash; <p class="load-txt">30초 정도 소요 예상됩니다</p> &ndash;&gt;
            </div>
          </div>-->
          <!-- //loadding -->

          <!-- 신규 loadding -->
          <div class="loadWrap_spn">
          	<div class="loadBox_spn">
	          	<div class="lds-css ng-scope">
					<div class="lds-spinner" style="height:100%">
						<div class="spiner_child_1"></div>
						<div class="spiner_child_2"></div>
						<div class="spiner_child_3"></div>
						<div class="spiner_child_4"></div>
						<div class="spiner_child_5"></div>
						<div class="spiner_child_6"></div>
						<div class="spiner_child_7"></div>
						<div class="spiner_child_8"></div>
						<div class="spiner_child_9"></div>
						<div class="spiner_child_10"></div>
						<div class="spiner_child_11"></div>
						<div class="spiner_child_12"></div>
					</div>
				</div>
          	</div>
          </div>
          <!-- //신규 loadding -->

<!--
<div class="modal-dialog uploadWrap">
	<div ng-if="!main.uploadProgress" class="mainLoading"></div>
	<div ng-if="main.uploadProgress" class="modal-body">
		<div class="well">
			<div>
				<div class="uploadProgressMsg">
					<p class="pull-left">
						{{ 'label.file_upload' | translate }} ( {{ (main.uploadProgress.loaded/1024)|number:0 }} KB / {{ (main.uploadProgress.total/1024)|number:0 }} KB )
					</p>
					<p class="pull-right">
						{{ main.uploadProgress.percent }}%
					</p>				
				</div>
				<div class="uploadProgress progress">
					<div class="progress-bar" role="progressbar" ng-style="{ 'width': main.uploadProgress.percent + '%' }"></div>
				</div>
			</div>
			<div class="uploadMessage">
				<h3>{{ 'message.mi_uploading_file' | translate }}</h3>
				<h5>{{ 'message.mi_please_wait' | translate }}</h5>
			</div>
		</div>
	</div>
</div>-->
