<md-dialog draggable drag-handle=".modal-header" aria-label="{{ dialogOptions.title }}" >
	<div class="modal in">
		<div class="modal-dialog {{ dialogOptions.dialogClassName }}">
			<div class="modal-content"">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="popCancel()">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">{{dialogOptions.title}}</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-dark" role="alert" ng-show="dialogClose">
						<span>Close</span>
						<span>(Dialog Close)</span>
						<div spin="defaultSpinnerConfig" spin-if="dialogClose"></div>
					</div>
					
					<div ng-show="actionLoading">
						<div class="padding-vertical-20 text-center">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<!-- <div>
							<md-progress-circular class="md-warn md-hue-3" md-diameter="70"></md-progress-circular>
							<div spin="defaultSpinnerConfig" spin-if="authenticating"></div>
						</div> -->
						<p class="text-center">{{ 'message.mi_please_wait' | translate  }}</p>
					</div>
					
					<div ng-show="success" class="alert alert-success">
						<span class="text-center">Success</span>
						<span class="text-center" ng-bind-html="success"></span>
						<div spin="defaultSpinnerConfig" spin-if="success"></div>
					</div>
					
					<div ng-show="error" class="alert alert-danger">
						<span class="text-center">Error</span>
						<span class="text-center" ng-bind-html="error"></span>
						<div spin="defaultSpinnerConfig" spin-if="error"></div>
					</div>
					
					<form ng-if="!dialogOptions.notForm" name="{{dialogOptions.controllerAs}}.{{ dialogOptions.formName }}" novalidate>
						<div ng-hide="dialogClose || actionLoading || error || success" ng-include="dialogOptions.templateUrl">
						</div>
					</form>
					<div ng-if="dialogOptions.notForm" ng-hide="dialogClose || actionLoading || error || success" ng-include="dialogOptions.templateUrl">
					</div>
				</div>
				<div class="modal-footer" ng-show="!actionLoading && dialogOptions.btnTemplateUrl" ng-include="dialogOptions.btnTemplateUrl">
				</div>
				<div class="modal-footer" ng-show="!actionLoading && dialogOptions.btnTemplate" dynamic-template="dialogOptions.btnTemplate">
				</div>
			</div>
		</div>
	</div>
</md-dialog>
