        <div class="gnb-in">
            <h1 class="gnb-logo"><a href="/"><img src="images/top_logo.png" alt="HUB POP"></a></h1>
            <ul class="gnb-menu">
                <li>
                    <a href="console" class="gm" title="대시보드"><span class="ico ico-bul ico1"></span>대시보드</a><!-- selected class="gm on" -->
                </li>
                <li>
                    <a href="#" class="gm" title="프로젝트"><span class="ico ico-bul ico2"></span>프로젝트<span class="ico ico-arr"></span></a><!-- selected class="gm on" -->
                    <ul class="lnb">
                        <li class="lm"><a href="console#/projects" class="mm" title="프로젝트 관리">프로젝트 관리</a></li>
                        <li class="lm"><a href="console#/orgs" class="mm" title="작업 관리">작업 관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="gm" title="플랫폼 서비스"><span class="ico ico-bul ico3"></span>플랫폼 서비스<span class="ico ico-arr"></span></a>
                    <ul class="lnb">
                        <li class="lm"><a href="#" class="mm" title="전력SW 개발 프레임워크">전력SW 개발 프레임워크</a></li>
                        <li class="lm"><a href="console#/paas" class="mm" title="표준 APP. 개발 서비스">표준 APP. 개발 서비스</a></li>
                        <li class="lm"><a href="#" class="mm" title="인터페이스 허브 서비스">인터페이스 허브 서비스</a></li>
                        <li class="lm"><a href="#" class="mm" title="분석 허브 서비스">분석 허브 서비스</a></li>
<!--                         <li class="lm"><a href="console#/iaas" class="mm" title="서버 가상화 서비스">서버 가상화 서비스</a></li> -->
                        <li class="lm"><a href="console#/server/snapshot" class="mm" title="서버 가상화 서비스">서버 가상화 서비스</a></li>
                        <li class="lm"><a href="#" class="mm" title="GIS 플랫폼 서비스">GIS 플랫폼 서비스</a></li>
                        <li class="lm"><a href="#" class="mm" title="API Gateway 서비스">API Gateway 서비스</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="gm" title="데이터 연계"><span class="ico ico-bul ico4"></span>데이터 연계<span class="ico ico-arr"></span></a><!-- selected class="gm on" -->
                    <ul class="lnb">
                        <li class="lm"><a href="#" class="mm" title="허브팝 데이터 연계 및 보유 현황">허브팝 데이터 연계 및 보유 현황</a></li>
                        <li class="lm"><a href="#" class="mm" title="데이터 연계 신청 처리 현황">데이터 연계 신청 처리 현황</a></li>
                        <li class="lm"><a href="#" class="mm" title="데이터 연계 신청">데이터 연계 신청</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button type="button" name="button" class="gnb-close" data-user="gnb-close" ng-click="main.hubpop.gnbCloseOnClick($event);"><span class="ico"></span></button>
