<div class="accss_guideWrap">
	<h2>디스크(disk) 마운트(mount) 방법 안내</h2>
	<p class="txt_level1 pdb0">- 디스크 마운트란? 가상 서버에 추가(연결)된 디스크를 사용하기 위해 논리적인 디렉토리를 지정(연결)하는 것을 말합니다.</p>
	<!-- <div class="cnt_msg_box msg-info">디스크 마운트란? 가상 서버에 추가(연결)된 디스크를 사용하기 위해 논리적인 디렉토리를 지정(연결)하는 것을 말합니다.</div> -->
	<!-- <h3>- 디스크 마운트란?</h3>
	<p class="txt_level1 pdb0">가상 서버에 추가(연결)된 디스크를 사용하기 위해 논리적인 디렉토리를 지정(연결)하는 것을 말합니다.</p> -->

	<div class="guide_t_menu">
		<ul>
			<li><a href="#/iaas/storage?content=1">Linux 서버 디스크 마운트(mount)</a></li>
			<li><a href="#/iaas/storage?content=2">Windows 서버 디스크 마운트(mount)</a></li>
		</ul>
	</div>
	
	<h3 id="/iaas/storage?content=1">1. Linux 서버 디스크 마운트(mount)</h3>
	<p class="txt_level1 pdb0">Linux 계열(Ubuntu, CentOS) 서버에 연결된 디스크(Disk)를 사용하기 위한 마운트(mount) 방법을 안내합니다. </p>
	
	<div class="imgWrap mt50">
		<img alt="" src="images/access_guide/access_guide_disk_img01.png" alt="">
	</div>
	<p class="txt_level1 blt_none">①  <strong>‘서버 SSH 접속’</strong> 을 합니다.</p>
	<p class="txt_level1 blt_none">②  <strong>[lsblk] 명령을 입력</strong>하여 <strong>마운트정보를 확인</strong>합니다.</p>
	<p class="txt_level1 blt_none">③  <strong>[sudo mkfs -t ext4 /dev/vdb]</strong> 명령을 입력하여 해당 <strong>disk(vdb)를 포맷</strong>합니다.</p>
	<p class="txt_level1 blt_none">④  <strong>[sudo mkdir /mnt/data]</strong> 명령을 입력하여 <strong>마운트포인트(/mnt/data)를 생성</strong>합니다.</p>
	<p class="txt_level1 blt_none">⑤  <strong>[sudo mount /dev/vdb /mnt/data]</strong> 명령을 입력하여 마운트포인트(/mnt/data)에 <strong>disk(vdb)를 마운트</strong>합니다.</p>
	<p class="txt_level1 blt_none">⑥  <strong>[lsblk]</strong> 명령을 입력하여 <strong>마운트정보를 확인</strong>합니다</p>

	<h3 id="/iaas/storage?content=2" class="mt80">2. Windows 서버 디스크 마운트(mount)</h3>
	<p class="txt_level1 pdb0">Windows 서버에 연결된 디스크(Disk)를 사용하기 위한 마운트(mount) 방법을 안내합니다.</p>
	<div class="cnt_msg_box msg-warnning mt30">Windows 서버에 할당 가능한 디스크 사이즈는 총 2TB입니다. 초과시 오류가 발생할수 있으니 주의하시기 바랍니다.</div>

	<h4>1) 윈도우 서버 원격접속 &rarr; 작업 표시줄에서 ‘서버 관리자’ 실행</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_disk_img02.png" alt="">
	</div>

	<h4 class="pt80">2) ‘서버 관리자’ &rarr; ‘도구(T)’ &rarr; ‘컴퓨터 관리’ 메뉴 선택</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_disk_img03.png" alt="">
	</div>
	
	<h4 class="pt80">3) ‘컴퓨터 관리’창에서 서버와 연결된 디스크(할당되지 않음) 확인</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_disk_img04.png" alt="">
	</div>

	<h4 class="pt80">4) ‘오프라인’ 상태의 디스크를 ‘온라인’으로 전환</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_disk_img05.png" alt="">
	</div>
	<p class="txt_level1 blt_none">①  <strong>‘디스크 1’</strong> 영역에서 마우스 오른쪽 버튼 클릭</p>
	<p class="txt_level1 blt_none">②  메뉴에서 <strong>'온라인(O)'</strong> 선택</p>

	<h4 class="pt80">5) 디스크 초기화</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_disk_img06.png" alt="">
	</div>
	<p class="txt_level1 blt_none">①  <strong>‘디스크 1’</strong> 영역에서 마우스 오른쪽 버튼 클릭</p>
	<p class="txt_level1 blt_none">②  메뉴에서 <strong>'디스크 초기화(I)'</strong> 선택</p>
	<p class="txt_level1 blt_none">③  <strong>'디스크 초기화'</strong> 팝업에서 디스크 파티션 형식 선택 후 <strong>'확인'</strong> 버튼 클릭</p>
	<p class="txt_level4"><em>-</em>파티션 형식 : MBR(마스터 부트 레코드)(M)</p>

	<h4 class="pt80">6) 디스크 볼륨 구성 - 01</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_disk_img07.png" alt="">
	</div>
	<p class="txt_level1 blt_none">①  <strong>‘디스크 할당’</strong> 영역에서 마우스 오른쪽 버튼 클릭</p>
	<p class="txt_level1 blt_none">②  팝업 메뉴에서 <strong>'새 단순 볼륨(I)'</strong> 선택</p>

	<h4 class="pt80">7) 디스크 볼륨 구성 - 2</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_disk_img08.png" alt="">
	</div>
	<p class="txt_level1 blt_none">①  <strong>‘단순 볼륨 만들기’</strong> 마법사 시작</p>
	<p class="txt_level1 blt_none">②  <strong>‘단순볼륨크기(MB)(S)’</strong> 설정 후 <strong>‘다음’</strong> 클릭</p>
	<p class="txt_level1 blt_none">③  <strong>‘드라이브 문자 할당’</strong> 설정 후 <strong>‘다음’</strong> 클릭</p>
	<p class="txt_level1 blt_none">④  파티션 포맷에서 <strong>‘볼륨 레이블’</strong> 설정 후 <strong>‘다음’</strong> 클릭</p>
	<p class="txt_level1 blt_none">⑤  <strong>‘단순 볼륨 만들기’</strong> 마법사 완료</p>

	<h4 class="pt80">8) 정상적으로 마운트(mount)된 디스크 확인</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_disk_img09.png" alt="">
	</div>
	
</div>