<div class="accss_guideWrap">
	<h2>Windows 서버 접속방법 안내</h2>
	<h3>1. 사전 준비사항</h3>
	<p class="txt_level1 pdb0">가상 윈도우 서버에 접속하기 위해 필요한 사전 준비사항을 안내합니다.</p>
	
	<h4>1) 접속 도구 확인</h4>
	<p class="txt_level1 blt_none">접속 도구는 일반적인 윈도우 서버에 접속하는 것처럼 ‘원격 데스크톱 연결’ 을 사용합니다. </p>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_window_img01.png" alt="">
	</div>
	<p class="txt_level2 pdb0">사용자PC 바탕화면의 ‘시작’ → ‘프로그램 및 파일 검색’ 입력 창에 ‘원격 데스크톱 연결’을 입력하여 원격 데스크톱 도구가 존재하는지 확인합니다.</p>
	
	<h4 class="pt80">2) 접속 도구 설정</h4>
	<p class="txt_level1 blt_none">HUB-PoP의 윈도우 VM에 접속하기 위해서는, ‘원격 데스크톱 연결’ 의 일부 설정을 수정해야 합니다. 미리 구성된 파일을 다운로드 받아서 설정하거나 사용자가 직접 셋팅할 수 있습니다.</p>
	<h5>미리 구성된 파일 다운로드 받아서 사용하기</h5>
	<p class="txt_level1 blt_none">①  <a href="/download/Default.RDP">Default.RDP</a> 파일을 다운로드 받아 사용자PC의 <strong>‘라이브러리\문서’</strong> 경로에 저장합니다.</p>
	<div class="imgWrap mt30">
		<img alt="" src="images/access_guide/access_guide_window_img08.png" alt="">
	</div>
	<p class="txt_level1 blt_none">②  <strong>‘원격 데스크톱 연결’</strong> 도구를 실행하고, <strong>‘열기(E)…’</strong> 버튼을 클릭합니다.</p>
	<p class="txt_level1 blt_none">③  사용자 PC에 다운로드 받은 <strong>‘Default.RDP’</strong> 파일을 가져옵니다.</p>
	
	<h5 class="pt80">직접 셋팅하기</h5>
	<div class="imgWrap mt30">
		<img alt="" src="images/access_guide/access_guide_window_img02.png" alt="">
	</div>
	<p class="txt_level1 blt_none">①  <strong>‘작업환경’</strong> 탭(tab)으로 이동합니다.</p>
	<p class="txt_level1 blt_none">②  연결 속도 설정을 <strong>‘LAN(10Mbps 이상)’</strong>으로 설정합니다.</p>
	<p class="txt_level1 blt_none">③  <strong>‘지속적인 비트맵 캐싱(A)’</strong> 옵션을 선택해제 합니다.</p>
	
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_window_img09.png" alt="">
	</div>
	<p class="txt_level1 blt_none">④  <strong>‘일반’</strong> 탭(tab)으로 이동합니다.</p>
	<p class="txt_level1 blt_none">⑤  <strong>‘저장’</strong> 버튼을 클릭하여 현재 설정을 영구 보존 합니다.</p>

	<div ng-if="!spop.data.rdpDomain">
	<h4 class="pt80">3) DNS 설정</h4>
	<p class="txt_level1 blt_none">윈도우 VM은 가상 네트워크 상에 존재하는 서버로서 사용자가 직접 접속할 수 없습니다. 가상네트워크 상의 윈도우VM으로 접속하기 위해서는 “Hosts 파일을 수정＂하거나 “DNS 서버를 추가” 하여야 합니다.</p>
	<p class="txt_level4"><em>※</em>현재(2019.3.11) Hosts 파일 수정을 통한 접속방법을 사용하시기를 권장합니다.</p>
	
	<h5>Hosts 파일 수정</h5>
	<div class="imgWrap mt30">
		<img alt="" src="images/access_guide/access_guide_window_img10.png" alt="">
	</div>
	<p class="txt_level1 blt_none">①  사용자PC 바탕화면의 ‘시작’ → ‘모든 프로그램’ → ‘보조프로그램’ → ‘메모장’을 마우스 오른쪽 버튼 클릭하여 관리자 권한으로 실행한 다음</p>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_window_img11.png" alt="">
	</div>
	<p class="txt_level1 blt_none">② <strong>‘C:\Windows\System32\drivers\etc\hosts ’</strong> 파일을 열어 아래 내용을 추가하고 저장합니다.</p>
	<div class="txt_level_list">
		<p class="txt_level3 type2 mt20">추가 할 내용</p>
		<dl>
			<dt>- </dt><dd>100.216.222.101 {{spop.data.rdpConnectDomain}} <button type="button" tooltip-placement="top" uib-tooltip-html="'복사하기'" ng-click="main.copyToClipboard('100.216.222.101 ' + spop.data.rdpConnectDomain, '클립보드에 복사 되었습니다.')"><span class="ico_sm ico_copy"></span></button></dd>
		</dl>
	</div>
	
	<h5 class="pt80">DNS 서버 추가</h5><span class="txt_level4"><em>※</em>기능 시험 중</span>
	<p class="txt_level1 blt_none">DNS 서버 주소에 <strong>100.216.222.104를 추가</strong>합니다.</p>
	<div class="imgWrap mt30">
		<img alt="" src="images/access_guide/access_guide_window_img12.png" alt="">
	</div>
	<p class="txt_level1 blt_none">①  제어판 → ‘네트워크 및 공유 센터’ → ‘어댑터 설정 변경’ → ‘로컬 영역 연결 속성’에서 <strong>TCP/IPv4 를 선택하고 ‘속성’ 버튼을 클릭</strong>합니다.</p>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_window_img13.png" alt="">
	</div>
	<p class="txt_level1 blt_none">②  인터넷 프로토콜 TCP/IPv4 속성 화면 하단의 <strong>‘고급’ 버튼을 클릭</strong>합니다.</p>
	<p class="txt_level1 blt_none">③  고급 TCP/IP 설정 화면 DNS 탭의 <strong>‘추가’ 버튼을 클릭하여 100.216.222.104를 추가</strong>합니다.</p>
	</div>

	<h3 class="pt80">2. 접속 방법</h3>
	<p class="txt_level1 pdb0">접속도구를 통해 생성된 가상 윈도우 서버에 접속하는 방법을 안내합니다.</p>
	
	<h4>1) 접속 도구 실행</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_window_img04.png" alt="">
	</div>
	<p class="txt_level2 pdb0">사용자PC에서 원격데스크톱 도구를 실행합니다.</p>
	
	<h4 class="pt80">2) 서버 접속</h4>
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_window_img05.png" alt="">
	</div>
	<p class="txt_level1 blt_none" ng-if="!spop.data.rdpDomain">①  생성한 서버의 접속정보 를 참조하여 ‘접속 도메인’, ‘접속 계정’, ‘접속 비밀번호’를 입력하고 ‘확인’ 버튼을 클릭합니다.</p>
	<p class="txt_level1 blt_none" ng-if="!!spop.data.rdpDomain">①  생성한 서버의 접속정보 를 참조하여 ‘접속 주소’, ‘접속 계정’, ‘접속 비밀번호’를 입력하고 ‘확인’ 버튼을 클릭합니다.</p>
	<div class="txt_level_list">
		<p class="txt_level3 type2">서버 접속 정보</p>
		<dl>
			<dt ng-if="!spop.data.rdpDomain">- 접속 도메인 :</dt><dt ng-if="!!spop.data.rdpDomain">- 접속 주소 :</dt><dd>{{spop.data.rdpConnectUrl}} <button type="button" tooltip-placement="top" uib-tooltip-html="'복사하기'" ng-click="main.copyToClipboard(spop.data.rdpConnectUrl, '클립보드에 복사 되었습니다.')"><span class="ico_sm ico_copy"></span></button></dd>
			<dt>- 접속 계정 :</dt><dd>administrator</dd>
			<dt>- 접속 비밀번호 :</dt><dd>kepri!234</dd>
		</dl>
		<p class="txt_level4"><em>*</em>분석용 서버의 경우 다음 계정과 비번을 사용하세요. 계정: kepco, 비밀번호: kepco123456/</p>
	</div>
	
	<div class="cnt_msg_box msg-warnning mt30">접속 계정과 비밀번호는 초기에 자동으로 설정됩니다. 보안상 비밀번호는 서버 접속 후에 반드시 변경하시기 바랍니다.</div>
	
	<div class="imgWrap">
		<img alt="" src="images/access_guide/access_guide_window_img06.png" alt="">
	</div>
	<p class="txt_level1 blt_none">②  ‘서버 접속 인증서 확인 화면’에서 ‘예(Y)’를 클릭하고 원격 데스크톱 창을 통해 서버에 접속합니다.</p>
</div>