<ul class="pn_list_style">
    <li>
        <div class="panel_box pn_l">
            <div class="pn_head">
                <h4 class="pnh_tit">{{ contents.vmCatalogInfo.catalogName }} 서비스 만들기</h4>
            </div>
            <form name="subPage.deployForm" novalidate>
                <input type="password" style="display: block; width:0px; height:0px; border: 0;"><!-- 아이디 패스워드 자동 입력 방지 -->
                <div class="pn_body">
                    <span class="sm_txt">* 는 필수입력 사항입니다.</span>
                    <ul class="form_list">
                        <li ng-include="contents.htmlUrls.deployName"></li>
                        <li ng-include="contents.htmlUrls.stackName"></li>
                        <li ng-include="contents.htmlUrls.zoneSelect"></li>
                        <li>
                            <div class="pnb_tit">
                                <i class="i_star"></i> <span class="pnb_t_txt">노드 구성</span>
                                <div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'Kong 및 Konga 서비스에서 사용 할 Postgresql DB를 생성하기 위한 정보 입니다.'"><span class="ico_info"></span></button></div>
                            </div>
                            <div class="tbw type1 mt20">
                                <table class="table">
                                    <colgroup>
                                        <col style="width:20%;">
                                        <col style="width:">
                                        <col style="width:20%;">
                                        <col style="width:;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th><i class="i_star"></i> 마스터 노드 수</th>
                                        <td>
                                            <select name="masterCnt" ng-model="contents.data.masterCnt" ng-change="contents.fn.changeMasterCnt();" style="width:100%;">
                                                <option ng-value="1">1</option>
                                                <option ng-value="2">2</option>
                                                <option ng-value="3">3</option>
                                            </select>
                                        </td>
                                        <th><i class="i_star"></i> 워커 노드 수</th>
                                        <td>
                                            <select name="workerCnt" ng-model="contents.data.workerCnt" ng-change="contents.fn.changeWorkerCnt();" style="width:100%;">
                                                <option ng-value="2">2</option>
                                                <option ng-value="3">3</option>
                                                <option ng-value="4">4</option>
                                                <option ng-value="5">5</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            <div class="pnb_tit">
                                <i class="i_star"></i> <span class="pnb_t_txt"> 마스터 노드 사양 선택</span>
                                <div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'생성 할 마스터 노드의 사양을 선택할 수 있습니다. <br>선택하는 사양에 따라 가상 서버가 운용 가능한 컴퓨팅 자원(CPU, Memory, Disk)이 달라집니다.'"><span class="ico_info"></span></button><img ng-if="!contents.isMasterSpecLoad" src="images/loading_sm.gif" /></div>
                            </div>

                            <div class="tbl type1">
                                <table class="table">
                                    <colgroup>
                                        <col style="width:10%;">
                                        <col style="width:15%;">
                                        <col style="width:20%;">
                                        <col style="width:20%;">
                                        <col style="width:20%;">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">종류</th>
                                        <th scope="col">vCPU</th>
                                        <th scope="col">메모리</th>
                                        <th scope="col">OS디스크</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key, spec) in contents.masterSpecList | filter:{name:'m', type:'general'}" ng-class="{'tbl_disabled': spec.disabled, 'tbl_selected': (spec.uuid == contents.sltMasterSpecUuid)}" ng-click="contents.fn.selectMasterSpec(spec);">
                                        <td>
                                            <div class="radio radio-only" >
                                                <input type="radio"
                                                       name="master_spec_radio"
                                                       ng-model="contents.sltMasterSpecUuid"
                                                       id="master_spec_radio_{{key}}"
                                                       value="{{spec.uuid}}" ng-disabled="spec.disabled">
                                                <label for="spec_radio_{{key}}"></label>
                                            </div>
                                        </td>
                                        <td>{{spec.name}}</td>
                                        <td>{{spec.vcpus}} Core</td>
                                        <td>{{spec.ram | displayVolume : 'MB'}}</td>
                                        <td>{{spec.disk | displayVolume : 'GB'}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="contents.isMasterMinSpecDisabled" class="cnt_msg_box msg-info">선택한 이미지 보다 큰 사양만 선택 가능 합니다.</div>
                        </li>
                        <li>
                            <div class="pnb_tit">
                                <i class="i_star"></i> <span class="pnb_t_txt"> 워커 노드 사양 선택</span>
                                <div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'워커노드의 가상 서버 사양을 선택할 수 있습니다. <br>선택하는 사양에 따라 가상 서버가 운용 가능한 컴퓨팅 자원(CPU, Memory, Disk)이 달라집니다.'"><span class="ico_info"></span></button><img ng-if="!contents.isWorkerSpecLoad" src="images/loading_sm.gif" /></div>
                            </div>

                            <div class="tbl type1">
                                <table class="table">
                                    <colgroup>
                                        <col style="width:10%;">
                                        <col style="width:15%;">
                                        <col style="width:20%;">
                                        <col style="width:20%;">
                                        <col style="width:20%;">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">종류</th>
                                        <th scope="col">vCPU</th>
                                        <th scope="col">메모리</th>
                                        <th scope="col">OS디스크</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key, spec) in contents.workerSpecList | filter:{name:'m', type:'general'}" ng-class="{'tbl_disabled': spec.disabled, 'tbl_selected': (spec.uuid == contents.sltWorkerSpecUuid)}" ng-click="contents.fn.selectWorkerSpec(spec);">
                                        <td>
                                            <div class="radio radio-only" >
                                                <input type="radio"
                                                       name="worker_spec_radio"
                                                       ng-model="contents.sltWorkerSpecUuid"
                                                       id="spec_radio_{{key}}"
                                                       value="{{spec.uuid}}" ng-disabled="spec.disabled">
                                                <label for="spec_radio_{{key}}"></label>
                                            </div>
                                        </td>
                                        <td>{{spec.name}}</td>
                                        <td>{{spec.vcpus}} Core</td>
                                        <td>{{spec.ram | displayVolume : 'MB'}}</td>
                                        <td>{{spec.disk | displayVolume : 'GB'}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="contents.isWorkerMinSpecDisabled" class="cnt_msg_box msg-info">선택한 이미지 보다 큰 사양만 선택 가능 합니다.</div>
                        </li>
                        <li>
                            <div ng-if="contents.isMaxSpecOver" class="cnt_msg_box msg-info">리소스가 부족 합니다. 가능 하도록 서버수나 노드 사양을 조정 하십시오.</div>
                        </li>
                    </ul>
                </div>
            </form>
            <div class="pn_footer" ng-include="contents.htmlUrls.createDeployBtn"></div>
        </div>
    </li>
    <li>
        <div class="panel_box pn_r">
            <div class="pn_head">
                <h4 class="pnh_tit ico01">서비스 기본정보</h4>
            </div>
            <div class="pn_body">
                <div class="s_cont_box">
                    <ul>
                        <li>
                            <span class="s_tit">서비스 이름</span>
                            <span class="s_txt">{{ contents.data.deployName }}</span>
                        </li>
                        <li>
                            <span class="s_tit">카탈로그 이름</span>
                            <span class="s_txt">{{ contents.vmCatalogInfo.catalogName }}</span>
                        </li>
                        <li>
                            <span class="s_tit">버전</span>
                            <span class="s_txt">{{ contents.vmCatalogInfo.version }}</span>
                        </li>
                        <li>
                            <span class="s_tit">마스터/워커 노드 수</span>
                            <span class="s_txt">{{ contents.data.masterCnt }} / {{ contents.data.workerCnt }}</span>
                        </li>
                        <li>
                            <span class="s_tit">서버 OS</span>
                            <span class="s_txt">CentOS 7</span>
                        </li>
                        <li>
                            <span class="s_tit">서버 사양</span>
                            <span class="s_txt" >{{ contents.data.spec.name }}</span>
                            <div class="s_inner_cont">
                                <div class="innr_tbl">
                                    <table>
                                        <colgroup>
                                            <col width="10" />
                                            <col width="30" />
                                            <col width="30" />
                                            <col width="30" />
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>NODE</th>
                                            <th>vCPU</th>
                                            <th>메모리</th>
                                            <th>디스크</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-show="contents.data.masterCnt == 1">
                                            <td>M</td>
                                            <td>{{ contents.sltMasterSpec.vcpus }} Core</td>
                                            <td>{{ contents.sltMasterSpec.ram | displayVolume : 'MB' }}</td>
                                            <td>{{ contents.sltMasterSpec.disk | displayVolume : 'GB' }}</td>
                                        </tr>
                                        <tr ng-show="contents.data.masterCnt > 1">
                                            <td>M</td>
                                            <td>{{ contents.data.masterCnt }} X {{ contents.sltMasterSpec.vcpus }} Core</td>
                                            <td>{{ contents.data.masterCnt }} X {{ contents.sltMasterSpec.ram | displayVolume : 'MB' }}</td>
                                            <td>{{ contents.data.masterCnt }} X {{ contents.sltMasterSpec.disk | displayVolume : 'GB' }}</td>
                                        </tr>
                                        <tr ng-show="contents.data.workerCnt == 1">
                                            <td>W</td>
                                            <td>{{ contents.sltWorkerSpec.vcpus }} Core</td>
                                            <td>{{ contents.sltWorkerSpec.ram | displayVolume : 'MB' }}</td>
                                            <td>{{ contents.sltWorkerSpec.disk | displayVolume : 'GB' }}</td>
                                        </tr>
                                        <tr ng-show="contents.data.workerCnt > 1">
                                            <td>W</td>
                                            <td>{{ contents.data.workerCnt }} X {{ contents.sltWorkerSpec.vcpus }} Core</td>
                                            <td>{{ contents.data.workerCnt }} X {{ contents.sltWorkerSpec.ram | displayVolume : 'MB' }}</td>
                                            <td>{{ contents.data.workerCnt }} X {{ contents.sltWorkerSpec.disk | displayVolume : 'GB' }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <span class="info_txt">*  ‘디스크’ 크기는 OS 설치에 필요한 디스크 공간을 포함한 수치입니다.</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pn-Toggle">
                <div class="pn_head brdt">
                    <h4 class="pnh_tit ico09">프로젝트 자원 계획(Resource Quota Plan)</h4>
                    <button type="button" name="button" class="btn_add_toggle" title="열고/닫기" ng-click="main.panelToggleChange($event);"><span class="ico_arw_sm_gray">열고/닫기</span></button>
                </div>
                <div class="pn_body">
                    <div class="s_cont_box">
                        <div class="s_progress_box wd_tit">
                            <ul>
                                <li>
                                    <span class="tit_txt">vcpu</span>
                                    <div class="progressWrap type2">
                                        <div class="progress">
                                            <div percent-progress-bar-animate bar-type="width" percent="{{ ((contents.tenantResource.usedResource.cores + contents.sltMasterSpec.vcpus*contents.data.masterCnt + contents.sltWorkerSpec.vcpus*contents.data.workerCnt)/contents.tenantResource.maxResource.cores)*100|number:0 }}" class="progress">
                                                <div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{ ((contents.tenantResource.usedResource.cores + contents.sltMasterSpec.vcpus*contents.data.masterCnt + contents.sltWorkerSpec.vcpus*contents.data.workerCnt)/contents.tenantResource.maxResource.cores)*100|number:0 }}%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="txt_count">({{ (contents.tenantResource.usedResource.cores + contents.sltMasterSpec.vcpus*contents.data.masterCnt + contents.sltWorkerSpec.vcpus*contents.data.workerCnt) }} 개 / {{ contents.tenantResource.maxResource.cores }} 개)</span>
                                </li>
                                <li>
                                    <span class="tit_txt">메모리</span>
                                    <div class="progressWrap type2">
                                        <div class="progress">
                                            <div percent-progress-bar-animate bar-type="width" percent="{{ ((contents.tenantResource.usedResource.ramSize + contents.sltMasterSpec.ram*contents.data.masterCnt + contents.sltWorkerSpec.ram*contents.data.workerCnt)/contents.tenantResource.maxResource.ramSize)*100|number:0 }}" class="progress">
                                                <div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{ ((contents.tenantResource.usedResource.ramSize + contents.sltMasterSpec.ram*contents.data.masterCnt + contents.sltWorkerSpec.ram*contents.data.workerCnt)/contents.tenantResource.maxResource.ramSize)*100|number:0 }}%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="txt_count">({{ (contents.tenantResource.usedResource.ramSize + contents.sltMasterSpec.ram*contents.data.masterCnt + contents.sltWorkerSpec.ram*contents.data.workerCnt) | displayVolume:'MB' }} / {{ contents.tenantResource.maxResource.ramSize | displayVolume:'MB' }})</span>
                                </li>
                                <li>
                                    <span class="tit_txt">디스크</span>
                                    <div class="progressWrap type2">
                                        <div class="progress">
                                            <div percent-progress-bar-animate bar-type="width" percent="{{ ((contents.tenantResource.usedResource.instanceDiskGigabytes + contents.sltMasterSpec.disk*contents.data.masterCnt + contents.sltWorkerSpec.disk*contents.data.workerCnt)/contents.tenantResource.maxResource.instanceDiskGigabytes)*100|number:0 }}" class="progress">
                                                <div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{ ((contents.tenantResource.usedResource.instanceDiskGigabytes + contents.sltMasterSpec.disk*contents.data.masterCnt + contents.sltWorkerSpec.disk*contents.data.workerCnt)/contents.tenantResource.maxResource.instanceDiskGigabytes)*100|number:0 }}%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="txt_count">({{ (contents.tenantResource.usedResource.instanceDiskGigabytes + contents.sltMasterSpec.disk*contents.data.masterCnt + contents.sltWorkerSpec.disk*contents.data.workerCnt) | displayVolume:'GB' }} / {{ contents.tenantResource.maxResource.instanceDiskGigabytes | displayVolume:'GB' }})</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
