<div class="ctlog_cntWrap">
    <div class="ctlog-cnt">
        <h5>서비스 접속정보</h5>
        <ul>
            <li>
                <!-- <strong class="tit">접속 IP</strong> -->
                <span class="txt">
                    <b>[Deploy Type]</b>  :
                    - <span ng-if="contents.vmCatalogDeployInfo.deployType == 'standalone'" class="txt">단일노드</span>
                    <span ng-if="contents.vmCatalogDeployInfo.deployType == 'sMaster'" class="txt">다중노드 / 단일 마스터 </span>
                    <span ng-if="contents.vmCatalogDeployInfo.deployType == 'dMaster'" class="txt">다중노드 / 이중 마스터 </span>
                    <br> (worker node 갯수 : {{contents.vmCatalogDeployInfo.parameters.worker_cnt}})
                    <br> <b>Type</b> :
                    <span ng-if="contents.vmCatalogDeployInfo.parameters.spark_use=='false' && contents.vmCatalogDeployInfo.parameters.hbase_use=='false'" class="txt">Core</span>
                    <span ng-if="contents.vmCatalogDeployInfo.parameters.spark_use=='true'" class="txt">Spark</span>
                    <span ng-if="contents.vmCatalogDeployInfo.parameters.hbase_use=='true'" class="txt">Hbase</span>
                </span>
                <span ng-if="contents.vmCatalogDeployInfo.parameters.spark_use=='true'" class="txt"></span>
                <span class="txt">
                    <b>[Hadoop admin UI]</b> :
                    <a target="_blank" href="http://{{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}:50070">
                        {{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}:50070
                    </a>
                </span>
                <br>
                <span class="txt">
                    <b>[Yarn WEB UI]</b> :
                    <a target="_blank" href="http://{{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}:8088/cluster/nodes">
                    {{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}:8088/cluster/nodes
                    </a>
                    <br>
                </span>
                <span ng-if="contents.vmCatalogDeployInfo.parameters.spark_use=='true'" class="txt">
                    <b>[Spark Web UI]</b>
                    <a target="_blank" href="http://{{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}:8089">
                    {{ contents.servers[0].instancePort.fixed_ips[0].ip_address }}:8089
                    </a>
                </span>
                <span  class="txt">
                    <b>[오브젝트 스토리지]</b>
                    <br>s3_endpoint : {{contents.vmCatalogDeployInfo.parameters.s3_endpoint}}
                    <br>s3_accessey : {{contents.vmCatalogDeployInfo.parameters.s3_accessKey}}
                    <br>s3_secrtKey : {{contents.vmCatalogDeployInfo.parameters.s3_secretKey}}
                    <br>s3_bucket_name : {{contents.vmCatalogDeployInfo.parameters.s3_bucket_name}}
                </span>
            </li>
        </ul>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="ctlog-cnt">
        <h5> 서비스 환경 설정 파일 경로</h5>
        <ul>
            <li>
                <span class="txt">/home/centos/hadoop/etc/hadoop/core-site.xml</span>
                <span class="txt">/home/centos/hadoop/etc/hadoop/hdfs-site.xml</span>
                <span class="txt">/home/centos/hadoop/etc/hadoop/mapred-site.xml</span>
                <span class="txt">/home/centos/hadoop/etc/hadoop/yarn-site.xml</span>
                <span class="txt">/home/centos/hadoop/etc/hadoop/workers</span>

            </li>
        </ul>
    </div>

</div>
