<!-- //Nav tabs -->
<ul class="nav nav-tabs nav-tabs-btn nav-tabs-lg">
	<li ng-class="{'active':contents.sltInfoTab == 'dashboard'}"><a href="" ng-click="contents.changeSltInfoTab('dashboard');">대시보드</a></li>
	<li ng-class="{'active':contents.sltInfoTab == 'info'}"><a href=""  ng-click="contents.changeSltInfoTab('info');">프로젝트 개요</a>	</li>
	<li ng-class="{'active':contents.sltInfoTab == 'member'}"><a href=""  ng-click="contents.changeSltInfoTab('member');">프로젝트 구성원</a></li>
	<li ng-class="{'active':contents.sltInfoTab == 'resource'}"><a href=""  ng-click="contents.changeSltInfoTab('resource');">프로젝트 자원</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content padding-top-30">
	<!-- 프로젝트 대시보드 panel -->
	<div ng-show="contents.sltInfoTab == 'dashboard'" class="tab-pane st_none" ng-class="{'active':contents.sltInfoTab == 'dashboard'}">
		<!-- 미터링 대시보드(신규) -->
		<div class="dashboard-body padding-0">
			<div class="row">
				<!-- 프로젝트 정보 -->
				<div class="col-md-4 app-info-area">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type4">
						<div class="panel-body" style="height:278px;">
							<h3 class="heading h3 margin-bottom-25">프로젝트 정보</h3>
							<div class="project-info-area">
								<div class="clearfix margin-bottom-30">
									<div class="round-img pull-left margin-top-0" ng-if="contents.selOrgProject.iconImage && contents.selOrgProject.iconImage.image">
										<img ng-src="data:{{ contents.selOrgProject.iconImage.contentType }}; base64, {{ contents.selOrgProject.iconImage.image }}" alt="">
									</div>
									<div class="round-img pull-left margin-top-0" ng-if="!contents.selOrgProject.iconImage || !contents.selOrgProject.iconImage.image">
										<span class="txt">{{contents.selOrgProject.orgName.substr(0, 1)}}</span>
									</div>
									
									<div class="text-area pull-left">
										<span class="tit">{{contents.selOrgProject.orgName}}</span>
										<p class="txt">{{ contents.selOrgProject.description }}</p>
									</div>
								</div>
								<ul class="list-dot font-size-13">
									<li>
										<b>프로젝트ID : </b> <span> {{contents.selOrgProject.orgId}} </span>
									</li>
									<li>
										<b>프로젝트 생성자 : </b> <span> {{contents.selOrgProject.managerName}} </span>
									</li>
									<li>
										<b>프로젝트 구성원 수 : </b> <span> {{contents.selOrgProject.orgUserCount}}명 </span>
									</li>
									<li>
										<b>프로젝트 생성일자 : </b> <span> {{contents.selOrgProject.createdDate.time | date : 'yyyy-MM-dd HH:mm:ss'}} </span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //프로젝트 정보 -->
				
				<!-- 가상서버 -->
				<div class="col-md-4" ng-if="contents.selOrgProject.isUseIaas">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">가상서버</h3>
						</div>
						<div class="panel-body padding-0">
							<div class="scroll-content" style="height: 202px">
								<ul class="list-striped">
									<li ng-repeat="meteringItem in contents.orgMeterings | filter : { itemGroupCode: 'M01' }">
										<div class="pull-left">{{ meteringItem.itemName }}</div>
										<div class="pull-right">{{ meteringItem.itemUnit == 'MB' ? (meteringItem.meteringValue | displayVolume:'MB') : meteringItem.meteringValue }} {{ meteringItem.itemUnit == 'CNT' ? '개' : (meteringItem.itemUnit == 'MB' ? '' : meteringItem.itemUnit) }}</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //가상서버 -->
				
				<!-- GPU -->
				<div class="col-md-4" ng-if="contents.selOrgProject.isUseGpu">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">GPU</h3>
						</div>
						<div class="panel-body padding-0">
							<div class="scroll-content" style="height: 202px">
								<ul class="list-striped">
									<li ng-repeat="meteringItem in contents.orgMeterings | filter : { itemGroupCode: 'M02' }">
										<div class="pull-left">{{ meteringItem.itemName }}</div>
										<div class="pull-right">{{ meteringItem.itemUnit == 'MB' ? (meteringItem.meteringValue | displayVolume:'MB') : meteringItem.meteringValue }} {{ meteringItem.itemUnit == 'CNT' ? '개' : (meteringItem.itemUnit == 'MB' ? '' : meteringItem.itemUnit) }}</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //GPU -->
			
				<!-- PaaS -->
				<div class="col-md-4" ng-if="contents.selOrgProject.isUsePaas">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">PaaS</h3>
						</div>
						<div class="panel-body padding-0" style="height: 202px">
							<div class="row no-margin">
								<div class="col-sm-4 border-right">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M03001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M03001" })[0].quota_value : 0 }} <small> 개 </small>
										</div>
										<div class="caption">인스턴스</div>
									</div>
								</div>
								<div class="col-sm-4 border-right">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M03002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M03002" })[0].quota_value/1024 : 0 }} <small> GB </small>
										</div>
										<div class="caption">메모리</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M03003" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M03003" })[0].quota_value : 0 }} <small> GB </small>
										</div>
										<div class="caption">볼륨</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //PaaS -->
				
				<!-- CaaS -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">CaaS</h3>
						</div>
						<div class="panel-body padding-0" style="height: 202px">
							<div class="row no-margin">
								<div class="col-sm-6 border-right">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M04001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M04001" })[0].quota_value : 0 }} <small> 개 </small>
										</div>
										<div class="caption">CaaS POD</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M04002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M04002" })[0].quota_value : 0 }} <small> GB </small>
										</div>
										<div class="caption">CaaS 볼륨</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //CaaS -->
	
				<!-- FaaS -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">FaaS</h3>
						</div>
						<div class="panel-body padding-0" style="height: 202px">
							<div class="row no-margin">
								<div class="col-sm-6 border-right">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M05001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M05001" })[0].quota_value : 0 }} <small> 개 </small>
										</div>
										<div class="caption">Function</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M05002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M05002" })[0].quota_value : 0 }} <small> 건 </small>
										</div>
										<div class="caption">Function 실행</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //FaaS -->
					
				<!-- DBaaS -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">DBaaS</h3>
						</div>
						<div class="panel-body padding-0" style="height: 202px">
							<div class="row no-margin">
								<div class="col-sm-4 border-right">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M06001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M06001" })[0].quota_value : 0 }} <small> GB </small>
										</div>
										<div class="caption">오라클 Exa 용량</div>
									</div>
								</div>
								<div class="col-sm-4 border-right">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M06002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M06002" })[0].quota_value : 0 }} <small> GB </small>
										</div>
										<div class="caption">오라클 SE 용량</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M06003" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M06003" })[0].quota_value : 0 }} <small> GB </small>
										</div>
										<div class="caption">MS-SQL 용량</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //DBaaS -->
				
				<!-- 실시간 데이터 브로커 -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">실시간 데이터 브로커</h3>
						</div>
						<div class="panel-body padding-0">
							<div class="scroll-content" style="height: 202px">
								<ul class="list-striped">
									<li>
										<div class="pull-left">컨텍스트 엔티티</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M07001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M07001" })[0].quota_value : 0 }} 개</div>
									</li>
									<li>
										<div class="pull-left">컨텍스트 API 호출</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M07002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M07002" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">컨텍스트 MongoDB 사용량</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M07003" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M07003" })[0].quota_value : 0 }} GB</div>
									</li>
									<li>
										<div class="pull-left"> 메시지 토픽</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M07004" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M07004" })[0].quota_value : 0 }} 개</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //실시간 데이터 브로커 -->
				
				<!-- API 게이트웨이 -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">API 게이트웨이</h3>
						</div>
						<div class="panel-body padding-0" style="height: 202px">
							<div class="row no-margin">
								<div class="col-sm-6 border-right">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M08001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M08001" })[0].quota_value : 0 }} <small> 개 </small>
										</div>
										<div class="caption">API 배포</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="dashboard-number-box">
										<div class="number">
											{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M08002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M08002" })[0].quota_value : 0 }} <small> 건 </small>
										</div>
										<div class="caption">API 호출</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //API 게이트웨이 -->
				
				<!-- 파이프라인 -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">파이프라인</h3>
						</div>
						<div class="panel-body padding-0">
							<div class="scroll-content" style="height: 202px">
								<ul class="list-striped">
									<li>
										<div class="pull-left">Gitlab 저장소</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M08001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M08001" })[0].quota_value : 0 }} 개</div>
									</li>
									<li>
										<div class="pull-left">SVN 저장소</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M08002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M08002" })[0].quota_value : 0 }} 개</div>
									</li>
									<li>
										<div class="pull-left">파이프라인</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M08003" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M08003" })[0].quota_value : 0 }} 개</div>
									</li>
									<li>
										<div class="pull-left">파이프라인 실행</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M08004" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M08004" })[0].quota_value : 0 }} 건</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //파이프라인 -->
	
				<!-- AR/VR 컨텐츠 공유 서비스 -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">AR/VR 컨텐츠 공유 서비스</h3>
						</div>
						<div class="panel-body padding-0">
							<div class="scroll-content" style="height: 202px">
								<ul class="list-striped">
									<li>
										<div class="pull-left">공유컨텐츠 업로드 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M10001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M10001" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">공유컨텐츠 다운로드 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M10002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M10002" })[0].quota_value : 0 }} 건</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //AR/VR 컨텐츠 공유 서비스 -->
	
				<!-- HiveBroker -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">HiveBroker</h3>
						</div>
						<div class="panel-body padding-0">
							<div class="scroll-content" style="height: 202px">
								<ul class="list-striped">
									<li>
										<div class="pull-left">일괄(JSON) API 호출 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M11001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M11001" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">일괄(JSON) API 데이터 사용량</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M11002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M11002" })[0].quota_value : 0 }} MB</div>
									</li>
									<li>
										<div class="pull-left">일괄(TEXT) API 호출 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M11003" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M11003" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">일괄(TEXT) API 데이터 사용량</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M11004" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M11004" })[0].quota_value : 0 }} MB</div>
									</li>
									<li>
										<div class="pull-left">분할(JSON) API 호출 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M11005" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M11005" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">분할(JSON) API 데이터 사용량</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M11006" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M11006" })[0].quota_value : 0 }} MB</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //HiveBroker -->
				
				<!-- AI-API 서비스 -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">AI-API 서비스</h3>
						</div>
						<div class="panel-body padding-0">
							<div class="scroll-content" style="height: 202px">
								<ul class="list-striped">
									<li>
										<div class="pull-left">TTS API 호출 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M12001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M12001" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">TTS API 데이터 사용량</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M12002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M12002" })[0].quota_value : 0 }} MB</div>
									</li>
									<li>
										<div class="pull-left">OCR API 호출 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M12003" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M12003" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">OCR API 데이터 사용량</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M12004" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M12004" })[0].quota_value : 0 }} MB</div>
									</li>
									<li>
										<div class="pull-left">CustomVision API 호출 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M12005" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M12005" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">CustomVision API 데이터 사용량</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M12006" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M12006" })[0].quota_value : 0 }} MB</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //AI-API 서비스 -->
	
				<!-- AP 분석도구 서비스 -->
				<div class="col-md-4">
					<div class="panel panel-bordered dashboard-panel dashboard-panel-type3">
						<div class="panel-heading padding-25">
							<h3 class="heading">AP 분석도구 서비스</h3>
						</div>
						<div class="panel-body padding-0">
							<div class="scroll-content" style="height: 202px">
								<ul class="list-striped">
									<li>
										<div class="pull-left">분석도구(주피터 노트북)  실행 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M13001" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M13001" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">분석도구(주피터 랩)  실행 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M13002" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M13002" })[0].quota_value : 0 }} 건</div>
									</li>
									<li>
										<div class="pull-left">분석도구(R Studio)  실행 건수</div>
										<div class="pull-right">{{ (contents.orgMeterings.orgMeterings | filter : { item_code: "M13003" }).length > 0 ? (contents.orgMeterings.orgMeterings | filter : { item_code: "M13003" })[0].quota_value : 0 }} 건</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //AP 분석도구 서비스 -->
			</div>
		</div>
		<!-- //미터링 대시보드(신규) -->
	</div>
	<!-- //프로젝트 대시보드 panel -->

	<!-- 프로젝트 개요 panel -->
	<div ng-if="contents.sltInfoTab == 'info'" class="tab-pane st_none" ng-class="{'active':contents.sltInfoTab == 'info'}">
		<section class="panel panel-bordered app-info-area">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<div class="round-img pull-left" ng-if="contents.selOrgProject.iconImage && contents.selOrgProject.iconImage.image">
							<img ng-src="data:{{ contents.selOrgProject.iconImage.contentType }}; base64, {{ contents.selOrgProject.iconImage.image }}" alt="">
						</div>
						<div class="round-img pull-left" ng-if="!contents.selOrgProject.iconImage || !contents.selOrgProject.iconImage.image">
							<span class="txt">{{contents.selOrgProject.orgName.substr(0, 1)}}</span>
						</div>
						<div class="pull-left">
							<h3 class="panel-title padding-left-5">
								{{ contents.selOrgProject.orgName }}
							</h3>
						</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="dropdown pull-right">
							<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown" title="실행 설정" ng-disabled="!main.checkOrgUserRole()">
								<div class="feather-icon">
									<i data-feather="more-horizontal"></i>
								</div>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="" title="사용자이미지 수정" ng-click="contents.createOrgProjectIcon($event)">프로젝트 이미지 수정</a></li>
								<li><a href="" title="삭제" class="delete" ng-click="contents.checkDeleteOrgProject($event);">{{ 'label.del' | translate }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<ul class="list-dot margin-bottom-20">
					<li>
						<b>생성자 : </b>
						<span>{{ contents.selOrgProject.managerName }}</span>
					</li>
					<li>
						<b>Project ID : </b>
						<span>{{ contents.selOrgProject.orgId }}</span>
					</li>
					<li>
						<b>유형 : </b>
						<span>{{ contents.selOrgProject.isPersonal ? '개인' : '팀' }}</span>
					</li>
					<li>
						<b>프로젝트 멤버 : </b>
						<span>{{ contents.orgUsers.length }}</span>
					</li>
					<li>
						<b>설명 
							<a ng-click="!main.checkOrgUserRole() || contents.createOrgProjectDesc();">
								<div class="feather-icon">
									<i data-feather="edit" class="feather-directive"></i>
								</div>
							</a> : 
						</b>
						<span>{{ contents.selOrgProject.description }}</span>
					</li>
				</ul>
				<h4 class="heading h4 margin-top-30">프로젝트 참여자</h4>
				<div class="table-wrap border-0 margin-top-20">
					<table class="table table-hover">
						<colgroup>
							<col style="width: 10%;">
							<col style="width: 15%;">
							<col style="width: 30%;">
							<col style="width: 15%;">
							<col style="width: 30%;">
						</colgroup>
						<thead class="text-center black white-text">
							<tr>
								<th scope="col">No.</th>
								<th scope="col">이름</th>
								<th scope="col">아이디</th>
								<th scope="col">역할</th>
								<th scope="col">멤버 등록일</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" ng-repeat="orgUser in contents.orgUsers">
								<td>{{ $index + 1 }}</td>
								<td>{{ orgUser.usersInfo.name }}</td>
								<td>{{ orgUser.usersInfo.email }}</td>
								<td>{{ orgUser.roleName | orgRoleName }}</td>
								<td>{{ orgUser.createDate.time | date : 'yyyy.MM.dd HH:mm:ss' }}</td>
							</tr>
							<!-- 등록된 멤버가 없을 때 -->
							<tr ng-if="contents.orgUsers.length == 0" class="text-center no-data">
								<td colspan="5">등록된 프로젝트 구성원이 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div> 

			</div>
		</section>
	</div>
	<!-- //프로젝트 개요 panel -->

	<!-- 프로젝트 구성원 panel -->
	<div ng-if="contents.sltInfoTab == 'member'" class="tab-pane st_none" ng-class="{'active':contents.sltInfoTab == 'member'}">
		<!-- table -->
		<div class="margin-bottom-20 text-right">
			<button type="button" name="button" class="btn btn-primary" ng-disabled="!main.checkOrgUserRole() || contents.selOrgProject.isPersonal" title="책임자 변경" ng-click="contents.changeManagerForm($event);">책임자 변경</button>
			<button type="button" name="button" class="btn btn-primary" ng-disabled="!main.checkOrgUserRole()" title="조회등록" ng-click="contents.popOrgProjectSchAddUsersOpen($event);">조회등록</button>
			<button type="button" name="button" class="btn btn-primary" ng-disabled="!main.checkOrgUserRole()" title="직접등록" ng-click="contents.popOrgProjectNewAddUsersOpen($event);">직접등록</button>
		</div>
		
		<section class="panel panel-bordered">
			<div class="panel-body padding-0">
				<div class="table-wrap border-0">
					<table class="table table-hover" cellspacing="0" width="100%">
						<colgroup>
							<col style="width: 15%;">
							<col style="width: 15%;">
							<col style="width: 20%;">
							<col style="width: 20%;">
							<col style="width: 15%;">
							<col style="width: 15%;">
						</colgroup>
						<thead class="black white-text text-center">
							<tr>
								<th scope="col">No.</th>
								<th scope="col">이름</th>
								<th scope="col">아이디</th>
								<th scope="col">역할</th>
								<th scope="col">멤버 등록일</th>
								<th scope="col">관리</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="orgUser in contents.orgUsers | orderBy: '-createDate.time'">
								<td class="text-center">{{ $index + 1 }}</td>
								<td class="text-center">{{ orgUser.usersInfo.name }}</td>
								<td class="text-center">{{ orgUser.usersInfo.email }}</td>
								<td class="text-center">{{ orgUser.roleName | orgRoleName }}</td>
								<td class="text-center">{{ orgUser.createDate.time | date : 'yyyy.MM.dd HH:mm:ss' }}</td>
								<td class="text-center">
									<div class="dropdown">
										<button type="button" id="btn-option" class="btn btn-nostyle dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" ng-disabled="!main.checkOrgUserRole()">
											<div class="feather-icon">
												<i data-feather="more-horizontal" class="feather-directive"></i>
											</div>
										</button>
										<ul class="dropdown-menu dropdown-menu-right" role="menu">
											<li title="권한 변경">
												<a href="" ng-class="orgUser.roleName == 'OWNER' ? 'disabled' : ''" ng-click="orgUser.roleName != 'OWNER' && contents.changeRoleForm(orgUser.usersInfo);">권한 변경</a>
											</li>
											<li title="패스워드 초기화">
												<a href="" ng-class="(orgUser.usersInfo && orgUser.usersInfo.isSso) ? 'disabled' : ''" ng-click="(orgUser.usersInfo && !orgUser.usersInfo.isSso) && contents.resetPassword(orgUser.usersInfo);">패스워드 초기화</a>
											</li>
											<li title="삭제" >
												<a href="" class="delete" ng-click="main.popDeleteCheckName($event, '구성원', orgUser.usersInfo.name, contents.deleteOrgProjectUserAction, orgUser.usersInfo);">{{ 'label.del' | translate }}</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<!-- 등록된 멤버가 없을 때 -->
							<tr ng-if="contents.orgUsers.length == 0" class="no-data text-center">
								<td colspan="5">등록된 프로젝트 구성원이 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<!-- //table -->
	</div>
	<!-- //프로젝트 구성원 panel -->

	<!-- 프로젝트 자원 panel -->
	<div ng-if="contents.sltInfoTab == 'resource'" class="tab-pane st_none" ng-class="{'active':contents.sltInfoTab == 'resource'}">
		
		<div class="card-input-wrap">
			<div class="ciw-tit">
				<b class="tit">자원쿼터 <span class="sub-tit">({{ contents.orgQuotaGroups.length }})</span></b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" ng-repeat="itemGroup in contents.orgQuotaGroups">
				<div class="panel panel-bordered">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{ itemGroup.item_group_name }}
						</h3>
					</div>
					<div class="panel-body padding-0">
						<div class="scroll-content" style="height: 250px">
							<ul class="list-striped">
								<li ng-repeat="quota in contents.orgQuotas | filter:{ item_group_code: itemGroup.item_group_code }">
									<div class="pull-left">
										{{ quota.item_name }}
									</div>
									<div class="pull-right">
										{{ quota.metering_value }} / {{ quota.quota_value }} {{ quota.item_unit }}
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="card-input-wrap">
			<div class="row">
				<div class="col-md-6">
					<div class="ciw-tit">
						<b class="tit">쿼터변경요청 <span class="sub-tit">({{ contents.quotaHistories.length }})</span></b>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-right">
						<button type="button" name="button" class="btn btn-primary" data-user="aside" data-username="#aside-quota-req" ng-disabled="!main.checkOrgUserRole() || !contents.isQuotaChange" ng-click="contents.requestQuotaForm($event);">쿼터변경요청</button>
						<!--<button type="button" name="button" class="btn btn-ico-add only-ico" data-user="aside" data-username="#aside-quota-req"  ng-disabled="!contents.isOrgManager || !contents.orgRequest" ng-click="contents.updateQuota($event);">
			                 <span class="ico">추가(기존)</span>
			             </button>-->
					</div>
				</div>
			</div>
		</div>
		<section class="panel panel-bordered">
			<div class="panel-body padding-0">
				<div class="table-wrap border-0">
					<table class="table table-hover" cellspacing="0" width="100%">
						<colgroup>
							<col style="width: 5%;">
							<col style="width: 15%;">
							<col style="width: 17.5%;">
							<col style="width: 17.5%;">
							<col style="width: 10%;">
							<col style="width: 10%;">
							<col style="width: 10%;">
							<col style="width: 5%;">
							<col style="width: 5%;">
						</colgroup>
						<thead class="black white-text text-center">
							<tr>
								<th scope="col">번호</th>
								<th scope="col">신청사유</th>
								<th scope="col">이전값</th>
								<th scope="col">변경값</th>
								<th scope="col">요청자</th>
								<th scope="col">요청일</th>
								<th scope="col">처리일</th>
								<th scope="col">상태</th>
								<th scope="col">관리</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in contents.quotaHistories">
								<td class="text-center">{{ contents.quotaHistories.length - $index }}</td>
								<td class="text-center">{{ item.requestReason }}</td>
								<td class="text-left">
									<ul>
										<li ng-repeat="detail in item.oldValueDetails | orderBy: 'orgQuotaItemCode' | filter:{isSame:false}">{{ detail.orgQuotaItemGroupName }} {{ detail.orgQuotaItemName }} : {{ detail.value }} {{ detail.orgQuotaItemUnit }}</li>
									</ul>
								</td>
								<td class="text-left">
									<ul>
										<li ng-repeat="detail in item.changeValueDetails | orderBy: 'orgQuotaItemCode' | filter:{isSame:false}">{{ detail.orgQuotaItemGroupName }} {{ detail.orgQuotaItemName }} : {{ detail.value }} {{ detail.orgQuotaItemUnit }}</li>
									</ul>
								</td>
								<td class="text-center">{{ item.createdId }}</td>
								<td class="text-center">{{ item.createdDate | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
								<td class="text-center">{{ item.treatDate | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
								<td class="text-center">{{ item.treatCodeNm }}</td>
								<td class="text-center">
									<div class="dropdown">
										<button type="button" id="btn-option2" class="btn btn-nostyle dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" ng-disabled="!main.checkOrgUserRole()">
											<div class="feather-icon">
												<i data-feather="more-horizontal" class="feather-directive"></i>
											</div>
										</button>
										<ul class="dropdown-menu dropdown-menu-right"  role="btn-option2" aria-labelledby="btn-option2">
											<li><a href="" title="삭제" ng-class="($index == 0 && item.treatCodeNm == '요청') ? 'delete' : 'disabled'" ng-click="$index == 0 && item.treatCodeNm == '요청' && contents.deleteQuotaHistory(item);">{{ 'label.del' | translate }}</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

	</div>
	<!-- //프로젝트 자원 panel -->
</div>
