<div ng-if="(contents.orgProjects | filter:{ statusCode: '!deleting' }).length == 0" class="proj_main_cont" ng-click="contents.extendItem($event);">
	<div class="p_main_top">
		<div class="top_txt">
			<span class="s_txt">현재 생성한 프로젝트가 없습니다.</span>
			<span class="l_txt"><span class="c_blue">프로젝트를 생성</span>하고 HUB-PoP 서비스를 사용하세요.</span>
		</div>
		<div class="top_btn">
			<!--<a href="" ng-click="main.addOrgProjectFormOpen($event);">-->
			<a href="" ng-click="main.requestOrgProjectFormOpen($event);">
				<span>프로젝트 신청</span>
			</a>
		</div>
	</div>
	<div class="p_main_cont">
		<div class="p_cont_txt">
			<span class="p_tit">HUB-PoP 서비스</span>
			<div class="p_txt">HUB-PoP은 전력 SW개발 및 데이터 분석을<br> 빠르게 수행하기 위한 <span class="c_blue">다양한 서비스를 제공</span>합니다.</div>
		</div>
		<div class="p_cont_list">
			<ul>
				<li class="pdl0">
					<a href="" class="NotCloseFirstOrgProjecItem" ng-class="{'on' : contents.selectItemKey == 1}" ng-click="contents.changeItem($event, 1);">
						<span class="btn_ico ico1"></span>
						<span class="btn_txt">서버가상화</span>
					</a>
				</li>
				<li>
					<a href="" class="NotCloseFirstOrgProjecItem" ng-class="{'on' : contents.selectItemKey == 2}" ng-click="contents.changeItem($event, 2);">
						<span class="btn_ico ico2"></span>
						<span class="btn_txt">표준 APP개발</span>
					</a>
				</li>
				<li>
					<a href="" class="NotCloseFirstOrgProjecItem" ng-class="{'on' : contents.selectItemKey == 3}" ng-click="contents.changeItem($event, 3);">
						<span class="btn_ico ico3"></span>
						<span class="btn_txt">AI 분석</span>
					</a>
				</li>
				<li>
					<a href="" class="NotCloseFirstOrgProjecItem" ng-class="{'on' : contents.selectItemKey == 4}" ng-click="contents.changeItem($event, 4);">
						<span class="btn_ico ico4"></span>
						<span class="btn_txt">GIS 플랫폼(예정)</span>
					</a>
				</li>
			</ul>
			<!-- 가이드박스 -->
			<div class="guide_box NotCloseFirstOrgProjecItem" ng-style="{ 'display': ((contents.selectItemKey == 0) ? 'none' : 'block') }">
				<span class="gbox_ico" ng-class="{'no_01': (contents.selectItemKey == 1), 'no_02': (contents.selectItemKey == 2), 'no_03': (contents.selectItemKey == 3), 'no_04': (contents.selectItemKey == 4), 'no_05': (contents.selectItemKey == 5), 'no_06': (contents.selectItemKey == 6), 'no_07': (contents.selectItemKey == 7), 'no_08': (contents.selectItemKey == 8) }"></span>
				<span ng-if="contents.selectItemKey == 1" class="gbox_txt">프로젝트에 사용 될 <span class="c_blue">가상서버를 생성</span>합니다. <br/>가상서버 생성은 작업자가 개발할 수 있는 개발환경을 만드는 곳입니다.</span>
				<span ng-if="contents.selectItemKey == 2" class="gbox_txt">프로젝트에 사용 될 <span class="c_blue">표준 APP를 생성</span>합니다. <br/>표준 APP 생성은 작업자가 개발할 수 있는 개발환경을 만드는 곳입니다.</span>
				<span ng-if="contents.selectItemKey == 3" class="gbox_txt">프로젝트에 사용 될 <span class="c_blue">분석허브를 생성</span>합니다. <br/>분석허브 생성은 작업자가 개발할 수 있는 개발환경을 만드는 곳입니다.</span>
				<span ng-if="contents.selectItemKey == 4" class="gbox_txt">프로젝트에 사용 될 <span class="c_blue">GIS 플랫폼을 생성</span>합니다. <br/>GIS 플랫폼 생성은 작업자가 개발할 수 있는 개발환경을 만드는 곳입니다.</span>
				<span ng-if="contents.selectItemKey == 5" class="gbox_txt">프로젝트에 사용 될 <span class="c_blue">개발 파이프라인을 생성</span>합니다. <br/>개발 파이프라인 생성은 작업자가 개발할 수 있는 개발환경을 만드는 곳입니다.</span>
				<span ng-if="contents.selectItemKey == 6" class="gbox_txt">프로젝트에 사용 될 <span class="c_blue">개발 프레임워크를 생성</span>합니다. <br/>개발 프레임워크 생성은 작업자가 개발할 수 있는 개발환경을 만드는 곳입니다.</span>
				<span ng-if="contents.selectItemKey == 7" class="gbox_txt">프로젝트에 사용 될 <span class="c_blue">API Gateway를 생성</span>합니다. <br/>API Gateway 생성은 작업자가 개발할 수 있는 개발환경을 만드는 곳입니다.</span>
				<span ng-if="contents.selectItemKey == 8" class="gbox_txt">프로젝트에 사용 될 <span class="c_blue">데이터연계를 생성</span>합니다. <br/>데이터연계 생성은 작업자가 개발할 수 있는 개발환경을 만드는 곳입니다.</span>
			</div>
			<!-- //가이드박스 -->
			<ul>
				<li class="pdl0">
					<a href="" class="NotCloseFirstOrgProjecItem" ng-class="{'on' : contents.selectItemKey == 5}" ng-click="contents.changeItem($event, 5);">
						<span class="btn_ico ico5"></span>
						<span class="btn_txt">개발 파이프라인(예정)</span>
					</a>
				</li>
				<li>
					<a href="" class="NotCloseFirstOrgProjecItem" ng-class="{'on' : contents.selectItemKey == 6}" ng-click="contents.changeItem($event, 6);">
						<span class="btn_ico ico6"></span>
						<span class="btn_txt">개발 프레임워크(예정)</span>
					</a>
				</li>
				<li>
					<a href="" class="NotCloseFirstOrgProjecItem" ng-class="{'on' : contents.selectItemKey == 7}" ng-click="contents.changeItem($event, 7);">
						<span class="btn_ico ico7"></span>
						<span class="btn_txt">API Gateway(예정)</span>
					</a>
				</li>
				<li>
					<a href="" class="NotCloseFirstOrgProjecItem" ng-class="{'on' : contents.selectItemKey == 8}" ng-click="contents.changeItem($event, 8);">
						<span class="btn_ico ico8"></span>
						<span class="btn_txt">데이터연계(예정)</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="titWrap">	<h2 class="h2">전체 프로젝트 리스트</h2>
	<div class="btnArea">
		<!-- 선택 된 class="on" 추가 -->
		<button type="button" name="button" class="btn btn-list type1 on" title="이미지형" ng-click="contents.listType = 'image'" ng-class="{ on : contents.listType == 'image'}"><span class="ico"></span><a href="">이미지형</a></button>
		<button type="button" name="button" class="btn btn-list type2" title="리스트형" ng-click="contents.listType = 'list'" ng-class="{ on : contents.listType == 'list'}"><span class="ico"></span>리스트</button>
	</div>
</div>
<div ng-if="(contents.orgProjects | filter:{ statusCode: '!deleting' }).length > 0" class="pdContent">
	<!-- 프로젝트 정보 -->
	<div class="cBox type0 projt-mana">
		<div class="pull-left">
			<h4 class="c-tit">전체 프로젝트 수 <em class="point1">({{(contents.orgProjects | filter:{ statusCode: '!deleting' }).length}})</em></h4>
		</div>
		<div class="pull-right">
			<!-- 검색 -->
			<div class="searchBox type2">
				<div class="form-group">
					<input type="text" placeholder="프로젝트 검색" style="width:300px;" ng-model="contents.schFilterText">
				</div>
				<button type="button" name="button" class="btn btn-sch" title="검색" ng-click="contents.schFilterText = ''"><span class="ico">검색</span></button>
			</div>
			<!-- //검색 -->
		</div>
	</div>
	<!-- //프로젝트 정보 -->

	<!-- table top -->
	<div class="tb-top">
		<div class="pull-right">
			<!--<button type="button" name="button" class="btn btn-color1 btn-md" title="프로젝트 생성" ng-click="contents.addOrgProjectFormOpen($event);" ng-disabled="main.userAuth != 'M'">프로젝트 생성</button>-->
			<button type="button" name="button" class="btn btn-color1 btn-md" title="프로젝트 신청" ng-click="main.requestOrgProjectFormOpen($event);" ng-disabled="main.userAuth != 'M'">프로젝트 신청</button>
		</div>
	</div>
	<!-- //table top -->
	
	<!-- 프로젝트 리스트(테이블형) -->
	<div class="tbl type1" ng-if="(contents.orgProjects | filter:{ orgName: contents.schFilterText, statusCode: '!deleting' }).length > 0 && contents.listType == 'list'">
		<table class="table">
			<colgroup>
				<col style="width: 5%;">
				<col style="width: 8%;">
				<col style="width: ;">
				<col style="width: 10%;">
				<col style="width: 5%;">
				<col style="width: 12%;">
				<col style="width: 10%;">
				<col style="width: 5%;">
				<col style="width: 5%;">
				<col style="width: 5%;">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">프로젝트ID</th>
					<th scope="col">프로젝트명</th>
					<th scope="col">책임자명</th>
					<th scope="col">참여자수</th>
					<th scope="col">이용기간</th>
					<th scope="col">생성일자</th>
					<th scope="col">승인현황</th>
					<th scope="col">상태</th>
					<th scope="col">관리</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="org in contents.orgProjects | filter:{ orgName: contents.schFilterText, statusCode: '!deleting' }">
					<td>{{ $index+1 }}</td>
					<td>{{ org.id }}</td>
					<td class="text-left"><a href="" ng-click="main.goToPortalOrgPage(org);">{{ org.orgName }}</a></td>
					<td>{{ org.managerName }}</td>
					<td>{{ org.orgUserCount }}</td>
					<td>{{ org.startEndDate }}</td>
					<td>{{ org.createdDate.time | date : 'yyyy.MM.dd' }}</td>
					<td>{{ org.statusNm == '생성' ? '승인' : org.statusNm }}</td>
					<td>{{ org.isActive ? '활성' : '비활성'}}</td>
					<td>
						<div class="dropdown btn-option">
							<button id="btn-option" type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="실행 설정">
								<span class="ico">실행 설정</span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" role="btn-option" aria-labelledby="btn-option">
								<li><a href="" title="명칭변경" ng-click="contents.changeNameOrgProject($event);" ng-class="main.userAuth != 'M' ? 'disabled':''">명칭변경</a></li>
								<li><a href="" title="사용자변경">사용자변경</a></li>
								<!-- 선택 된 class="active" 추가 -->
								<li><a href="" title="즐겨찾기" class="favorit active">즐겨찾기</a></li>
								<li><a href="" title="탈퇴">탈퇴</a></li>
								<li><a href=""  title="삭제" class="delete">{{ 'label.del' | translate }}</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- //프로젝트 리스트(테이블형) -->

				<!-- 프로젝트 리스트(이미지형) -->
				<div class="proj_list_area"
					ng-if="(contents.orgProjects | filter:{ orgName: contents.schFilterText, statusCode: '!deleting' }).length > 0 && contents.listType == 'image'">
					<ul class="ul-panel dash_list">
						<li
							ng-repeat="org in contents.orgProjects | filter:{ orgName: contents.schFilterText, statusCode: '!deleting' }"
							ng-if="org.statusCode != 'deleting'"><a
							ng-click="main.goToPortalOrgPage(org);">
								<div class="thum">
									<span ng-if="org.iconImage && org.iconImage.image"
										class="thum_in img_line"> <img
										ng-src="data:{{ org.iconImage.contentType }}; base64, {{ org.iconImage.image }}"
										class="logo" alt="">
									</span> <span class="thum_in"
										ng-if="!org.iconImage || !org.iconImage.image"> <span
										class="txt">{{org.orgName.substr(0, 1)}}</span>
									</span>
								</div>
								<div class="list_in">
									<dl>
										<dt>
											<strong>{{org.orgName}}</strong>
										</dt>
										<dd ng-if="org.description">{{org.description}}</dd>
									</dl>
								</div>
								<div class="pj_info_box">
									<ul class="user_info">
										<li>관리자 : {{org.managerName}}</li>
										<li>참여자 수 : {{org.orgUserCount}}</li>
										<li>Project ID : {{org.id}}</li>
									</ul>
									<div class="date">
										<span>생성일 : {{org.createdDate.time | date :
											'yyyy.MM.dd'}}</span> <span ng-if="org.updatedDate">최근활동일 :
											{{org.updatedDate.time | date : 'yyyy.MM.dd'}}</span> <span
											ng-if="!org.updatedDate">최근활동일 :
											{{org.createdDate.time | date : 'yyyy.MM.dd'}}</span>
									</div>
								</div>
						</a></li>
					</ul>
				</div>
				<!-- //프로젝트 리스트(이미지형) -->
				<!-- 프로젝트 리스트(검색결과가 없을때) -->
				<div class="proj_list_area"
					ng-if="(contents.orgProjects | filter:{ orgName: contents.schFilterText, statusCode: '!deleting' }).length == 0">
					<ul class="ul-panel dash_list no_data">
						<li><p class="no_data_txt pd0">검색 결과가 없습니다.</p></li>
					</ul>
				</div>
				<!-- //프로젝트 리스트(검색결과가 없을때) -->

				<!-- 프로젝트 리스트(데이터가 없을때) -->
				<div class="proj_list_area"
					ng-if="contents.projects.length == 0 && !contents.schText">
					<ul class="ul-panel dash_list no_data">
						<li>
							<p class="no_data_txt">현재 참여중인 프로젝트가 없습니다. HUB-PoP을 사용하시려면 먼저
								프로젝트를 생성해 주세요.</p>
							<div class="txt_box">
								<p>프로젝트는 HUB-PoP에서 관리하는 작업공간의 단위입니다. 작업공간은 다음의 용도로 활용될 수
									있습니다.</p>
								<ul>
									<li>- SW 개발 : 클라우드와 표준화된 개발환경을 활용하여 빠르게 SW를 개발할 수 있습니다.</li>
									<li>- 데이터 분석 : 전력 데이터를 활용하여 통계, 기계학습, GPU를 활용한 딥러닝을 수행할 수
										있습니다.</li>
								</ul>
								<p>프로젝트 생성 버튼을 눌러서 프로젝트를 만들어 보세요.</p>
								<div class="txt_box_btn">
									<button type="button" name="button" class="btn btn-proj-add"
										ng-click="contents.addOrgProjectFormOpen($event);"
										ng-disabled="main.userAuth != 'M'">
										<span class="ico"></span><span class="txt">프로젝트 생성</span>
									</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- //프로젝트 리스트(데이터가 없을때) -->
	</div>