	<div class="message_area">
		<div class="msg_bg"></div>
		<div class="msg_txt"><span>'프로젝트 신청'을 통해 프로젝트 생성을 신청할 수 있습니다.</span></div>
	</div>
	<div class="panel_area">
		<ul class="pn_list_style">
			<li>
				<form name="{{contents.formName}}" novalidate>
				<div class="panel_box pn_l">
					<div class="pn_head">
						<h4 class="pnh_tit">프로젝트 신청하기</h4>
					</div>
					<div class="pn_body">
						<span class="sm_txt">* 는 필수입력 사항입니다.</span>
						<ul class="form_list">
							<li>
								<div class="pnb_tit">
									<i class="i_star"></i> <span class="pnb_t_txt">프로젝트 ID</span>
									<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'영문, 숫자, ‘-_’만 포함할 수 있으며, 최대 20자까지 입력할 수 있습니다.'"><span class="ico_info"></span></button></div>
								</div>
								<input type="text" class="form-control" name="orgId" ng-model="contents.orgData.orgId" maxlength="20" placeholder="아이디를 입력하세요." validation="max_len:20|required|custom:contents.orgIdCustomValidationCheck(contents.orgData.orgId)">
							</li>
							<li>
								<div class="pnb_tit">
									<i class="i_star"></i> <span class="pnb_t_txt">프로젝트명</span>
									<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'* 2자 이상 20자 이하, 특수문자 입력 불가'"><span class="ico_info"></span></button></div>
								</div>
								<input type="text" class="form-control" name="orgName" ng-model="contents.orgData.orgName" maxlength="20" placeholder="프로젝트명을 입력하세요." validation="min_len:2|max_len:20|required|custom:contents.validationOrgProjectName(contents.orgData.orgName)">
							</li>
							<li>
								<div class="pnb_tit">
									<i class="i_star"></i> <span class="pnb_t_txt">프로젝트 유형</span>
									<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'일반 프로젝트의 경우 운영자 승인을 통해 이용 가능하고 개인 프로젝트의 경우 간단한 확인용으로 이용 가능합니다.'"><span class="ico_info"></span></button></div>
								</div>
								<div class="pl15">
									<div class="radio radio-inline">
										<input type="radio" name="personal" id="app-radio1-1" value="nomal" aria-invalid="" ng-model="contents.orgData.personal" ng-change="contents.orgCaseChange()">
										<label for="app-radio1-1" class="label">일반</label>
									</div>
									<div class="radio radio-inline">
										<input type="radio" name="personal" id="app-radio1-2" value="personal" aria-invalid="" ng-model="contents.orgData.personal" ng-change="contents.orgCaseChange()" ng-disabled="contents.myPersonalCnt >= contents.personalProjectCnt">
										<label for="app-radio1-2" class="label">개인<!-- : {{ contents.myPersonalCnt }} / {{ contents.personalProjectCnt }}--></label>
									</div>
								</div>
							</li>
							<li>
								<div class="pnb_tit">
									<i class="i_star"></i> <span class="pnb_t_txt">이용기간</span>
								</div>
								<fieldset ng-disabled="contents.orgData.personal=='personal'">
								<div class="datepickerWrap">
									<div class="date-inpt">
										<adm-dtp name="'startDate'" ng-model="contents.orgData.startDate" options="{format:'YYYY-MM-DD'}" maxdate="'{{contents.orgData.endDate}}'"></adm-dtp>
									</div>
									<span class="wave">~</span>
									<div class="date-inpt">
										<adm-dtp name="'endDate'" ng-model="contents.orgData.endDate" options="{format:'YYYY-MM-DD'}" mindate="'{{contents.orgData.startDate}}'"></adm-dtp>
									</div>
								</div>
								</fieldset>
							</li>
							<li>
								<div class="pnb_tit">
									<span class="pnb_t_txt">개발비 (백만원)</span>
								</div>
								<div class="tb_divBox">
				            		<div class="tb_div_l w90">
						                <input type="number" class="form-control"  maxlength="50" name="cost"  placeholder="개발비를 입력해 주세요." ng-model="contents.orgData.cost">
				            		</div>
				            		<div class="tb_div_r w5">
				            			<span class="txt">백만원</span>
				            		</div>
				            	</div>
							</li>
							<li>
								<div class="pnb_tit">
									<span class="pnb_t_txt">과제계획서 첨부</span>
								</div>
								<div class="s_cont_box">
								<div class="fileUploadWrap">
									<div class="bootstrap-filestyle input-group">
										<input type="text" id="attachFile" class="form-control" name="attachFile" style="width:909px;" ng-model="contents.appFileItem.file.name" readonly><!--validation="required:alt=업로드 해야 할 App 실행용 파일이 선택되지 않았습니다."-->
										<span class="group-span-filestyle input-group-btn" tabindex="0">  
											<input nv-file-select="" uploader="contents.uploader" id="appFileInput" name="appFileInput" type="file" class="form-control" style="display: none;">
											<label class="btn btn-default" ng-click="main.fileSelectBtnClick($event);">
												<span class="btn btn-md btn-color1" >파일찾기</span>
											</label>
										</span>
									</div>
								</div>
							</div>
							<div class="mt10">
								<span class="validation validation-userfile text-danger"></span>
								<span ng-if="contents.appFileErrorMessage" style="color: red;" dynamic-template="contents.appFileErrorMessage"></span>
							</div>
							</li>
							<li>
								<div class="pnb_tit">
									<span class="pnb_t_txt">설명</span>
								</div>
								<div class="s_cont_box">
									<input type="text" class="form-control" name="description" ng-model="contents.orgData.description" placeholder="설명을 입력해 주세요."/>
								</div>
							</li>
							<li ng-if="contents.orgData.personal=='nomal'">
								<div class="pnb_tit">
									<span class="pnb_t_txt">프로젝트 쿼터 유형 선택</span>
								</div>
								<div class="s_cont_box">
									<select name="orgQuotaPlan" title="쿼터유형 선택" class="w100" ng-model="contents.orgData.orgQuotaPlan" ng-options="quota as quota.name for quota in contents.quotaPlanGroups track by quota.id" ng-change="contents.listQuotaPlan()">
									</select>
									{{ contents.orgData.orgQuotaPlan.description }}
								</div>
							</li>
							<li>
								<div class="pnb_tit">
									<span class="pnb_t_txt">프로젝트 쿼터 세부 유형 선택</span>
								</div>
								<div class="s_cont_box">
									<select name="orgQuotas" title="쿼터 세부 유형 선택" class="w100" ng-model="contents.orgData.orgQuotas" ng-options="quota as quota.code for quota in contents.quotaPlan track by quota.id" ng-change="contents.changePlan();">
									</select>
								</div>
							</li>
							<li>
								<div class="pnb_tit">
									<i class="i_star"></i> <span class="pnb_t_txt">상세 쿼터 조정</span>
									<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'각 서비스의 쿼터를 상세 조정 가능합니다.'"><span class="ico_info"></span></button></div>
								</div>
								<div class="s_inner_cont">
									<div class="pnb_tit">
										<div class="pull-left">
											<span class="pnb_t_txt">PaaS 용량</span>
											<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'paas 쿼터에 대한 조정이 가능합니다.'"><span class="ico_info"></span></button></div>
										</div>
										<div class="pull-right">
											<button type="button" name="button" class="btn btn-color1 btn-sm" ng-click="contents.orgData.paasQuotaGuid = null" tooltip-placement="bottom" uib-tooltip="{{ 'label.select_unset' | translate }}">{{ 'label.select_unset' | translate }}</button>
										</div>
									</div>
									<div class="pj_paas_volume">
										<ul class="ul-list1">
											<li ng-repeat="(key, paasQuota) in contents.paasQuotas">
												<div class="radio1 radio-inline">
													<input type="radio" name="personal" id="{{paasQuota.$$hashKey}}" name="guid" ng-click="contents.orgData.paasQuotaGuid = paasQuota.guid;" ng-checked="contents.orgData.paasQuotaGuid == paasQuota.guid">
													<label for="{{paasQuota.$$hashKey}}" class="label">
														<div class="volume_cont">
															<ul>
																<li>
																	<span>{{ 'label.service' | translate }}</span>
																	<span>{{ paasQuota.totalServices }}</span>
																</li>
																<li>
																	<span>{{ 'label.route' | translate }}</span>
																	<span>{{ paasQuota.totalRoutes }}</span>
																</li>
																<li>
																	<span>{{ 'label.memory' | translate }}</span>
																	<span>{{ paasQuota.memoryLimit|displayVolume:'MB' }}</span>
																</li>
															</ul>
														</div>
													</label>
												</div>
												<p class="label-txt" >{{ paasQuota.name }}</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="scrollBox mt30">
									<div class="tbl type1">
										<table class="table">
											<colgroup>
												<col style="width:10%;">
												<col style="width:30%;">
												<col style="width:15%;">
												<col style="width:15%;">
												<col style="width:15%;">
												<col style="width:15%;">
											</colgroup>
											<thead>
												<tr>
													<th scope="col" colspan="2">항목</th>
													<th scope="col">값</th>
													<th scope="col">단위</th>
													<th scope="col">최소값</th>
													<th scope="col">최대값</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="itemValue in contents.quotaItem">
													<td>{{ itemValue.orgQuotaItemGroup.name }}</td>
													<td class="text-left">{{ itemValue.name }}</td>
													<td><input type="number" class="form-control text-right" value="{{ contents.quotaItem[$index].value }}" name="listQuotaItemValue{{$index}}" ng-model="contents.quotaItem[$index].value" validation="between:{{itemValue.min}},{{itemValue.max}}"/></td>
													<td>{{ itemValue.unit }}</td>
													<td>{{ itemValue.min }}</td>
													<td>{{ itemValue.max }}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!--<div class="pn_footer">
						<div class="btn-btm mgt0">
							<button type="button" name="button" class="btn btn-color1 btn-md" ng-click="contents.createOrg();">프로젝트 신청</button>
							<button type="button" name="button" class="btn btn-color2 btn-md" ng-click="main.goToHistoryBack();">취소</button>
						</div>
					</div>-->
				</div>
				</form>
				<div class="pn_footer">
					<div class="btn-btm mgt0">
						<button type="button" name="button" class="btn btn-color1 btn-md" ng-click="contents.createOrg();">프로젝트 신청</button>
						<button type="button" name="button" class="btn btn-color2 btn-md" ng-click="main.goToHistoryBack();">취소</button>
					</div>
				</div>
			</li>
			<li>
				<div class="panel_box pn_r">
					<div class="pn_head">
						<h4 class="pnh_tit ico01">프로젝트 기본정보</h4>
					</div>
					<div class="pn_body">
						<div class="s_cont_box">
							<ul>
								<li>
									<span class="s_tit">프로젝트 ID</span>
									<span class="s_txt">{{ contents.orgData.orgId }}</span>
								</li>
								<li>
									<span class="s_tit">프로젝트명</span>
									<span class="s_txt">{{ contents.orgData.orgName }}</span>
								</li>
								<li>
									<span class="s_tit">프로젝트 유형</span>
									<span class="s_txt" >{{ contents.orgData.personal == "nomal" ? "일반" : "개인" }}</span>
								</li>
								<li>
									<span class="s_tit">이용기간</span>
									<span class="s_txt">{{ contents.orgData.startDate }} ~ {{ contents.orgData.endDate }}</span>
									<div class="s_inner_cont">
										<div class="innr_tbl">
											<table>
												<colgroup>
													<col width="30" />
													<col width="30" />
													<col width="30" />
												</colgroup>
												<thead>
												<tr>
													<th>vCPU</th>
													<th>메모리</th>
													<th>디스크</th>
												</tr>
												</thead>
												<tbody>
												<tr>
													<td>{{contents.data.spec.vcpus}} Core</td>
													<td>{{contents.data.spec.ram | displayVolume : 'MB'}}</td>
													<td>{{contents.data.spec.disk | displayVolume : 'GB'}}</td>
												</tr>
												</tbody>
											</table>
											<span class="info_txt">*  ‘디스크’ 크기는 OS 설치에 필요한 디스크 공간을 포함한 수치입니다.</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="pn-Toggle">
						<div class="pn_head brdt">
							<h4 class="pnh_tit ico09">쿼터</h4>
							<button type="button" name="button" class="btn_add_toggle" title="열고/닫기" ng-click="main.panelToggleChange($event);"><span class="ico_arw_sm_gray">열고/닫기</span></button>
						</div>
						<div class="pn_body">
							<div class="s_cont_box">
								<ul>
									<li>
										<span class="s_tit">유형</span>
										<span class="s_txt" >{{ contents.orgData.orgQuotaPlan.id == "" ? "" : contents.orgData.orgQuotaPlan.name }}</span>
									</li>
									<li>
										<span class="s_tit">세부유형</span>
										<span class="s_txt" >{{(contents.orgData.orgQuotas.length = 0 || contents.orgData.orgQuotas.id == "") ? "" : contents.orgData.orgQuotas.code }}</span>
									</li>
									<li>
										<span class="s_tit">상세쿼터</span>
										<span class="s_txt" >{{ contents.orgData.personal == "nomal" ? "일반" : "개인" }}</span>
									</li>
								</ul>
								<div class="s_progress_box wd_tit">
									<ul>
										<li>
											<span class="tit_txt">vcpu</span>
											<div class="progressWrap type2">
												<div class="progress">
													<div percent-progress-bar-animate bar-type="width" percent="{{((contents.tenantResource.usedResource.cores + contents.data.spec.vcpus)/contents.tenantResource.maxResource.cores)*100|number:0}}" class="progress">
														<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{((contents.tenantResource.usedResource.cores + contents.data.spec.vcpus)/contents.tenantResource.maxResource.cores)*100|number:0}}%"></div>
													</div>
												</div>
											</div>
											<span class="txt_count">({{(contents.tenantResource.usedResource.cores + contents.data.spec.vcpus)}} 개 / {{contents.tenantResource.maxResource.cores}} 개)</span>
										</li>
										<li>
											<span class="tit_txt">메모리</span>
											<div class="progressWrap type2">
												<div class="progress">
													<div percent-progress-bar-animate bar-type="width" percent="{{((contents.tenantResource.usedResource.ramSize + contents.data.spec.ram)/contents.tenantResource.maxResource.ramSize)*100|number:0}}" class="progress">
														<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{((contents.tenantResource.usedResource.ramSize + contents.data.spec.ram)/contents.tenantResource.maxResource.ramSize)*100|number:0}}%"></div>
													</div>
												</div>
											</div>
											<span class="txt_count">({{(contents.tenantResource.usedResource.ramSize + contents.data.spec.ram) | displayVolume:'MB'}} / {{contents.tenantResource.maxResource.ramSize | displayVolume:'MB'}})</span>
										</li>
										<li>
											<span class="tit_txt">디스크</span>
											<div class="progressWrap type2">
												<div class="progress">
												  <div percent-progress-bar-animate bar-type="width" percent="{{((contents.tenantResource.usedResource.instanceDiskGigabytes + contents.data.spec.disk)/contents.tenantResource.maxResource.instanceDiskGigabytes)*100|number:0}}" class="progress">
														<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{((contents.tenantResource.usedResource.instanceDiskGigabytes + contents.data.spec.disk)/contents.tenantResource.maxResource.instanceDiskGigabytes)*100|number:0}}%"></div>
													</div>
												</div>
											</div>
											<span class="txt_count">({{(contents.tenantResource.usedResource.instanceDiskGigabytes + contents.data.spec.disk) | displayVolume:'GB'}} / {{contents.tenantResource.maxResource.instanceDiskGigabytes | displayVolume:'GB'}})</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- '서비스 튜토리얼 바로가기' 소스 임시주석 -->
					<!-- <div class="btn-btm">
						<button type="button" name="button" class="btn_tutorial" onclick="location.href='#/tutorial/1';">서비스 튜토리얼 바로가기</button>
					</div> -->
				</div>
			</li>
		</ul>
	</div>
</div>
