<div class="table-wrap">
	<table class="table table-outline">
		<colgroup>
			<col style="width:30%;">
			<col style="width:;">
			<col style="width:30%;">
		</colgroup>
		<thead class="grey text-center">
			<tr>
				<th style="width:;">이름</th>
				<th style="width:">아이디</th>
				<th style="width:">역할</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg_none">
				<td class="text-center">{{ pop.orgUser.usersInfo.name }}</td>
				<td class="text-center">{{ pop.orgUser.usersInfo.email }}</td>
				<td class="text-center">
					<select class="form-control form-control-sm" ng-model="pop.orgUser.roleName" style="width: auto;">
						<option value="{{ pop.orgRoleNames.user }}" title="프로젝트 사용자">프로젝트 사용자</option>
						<option value="{{ pop.orgRoleNames.admin }}" title="프로젝트 관리자">프로젝트 관리자</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
</div>
		
		