<div class="tbl type1">
	<table class="table">
		<thead>
			<tr>
				<th style="width:;">이름</th>
				<th style="width:">아이디</th>
				<th style="width:">역할</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg_none">
				<td>{{ pop.orgUser.usersInfo.name }}</td>
				<td>{{ pop.orgUser.usersInfo.email }}</td>
				<td>
					<select ng-model="pop.orgUser.roleName">
						<option value="{{ pop.orgRoleNames.user }}" title="프로젝트 사용자">프로젝트 사용자</option>
						<option value="{{ pop.orgRoleNames.admin }}" title="프로젝트 관리자">프로젝트 관리자</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
</div>
