<div class="alert alert-primary" role="alert">
	<i data-feather="file-text" class="feather-directive"></i>
	<div class="text-area">허브팝 사용자를 조회하여 프로젝트구성원으로 등록합니다.</div>
</div>

<div class="clearfix">
	<div class="style-table">
		<div class="style-td" style="width:45%;">
			<h3 class="heading h3">조회</h3>
			<div class="form-group inline-block margin-bottom-0">
				<select class="form-control" name="searchKey" ng-model="pop.schKey" title="검색 구분 선택">
					<option value="">전체</option>
					<option value="email">ID</option>
					<option value="name">이름</option>
				</select>
			</div>
			<div class="form-group inline-block margin-bottom-0">
				<input type="text" placeholder="검색어를 입력해 주세요." class="form-control" style="width:100%;" ng-model="pop.schText" ng-key-enter="pop.setOrgNotUsers();">
			</div>
			<button type="button" class="btn btn-primary" title="검색" ng-click="pop.setOrgNotUsers();"><i class="xi-search"></i></button>
			<div class="table-wrap margin-top-10">
				<table class="table table-outline">
					<colgroup>
						<col style="width:13%;">
						<col style="width:13%;">
						<col style="width:26%;">
						<col style="width:20%;">
						<col style="width:30%;">
					</colgroup>
					<thead class="grey text-center">
						<tr>
							<th scope="col">선택</th>
							<th scope="col">번호</th>
							<th scope="col">ID</th>
							<th scope="col">이름</th>
							<th scope="col">소속</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, user) in pop.orgNotUsers" ng-if="(key >= (pop.pageOptions.pageSize * (pop.pageOptions.currentPage-1))) && (key < (pop.pageOptions.pageSize * (pop.pageOptions.currentPage)))">
							<td>
								<div class="checkbox-group">
									<input type="checkbox" id="checkbox{{key+1}}" class="checkbox-input" ng-model="user.checked" value="true">
									<label for="checkbox{{key+1}}" class="checkbox-item">
										<div class="checkbox">
											<div class="checked-icon">
												<i class="xi-check"></i>
											</div>
										</div>
									</label>
								</div>
							</td>
							<td>{{key + 1}}</td>
							<td style="text-align:left">{{user.email}}</td>
							<td>{{user.name}}</td>
							<td>{{user.position}}</td>
						</tr>
						<!-- 데이터가 없을 때 -->
						<tr ng-if="pop.orgNotUsers.length == 0" class="no-data">
							<td colspan="5" class="text-center">데이터가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table-bottom-wrap text-center">
				<div class="paginationWrap">
					<paging
						page="pop.pageOptions.currentPage"
						page-size="pop.pageOptions.pageSize"
						total="pop.pageOptions.total"
						show-prev-next="true"
						show-first-last="true"
						paging-action=""
						text-first-class="firstPage"
						text-last-class="lastPage"
						text-next-class="nextPage"
						text-prev-class="prevPage">
				</paging>
				</div>
			</div>
		</div>
		<div class="style-td" style="width:10%; vertical-align:middle;">
			<div class="text-center">
				<button type="button" class="btn btn-primary" ng-click="pop.sltUserMove();">추가</button>
			</div>
		</div>
		<div class="style-td" style="width:45%;">
			<!-- 관리자 다수 등록 가능 요청으로 인해 수정 -->
			<!--<span class="t_txt">* 사용자 등록 시 관리자 역할은 한 명만 지정할 수 있습니다.</span>-->
			<h3 class="heading h3">등록</h3>
			<div class="text-right">
				<button type="button" class="btn btn-primary" ng-click="pop.sltOrgUserClear()">선택 삭제</button>
			</div>
			<div class="table-wrap margin-top-10">
				<table class="table table-outline">
					<colgroup>
						<colgroup>
						<col style="width:13%;">
						<col style="width:13%;">
						<col style="width:26%;">
						<col style="width:20%;">
						<col style="width:30%;">
					</colgroup>
					<thead class="grey text-center">
						<tr>
							<th scope="col">선택</th>
							<th scope="col">번호</th>
							<th scope="col">ID</th>
							<th scope="col">이름</th>
							<th scope="col">역할</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, orgUser) in pop.schAddOrgUsers">
							<td>
								<div class="checkbox-group">
									<input type="checkbox" id="checkbox2_{{key+1}}" class="checkbox-input" ng-model="orgUser.checked" value="true">
									<label for="checkbox2_{{key+1}}" class="checkbox-item">
										<div class="checkbox">
											<div class="checked-icon">
												<i class="xi-check"></i>
											</div>
										</div>
									</label>
								</div>
							</td>
							<td>{{key + 1}}</td>
							<td style="text-align:left">{{orgUser.email}}</td>
							<td>{{orgUser.name}}</td>
							<td>
								<select ng-model="orgUser.roleName">
									<option value="{{ pop.orgRoleNames.user }}">사용자</option>
									<option value="{{ pop.orgRoleNames.admin }}" title="프로젝트 관리자">관리자</option>
									<!-- 관리자 다수 등록 가능 요청으로 인해 수정 -->
									<!--<option ng-if="!pop.isAdmin" value="{{ pop.orgRoleNames.admin }}" title="프로젝트 관리자">관리자</option>-->
								</select>
							</td>
						</tr>
						<!-- 데이터가 없을 때 -->
						<tr ng-if="pop.schAddOrgUsers.length == 0" class="no-data">
							<td colspan="5" class="text-center">데이터가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>