<form name="projectDetailAsideQuotaReqForm" novalidate>
    <div class="tbw type1">
        <table class="table">
            <colgroup>
                <col style="width:30%;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">변경 요청 용량<span class="ico-info4 ico" ng-mouseleave="contents.quotaInfo = 0" ng-mouseover="contents.quotaInfo = 1" ng-init="contents.quotaInfo = 0"></span></th>
                <td>
                    <div class="layer_info" ng-if="contents.quotaInfo">
                        <dl ng-repeat="projectQuota in contents.orgQuotas">
                            <dt>{{ projectQuota.name }}</dt>
                            <dd>{{ projectQuota.description }}</dd>
                        </dl>
                    </div>
                    <select class="form-control" name="quotaReq" ng-model="contents.quotaHistory.quotaReq" ng-options="projectQuota as projectQuota.name for projectQuota in contents.orgQuotas" required="required">
                        <option value="">선택</option>
                    </select>
                    <p class="has-error" ng-show="projectDetailAsideQuotaReqForm.quotaReq.$touched && projectDetailAsideQuotaReqForm.quotaReq.$error.required">변경 요청할 용량을 선택해주세요.</p>
                    <div class="select_info">
                        <span class="tit" ng-if="!contents.quotaHistory.quotaReq.name">선택</span>
                        <span class="tit" ng-if="!!contents.quotaHistory.quotaReq.name">{{ contents.quotaHistory.quotaReq.name }}</span>
                        <dl>
                            <dt>서버 가상화 서비스</dt>
                            <dd>- vCpus : {{contents.quotaHistory.quotaReq.quotaIaas.computingVcpus | number}}개</dd>
                            <dd>- Memory : {{contents.quotaHistory.quotaReq.quotaIaas.computingRam | number}}GB</dd>
                            <dd>- Disk(loc): {{contents.quotaHistory.quotaReq.quotaIaas.computingHdd | number}}GB</dd>
                            <dd>- Disk(ext): {{contents.quotaHistory.quotaReq.quotaIaas.storageExternalHdd | number}}GB</dd>
                            <dd>- IP : {{contents.quotaHistory.quotaReq.quotaIaas.networkFloatingIp | number}}개</dd>
                            <dt>표준 APP.개발 서비스</dt>
                            <dd>- Memory : {{contents.quotaHistory.quotaReq.quotaPaas.totalMemory | number}}GB</dd>
                            <dd>- Service : {{contents.quotaHistory.quotaReq.quotaPaas.serviceInstances | number}}개</dd>
                            <dd>- Router : {{contents.quotaHistory.quotaReq.quotaPaas.routes | number}}개</dd>
                            <dd>- App : {{contents.quotaHistory.quotaReq.quotaPaas.appInstances | number}}개</dd>
                        </dl>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">변경 요청 사유</th>
                <td>
                    <textarea name="messageReq" class="form-control" style="height:100px;" placeholder="변경 요청 사유" ng-model="contents.quotaHistory.messageReq" required="required" maxlength="200"></textarea>
                    <p class="has-error" ng-show="projectDetailAsideQuotaReqForm.messageReq.$touched && projectDetailAsideQuotaReqForm.messageReq.$error.required">변경 요청 사유를 입력해 주세요.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>