<div class="write_wrap">
	<div class="form-group default-label padding-0">
		<h3 class="heading h3">변경요청사유</h3>
		<textarea type="text" class="form-control volTxt" name="requestReason" ng-model="pop.data.requestReason" validation="max_len:120|required"></textarea>
	</div>
	
	<h3 class="heading h3 margin-top-30">쿼터값 변경</h3>
	<div class="table-wrap">
		<table class="table table-outline">
			<colgroup>
				<col style="width:15%;">
				<col style="width:;">
				<col style="width:15%;">
				<col style="width:10%;">
				<col style="width:10%;">
				<col style="width:10%;">
			</colgroup>
			<thead class="grey">
				<tr>
					<th scope="col" colspan="2">항목</th>
					<th scope="col">값</th>
					<th scope="col">단위</th>
					<th scope="col">최소값</th>
					<th scope="col">최대값</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, item) in pop.quotaItems">
					<td>{{ item.orgQuotaItemGroup.name }}</td>
					<td class="text-left">{{ item.name }}</td>
					<td><input type="number" class="form-control text-right" name="key" ng-model="item.value"  validation="between:{{item.min}},{{item.max}}"></td>
					<td>{{ item.unit }}</td>
					<td>{{ item.min }}</td>
					<td>{{ item.max }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- PaaS 사용않함 2021.05.24 -->
	<!-- PaaS 용량-->
	<!--<div class="s_inner_cont">
		<div class="pnb_tit">
			<div class="pull-left">
				<span class="pnb_t_txt">PaaS 용량</span>
				<div class="t_tip_bx"><a class="info-icon-tooltip" tooltip-placement="top" uib-tooltip-html="'paas 쿼터에 대한 조정이 가능합니다.'">	i</a></div>
			</div>
			<div class="pull-right">
				<button type="button" name="button" class="btn btn-outline btn-info" ng-click="pop.data.paasQuotaGuid = null" tooltip-placement="bottom" uib-tooltip="{{ 'label.select_unset' | translate }}"><i class="xi-check-circle-o margin-right-5"></i>{{ 'label.select_unset' | translate }}</button>
			</div>
		</div>
		<div class="pj_paas_volume">
			<ul class="ul-list1">
				<li ng-repeat="(key, paasQuota) in pop.paasQuotas">
					<div class="radio1 radio-inline">
						<input type="radio" id="{{paasQuota.$$hashKey}}" name="guid" ng-click="pop.data.paasQuotaGuid = paasQuota.guid;" ng-checked="pop.data.paasQuotaGuid == paasQuota.guid">
						<label for="{{paasQuota.$$hashKey}}" class="label">
							<div class="volume_cont">
								<ul>
									<li>
										<span>{{ 'label.service' | translate }}</span>
										<span>{{ paasQuota.totalServices }}</span>
									</li>
									<li>
										<span>{{ 'label.route' | translate }}</span>
										<span>{{ paasQuota.totalRoutes }}</span>
									</li>
									<li>
										<span>{{ 'label.memory' | translate }}</span>
										<span>{{ paasQuota.memoryLimit|displayVolume:'MB' }}</span>
									</li>
								</ul>
							</div>
						</label>
					</div>
					<p class="label-txt" >{{ paasQuota.name }}</p>
				</li>
			</ul>
		</div>
	</div>-->
	<!-- PaaS 용량-->
	<!-- PaaS 사용않함 2021.05.24 -->
</div>
