<div class="tbl type1">
    <table class="table">
        <colgroup>
            <col style="width:100px;" />
            <col style="width:200px;" />
        </colgroup>
        <thead>
        <tr>
            <th>순서</th>
            <th>화면</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td class="text-left"><a href="#/sample/table">1. 일반 테이블</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td class="text-left"><a href="#/sample/table_scroll">2. 스크롤 테이블</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td class="text-left"><a href="#/sample/progress_bar">3. 프로그래스바</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td class="text-left"><a href="#/sample/drag_and_drop">4. 드레그앤드랍</a></td>
        </tr>
        </tbody>
    </table>
</div>