<table style="width: 100%">
    <tr>
    <tr>
        <td style="width: 33%;">
            <div class="panel type6" style="width: 363px;">
                <div class="panel_head">
                    <p class="tit">Application Title</p>
                    <p class="txt">디스크스토리지</p>
                    <div class="dropdown btn-option">
                        <button type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
                            <span class="ico">실행 설정</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
                            <li><a href="#">디스크확장</a></li>
                            <li><a href="#">연결정보 수정</a></li>
                            <li><a href="#">디스크 백업이미지</a></li>
                            <li><a href="#">디스크 삭제</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel_body">
                    <div class="ul-in">
                        <div class="up">
                            <div class="hardProg">
                                <div class="progressWrap">
                                    <div percent-progress-bar-animate bar-type="width" percent="70" class="progress">
                                        <div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="70%"></div>
                                    </div>
                                    <p class="progress-txt">16.0GB 중 8.50GB 사용 가능</p>
                                </div>
                            </div>
                        </div>
                        <div class="down">
                            <span class="stateWrap"><span class="stateMark type1">정상배포</span><span class="state-txt">STAGED</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td style="width: 33%;">
            <div class="panelWrap" style="width: 420px;">
                <div class="panel type5">
                    <div class="panel_head">
                        <img src="images/thum/im_logo_data.png" class="logo" alt="">
                        <p class="tit">Application Title</p>
                        <p class="txt">Version : 1.0.1</p>
                        <div class="dropdown btn-option">
                            <button type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
                                <span class="ico">실행 설정</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
                                <li><a href="#">재시작</a></li>
                                <li><a href="#">중지</a></li>
                                <li><a href="#">삭제</a></li>
                                <li class="renameApp"><a href="#">APP 이름변경</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel_body">
                        <div class="ul-in">
                            <div class="up">
                                <ul class="ul-prog">
                                    <li>
                                        <div class="progressWrap type1">
                                            <div percent-progress-bar-animate bar-type="height" percent="70" class="progress">
                                                <div class="progress-bar color-type3" role='progressbar' tooltip-placement="top" uib-tooltip="70%"></div>
                                            </div>
                                        </div>
                                        <strong class="tit">CPU</strong>
                                    </li>
                                    <li>
                                        <div class="progressWrap type1">
                                            <div percent-progress-bar-animate bar-type="height" percent="60" class="progress">
                                                <div class="progress-bar color-type2" role='progressbar' tooltip-placement="top" uib-tooltip="60%"></div>
                                            </div>
                                        </div>
                                        <strong class="tit">Memory</strong>
                                    </li>
                                    <li>
                                        <div class="progressWrap type1">
                                            <div percent-progress-bar-animate bar-type="height" percent="40" class="progress">
                                                <div class="progress-bar" role="progressbar" tooltip-placement="top" uib-tooltip="40%"></div>
                                            </div>
                                        </div>
                                        <strong class="tit">Disk</strong>
                                    </li>
                                </ul>
                            </div>
                            <div class="down">
                                <span class="stateWrap"><span class="stateMark type2">오류</span><span class="state-txt">FAILED</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td style="width: 33%;">
            <!-- panel : 서비스 생성 중일 때-->
            <div class="panelWrap" style="width: 420px;">
                <div class="panel type5">
                    <div class="panel_head">
                        <img src="images/thum/im_logo_data.png" class="logo" alt="">
                        <p class="tit">Application Title</p>
                        <p class="txt">Version : 1.0.1</p>
                        <div class="dropdown btn-option">
                            <button type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
                                <span class="ico">실행 설정</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
                                <li><a href="#">재시작</a></li>
                                <li><a href="#">중지</a></li>
                                <li><a href="#">삭제</a></li>
                                <li class="renameApp"><a href="#">APP 이름변경</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel_body">
                        <div class="ul-in2">
                            <div class="info-chart">
                                <div class="chartWrap" style="height:180px;">
                                    <div stop-watch-d3-circular-progress max="180" start="true" size="180" options="{}" on-stop="contents.stopProgress()" class="progress-indicator"></div>
                                </div>
                            </div>

                            <div class="info-txt">
                                <p class="txt"><span class="ico ico-timer"></span>생성중</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //panel -->
        </td>
     </tr>
    <tr>
        <td style="width: 33%;">
            <div class="panelWrap" style="width: 420px;">
                <div class="panel type5">
                    <div class="panel_head">
                        <img src="images/thum/im_logo_data.png" class="logo" alt="">
                        <p class="tit">Application Title</p>
                        <p class="txt">Version : 1.0.1</p>
                        <div class="dropdown btn-option">
                            <button type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
                                <span class="ico">실행 설정</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
                                <li><a href="#">재시작</a></li>
                                <li><a href="#">중지</a></li>
                                <li><a href="#">삭제</a></li>
                                <li class="renameApp"><a href="#">APP 이름변경</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel_body">
                        <div class="ul-in2">
                            <div class="info-chart">
                                <div class="chartWrap" style="height:180px;">
                                    <div d3-circular-progress data-actual="contents.actual" data-expected="contents.expected" data-size="200" data-options="{}" class="progress-indicator"></div>
                                </div>
                            </div>
                            <div class="down">
                                <span class="stateWrap"><span class="stateMark type1">{{ 'label.capacity' | translate }}</span><span class="state-txt">{{ 'label.capacity' | translate }}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="chartWrap" style="width:400px;">
                <div stop-watch-progress-bar max="180" start="true" on-stop="contents.stopProgress()"></div>
            </div>
        </td>
        <td>
        </td>
    </tr>
     </tbody>
</table>
