<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">
						
						<div class="row">
							<div class="col-md-8">
								<section class="panel panel-bordered">
									<div class="panel-heading">
										<div class="row">
											<div class="col-md-6">
												<h3 class="panel-title">
													Title
												</h3>
											</div>
											<div class="col-md-6 text-right">
												<div class="panel-heading-right">
													<span class="color-danger">
														<b class="caution-star">*</b> 는 필수입력 사항입니다
													</span>
												</div>
											</div>
										</div>
									</div> <!-- // panel-heading -->
									<div class="panel-body">
										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="form-group">
													<input type="text" class="form-control form-control-sm" id="" placeholder="text">
													<small id="" class="form-text color-secondary">
														The mail is valid
													</small>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-3">
														<button class="btn btn-default btn-sort-icon text-left btn-block">
															button
															<span class="sort-icon-group">
																<i class="xi-caret-up-min"></i>
																<i class="xi-caret-down-min"></i>
															</span>
														</button>
													</div>
													<div class="col-md-3">
														<button class="btn btn-default btn-sort-icon text-left btn-block">
															button
															<span class="sort-icon-group">
																<i class="xi-caret-up-min"></i>
																<i class="xi-caret-down-min"></i>
															</span>
														</button>
													</div>
													<div class="col-md-3">
														<button class="btn btn-default btn-sort-icon text-left btn-block">
															button
															<span class="sort-icon-group">
																<i class="xi-caret-up-min"></i>
																<i class="xi-caret-down-min"></i>
															</span>
														</button>
													</div>
													<div class="col-md-3">
														<button class="btn btn-default btn-sort-icon text-left btn-block">
															button
															<span class="sort-icon-group">
																<i class="xi-caret-up-min"></i>
																<i class="xi-caret-down-min"></i>
															</span>
														</button>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="form-group">
													<input type="text" class="form-control form-control-sm" id="" placeholder="text">
													<small id="" class="form-text color-secondary">
														The mail is valid
													</small>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="list-inline">
													<li>
														<div class="radio-group">
															<input type="radio" name="radio01" id="radio01" class="radio-input" checked="">
															<label for="radio01" class="radio-item">
																<div class="radio">
																	<div class="checked-icon"></div>
																</div>
																<span class="text">
																	text
																</span>
															</label>
														</div>
													</li>
													<li>
														<div class="radio-group">
															<input type="radio" name="radio01" id="radio02" class="radio-input">
															<label for="radio02" class="radio-item">
																<div class="radio">
																	<div class="checked-icon"></div>
																</div>
																<span class="text">
																	text
																</span>
															</label>
														</div>
													</li>
													<li>
														<div class="radio-group">
															<input type="radio" name="radio01" id="radio03" class="radio-input">
															<label for="radio03" class="radio-item">
																<div class="radio">
																	<div class="checked-icon"></div>
																</div>
																<span class="text">
																	text
																</span>
															</label>
														</div>
													</li>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="list-inline">
													<li>
														<div class="radio-group">
															<input type="radio" name="radio11" id="radio11" class="radio-input">
															<label for="radio11" class="radio-item">
																<div class="radio">
																	<div class="checked-icon"></div>
																</div>
																<span class="text">
																	text
																</span>
															</label>
														</div>
													</li>
													<li>
														<div class="radio-group">
															<input type="radio" name="radio11" id="radio12" class="radio-input" checked="">
															<label for="radio12" class="radio-item">
																<div class="radio">
																	<div class="checked-icon"></div>
																</div>
																<span class="text">
																	text
																</span>
															</label>
														</div>
													</li>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="custom-file-group custom-file-group-sm">
													<span class="custom-file-btn">
													  <label class="btn-file" for="multiple_input_group">
														<input id="multiple_input_group" type="file" multiple>
														<span class="text-btn">
															Browse
														</span>
													  </label>
													</span>
													<span class="file-input-label"></span>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="form-group">
													<textarea class="form-control form-control-sm" id="" rows="8"></textarea>
													<small id="" class="form-text color-secondary">
														The mail is valid
													</small>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="form-group">
													<input type="text" class="form-control  form-control-sm" id="">
												</div>
											</div>
										</div>
									</div> 
								</section>
							</div>

							<div class="col-md-4">
								<section class="panel panel-bordered">
									<div class="panel-heading">
										<div class="row">
											<div class="col-sm-7">
												<h3 class="panel-title">
													Title
												</h3>
											</div>
											<div class="col-sm-5">
												<div class="text-right panel-heading-right">
													<button class="btn btn-sm btn-default">Button</button>
												</div>
											</div>
										</div>
									</div> <!-- // panel-heading -->
									<div class="panel-body">
										<!-- 콘텐츠영역 -->
									</div> 
								</section>

								<section class="panel panel-bordered">
									<div class="panel-heading">
										<div class="row">
											<div class="col-sm-7">
												<h3 class="panel-title">
													Title
												</h3>
											</div>
											<div class="col-sm-5">
												<div class="text-right panel-heading-right">
													<button class="btn btn-sm btn-primary">Button</button>
												</div>
											</div>
										</div>
									</div> <!-- // panel-heading -->
									<div class="panel-body">
										<!-- 콘텐츠영역 -->
									</div> 
								</section>

								<section class="panel panel-bordered">
									<div class="panel-heading">
										<h3 class="panel-title">
											Title
										</h3>
									</div> <!-- // panel-heading -->
									<div class="panel-body">
										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="custom-file-group custom-file-group-sm">
													<span class="custom-file-btn">
													  <label class="btn-file" for="multiple_input_group">
														<input id="multiple_input_group" type="file" multiple>
														<span class="text-btn">
															Browse
														</span>
													  </label>
													</span>
													<span class="file-input-label"></span>
												</div>
												<small id="" class="form-text color-secondary">
													The mail is valid
												</small>
												<small id="" class="form-text color-warning block">
													* The your data could not be verified
												</small>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="write-sub-title">
													<b class="caution-star">*</b> Sub - Title
												</div>
											</div>
											<div class="col-md-9">
												<div class="custom-file-group custom-file-group-sm">
													<span class="custom-file-btn">
													  <label class="btn-file" for="multiple_input_group">
														<input id="multiple_input_group" type="file" multiple>
														<span class="text-btn">
															Browse
														</span>
													  </label>
													</span>
													<span class="file-input-label"></span>
												</div>
												<small id="" class="form-text color-secondary">
													The mail is valid
												</small>
											</div>
										</div>
									</div> 
								</section>





							</div>

						</div>

						<div class="text-right">
							<button class="btn btn-lg btn-primary">Save</button>
							<button class="btn btn-lg btn-default">Cancel</button>
						</div>
						
					</div>
				</div>
				<!-- // inner -->