<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">

		<ul class="nav nav-tabs nav-tabs-btn nav-tabs-lg margin-bottom-20">
			<li><a href="#">프로젝트 1</a></li>
			<li class="active"><a href="#">프로젝트 2</a></li>
			<li><a href="#">프로젝트 3</a></li>
		</ul>

		<div class="card-input-wrap">
			<div class="row">
				<div class="col-md-6">
					<div class="datatable-length">
						<span>Show</span>
						<select name="" id="" class="form-control form-control-md">
							<option value="">10</option>
							<option value="">25</option>
							<option value="">50</option>
							<option value="">100</option>
						</select>
						<span>entries</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-right">
						<div class="form-group inline-block margin-bottom-0">
							<select name="" id="" class="form-control form-control-md">
								<option value="">text</option>
							</select>
						</div>
						<button type="button" class="btn btn-primary">
							<div class="feather-icon">
								<i data-feather="download"></i>
							</div>
							<span>button</span>
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="card-list-wrap">
			<div class="row">
				<div class="col-md-3">
					<div class="card card-type-img1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<a href="" class="btn btn-sm btn-default" title="다운로드">
													<i data-feather="download"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body padding-0">
							<div class="img-box">
								<img src="../assets/img/guide/card_img_example1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-type-img1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<a href="" class="btn btn-sm btn-default" title="다운로드">
													<i data-feather="download"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body padding-0">
							<div class="img-box">
								<img src="../assets/img/guide/card_img_example1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-type-img1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<a href="" class="btn btn-sm btn-default" title="다운로드">
													<i data-feather="download"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body padding-0">
							<div class="img-box">
								<img src="../assets/img/guide/card_img_example1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-type-img1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<a href="" class="btn btn-sm btn-default" title="다운로드">
													<i data-feather="download"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body padding-0">
							<div class="img-box">
								<img src="../assets/img/guide/card_img_example1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>

			</div>	

			<div class="row">
				<div class="col-md-3">
					<div class="card card-type-img1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<a href="" class="btn btn-sm btn-default" title="다운로드">
													<i data-feather="download"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body padding-0">
							<div class="img-box">
								<img src="../assets/img/guide/card_img_example1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-type-img1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<a href="" class="btn btn-sm btn-default" title="다운로드">
													<i data-feather="download"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body padding-0">
							<div class="img-box">
								<img src="../assets/img/guide/card_img_example1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-type-img1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<a href="" class="btn btn-sm btn-default" title="다운로드">
													<i data-feather="download"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body padding-0">
							<div class="img-box">
								<img src="../assets/img/guide/card_img_example1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-type-img1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<a href="" class="btn btn-sm btn-default" title="다운로드">
													<i data-feather="download"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body padding-0">
							<div class="img-box">
								<img src="../assets/img/guide/card_img_example1.jpg" alt="">
							</div>
						</div>
					</div>
				</div>

			</div>	
	
		</div>

	</div>
</div>
<!-- // inner -->