<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">

		<div class="card-input-wrap">
			<div class="row">
				<div class="col-md-6">
					<div class="font-size-18 padding-top-5">
						<b>제목 <span class="color-primary">(22)</span></b>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-right">
						<div class="form-group inline-block margin-bottom-0">
							<input type="text" class="form-control form-control-md" id="" placeholder="">
						</div>
						<button type="button" class="btn btn-primary">
							<div class="feather-icon">
								<i data-feather="search"></i>
							</div>
							<span class="sr-only">Button</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<ul class="nav nav-tabs nav-tabs-btn nav-tabs-lg margin-bottom-20">
			<li><a href="#">프로젝트 1</a></li>
			<li class="active"><a href="#">프로젝트 2</a></li>
			<li><a href="#">프로젝트 3</a></li>
		</ul>
		
		<div class="margin-bottom-20">
			<a href="" class="btn btn-default btn-lg">
				<div class="feather-icon color-primary">
					<i data-feather="server"></i>
				</div>
				<b>Button</b>
			</a>
			<a href="" class="btn btn-default btn-lg">
				<div class="feather-icon color-primary">
					<i data-feather="server"></i>
				</div>
				<b>Button</b>
			</a>
		</div>

		<div class="card-list-wrap">
			<div class="row">
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="img-size50">
									<img src="../assets/img/icon/artificial-intelligence.png" alt="">
								</div>
								<div class="text-box">
									<div class="top">
										<a href="" class="title">
											<b>
												api-gateway-d658b
											</b>
										</a>
										<div class="clearfix">
											<span class="date">
												Version  1.16.1
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p class="text-ellipsis3">
								Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business
							</p>
							<div class="text-center margin-top-30">
								<a href="" class="btn btn-default">Button</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="img-size50">
									<img src="../assets/img/icon/artificial-intelligence.png" alt="">
								</div>
								<div class="text-box">
									<div class="top">
										<a href="" class="title">
											<b>
												api-gateway-d658b
											</b>
										</a>
										<div class="clearfix">
											<span class="date">
												Version  1.16.1
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p class="text-ellipsis3">
								Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business
							</p>
							<div class="text-center margin-top-30">
								<a href="" class="btn btn-default">Button</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="img-size50">
									<img src="../assets/img/icon/artificial-intelligence.png" alt="">
								</div>
								<div class="text-box">
									<div class="top">
										<a href="" class="title">
											<b>
												api-gateway-d658b
											</b>
										</a>
										<div class="clearfix">
											<span class="date">
												Version  1.16.1
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p class="text-ellipsis3">
								Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business
							</p>
							<div class="text-center margin-top-30">
								<a href="" class="btn btn-default">Button</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="img-size50">
									<img src="../assets/img/icon/artificial-intelligence.png" alt="">
								</div>
								<div class="text-box">
									<div class="top">
										<a href="" class="title">
											<b>
												api-gateway-d658b
											</b>
										</a>
										<div class="clearfix">
											<span class="date">
												Version  1.16.1
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p class="text-ellipsis3">
								Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business
							</p>
							<div class="text-center margin-top-30">
								<a href="" class="btn btn-default">Button</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="img-size50">
									<img src="../assets/img/icon/artificial-intelligence.png" alt="">
								</div>
								<div class="text-box">
									<div class="top">
										<a href="" class="title">
											<b>
												api-gateway-d658b
											</b>
										</a>
										<div class="clearfix">
											<span class="date">
												Version  1.16.1
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p class="text-ellipsis3">
								Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business
							</p>
							<div class="text-center margin-top-30">
								<a href="" class="btn btn-default">Button</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="img-size50">
									<img src="../assets/img/icon/artificial-intelligence.png" alt="">
								</div>
								<div class="text-box">
									<div class="top">
										<a href="" class="title">
											<b>
												api-gateway-d658b
											</b>
										</a>
										<div class="clearfix">
											<span class="date">
												Version  1.16.1
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p class="text-ellipsis3">
								Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business
							</p>
							<div class="text-center margin-top-30">
								<a href="" class="btn btn-default">Button</a>
							</div>
						</div>
					</div>
				</div>
			</div>

	
			
		</div>



		
	</div>
</div>
<!-- // inner -->