<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<section class="panel panel-bordered">
							<div class="panel-heading">
								<h3 class="panel-title">
									Title
								</h3>
							</div> <!-- // panel-heading -->
							<div class="panel-body">

								<div class="form-wizard">
									<form action="" method="post" role="form">
										<!-- form-wizard-header -->
										<div class="form-wizard-header">
											<ul class="form-wizard-steps row">
												<li class="col-md-2 active">
													<div class="text-area text-center">
														<strong class="title">Step 1</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2">
													<div class="text-area text-center">
														<strong class="title">Step 2</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2">
													<div class="text-area text-center">
														<strong class="title">Step 3</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2">
													<div class="text-area text-center">
														<strong class="title">Step 4</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2">
													<div class="text-area text-center">
														<strong class="title">Step 5</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2">
													<div class="text-area text-center">
														<strong class="title">Step 6</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
											</ul>
										</div>
										<!-- //form-wizard-header -->

										<!-- form-wizard-body -->
										<fieldset class="wizard-fieldset show">
											<div class="alert alert-primary" role="alert">
												<i data-feather="file-text"></i>
												<div class="text-area">
													A simple light alert with an example link. 
												</div>
											</div>

											<div class="text-right">
												<span class="color-danger">
													<b class="caution-star">*</b> 는 필수입력 사항입니다
												</span>
											</div>

											<div class="row">
												<div class="col-md-4">
													<div class="write-sub-title">
														<b class="caution-star">*</b> Sub - Title
														<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
															i
														</a>
													</div>
													<select name="" id="" class="form-control"></select>
												</div>
												<div class="col-md-4">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="style-table">
														<div class="style-td" style="width: 70%;">
															<div class="form-group">
																<input type="text" class="form-control" disabled>
															</div>
														</div>
														<div class="style-td">
															<span class="padding-10">/</span>
														</div>
														<div class="style-td">
															<div class="form-group">
																<input type="text" class="form-control" disabled>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="style-table">
														<div class="style-td" style="width: 70%;">
															<div class="form-group">
																<input type="text" class="form-control" disabled>
															</div>
														</div>
														<div class="style-td">
															<span class="padding-10">/</span>
														</div>
														<div class="style-td">
															<div class="form-group">
																<input type="text" class="form-control">
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-4">
													<div class="write-sub-title">
														<b class="caution-star">*</b> Sub - Title
														<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
															i
														</a>
													</div>
													<select name="" id="" class="form-control"></select>
												</div>
												<div class="col-md-8">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Text">
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-4">
													<div class="write-sub-title">
														<b class="caution-star">*</b> Sub - Title
														<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
															i
														</a>
													</div>
													<ul class="list-inline">
														<li>
															<label for="card01" class="input-card-type ">
																<input type="radio" id="card01" name="card01" class="card-input-element" checked>
																<div class="card-input">
																	<div class="card-type4">
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
														<li>
															<label for="card02" class="input-card-type ">
																<input type="radio" id="card02" name="card01" class="card-input-element">
																<div class="card-input">
																	<div class="card-type4">
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
													</ul>
												</div>
												<div class="col-md-8">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<ul class="list-inline">
														<li>
															<label for="card11" class="input-card-type">
																<input type="checkbox" id="card11" class="card-input-element" checked>
																<div class="card-input">
																	<div class="card-type4">
																		<div class="checkbox-icon-area">
																			<div class="checked-icon">
																				<i class="xi-check"></i>
																			</div>
																		</div>
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
														<li>
															<label for="card12" class="input-card-type">
																<input type="checkbox" id="card12" class="card-input-element">
																<div class="card-input">
																	<div class="card-type4">
																		<div class="checkbox-icon-area">
																			<div class="checked-icon">
																				<i class="xi-check"></i>
																			</div>
																		</div>
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
														<li>
															<label for="card13" class="input-card-type">
																<input type="checkbox" id="card13" class="card-input-element" checked>
																<div class="card-input">
																	<div class="card-type4">
																		<div class="checkbox-icon-area">
																			<div class="checked-icon">
																				<i class="xi-check"></i>
																			</div>
																		</div>
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
													
													</ul>
												</div>
											</div>

											<div class="row">
												<div class="col-md-4">
													<div class="write-sub-title">
														<b class="caution-star">*</b> Sub - Title
														<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
															i
														</a>
													</div>
													<ul class="list-inline">
														<li>
															<div class="radio-group">
																<input type="radio" name="radio01" id="radio01" class="radio-input" checked>
																<label for="radio01" class="radio-item">
																	<div class="radio">
																		<div class="checked-icon"></div>
																	</div>
																	<span class="text">
																		Text
																	</span>
																</label>
															</div>
														</li>
														<li>
															<div class="radio-group">
																<input type="radio" name="radio01" id="radio02" class="radio-input">
																<label for="radio02" class="radio-item">
																	<div class="radio">
																		<div class="checked-icon"></div>
																	</div>
																	<span class="text">
																		Text
																	</span>
																</label>
															</div>
														</li>
													</ul>
												</div>
												<div class="col-md-8">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Text">
													</div>
												</div>
											</div>

											<div class="write-sub-title">
												<b class="caution-star">*</b> Sub - Title
												<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
													i
												</a>
											</div>
											<div class="select-file-area">
												<div class="select-file-box">
													<button class="btn btn-xs btn-info">Select file</button>
												</div>
											</div>

											<div class="form-wizard-btn-group">
												<a href="javascript:;" class="form-wizard-next-btn pull-right btn btn-info">Next</a>
											</div>
										</fieldset>	

										<fieldset class="wizard-fieldset">
											<div class="alert alert-primary" role="alert">
												<i data-feather="file-text"></i>
												<div class="text-area">
													A simple light alert with an example link. 
												</div>
											</div>

											<div class="text-right">
												<span class="color-danger">
													<b class="caution-star">*</b> 는 필수입력 사항입니다
												</span>
											</div>

											<div class="row">
												<div class="col-md-4">
													<div class="write-sub-title">
														<b class="caution-star">*</b> Sub - Title
														<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
															i
														</a>
													</div>
													<select name="" id="" class="form-control"></select>
												</div>
												<div class="col-md-4">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="style-table">
														<div class="style-td" style="width: 70%;">
															<div class="form-group">
																<input type="text" class="form-control" disabled>
															</div>
														</div>
														<div class="style-td">
															<span class="padding-10">/</span>
														</div>
														<div class="style-td">
															<div class="form-group">
																<input type="text" class="form-control" disabled>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="style-table">
														<div class="style-td" style="width: 70%;">
															<div class="form-group">
																<input type="text" class="form-control" disabled>
															</div>
														</div>
														<div class="style-td">
															<span class="padding-10">/</span>
														</div>
														<div class="style-td">
															<div class="form-group">
																<input type="text" class="form-control">
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="form-wizard-btn-group">
												<a href="javascript:;" class="form-wizard-previous-btn pull-left btn btn-secondary">Previous</a>
												<a href="javascript:;" class="form-wizard-next-btn pull-right btn btn-info">Next</a>
											</div>
										</fieldset>	

										<fieldset class="wizard-fieldset">
												<div class="row">
												<div class="col-md-4">
													<div class="write-sub-title">
														<b class="caution-star">*</b> Sub - Title
														<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
															i
														</a>
													</div>
													<select name="" id="" class="form-control"></select>
												</div>
												<div class="col-md-8">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Text">
													</div>
												</div>
											</div>
											<div class="form-wizard-btn-group">
												<a href="javascript:;" class="form-wizard-previous-btn pull-left btn btn-secondary">Previous</a>
												<a href="javascript:;" class="form-wizard-next-btn pull-right btn btn-info">Next</a>
											</div>
										</fieldset>	

										<fieldset class="wizard-fieldset">
											<div class="row">
												<div class="col-md-4">
													<div class="write-sub-title">
														<b class="caution-star">*</b> Sub - Title
														<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
															i
														</a>
													</div>
													<ul class="list-inline">
														<li>
															<label for="card01" class="input-card-type ">
																<input type="radio" id="card01" name="card01" class="card-input-element" checked>
																<div class="card-input">
																	<div class="card-type4">
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
														<li>
															<label for="card02" class="input-card-type ">
																<input type="radio" id="card02" name="card01" class="card-input-element">
																<div class="card-input">
																	<div class="card-type4">
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
													</ul>
												</div>
												<div class="col-md-8">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<ul class="list-inline">
														<li>
															<label for="card11" class="input-card-type">
																<input type="checkbox" id="card11" class="card-input-element" checked>
																<div class="card-input">
																	<div class="card-type4">
																		<div class="checkbox-icon-area">
																			<div class="checked-icon">
																				<i class="xi-check"></i>
																			</div>
																		</div>
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
														<li>
															<label for="card12" class="input-card-type">
																<input type="checkbox" id="card12" class="card-input-element">
																<div class="card-input">
																	<div class="card-type4">
																		<div class="checkbox-icon-area">
																			<div class="checked-icon">
																				<i class="xi-check"></i>
																			</div>
																		</div>
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
														<li>
															<label for="card13" class="input-card-type">
																<input type="checkbox" id="card13" class="card-input-element" checked>
																<div class="card-input">
																	<div class="card-type4">
																		<div class="checkbox-icon-area">
																			<div class="checked-icon">
																				<i class="xi-check"></i>
																			</div>
																		</div>
																		<div class="img-size70">
																			<img src="../assets/img/icon/artificial-intelligence.png" alt="">
																		</div>
																	</div>
																</div>
																<p class="text-center">
																	Text
																</p>
															</label>
														</li>
													
													</ul>
												</div>
											</div>
											<div class="form-wizard-btn-group">
												<a href="javascript:;" class="form-wizard-previous-btn pull-left btn btn-secondary">Previous</a>
												<a href="javascript:;" class="form-wizard-next-btn pull-right btn btn-info">Next</a>
											</div>
										</fieldset>	

										<fieldset class="wizard-fieldset">
											<div class="alert alert-primary" role="alert">
												<i data-feather="file-text"></i>
												<div class="text-area">
													A simple light alert with an example link. 
												</div>
											</div>

											<div class="text-right">
												<span class="color-danger">
													<b class="caution-star">*</b> 는 필수입력 사항입니다
												</span>
											</div>

											<div class="row">
												<div class="col-md-4">
													<div class="write-sub-title">
														<b class="caution-star">*</b> Sub - Title
														<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
															i
														</a>
													</div>
													<select name="" id="" class="form-control"></select>
												</div>
												<div class="col-md-4">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="style-table">
														<div class="style-td" style="width: 70%;">
															<div class="form-group">
																<input type="text" class="form-control" disabled>
															</div>
														</div>
														<div class="style-td">
															<span class="padding-10">/</span>
														</div>
														<div class="style-td">
															<div class="form-group">
																<input type="text" class="form-control" disabled>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="style-table">
														<div class="style-td" style="width: 70%;">
															<div class="form-group">
																<input type="text" class="form-control" disabled>
															</div>
														</div>
														<div class="style-td">
															<span class="padding-10">/</span>
														</div>
														<div class="style-td">
															<div class="form-group">
																<input type="text" class="form-control">
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="form-wizard-btn-group">
												<a href="javascript:;" class="form-wizard-previous-btn pull-left btn btn-secondary">Previous</a>
												<a href="javascript:;" class="form-wizard-next-btn pull-right btn btn-info">Next</a>
											</div>
										</fieldset>	

										<fieldset class="wizard-fieldset">
												<div class="row">
												<div class="col-md-4">
													<div class="write-sub-title">
														<b class="caution-star">*</b> Sub - Title
														<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
															i
														</a>
													</div>
													<select name="" id="" class="form-control"></select>
												</div>
												<div class="col-md-8">
													<div class="write-sub-title">
														Sub - Title
													</div>
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Text">
													</div>
												</div>
											</div>
											<div class="form-wizard-btn-group">
												<a href="javascript:;" class="form-wizard-previous-btn pull-left btn btn-secondary">Previous</a>
												<a href="javascript:;" class="form-wizard-submit pull-right btn btn-info">Submit</a>
											</div>
										</fieldset>
										<!-- //form-wizard-body -->
									</form>
								</div>
								
							
							</div> <!-- // panel-body -->
						</section>

						<div class="margin-top-40 text-right">
							<button class="btn btn-lg btn-primary">Save</button>
							<button class="btn btn-lg btn-default">Cancel</button>
						</div>
						

						
					</div>
				</div>
				<!-- // inner -->