<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<div class="row">
							<div class="col-md-8">
								<section class="panel panel-bordered panel-view">
									<div class="panel-heading panel-view-top">
										<div class="row">
											<div class="col-md-6">
												<div class="panel-title-type2">
													Title
												</div>
											</div>
											<div class="col-md-6 text-right">
												<a href="" class="btn btn-sm btn-default">
													<i class="xi-list"></i>
												</a>
											</div>
										</div>
									</div> <!-- // panel-heading -->
									<div class="panel-body panel-view-mid">
										<div class="clearfix">
											<div class="pull-left">
												<div class="card-icon-list padding-top-5">
													<span>
														<div class="feather-icon">
															<i data-feather="eye"></i>
														</div>
														120
													</span>
													<span>
														<div class="feather-icon">
															<i data-feather="download"></i>
														</div>	
														3
													</span>
													<span>
														<div class="feather-icon">
															<i data-feather="thumbs-up"></i>
														</div>	
														15
													</span>
												</div>
											</div>
											<div class="pull-right text-right">
												<span class="label label-primary">#Default</span>
												<span class="label label-primary">#Default</span>
											</div>
										</div>
									</div> 

									<div class="panel-body">
										<div class="row">
											<div class="col-md-6">
												<div class="img">
													<img src="../assets/img/guide/img_cards_example.jpg" alt="">
												</div>
												<a href="" class="btn btn-block btn-default color-primary margin-top-20">
													<div class="icon-feather font-size-20">
														<i data-feather="download-cloud"></i>
													</div>
												</a>
											</div>
											<div class="col-md-6">
												<p>
													Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business strategy. A well-designed website conveys your brand, engages visitors, and converts those visitors into loyal consumers.
												</p>
												<div class="version">
													Version 1.0
												</div>
												<div class="card card-type1">
													<div class="card-header">
														<div class="card-info-area">
															<div class="text-box">
																<div class="top">
																	<div class="title">
																		<b>Title</b>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="card-body">
														<p>
															We’ve been helping businesses achieve their online goals through creative web design since 2004. It’s time we help you do the same.
														</p>
													</div>
												</div>

												<h4 class="heading h4">
													Text Project / Name
												</h4>
												<p class="date">
													2020/07/01 13:50:24
												</p>
											</div>
										</div>
									</div> 
								</section>
							</div>
							
							<div class="col-md-4">
								<section class="panel panel-bordered panel-view">
									<div class="panel-heading">
										<h3 class="panel-title">
											Title
										</h3>
									</div>
									<div class="panel-body">
										<div class="card-info-area">
											<div class="square-mark">
												<img src="../assets/img/guide/card18_img2.jpg" alt="">
											</div>
											<div class="text-box">
												<div class="top">
													<a href="" class="title">
														<b>
															Title
														</b>
													</a>
													<div class="card-icon-list margin-top-10">
														<span>
															<div class="feather-icon">
																<i data-feather="eye"></i>
															</div>
															120
														</span>
														<span>
															<div class="feather-icon">
																<i data-feather="download"></i>
															</div>	
															3
														</span>
														<span>
															<div class="feather-icon">
																<i data-feather="thumbs-up"></i>
															</div>	
															15
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="card-info-area">
											<div class="square-mark">
												<img src="../assets/img/guide/card18_img2.jpg" alt="">
											</div>
											<div class="text-box">
												<div class="top">
													<a href="" class="title">
														<b>
															Title
														</b>
													</a>
													<div class="card-icon-list margin-top-10">
														<span>
															<div class="feather-icon">
																<i data-feather="eye"></i>
															</div>
															120
														</span>
														<span>
															<div class="feather-icon">
																<i data-feather="download"></i>
															</div>	
															3
														</span>
														<span>
															<div class="feather-icon">
																<i data-feather="thumbs-up"></i>
															</div>	
															15
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="card-info-area">
											<div class="square-mark">
												<img src="../assets/img/guide/card18_img2.jpg" alt="">
											</div>
											<div class="text-box">
												<div class="top">
													<a href="" class="title">
														<b>
															Title
														</b>
													</a>
													<div class="card-icon-list margin-top-10">
														<span>
															<div class="feather-icon">
																<i data-feather="eye"></i>
															</div>
															120
														</span>
														<span>
															<div class="feather-icon">
																<i data-feather="download"></i>
															</div>	
															3
														</span>
														<span>
															<div class="feather-icon">
																<i data-feather="thumbs-up"></i>
															</div>	
															15
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="card-info-area">
											<div class="square-mark">
												<img src="../assets/img/guide/card18_img2.jpg" alt="">
											</div>
											<div class="text-box">
												<div class="top">
													<a href="" class="title">
														<b>
															Title
														</b>
													</a>
													<div class="card-icon-list margin-top-10">
														<span>
															<div class="feather-icon">
																<i data-feather="eye"></i>
															</div>
															120
														</span>
														<span>
															<div class="feather-icon">
																<i data-feather="download"></i>
															</div>	
															3
														</span>
														<span>
															<div class="feather-icon">
																<i data-feather="thumbs-up"></i>
															</div>	
															15
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="panel panel-bordered panel-view">
									<div class="panel-heading">
										<h3 class="panel-title">
											Title
										</h3>
									</div>
									<div class="panel-body">
										
									</div>
								</section>

								<section class="panel panel-bordered panel-view">
									<div class="panel-body panel-view-mid">
										<div class="row">
											<div class="col-md-9">
												<span class="label label-pill label-success">info</span>
												<span class="margin-left-5">
													Title
												</span>
											</div>
											<div class="col-md-3 text-right">
												<a href="" class="grey-500">
													<div class="icon-feather font-size-20">
														<i data-feather="download-cloud"></i>
													</div>
												</a>
											</div>
										</div>
									</div>
									<div class="panel-body panel-view-mid">
										<div class="row">
											<div class="col-md-9">
												<span class="label label-pill label-info">info</span>
												<span class="margin-left-5">
													Title
												</span>
											</div>
											<div class="col-md-3 text-right">
												<a href="" class="grey-500">
													<div class="icon-feather font-size-20">
														<i data-feather="download-cloud"></i>
													</div>
												</a>
											</div>
										</div>
									</div>
								</section>

							</div>

						</div>
						

						
					</div>
				</div>
				<!-- // inner -->