<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<section class="panel panel-bordered">
							<div class="panel-heading">
								<h3 class="panel-title">
									Title
								</h3>
							</div> <!-- // panel-heading -->
							<div class="panel-body">
								<div class="text-right">
									<span class="color-danger">
										<b class="caution-star">*</b> 는 필수입력 사항입니다
									</span>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
								</div>

								<div class="row">
									<div class="col-sm-6">
										<label for="card01" class="input-card-type">
											<input type="radio" id="card01" name="card1" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
													<div class="text-area">
														<div class="title">Title</div>
														<p>
															Text
														</p>
													</div>
												</div>
											</div>
										</label>
									</div>
									<div class="col-sm-6">
										<label for="card02" class="input-card-type">
											<input type="radio" id="card02" name="card1" class="card-input-element" checked>
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
													<div class="text-area">
														<div class="title">Title</div>
														<p>
															Text
														</p>
													</div>
												</div>
											</div>
										</label>
									</div>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="Info Text" data-placement="top">
										i
									</a>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="" placeholder="Text">
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<button class="info-icon-tooltip popover-success" data-toggle="popover"  title="title" data-content="Vivamus sagittis lacus vel augue 
									laoreet rutrum faucibus." data-placement="right">
										i
									</button>
								</div>
								<div class="form-group">
									<textarea class="form-control" placeholder="Text" rows="4"></textarea>
								</div>

								<div class="row margin-top-30">
									<div class="col-md-6">
										<div class="write-sub-title">
											<b class="caution-star">*</b> Sub - Title
											<a href="#" class="info-icon-tooltip tooltip-danger" data-toggle="tooltip" title="Info Text" data-placement="right">
												i
											</a>
										</div>
										<ul class="list-inline">
											<li>
												<label for="card11" class="input-card-type">
													<input type="radio" id="card11" name="card11" class="card-input-element">
													<div class="card-input">
														<div class="card-type4">
															<div class="img-size70">
																<img src="../assets/img/icon/artificial-intelligence.png" alt="">
															</div>
														</div>
													</div>
													<p class="text-center">
														Text
													</p>
												</label>
											</li>
											<li>
												<label for="card12" class="input-card-type">
													<input type="radio" id="card12" name="card11" class="card-input-element" checked>
													<div class="card-input">
														<div class="card-type4">
															<div class="img-size70">
																<img src="../assets/img/icon/artificial-intelligence.png" alt="">
															</div>
														</div>
													</div>
													<p class="text-center">
														Text
													</p>
												</label>
											</li>
										</ul>
									</div>
									<div class="col-md-6">
										<div class="write-sub-title">
											<b class="caution-star">*</b> Sub - Title
											<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="Info Text" data-placement="top">
												i
											</a>
										</div>
										<ul class="list-inline">
											<li>
												<label for="card21" class="input-card-type">
													<input type="radio" id="card21" name="card21" class="card-input-element" checked>
													<div class="card-input">
														<div class="card-type4">
															<div class="img-size70">
																<img src="../assets/img/icon/artificial-intelligence.png" alt="">
															</div>
														</div>
													</div>
													<p class="text-center">
														Text
													</p>
												</label>
											</li>
											<li>
												<label for="card22" class="input-card-type">
													<input type="radio" id="card22" name="card21" class="card-input-element">
													<div class="card-input">
														<div class="card-type4">
															<div class="img-size70">
																<img src="../assets/img/icon/artificial-intelligence.png" alt="">
															</div>
														</div>
													</div>
													<p class="text-center">
														Text
													</p>
												</label>
											</li>
											<li>
												<label for="card23" class="input-card-type">
													<input type="radio" id="card23" name="card21" class="card-input-element">
													<div class="card-input">
														<div class="card-type4">
															<div class="img-size70">
																<img src="../assets/img/icon/artificial-intelligence.png" alt="">
															</div>
														</div>
													</div>
													<p class="text-center">
														Text
													</p>
												</label>
											</li>
										</ul>
									</div>
								</div>

							
							</div> <!-- // panel-body -->
						</section>

						<div class="margin-top-40 text-right">
							<button class="btn btn-lg btn-primary">Save</button>
							<button class="btn btn-lg btn-default">Cancel</button>
						</div>
						

						
					</div>
				</div>
				<!-- // inner -->