<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">Demo modal</button>
						
					</div>
				</div>
				<!-- // inner -->

				<div class="modal" id="modal1">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title">Large Modal Title</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-8">
										<div class="write-sub-title">
											<b class="caution-star">*</b> Sub - Title
										</div>
									</div>
									<div class="col-md-4 text-right">
										<button class="btn btn-sm btn-default">Button</button>
									</div>
								</div>
								<div class="table-wrap">
									<table class="table table-outline">
										<thead class="grey text-center">
											<tr>
												<th>
													Title
												</th>
												<th>
													Title
												</th>
												<th>
													Title
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<input type="text" class="form-control">
												</td>
												<td>
													<input type="text" class="form-control">
												</td>
												<td class="text-center">
													<button class="btn btn-nostyle btn-sm">
														<div class="feather-icon">
															<i data-feather="trash-2"></i>
														</div>
													</button>
												</td>
											</tr>
											<tr>
												<td>
													<input type="text" class="form-control form-control-sm">
												</td>
												<td>
													<input type="text" class="form-control form-control-sm">
												</td>
												<td class="text-center">
													<button class="btn btn-nostyle btn-sm">
														<div class="feather-icon">
															<i data-feather="trash-2"></i>
														</div>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="alert alert-danger" role="alert">
									<i data-feather="alert-triangle"></i>
									<div class="text-area">
										A simple primary alert—check it out!
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>