<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<div class="row">
							<div class="col-md-8">
								<section class="panel panel-bordered panel-view">
									<div class="panel-heading panel-view-top">
										<div class="clearfix">
											<div class="pull-left">
												<div class="card-icon-list padding-top-10">
													<span>
														<div class="feather-icon">
															<i data-feather="eye"></i>
														</div>
														120
													</span>
													<span>
														<div class="feather-icon">
															<i data-feather="download"></i>
														</div>	
														3
													</span>
													<span>
														<div class="feather-icon">
															<i data-feather="thumbs-up"></i>
														</div>	
														15
													</span>
												</div>
											</div>
											<div class="pull-right text-right">
												<button class="btn btn-sm btn-primary">button</button>
												<button class="btn btn-sm btn-default">
													<i class="xi-list"></i>
												</button>
											</div>
										</div>
									</div> <!-- // panel-heading -->
								

									<div class="panel-body">
										<div class="row">
											<div class="col-md-2">
												<div class="write-sub-title">
													Sub - Title
												</div>
											</div>
											<div class="col-md-10">
												<div class="grey-600 font-size-13">
													Text
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<div class="write-sub-title">
													Sub - Title
												</div>
											</div>
											<div class="col-md-10">
												<div class="grey-600 font-size-13">
													Text
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<div class="write-sub-title">
													Sub - Title
												</div>
											</div>
											<div class="col-md-10">
												<div class="grey-600 font-size-13">
													Text
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<div class="write-sub-title">
													Sub - Title
												</div>
											</div>
											<div class="col-md-10">
												<div class="form-group">
													<textarea class="form-control" id="" rows="6" disabled="">Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business strategy. A well-designed website conveys your brand, engages visitors, and converts those visitors into loyal consumers. 
													</textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<div class="write-sub-title">
													Sub - Title
												</div>
											</div>
											<div class="col-md-10">
												<div class="grey-600 font-size-13">
													Text
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<div class="write-sub-title">
													Sub - Title
												</div>
											</div>
											<div class="col-md-10">
												<div class="grey-600 font-size-13">
													Text
												</div>
											</div>
										</div>
									</div> 
								</section>
							</div>
							
							<div class="col-md-4">
								<section class="panel panel-bordered panel-view">
									<div class="panel-heading">
										<h3 class="panel-title">
											Title
										</h3>
									</div>
									<div class="panel-body">
										<div class="card-info-area bordered">
											<div class="round-mark round-mark-sm rgba-blue-strong">
												Text
											</div>
											<div class="text-box">
												<div class="top">
													<a href="" class="title">
														<b>
															api-gateway-d658b
														</b>
													</a>
													<div class="clearfix">
														<span class="font-size-13 grey-600">
															Test Project / Bin / 2020-05-01 00:00
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>

						</div>
						

						
					</div>
				</div>
				<!-- // inner -->