<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<div class="text-right margin-bottom-20">
							<span class="color-danger">
								<b class="caution-star">*</b> 는 필수입력 사항입니다
							</span>
						</div>

						<div class="board-warp board-write-wrap">
							<table class="table">
								<colgroup>
									<col style="width:170px">
									<col>
									<col style="width:170px">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th>
											<b class="caution-star">*</b> Title
											<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
												i
											</a>
										</th>
										<td colspan="3">
											<input type="text" class="form-control form-control-sm width-300">
										</td>
									</tr>
									<tr>
										<th>
											Title 
											<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
												i
											</a>
										</th>
										<td colspan="3">
											<div class="list-inline">
												<li>
													<div class="radio-group">
														<input type="radio" name="radio01" id="radio01" class="radio-input" checked>
														<label for="radio01" class="radio-item">
															<div class="radio">
																<div class="checked-icon"></div>
															</div>
															<span class="text">
																text
															</span>
														</label>
													</div>
												</li>
												<li>
													<div class="radio-group">
														<input type="radio" name="radio01" id="radio02" class="radio-input">
														<label for="radio02" class="radio-item">
															<div class="radio">
																<div class="checked-icon"></div>
															</div>
															<span class="text">
																text
															</span>
														</label>
													</div>
												</li>
												<li>
													<div class="radio-group">
														<input type="radio" name="radio01" id="radio03" class="radio-input">
														<label for="radio03" class="radio-item">
															<div class="radio">
																<div class="checked-icon"></div>
															</div>
															<span class="text">
																text
															</span>
														</label>
													</div>
												</li>
											</div>
										</td>
									</tr>
									<tr>
										<th>
											<b class="caution-star">*</b> Title
										</th>
										<td colspan="3">
											<div class="clearfix">
												<button class="btn btn-sm btn-primary">Button</button>
												<button class="btn btn-sm btn-default">Button</button>
												<button class="btn btn-sm btn-default">Button</button>
												<button class="btn btn-sm btn-default">Button</button>
											</div>
											<div class="clearfix margin-top-10">
												<button type="button" class="btn btn-outline btn-sm btn-primary"><i class="xi-user-o"></i></button>
												<button type="button" class="btn btn-outline btn-sm btn-default"><i class="xi-camera-o"></i></button>
												<button type="button" class="btn btn-outline btn-sm btn-default"><i class="xi-info-o"></i></button>
												<button type="button" class="btn btn-outline btn-sm btn-default"><i class="xi-check-circle-o"></i></button>
												<button type="button" class="btn btn-outline btn-sm btn-default"><i class="xi-ban"></i></button>
												<button type="button" class="btn btn-outline btn-sm btn-default"><i class="xi-warning"></i></button>
											</div>

										</td>
									</tr>
									<tr>
										<th>
											Title
										</th>
										<td colspan="3">
											<textarea name="" id="" rows="10" class="form-control"></textarea>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="text-right">
							<button class="btn btn-lg btn-primary">Save</button>
							<button class="btn btn-lg btn-default">Cancel</button>
						</div>
						

						
					</div>
				</div>
				<!-- // inner -->