<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">

		<button class="btn btn-lg btn-primary">
			<div class="feather-icon">
				<i data-feather="command"></i>
			</div>
			Lg-button
		</button>
		<button class="btn btn-lg btn-default">
			<div class="feather-icon">
				<i data-feather="user-check"></i>
			</div>
			Lg-button
		</button>
		<button class="btn btn-lg btn-default">
			<div class="feather-icon">
				<i data-feather="users"></i>
			</div>
			Lg-button
		</button>

		<ul class="nav nav-tabs nav-tabs-line nav-tabs-lg margin-vertical-20">
			<li class="active"><a href="#">프로젝트 1</a></li>
			<li><a href="#">프로젝트 2</a></li>
			<li><a href="#">프로젝트 3</a></li>
			<li class="disabled"><a href="#">프로젝트 4</a></li>
		</ul>

		<div class="card-input-wrap">
			<div class="row">
				<div class="col-md-6">
					<div class="font-size-18 padding-top-5">
						<b>제목 <span class="color-primary">(22)</span></b>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-right">
						<div class="form-group inline-block margin-bottom-0">
							<div class="input-icon-type2 icon-left">
								<span class="input-icon-addon">
									<i class="xi-search"></i>
								</span>
								<input type="text" class="form-control form-control-md">
							</div>
						</div>
						<button type="button" class="btn btn-primary">
							<div class="feather-icon">
								<i data-feather="grid"></i>
							</div>
							<span class="sr-only">Button</span>
						</button>
						<button type="button" class="btn btn-default">
							<div class="feather-icon">
								<i data-feather="list"></i>
							</div>
							<span class="sr-only">Button</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="card-list-wrap">
			<div class="row">
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										<a href="" title="새창" target="_blank">
											112.160.104.138:38811
											<span class="feather-icon">
												<i data-feather="copy"></i>
											</span>
										</a>
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										<a href="" title="새창" target="_blank">
											112.160.104.138:38811
											<span class="feather-icon">
												<i data-feather="copy"></i>
											</span>
										</a>
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										<a href="" title="새창" target="_blank">
											112.160.104.138:38811
											<span class="feather-icon">
												<i data-feather="copy"></i>
											</span>
										</a>
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										<a href="" title="새창" target="_blank">
											112.160.104.138:38811
											<span class="feather-icon">
												<i data-feather="copy"></i>
											</span>
										</a>
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										<a href="" title="새창" target="_blank">
											112.160.104.138:38811
											<span class="feather-icon">
												<i data-feather="copy"></i>
											</span>
										</a>
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										<a href="" title="새창" target="_blank">
											112.160.104.138:38811
											<span class="feather-icon">
												<i data-feather="copy"></i>
											</span>
										</a>
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>  

								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>

		<div class="table-bottom-wrap">
			<div class="row">
				<div class="col-sm-5">
					<span class="dataTables_info">
						1 - 10 of 23
					</span>
				</div>
				<div class="col-sm-7">
					<div class="datatable-paginate">
						<ul class="pagination pagination-md">
							<li><a href="#">Previous</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		
	</div>
</div>
<!-- // inner -->