<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<div class="text-right margin-bottom-20">
							<span class="color-danger">
								<b class="caution-star">*</b> 는 필수입력 사항입니다
							</span>
						</div>

						<div class="board-warp board-write-wrap">
							<table class="table">
								<colgroup>
									<col style="width:170px">
									<col>
									<col style="width:170px">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th>
											<b class="caution-star">*</b> Title
										</th>
										<td colspan="3">
											<select name="" id="" class="form-control form-control-sm width-200"></select>
										</td>
									</tr>
									<tr>
										<th>
											<b class="caution-star">*</b> Title
										</th>
										<td>
											<input type="text" class="form-control form-control-sm">
										</td>
										<th>
											<b class="caution-star">*</b> Title
										</th>
										<td>
											<input type="text" class="form-control form-control-sm">
										</td>
									</tr>
									<tr>
										<th>
											Title
										</th>
										<td colspan="3">
											text
										</td>
									</tr>
									<tr>
										<th>
											<b class="caution-star">*</b> Title
										</th>
										<td colspan="3">
											<div class="edit-wrap">
												<!-- 에디터영역 -->
											</div>
										</td>
									</tr>
									<tr>
										<th>
											Title
										</th>
										<td colspan="3">
											<input type="text" class="form-control form-control-sm">
										</td>
									</tr>
									<tr>
										<th>
											<b class="caution-star">*</b> Title
										</th>
										<td colspan="3">
											text
										</td>
									</tr>
									<tr>
										<th>
											<b class="caution-star">*</b> Title
										</th>
										<td colspan="3">
											<div class="btn btn-xs btn-info file-input-btn btn-file">
												Select file
												<input type="file" multiple>
											</div>
											<ul class="select-file-list">
												<li>
													<a href="" class="btn btn-nostyle btn-xs">
														file.file
														<i class="xi-close"></i>
													</a>
												</li>
												<li>
													<a href="" class="btn btn-nostyle btn-xs">
														file.file
														<i class="xi-close"></i>
													</a>
												</li>
												<li>
													<a href="" class="btn btn-nostyle btn-xs">
														file.file
														<i class="xi-close"></i>
													</a>
												</li>
											</ul>
										</td>
									</tr>
									<tr>
										<th>
											Title
										</th>
										<td>
											<div class="btn btn-xs btn-info file-input-btn btn-file">
												Select file
												<input type="file" multiple>
											</div>
											<ul class="select-file-list">
												<li>
													<a href="" class="btn btn-nostyle btn-xs">
														file.file
														<i class="xi-close"></i>
													</a>
												</li>
											</ul>
										</td>
										<th>
											<b class="caution-star">*</b> Title
										</th>
										<td>
											<div class="btn btn-xs btn-info file-input-btn btn-file">
												Select file
												<input type="file" multiple>
											</div>
											<ul class="select-file-list">
												<li>
													<a href="" class="btn btn-nostyle btn-xs">
														file.file
														<i class="xi-close"></i>
													</a>
												</li>
											</ul>
										</td>
									</tr>
									
									
								</tbody>
							</table>
						</div>

						<div class="margin-top-40 text-right">
							<button class="btn btn-lg btn-primary">Save</button>
							<button class="btn btn-lg btn-default">Cancel</button>
						</div>
						

						
					</div>
				</div>
				<!-- // inner -->