<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<section class="panel panel-bordered">
							<div class="panel-heading">
								<h3 class="panel-title">
									Title
								</h3>
							</div> <!-- // panel-heading -->
							<div class="panel-body">
								<div class="text-right">
									<span class="color-danger">
										<b class="caution-star">*</b> 는 필수입력 사항입니다
									</span>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="Info Text" data-placement="top">
										i
									</a>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" id="" placeholder="Text">
										</div>
									</div>
								</div>
						
							</div> 

							<div class="panel-body">
								<h3 class="panel-title title-type2">
									Title
								</h3>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
										i
									</a>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select class="form-control">
												<option value="ALL">All</option>
											</select>
										</div>
									</div>
								</div>

								<div class="alert alert-primary margin-vertical-20" role="alert">
									<i data-feather="thumbs-up"></i>
									<div class="text-area">
										A simple info alert—check it out! <br>
										A simple info alert—check it out!
									</div>
								</div>

								<div class="text-center margin-top-20">
									<button class="btn btn-primary width-100">
										Button
									</button>
								</div>
							</div>

							<div class="panel-body">
								<h3 class="panel-title title-type2">
									Title
								</h3>
								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
										i
									</a>
								</div>
								<div class="form-inline">
									<div class="form-group">
										<div class="input-icon-type2 icon-left">
											<span class="input-icon-addon">
												<i class="xi-calendar"></i>
											</span>
											<input type="text" class="form-control datepicker">
										</div>
									</div>
									<div class="form-group">
										<select class="form-control">
											<option value="">Text</option>
										</select>
									</div>
									<div class="form-group">
										<select class="form-control">
											<option value="">Option</option>
										</select>
									</div>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
										i
									</a>
								</div>
								<ul class="list-inline">
									<li>
										<label for="card11" class="input-card-type">
											<input type="radio" id="card11" name="card11" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
												</div>
											</div>
											<p class="text-center">
												Text
											</p>
										</label>
									</li>
									<li>
										<label for="card12" class="input-card-type">
											<input type="radio" id="card12" name="card11" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
												</div>
											</div>
											<p class="text-center">
												Text
											</p>
										</label>
									</li>
									<li>
										<label for="card13" class="input-card-type">
											<input type="radio" id="card13" name="card11" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
												</div>
											</div>
											<p class="text-center">
												Text
											</p>
										</label>
									</li>
									<li>
										<label for="card14" class="input-card-type">
											<input type="radio" id="card14" name="card11" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
												</div>
											</div>
											<p class="text-center">
												Text
											</p>
										</label>
									</li>
									<li>
										<label for="card15" class="input-card-type">
											<input type="radio" id="card15" name="card11" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
												</div>
											</div>
											<p class="text-center">
												Text
											</p>
										</label>
									</li>
									<li>
										<label for="card16" class="input-card-type">
											<input type="radio" id="card16" name="card11" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
												</div>
											</div>
											<p class="text-center">
												Text
											</p>
										</label>
									</li>
									<li>
										<label for="card17" class="input-card-type">
											<input type="radio" id="card17" name="card11" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
												</div>
											</div>
											<p class="text-center">
												Text
											</p>
										</label>
									</li>
									<li>
										<label for="card18" class="input-card-type">
											<input type="radio" id="card18" name="card11" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
												</div>
											</div>
											<p class="text-center">
												Text
											</p>
										</label>
									</li>
								</ul>

								<div class="row margin-top-20">
									<div class="col-sm-3">
										<div class="form-inline">
											<div class="radio-group">
												<input type="radio" name="radio01" id="radio01" class="radio-input" checked>
												<label for="radio01" class="radio-item">
													<div class="radio">
														<div class="checked-icon"></div>
													</div>
													<span class="text">
														Text
													</span>
												</label>
											</div>
											<div class="form-group">
												<select class="form-control">
													<option value="">Text</option>
												</select>
												<span class="text">Text</span>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-inline">
											<div class="radio-group">
												<input type="radio" name="radio01" id="radio02" class="radio-input">
												<label for="radio02" class="radio-item">
													<div class="radio">
														<div class="checked-icon"></div>
													</div>
												</label>
											</div>
											<div class="form-group">
												<select class="form-control">
													<option value="">Text</option>
												</select>
											</div>
											<div class="form-group">
												<select class="form-control">
													<option value="">Text</option>
												</select>
												<span class="text">Text</span>
											</div>
										</div>
									</div>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="" data-placement="top" data-original-title="Info Text">
										i
									</a>
								</div>
								<div class="form-inline">
									<div class="form-group">
										<div class="input-icon-type2 icon-left">
											<span class="input-icon-addon">
												<i class="xi-calendar"></i>
											</span>
											<input type="text" class="form-control datepicker">
										</div>
									</div>
									<div class="checkbox-group">
										<input type="checkbox" id="checkbox01" class="checkbox-input" checked>
										<label for="checkbox01" class="checkbox-item">
											<div class="checkbox">
												<div class="checked-icon">
													<i class="xi-check"></i>
												</div>
											</div>
											<span class="text">
												text
											</span>
										</label>
									</div>
									
								</div>

							</div>
						</section>

						<div class="margin-top-40 text-right">
							<button class="btn btn-lg btn-primary">Save</button>
							<button class="btn btn-lg btn-default">Cancel</button>
						</div>
						

						
					</div>
				</div>
				<!-- // inner -->