<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">
		
		<section class="panel panel-bordered">
			<div class="panel-heading padding-vertical-10 padding-horizontal-20">
				<div class="row">
					<div class="col-sm-6">
						<div>
							<b>Title</b>
						</div>
					</div>
					<div class="col-sm-6 text-right form-inline">
						<div class="margin-right-20">
							<span class="margin-right-5">Color</span>
							<select name="" id="" class="form-control form-control-sm">
								<option value="">Color</option>
							</select>
						</div>
						<div class="">
							<span class="margin-right-5">Color</span>
							<select name="" id="" class="form-control form-control-sm">
								<option value="">Color</option>
							</select>
						</div>
					</div>
				</div>
				
			</div> <!-- // panel-heading -->
			<div class="panel-body">
				
				<div class="img-scroll-wrap">
					<div class="scroll-content">
						<ul>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img1.jpg" alt="">
								</a>
							</li>
							<li>
								<a href="" class="img">
									<img src="../assets/img/guide/card16_img2.jpg" alt="">
								</a>
							</li>
							
						</ul>
					
					</div>
				</div>

				<div class="margin-top-20 text-right">
					<button class="btn btn-default">Button</button>
					<button class="btn btn-primary">Button</button>
				</div>

			</div> <!-- // panel-body -->
		</section>

		<div class="margin-top-20">
			<div class="row">
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-7">
												<div class="title">
													<b>
														api-gateway-d658b
													</b>
												</div>
											</div>
											<div class="col-xs-5 text-right">
												<button class="btn btn-sm btn-default">button</button>
												<a href="" class="btn btn-sm btn-primary" title="다운로드">
													<div class="feather-icon">
														<i data-feather="download"></i>
													</div>
												</a>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="img text-center">
								<img src="../assets/img/guide/card16_img3.jpg" alt="">
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-xs-7">
									Text 10sec
								</div>
								<div class="col-xs-5 text-right">
									<button class="btn btn-sm btn-default">button</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="title">
											<b>
												api-gateway-d658b
											</b>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="img text-center">
								<img src="../assets/img/guide/card16_img4.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="title">
											<b>
												api-gateway-d658b
											</b>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="img text-center">
								<img src="../assets/img/guide/card16_img4.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!-- // inner -->