<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<section class="panel panel-bordered">
							<div class="panel-heading">
								<h3 class="panel-title">
									Title
								</h3>
							</div> <!-- // panel-heading -->
							<div class="panel-body">

								<div class="form-wizard">
									<form action="" method="post" role="form">
										<!-- form-wizard-header -->
										<div class="form-wizard-header">
											<ul class="form-wizard-steps row">
												<li class="col-md-2 activated">
													<div class="text-area text-center">
														<strong class="title">Step 1</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2 activated">
													<div class="text-area text-center">
														<strong class="title">Step 2</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2 activated">
													<div class="text-area text-center">
														<strong class="title">Step 3</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2 activated">
													<div class="text-area text-center">
														<strong class="title">Step 4</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2 activated">
													<div class="text-area text-center">
														<strong class="title">Step 5</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
												<li class="col-md-2 active">
													<div class="text-area text-center">
														<strong class="title">Step 6</strong>
														<small>
															This is step description
														</small>
													</div>
													<div class="dot-area">
														<span class="dot"></span>
													</div>
												</li>
											</ul>
										</div>
										<!-- //form-wizard-header -->

										<!-- form-wizard-body -->
										<fieldset class="wizard-fieldset show">
											<div class="alert alert-primary" role="alert">
												<i data-feather="file-text"></i>
												<div class="text-area">
													A simple light alert with an example link. 
												</div>
											</div>
											
											<div class="card card-type6">
												<div class="card-body">
													<div class="clearfix">
														<div class="img-size64">
															<img src="../assets/img/icon/artificial-intelligence.png" alt="">
														</div>
														<div class="text-box">
															<strong class="color-primary">배포중 입니다</strong>
															<span>잠시만 기다려주세요</span>
														</div>
													</div>
												</div>
											</div>

											<div class="card card-type6">
												<div class="card-body">
													<div class="clearfix">
														<div class="img-size64">
															<img src="../assets/img/icon/artificial-intelligence.png" alt="">
														</div>
														<div class="text-box">
															<strong class="color-primary">배포중 입니다</strong>
														</div>
													</div>
												</div>
											</div>

											<div class="card card-type6">
												<div class="card-body">
													<div class="clearfix">
														<div class="img-size64">
															<img src="../assets/img/icon/artificial-intelligence.png" alt="">
														</div>
														<div class="text-box">
															<strong class="color-danger">배포 실패하였습니다</strong>
														</div>
													</div>
												</div>
											</div>
										</fieldset>	
										<!-- //form-wizard-body -->
									</form>
								</div>
								
							
							</div> <!-- // panel-body -->
						</section>

						<div class="margin-top-40 text-right">
							<button class="btn btn-lg btn-primary">Save</button>
							<button class="btn btn-lg btn-default">Cancel</button>
						</div>
						

						
					</div>
				</div>
				<!-- // inner -->