<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<ul class="tab-dropdown-wrap">
							<li class="active">
								<div class="dropdown">
									<a href="" class="tab-dropdown-btn" data-toggle="dropdown">
										<span class="category rgba-cyan-strong">
											공용
										</span>
										<span class="text">
											public-cluster1
										</span>
										<span class="arr">
											<i class="xi-angle-down"></i>
										</span>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<div class="scroll-content height-200">
												<ul>
													<li class="dropdown-header">Action</li>
													<li class="sub-option">
														<a href="#">
															<span class="category rgba-green-strong">
																전용
															</span>
															<span class="text">Another action</span>
														</a>
													</li>
													<li class="sub-option">
														<a href="#">
															<span class="category rgba-cyan-strong">
																공용
															</span>
															<span class="text">Something else here</span>
														</a>
													</li>
													
												</ul>
											</div>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<div class="feather-icon">
													<i data-feather="box"></i>
												</div>
												Last action
											</a>
										</li>

										<li class="divider"></li>
										<li>
											<a href="#">
												<div class="feather-icon">
													<i data-feather="calendar"></i>
												</div>
												Last action
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="dropdown">
									<a href="" class="tab-dropdown-btn" data-toggle="dropdown">
										<span class="text">
											리소스
										</span>
										<span class="arr">
											<i class="xi-angle-down"></i>
										</span>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<div class="scroll-content height-200">
												<ul>
													<li class="dropdown-header">Action</li>
													<li class="sub-option">
														<a href="#">
															<span class="category rgba-green-strong">
																전용
															</span>
															<span class="text">Another action</span>
														</a>
													</li>
													<li class="sub-option">
														<a href="#">
															<span class="category rgba-cyan-strong">
																공용
															</span>
															<span class="text">Something else here</span>
														</a>
													</li>
													<li class="sub-option">
														<a href="#">
															<span class="category rgba-green-strong">
																전용
															</span>
															<span class="text">Another action</span>
														</a>
													</li>
													<li class="sub-option">
														<a href="#">
															<span class="category rgba-cyan-strong">
																공용
															</span>
															<span class="text">Something else here</span>
														</a>
													</li>
													<li class="sub-option">
														<a href="#">
															<span class="category rgba-green-strong">
																전용
															</span>
															<span class="text">Another action</span>
														</a>
													</li>
													<li class="sub-option">
														<a href="#">
															<span class="category rgba-cyan-strong">
																공용
															</span>
															<span class="text">Something else here</span>
														</a>
													</li>
													
												</ul>
											</div>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<div class="feather-icon">
													<i data-feather="box"></i>
												</div>
												Last action
											</a>
										</li>

										<li class="divider"></li>
										<li>
											<a href="#">
												<div class="feather-icon">
													<i data-feather="calendar"></i>
												</div>
												Last action
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="" class="tab-dropdown-btn">
									카탈로그 앱
								</a>
							</li>
							<li>
								<a href="" class="tab-dropdown-btn">
									네임스페이스
								</a>
							</li>
							<li>
								<a href="" class="tab-dropdown-btn">
									지원도구
								</a>
							</li>
						</ul>

						<div class="card-input-wrap">
							<div class="row">
								<div class="col-md-6">
									<div class="font-size-18 padding-top-5">
										<b>제목 <span class="color-primary">(22)</span></b>
									</div>
								</div>
								<div class="col-md-6">
									<div class="text-right">
										<button class="btn btn-sm btn-outline btn-danger">button</button>
										<div class="dropdown pull-right margin-left-5	">
											<button type="button" class="btn btn-sm btn-nostyle dropdown-toggle" data-toggle="dropdown">
												<div class="feather-icon">
													<i data-feather="more-horizontal"></i>
												</div>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li>
													<a href="#">
														<i data-feather="file-text" class="dropdown-icon"></i>
														View Logs
													</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">
														<i data-feather="edit-3"  class="dropdown-icon"></i>
														View/Edit YAML
													</a>
												</li>
												<li>
													<a href="#">
														<i data-feather="link-2"  class="dropdown-icon"></i>
														View in API
													</a>
												</li>
												<li>
													<a href="#">
														<i data-feather="link"  class="dropdown-icon"></i>
														Go to Grafana
													</a>
												</li>
												<li class="divider"></li>
												<li>
													<a href="#">
														<i data-feather="trash-2" class="dropdown-icon"></i>
														삭제
													</a>
												</li>
											</ul>
										</div>	
									</div>
								</div>
							</div>
						</div>

						<div class="alert alert-danger alert-dismissible" role="alert">
							<div class="feather-icon">
								<i data-feather="alert-triangle"></i>
							</div>
							<span>
								A simple light alert with an example link. 
							</span>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="card card-type1">
									<div class="card-body">
										<div class="clearfix">
											<div class="img-size42">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<div>
													<span class="color-primary">
														Text
													</span>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="card card-type1">
									<div class="card-body">
										<div class="clearfix">
											<div class="img-size42">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<div>
													<span class="color-primary">
														Text
													</span>
													<span class="feather-icon grey-500">
														<i data-feather="file-text"></i>
													</span>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="card card-type1">
									<div class="card-body">
										<div class="clearfix">
											<div class="img-size42">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<div>
													<span class="color-primary">
														Text
													</span>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="card card-type1">
									<div class="card-body">
										<div class="clearfix">
											<div class="img-size42">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<div>
													<span class="color-primary">
														Text
													</span>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="card card-type1">
									<div class="card-body">
										<div class="clearfix">
											<div class="img-size42">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<ul class="list-inline">
													<li>
														<span class="color-primary margin-right-5">
															Text
														</span>
														<button class="btn btn-xs btn-primary">
															<i class="xi-minus"></i>
														</button>
														<button class="btn btn-xs btn-primary">
															<i class="xi-plus"></i>
														</button>
													</li>
													<li>
														Text : 0
													</li>
												</ul>
											</div>
										</div>
										
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="card card-type1">
									<div class="card-body">
										<div class="clearfix">
											<div class="img-size42">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<ul class="list-inline">
													<li>
														<span class="color-primary">
															Text
														</span>
													</li>
													<li>
														Text : 0
													</li>
												</ul>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>

						<div class="text-right">
							<a href="" class="btn btn-link">Link</a>
						</div>

						

						<div class="panel-group" id="basicCollapse">
							<div class="panel panel-bordered">
								<div class="panel-heading">
									<a class="panel-title" data-toggle="collapse" href="#basicCollapse1" aria-expanded="false">
										<div class="clearfix">
											<div class="img-size50">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<div class="text">
													Test Project / Bin / 2020-05-01 00:00
												</div>
											</div>
										</div>
									</a>
								</div>
								<div class="panel-collapse collapse" id="basicCollapse1">
									<div class="panel-body">
										Good web design does more than look good, it also provides a great user experience. A good user experience (UX) can dramatically improve the results of your website, leading to more revenue and loyal clients.
									</div>
								</div>
							</div>
							<div class="panel panel-bordered">
								<div class="panel-heading">
									<a class="panel-title" data-toggle="collapse" href="#basicCollapse2" aria-expanded="true">
										<div class="clearfix">
											<div class="img-size50">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<div class="text">
													Test Project / Bin / 2020-05-01 00:00
												</div>
											</div>
										</div>
									</a>
								</div>
								<div class="panel-collapse collapse in" id="basicCollapse2">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-6">
												<a href="" class="btn btn-sm btn-default">sm-button</a>
												<a href="" class="btn btn-sm btn-default">sm-button</a>
											</div>
											<div class="col-md-6 text-right">
												<div class="form-inline">
													<select name="" id="" class="form-control form-control-sm">
														<option value="">text</option>
													</select>
													<button class="btn btn-sm btn-primary">
														<i class="xi-refresh"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="card-content-area">
											<!-- 콘텐츠가 들어가는 영역입니다  -->
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-bordered">
								<div class="panel-heading">
									<a class="panel-title" data-toggle="collapse" href="#basicCollapse3" aria-expanded="false">
										<div class="clearfix">
											<div class="img-size50">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<div class="text">
													Test Project / Bin / 2020-05-01 00:00
												</div>
											</div>
										</div>
									</a>
								</div>
								<div class="panel-collapse collapse" id="basicCollapse3">
									<div class="panel-body">
										Good web design does more than look good, it also provides a great user experience. A good user experience (UX) can dramatically improve the results of your website, leading to more revenue and loyal clients.
									</div>
								</div>
							</div>
							<div class="panel panel-bordered">
								<div class="panel-heading">
									<a class="panel-title" data-toggle="collapse" href="#basicCollapse4" aria-expanded="false">
										<div class="clearfix">
											<div class="img-size50">
												<img src="../assets/img/icon/artificial-intelligence.png" alt="">
											</div>
											<div class="text-box">
												<div><b>Title</b></div>
												<div class="text">
													Test Project / Bin / 2020-05-01 00:00
												</div>
											</div>
										</div>
									</a>
								</div>
								<div class="panel-collapse collapse" id="basicCollapse4">
									<div class="panel-body">
										Good web design does more than look good, it also provides a great user experience. A good user experience (UX) can dramatically improve the results of your website, leading to more revenue and loyal clients.
									</div>
								</div>
							</div>
						</div>

						
						

						
					</div>
				</div>
				<!-- // inner -->