<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<div class="card card-type2">
							<div class="card-header">
								<div class="card-info-area">
									<div class="text-box">
										<div class="top">
											<div class="row">
												<div class="col-xs-10">
													<a href="" class="title">
														<b>
															Hello_hubpop_Python
														</b>
													</a>
												</div>
												<div class="col-xs-2">
													<div class="dropdown pull-right">
														<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
															<div class="feather-icon">
																<i data-feather="more-horizontal"></i>
															</div>
														</button>
														<ul class="dropdown-menu" role="menu">
															<li>
																<a href="#">
																	<i data-feather="file-text" class="dropdown-icon"></i>
																	View Logs
																</a>
															</li>
															<li class="divider"></li>
															<li>
																<a href="#">
																	<i data-feather="edit-3"  class="dropdown-icon"></i>
																	View/Edit YAML
																</a>
															</li>
															<li>
																<a href="#">
																	<i data-feather="link-2"  class="dropdown-icon"></i>
																	View in API
																</a>
															</li>
															<li>
																<a href="#">
																	<i data-feather="link"  class="dropdown-icon"></i>
																	Go to Grafana
																</a>
															</li>
															<li class="divider"></li>
															<li>
																<a href="#">
																	<i data-feather="trash-2" class="dropdown-icon"></i>
																	삭제
																</a>
															</li>
														</ul>
													</div>	
												</div>
											</div>	
											<div class="row">
												<div class="col-sm-6">
													<span class="lagn">
														<span class="img">
															<img src="../assets/img/common/icon_python.jpg" alt="">
														</span>
														Python 3.8
													</span>
												</div>
												<div class="col-sm-6">
													<div class="text-right">
														<span class="state">
															<div class="state-round"></div>
															state
														</span>
														<span class="left-bar">
															<b>tit</b>
															<span>text2</span>
														</span>
														<span class="left-bar">
															<b>tit</b>
															<span>text3</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="ellipsis">
									Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business strategy. A well-designed website conveys your brand, engages visitors, and converts those visitors into loyal consumers.
								</div>
								<a href="" class="btn btn btn-link">Link</a>
							</div>
						</div>

						<ul class="nav nav-tabs nav-tabs-line nav-tabs-lg margin-bottom-20">
							<li><a href="#">프로젝트 1</a></li>
							<li class="active"><a href="#">프로젝트 2</a></li>
							<li><a href="#">프로젝트 3</a></li>
						</ul>

						<section class="panel panel-bordered">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-7">
										<h3 class="panel-title">
											Hello_hubpop_Python
										</h3>
									</div>
									<div class="col-md-5 text-right">
										<div class="form-inline panel-heading-right">
											<div class="form-group">
												<select name="" id="" class="form-control form-control-sm">
													<option value="">text</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- // panel-heading -->
							<div class="panel-body">
								<div class="table-wrap">
									<table class="table table-outline text-center">
										<thead class="bg-blue-grey-100">
											<tr>
												<th scope="col">No</th>
												<th scope="col">Title</th>
												<th scope="col">Title</th>
												<th scope="col">Title</th>
												<th scope="col">Title</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
											</tr>	
											<tr>
												<td>2</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
											</tr>	
											<tr>
												<td>3</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
											</tr>	
											<tr>
												<td>4</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
											</tr>	
											<tr>
												<td>5</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
												<td>text</td>
											</tr>													
										</tbody>
									</table>
								</div>

								<div class="text-right margin-top-10">
									<ul class="pagination pagination-sm">
										<li><a href="#">Previous</a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#">Next</a></li>
									</ul>
								</div>

							</div> <!-- // panel-body -->
						</section>

						<section class="panel panel-bordered">
							<div class="panel-heading">
								<div class="form-inline">
									<a href="" class="panel-back-btn" title="뒤로가기">
										<i class="xi-angle-left"></i>
									</a>
									<h3 class="panel-title">
										Hello_hubpop_Python
									</h3>
								</div>
							</div> <!-- // panel-heading -->
							<div class="panel-body">
								<div class="row">
									<div class="col-md-2">
										<ul class="list-dot">
											<li>
												<b>Title </b> 
												<span>
													text
												</span>
											</li>
										</ul>
									</div>
									<div class="col-md-2">
										<ul class="list-dot">
											<li>
												<b>Title </b> 
												<span>
													text
												</span>
											</li>
										</ul>
									</div>
								</div>
								
							</div> <!-- // panel-body -->
						</section>

						
					</div>
				</div>
				<!-- // inner -->