<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">

		<button class="btn btn-lg btn-primary">
			<div class="feather-icon">
				<i data-feather="command"></i>
			</div>
			함수 등록
		</button>

		<div class="card-input-wrap">
			<div class="row">
				<div class="col-md-6">
					<div class="font-size-18 padding-top-5">
						<b>제목 <span class="color-primary">(22)</span></b>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-right">
						<div class="form-group inline-block margin-bottom-0">
							<div class="input-icon-type2 icon-left">
								<span class="input-icon-addon">
									<i class="xi-search"></i>
								</span>
								<input type="text" class="form-control form-control-md">
							</div>
						</div>
						<button type="button" class="btn btn-primary">
							<div class="feather-icon">
								<i data-feather="grid"></i>
							</div>
							<span class="sr-only">Button</span>
						</button>
						<button type="button" class="btn btn-default">
							<div class="feather-icon">
								<i data-feather="list"></i>
							</div>
							<span class="sr-only">Button</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="card-list-wrap">
			<div class="row">
				<div class="col-md-4">
					<div class="card card-type2">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="clearfix">
											<a href="" class="title">
												<b>
													Hello_hubpop_Python
												</b>
											</a>
										</div>
										<div class="clearfix">
											<span class="lagn">
												<span class="img">
													<img src="../assets/img/common/icon_python.jpg" alt="">
												</span>
												Python 3.8
											</span>
											<span class="state pull-right">
												<div class="state-round"></div>
												등록중
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="ellipsis">
								함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>트리거 연결  건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>백엔드 서비스 연결 건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>등록 : </b>
									<span>
										2020-01-02 00:00 홍길동
									</span>
								</li>
								<li>
									<b>수정 : </b>
									<span>
										2020-01-02 00:00 김기동
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-type2">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="clearfix">
											<a href="" class="title">
												<b>
													Hello_hubpop_Python
												</b>
											</a>
										</div>
										<div class="clearfix">
											<span class="lagn">
												<span class="img">
													<img src="../assets/img/common/icon_node.jpg" alt="">
												</span>
												Node.js 12.x
											</span>
											<span class="state pull-right">
												<div class="state-round"></div>
												등록중
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="ellipsis">
								함수 설명이 한 줄 일 경우
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>트리거 연결  건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>백엔드 서비스 연결 건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>등록 : </b>
									<span>
										2020-01-02 00:00 홍길동
									</span>
								</li>
								<li>
									<b>수정 : </b>
									<span>
										2020-01-02 00:00 김기동
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-type2">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="clearfix">
											<a href="" class="title">
												<b>
													Hello_hubpop_Python
												</b>
											</a>
										</div>
										<div class="clearfix">
											<span class="lagn">
												<span class="img">
													<img src="../assets/img/common/icon_python.jpg" alt="">
												</span>
												Python 3.8
											</span>
											<span class="state pull-right">
												<div class="state-round"></div>
												등록중
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="ellipsis">
								함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>트리거 연결  건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>백엔드 서비스 연결 건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>등록 : </b>
									<span>
										2020-01-02 00:00 홍길동
									</span>
								</li>
								<li>
									<b>수정 : </b>
									<span>
										2020-01-02 00:00 김기동
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card card-type2">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="clearfix">
											<a href="" class="title">
												<b>
													Hello_hubpop_Python
												</b>
											</a>
										</div>
										<div class="clearfix">
											<span class="lagn">
												<span class="img">
													<img src="../assets/img/common/icon_python.jpg" alt="">
												</span>
												Python 3.8
											</span>
											<span class="state pull-right">
												<div class="state-round"></div>
												등록중
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="ellipsis">
								함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>트리거 연결  건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>백엔드 서비스 연결 건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>등록 : </b>
									<span>
										2020-01-02 00:00 홍길동
									</span>
								</li>
								<li>
									<b>수정 : </b>
									<span>
										2020-01-02 00:00 김기동
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-type2">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="clearfix">
											<a href="" class="title">
												<b>
													Hello_hubpop_Python
												</b>
											</a>
										</div>
										<div class="clearfix">
											<span class="lagn">
												<span class="img">
													<img src="../assets/img/common/icon_node.jpg" alt="">
												</span>
												Node.js 12.x
											</span>
											<span class="state pull-right">
												<div class="state-round"></div>
												등록중
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="ellipsis">
								함수 설명이 한 줄 일 경우
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>트리거 연결  건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>백엔드 서비스 연결 건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>등록 : </b>
									<span>
										2020-01-02 00:00 홍길동
									</span>
								</li>
								<li>
									<b>수정 : </b>
									<span>
										2020-01-02 00:00 김기동
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-type2">
						<div class="card-header">
							<div class="card-info-area">
								<div class="text-box">
									<div class="top">
										<div class="clearfix">
											<a href="" class="title">
												<b>
													Hello_hubpop_Python
												</b>
											</a>
										</div>
										<div class="clearfix">
											<span class="lagn">
												<span class="img">
													<img src="../assets/img/common/icon_python.jpg" alt="">
												</span>
												Python 3.8
											</span>
											<span class="state pull-right">
												<div class="state-round"></div>
												등록중
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="ellipsis">
								함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>트리거 연결  건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>백엔드 서비스 연결 건 수 : </b>
									<span>
										2건
									</span>
								</li>
								<li>
									<b>등록 : </b>
									<span>
										2020-01-02 00:00 홍길동
									</span>
								</li>
								<li>
									<b>수정 : </b>
									<span>
										2020-01-02 00:00 김기동
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</div>

		<div class="row">
			<div class="col-sm-5">
				<span class="dataTables_info">
					1 - 10 of 23
				</span>
			</div>
			<div class="col-sm-7">
				<nav class="text-right">
					<ul class="pagination">
						<li class="page-btn-text prev"><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
						<li><a href="#">1</a></li>
						<li class="active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li class="page-btn-text next"><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>


		
	</div>
</div>
<!-- // inner -->