<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">
		<div class="card-input-wrap">
			<div class="font-size-18">
				<b>제목 <span class="color-primary">(22)</span></b>
			</div>
		</div>

		<div class="row">
			<!-- left -->
			<div class="col-md-3">
				<div class="card card-type3">
					<div class="card-header">
						<div class="card-info-area">
							<div class="title">
								<b>
									Title
								</b>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="font-size-13 margin-bottom-10"><b>Sub - Title</b></div>
						<div class="margin-bottom-10">
							<select class="form-control">
								<option value="ALL">All</option>
							</select>
						</div>
						<div class="form-btn-group">
							<div class="form-group margin-bottom-0">
								<input type="text" class="form-control" id="" placeholder="Search">
							</div>
							<button type="button" class="btn btn-primary">
								<div class="feather-icon">
									<i data-feather="search"></i>
								</div>
								<span class="sr-only">Button</span>
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="font-size-13 margin-bottom-10"><b>Sub - Title</b></div>
						<div class="row">
							<div class="col-xs-4">
								<label for="card11" class="input-card-type">
									<input type="radio" id="card11" name="card11" class="card-input-element" checked>
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">
												<img src="../assets/img/guide/card18_img1.jpg" alt="">
											</div>
											<div class="caption">
												text
											</div>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-4">
								<label for="card12" class="input-card-type">
									<input type="radio" id="card12" name="card11" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">
												<img src="../assets/img/guide/card18_img1.jpg" alt="">
											</div>
											<div class="caption">
												text
											</div>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-4">
								<label for="card13" class="input-card-type">
									<input type="radio" id="card13" name="card11" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">
												<img src="../assets/img/guide/card18_img1.jpg" alt="">
											</div>
											<div class="caption">
												text
											</div>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-4">
								<label for="card14" class="input-card-type">
									<input type="radio" id="card14" name="card11" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">
												<img src="../assets/img/guide/card18_img1.jpg" alt="">
											</div>
											<div class="caption">
												text
											</div>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-4">
								<label for="card15" class="input-card-type">
									<input type="radio" id="card15" name="card11" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">
												<img src="../assets/img/guide/card18_img1.jpg" alt="">
											</div>
											<div class="caption">
												text
											</div>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-4">
								<label for="card16" class="input-card-type">
									<input type="radio" id="card16" name="card11" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">
												<img src="../assets/img/guide/card18_img1.jpg" alt="">
											</div>
											<div class="caption">
												text
											</div>
										</div>
									</div>
								</label>
							</div>
						
						</div>
					</div>
					<div class="card-body">
						<div class="font-size-13 margin-bottom-10"><b>Sub - Title</b></div>
						<div class="row">
							<div class="col-xs-6">
								<label for="card21" class="input-card-type">
									<input type="radio" id="card21" name="card21" class="card-input-element" checked>
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">
												<img src="../assets/img/guide/card18_img1.jpg" alt="">
											</div>
											<div class="caption">
												text
											</div>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-6">
								<label for="card22" class="input-card-type">
									<input type="radio" id="card22" name="card21" class="card-input-element" checked>
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">
												<img src="../assets/img/guide/card18_img1.jpg" alt="">
											</div>
											<div class="caption">
												text
											</div>
										</div>
									</div>
								</label>
							</div>

						
						
						</div>
					</div>
				</div>
			</div>

			<!-- right -->
			<div class="col-md-9">
				<div class="margin-bottom-20">
					<a href="" class="btn btn-default btn-lg">
						<div class="feather-icon color-primary">
							<i data-feather="server"></i>
						</div>
						<b>Button</b>
					</a>
				</div>

				<div class="card-list-wrap">
					<div class="card card-type1 margin-bottom-20">
						<div class="card-header">
							<div class="card-info-area">
								<div class="round-mark bg-yellow-800">
									t
								</div>
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b class="blue-700">[00000]</b>
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																<i data-feather="file-text" class="dropdown-icon"></i>
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="edit-3"  class="dropdown-icon"></i>
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link-2"  class="dropdown-icon"></i>
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link"  class="dropdown-icon"></i>
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="trash-2" class="dropdown-icon"></i>
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
										<div class="clearfix font-size-13 grey-600">
											<span>
												<div class="feather-icon">
													<i data-feather="unlock"></i>
												</div>
												state
											</span>
											<span class="left-bar">
												text
											</span>
											<span class="left-bar">
												text
											</span>
										</div>
										<div class="clearfix font-size-13 grey-600">
											<span>
												<b>tit</b>
												<span>text2</span>
											</span>
											<span class="left-bar">
												<b>tit</b>
												<span>text3</span>
											</span>
											<span class="left-bar">
												<b>tit</b>
												<span>text4</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p>
								Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business strategy. A well-designed website conveys your brand, engages visitors, and converts those visitors into loyal consumers.
							</p>
							<a href="" class="btn btn-link"><b>Link</b></a>
						</div>
					
					</div>
					<div class="card card-type1 margin-bottom-20">
						<div class="card-header">
							<div class="card-info-area">
								<div class="round-mark bg-light-green-600">
									t
								</div>
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b class="blue-700">[00000]</b>
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																<i data-feather="file-text" class="dropdown-icon"></i>
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="edit-3"  class="dropdown-icon"></i>
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link-2"  class="dropdown-icon"></i>
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link"  class="dropdown-icon"></i>
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="trash-2" class="dropdown-icon"></i>
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
										<div class="clearfix font-size-13 grey-600">
											<span>
												<div class="feather-icon">
													<i data-feather="unlock"></i>
												</div>
												state
											</span>
											<span class="left-bar">
												text
											</span>
											<span class="left-bar">
												text
											</span>
										</div>
										<div class="clearfix font-size-13 grey-600">
											<span>
												<b>tit</b>
												<span>text2</span>
											</span>
											<span class="left-bar">
												<b>tit</b>
												<span>text3</span>
											</span>
											<span class="left-bar">
												<b>tit</b>
												<span>text4</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p>
								Does your website positively impact your company’s bottom line? If not, you’re missing out on leads. Great web design is vital to your overall business strategy. A well-designed website conveys your brand, engages visitors, and converts those visitors into loyal consumers.
							</p>
							<a href="" class="btn btn-link"><b>Link</b></a>
						</div>
					
					</div>
					<div class="card card-type1 margin-bottom-20">
						<div class="card-header">
							<div class="card-info-area">
								<div class="round-mark bg-teal-700">
									t
								</div>
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<a href="" class="title">
													<b class="blue-700">[00000]</b>
													<b>
														Title
													</b>
												</a>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																<i data-feather="file-text" class="dropdown-icon"></i>
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="edit-3"  class="dropdown-icon"></i>
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link-2"  class="dropdown-icon"></i>
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link"  class="dropdown-icon"></i>
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="trash-2" class="dropdown-icon"></i>
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
										<div class="clearfix font-size-13 grey-600">
											<span>
												<div class="feather-icon">
													<i data-feather="lock"></i>
												</div>
												state
											</span>
											<span class="left-bar">
												text
											</span>
											<span class="left-bar">
												text
											</span>
										</div>
										<div class="clearfix font-size-13 grey-600">
											<span>
												<b>tit</b>
												<span>text2</span>
											</span>
											<span class="left-bar">
												<b>tit</b>
												<span>text3</span>
											</span>
											<span class="left-bar">
												<b>tit</b>
												<span>text4</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="text-center">
					<nav>
						<ul class="pagination">
							<li class="page-btn-text prev"><a href="#">Previous</a></li>
							<li><a href="#">1</a></li>
							<li class="active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li class="page-btn-text next"><a href="#">Next</a></li>
						</ul>
					</nav>
				</div>


			</div>
		</div>

		
	</div>
</div>
<!-- // inner -->