<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">

		<div class="text-right margin-bottom-20">
			<button type="button" class="btn btn-primary">
				<div class="feather-icon">
					<i data-feather="codesandbox"></i>
				</div>
				<span class="sr-only">Button</span>
			</button>
			<button type="button" class="btn btn-default">
				<div class="feather-icon">
					<i data-feather="aperture"></i>
				</div>
				<span class="sr-only">Button</span>
			</button>
			<button type="button" class="btn btn-default">
				<div class="feather-icon">
					<i data-feather="slack"></i>
				</div>
				<span class="sr-only">Button</span>
			</button>
			<button type="button" class="btn btn-default">
				<div class="feather-icon">
					<i data-feather="list"></i>
				</div>
				<span class="sr-only">Button</span>
			</button>
			<button type="button" class="btn btn-primary">
				<div class="feather-icon">
					<i data-feather="code"></i>
				</div>
				<span>YAML 불러오기</span>
			</button>
			<button type="button" class="btn btn-primary">
				<div class="feather-icon">
					<i data-feather="command"></i>
				</div>
				<span>워크로드 배포</span>
			</button>

		</div>

		<div class="card-input-wrap">
			<div class="row">
				<div class="col-md-6">
					<div class="checkbox-group inline-block margin-right-5">
						<input type="checkbox" id="checkbox31" class="checkbox-input" checked>
						<label for="checkbox31" class="checkbox-item checkbox-border">
							<div class="checkbox">
								<div class="checked-icon">
									<i class="xi-check"></i>
								</div>
							</div>
						</label>
					</div>
					<a href="" class="btn btn-default margin-right-5">
						<div class="feather-icon">
							<i data-feather="download"></i>
						</div>
						<span>
							Download YAML
						</span>
					</a>
					<span class="font-size-12">
						1 Item
					</span>
				</div>
				<div class="col-md-6">
					<div class="text-right">
						<div class="form-group inline-block margin-bottom-0">
							<div class="input-icon-type2 icon-left">
								<span class="input-icon-addon">
									<i class="xi-search"></i>
								</span>
								<input type="text" class="form-control">
							</div>
						</div>
						<button type="button" class="btn btn-primary">
							<div class="feather-icon">
								<i data-feather="grid"></i>
							</div>
							<span class="sr-only">Button</span>
						</button>
						<button type="button" class="btn btn-default">
							<div class="feather-icon">
								<i data-feather="list"></i>
							</div>
							<span class="sr-only">Button</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center blank-page">
			<div class="img">
				<img src="../assets/img/icon/data-center.png" alt="data-center">
			</div>
			<div class="font-size-16 margin-top-30">
				네임스페이스 내에 배포된 컨테이너가 존재하지 않습니다.
			</div>
			<div class="font-size-16 margin-top-10">
				<span class="color-primary font-size-18">‘워크로드 배포’</span> 를 통해 개발에 필요한 컨테이너를 배포해 보세요.
			</div>

			<a href="" class="btn btn-default btn-lg margin-top-30">큰 버튼</a>
		</div>
		
	</div>					
</div>
<!-- // inner -->