<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">
		<div class="card-input-wrap">
			<div class="row">
				<div class="col-sm-7">
					<div class="font-size-18">
						<b>제목 <span class="color-primary">(22)</span></b>
					</div>
				</div>
				<div class="col-sm-5 text-right">
					<button class="btn btn-primary">
						button
					</button>
					<!-- 기본 차순-->
					<button class="btn btn-default btn-sort-icon">
						button
						<span class="sort-icon-group">
							<i class="xi-caret-up-min"></i>
							<i class="xi-caret-down-min"></i>
						</span>
					</button>
					<!-- 오름차순 btn-sort-up -->
					<button class="btn btn-default btn-sort-icon btn-sort-up">
						button
						<span class="sort-icon-group">
							<i class="xi-caret-up-min"></i>
							<i class="xi-caret-down-min"></i>
						</span>
					</button>
					<!-- 내림차순 btn-sort-down -->
					<button class="btn btn-default btn-sort-icon btn-sort-down">
						button
						<span class="sort-icon-group">
							<i class="xi-caret-up-min"></i>
							<i class="xi-caret-down-min"></i>
						</span>
					</button>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- left -->
			<div class="col-md-3">
				<div class="card card-type3 margin-bottom-20">
					<div class="card-header">
						<div class="card-info-area">
							<div class="title">
								<b>
									Title
								</b>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="font-size-13 margin-bottom-10"><b>Sub - Title</b></div>
						<div class="form-btn-group">
							<div class="form-group margin-bottom-0">
								<input type="text" class="form-control" id="" placeholder="Search">
							</div>
							<button type="button" class="btn btn-primary">
								<div class="feather-icon">
									<i data-feather="search"></i>
								</div>
								<span class="sr-only">Button</span>
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="font-size-13 margin-bottom-10"><b>Sub - Title</b></div>
						<div class="row card-btn">
							<div class="col-xs-6">
								<label for="card11" class="input-card-type">
									<input type="radio" id="card11" name="card11" class="card-input-element" checked>
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">text</div>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-6">
								<label for="card12" class="input-card-type">
									<input type="radio" id="card12" name="card11" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">text</div>
										</div>
									</div>
								</label>
							</div>	
							<div class="col-xs-6">
								<label for="card13" class="input-card-type">
									<input type="radio" id="card13" name="card11" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">text</div>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-6">
								<label for="card14" class="input-card-type">
									<input type="radio" id="card14" name="card11" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">text</div>
										</div>
									</div>
								</label>
							</div>											
						</div>

					</div>	
					<div class="card-body">
						<div class="font-size-13 margin-bottom-10"><b>Sub - Title</b></div>										
						<div class="row card-btn">
							<div class="col-xs-4">
								<label for="card15" class="input-card-type">
									<input type="radio" id="card15" name="card15" class="card-input-element" checked>
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">text</div>
										</div>
									</div>
								</label>
							</div>
							<div class="col-xs-4">
								<label for="card16" class="input-card-type">
									<input type="radio" id="card16" name="card15" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">text</div>
										</div>
									</div>
								</label>
							</div>	
							<div class="col-xs-4">
								<label for="card17" class="input-card-type">
									<input type="radio" id="card17" name="card15" class="card-input-element">
									<div class="card-input">
										<div class="thumb-type1">
											<div class="img bordered">text</div>
										</div>
									</div>
								</label>
							</div>										
						</div>
					</div>
				</div>
				
				
			</div>

			<!-- right -->
			<div class="col-md-9">
				<div class="card-list-wrap">
					<div class="card card-type1">
						<div class="card-body">
							<div class="card-info-area">
								<div class="round-mark rgba-orange-strong">
									t
								</div>
								<div class="text-box">
									<div class="form-inline">
										<a href="" class="title">
											<b>
												Title_title
											</b>
										</a>
										<span class="label label-pill label-primary">Primary</span>
									</div>
									<div class="row grey-600">
										<div class="col-sm-6">
											<span class="font-size-13">Test Project / Bin /</span>
											<span class="date">
												2020-05-01 00:00
											</span>
										</div>
										<div class="col-sm-6 text-right">
											<div class="card-icon-list">
												<span>
													<div class="feather-icon">
														<i data-feather="eye"></i>
													</div>
													120
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="download"></i>
													</div>	
													3
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="thumbs-up"></i>
													</div>	
													15
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card card-type1">
						<div class="card-body">
							<div class="card-info-area">
								<div class="round-mark rgba-green-strong">
									t
								</div>
								<div class="text-box">
									<div class="form-inline">
										<a href="" class="title">
											<b>
												Title_title
											</b>
										</a>
										<span class="label label-pill label-primary">Primary</span>
									</div>
									<div class="row grey-600">
										<div class="col-sm-6">
											<span class="font-size-13">Test Project / Bin /</span>
											<span class="date">
												2020-05-01 00:00
											</span>
										</div>
										<div class="col-sm-6 text-right">
											<div class="card-icon-list">
												<span>
													<div class="feather-icon">
														<i data-feather="eye"></i>
													</div>
													120
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="download"></i>
													</div>	
													3
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="thumbs-up"></i>
													</div>	
													15
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card card-type1">
						<div class="card-body">
							<div class="card-info-area">
								<div class="round-mark rgba-teal-strong">
									t
								</div>
								<div class="text-box">
									<div class="form-inline">
										<a href="" class="title">
											<b>
												Title_title
											</b>
										</a>
										<span class="label label-pill label-primary">Primary</span>
									</div>
									<div class="row grey-600">
										<div class="col-sm-6">
											<span class="font-size-13">Test Project / Bin /</span>
											<span class="date">
												2020-05-01 00:00
											</span>
										</div>
										<div class="col-sm-6 text-right">
											<div class="card-icon-list">
												<span>
													<div class="feather-icon">
														<i data-feather="eye"></i>
													</div>
													120
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="download"></i>
													</div>	
													3
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="thumbs-up"></i>
													</div>	
													15
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card card-type1">
						<div class="card-body">
							<div class="card-info-area">
								<div class="round-mark rgba-indigo-strong">
									t
								</div>
								<div class="text-box">
									<div class="form-inline">
										<a href="" class="title">
											<b>
												Title_title
											</b>
										</a>
										<span class="label label-pill label-primary">Primary</span>
									</div>
									<div class="row grey-600">
										<div class="col-sm-6">
											<span class="font-size-13">Test Project / Bin /</span>
											<span class="date">
												2020-05-01 00:00
											</span>
										</div>
										<div class="col-sm-6 text-right">
											<div class="card-icon-list">
												<span>
													<div class="feather-icon">
														<i data-feather="eye"></i>
													</div>
													120
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="download"></i>
													</div>	
													3
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="thumbs-up"></i>
													</div>	
													15
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card card-type1">
						<div class="card-body">
							<div class="card-info-area">
								<div class="round-mark rgba-pink-strong">
									t
								</div>
								<div class="text-box">
									<div class="form-inline">
										<a href="" class="title">
											<b>
												Title_title
											</b>
										</a>
										<span class="label label-pill label-primary">Primary</span>
									</div>
									<div class="row grey-600">
										<div class="col-sm-6">
											<span class="font-size-13">Test Project / Bin /</span>
											<span class="date">
												2020-05-01 00:00
											</span>
										</div>
										<div class="col-sm-6 text-right">
											<div class="card-icon-list">
												<span>
													<div class="feather-icon">
														<i data-feather="eye"></i>
													</div>
													120
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="download"></i>
													</div>	
													3
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="thumbs-up"></i>
													</div>	
													15
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card card-type1">
						<div class="card-body">
							<div class="card-info-area">
								<div class="round-mark rgba-cyan-strong">
									t
								</div>
								<div class="text-box">
									<div class="form-inline">
										<a href="" class="title">
											<b>
												Title_title
											</b>
										</a>
										<span class="label label-pill label-primary">Primary</span>
									</div>
									<div class="row grey-600">
										<div class="col-sm-6">
											<span class="font-size-13">Test Project / Bin /</span>
											<span class="date">
												2020-05-01 00:00
											</span>
										</div>
										<div class="col-sm-6 text-right">
											<div class="card-icon-list">
												<span>
													<div class="feather-icon">
														<i data-feather="eye"></i>
													</div>
													120
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="download"></i>
													</div>	
													3
												</span>
												<span>
													<div class="feather-icon">
														<i data-feather="thumbs-up"></i>
													</div>	
													15
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="text-center">
					<nav>
						<ul class="pagination">
							<li class="page-btn-text prev"><a href="#">Previous</a></li>
							<li><a href="#">1</a></li>
							<li class="active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li class="page-btn-text next"><a href="#">Next</a></li>
						</ul>
					</nav>
				</div>


			</div>
		</div>

		
	</div>
</div>
<!-- // inner -->