<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">Demo modal</button>
						
					</div>
				</div>
				<!-- // inner -->

				<div class="modal" id="modal1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title">Title</h4>
							</div>
							<div class="modal-body">
								<div class="form-group default-label margin-bottom-20">
									<input type="text" class="form-control" id="formId" placeholder="">
									<label for="formId">ID</label>
								</div>
								<div class="form-group default-label margin-bottom-20">
									<input type="text" class="form-control" id="formName" placeholder="">
									<label for="formName">Name</label>
								</div>
								<div class="form-group default-label">
									<input type="password" class="form-control" id="formPw" placeholder="">
									<label for="formPw">Password</label>
								</div>
								<div class="checkbox-group margin-bottom-20">
									<input type="checkbox" id="checkbox01" class="checkbox-input">
									<label for="checkbox01" class="checkbox-item">
										<div class="checkbox">
											<div class="checked-icon">
												<i class="xi-check"></i>
											</div>
										</div>
										<span class="text">
											비밀번호 표시
										</span>
									</label>
								</div>
								<div class="margin-bottom-10">
									Admin
								</div>
								<div class="form-inline">
									<div class="radio-group">
										<input type="radio" name="radio01" id="radio01" class="radio-input" checked>
										<label for="radio01" class="radio-item">
											<div class="radio">
												<div class="checked-icon"></div>
											</div>
											<span class="text">
												admin1
											</span>
										</label>
									</div>
									<div class="radio-group margin-left-20">
										<input type="radio" name="radio01" id="radio02" class="radio-input">
										<label for="radio02" class="radio-item">
											<div class="radio">
												<div class="checked-icon"></div>
											</div>
											<span class="text">
												admin2
											</span>
										</label>
									</div>
								</div>



							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>
