<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">Demo modal</button>
						
					</div>
				</div>
				<!-- // inner -->

				<div class="modal" id="modal1">
					<div class="modal-dialog modal-sm modal-border0">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title">Title</h4>
							</div>
							<div class="modal-body">
								<div class="modal-center">
									<div>text</div>
									<div class="img-size100">
										<img src="../assets/img/icon/artificial-intelligence.png" alt="">
									</div>

									<div class="custom-file-group custom-file-group-sm">
										<span class="custom-file-btn">
										  <label class="btn-file" for="multiple_input_group">
											<input id="multiple_input_group" type="file" multiple>
											<span class="text-btn">
												Browse
											</span>
										  </label>
										</span>
										<span class="file-input-label"></span>
									</div>
								</div>
							</div>
							<div class="modal-footer text-center">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>