<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">Demo modal</button>
						
					</div>
				</div>
				<!-- // inner -->

				<div class="modal" id="modal1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title">Title</h4>
							</div>
							<div class="modal-body">
								<div class="form-btn-group">
									<div class="form-group margin-bottom-0">
										<input type="text" class="form-control" id="" placeholder="Search">
									</div>
									<button type="button" class="btn btn-primary">
										<div class="feather-icon">
											<i data-feather="search"></i>
										</div>
										<span class="sr-only">Button</span>
									</button>
								</div>

								<div class="border-box">
									<div class="scroll-content height-300">
										<ul class="list-basic">
											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox01" class="checkbox-input">
													<label for="checkbox01" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-cyan-strong color-white">
																Storage
															</span>
														</span>
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox03" class="checkbox-input">
													<label for="checkbox03" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-teal-strong color-white">
																Security
															</span>
														</span>
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox04" class="checkbox-input">
													<label for="checkbox04" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-pink-strong color-white">
																Programming Languages
															</span>
														</span>
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox05" class="checkbox-input">
													<label for="checkbox05" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-red-strong color-white">
																Orange
															</span>
														</span>
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox06" class="checkbox-input">
													<label for="checkbox06" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-stylish-strong color-white">
																Black
															</span>
														</span>
													</label>
												</div>
											</li>

											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox07" class="checkbox-input">
													<label for="checkbox07" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-cyan-strong color-white">
																Storage
															</span>
														</span>
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox09" class="checkbox-input">
													<label for="checkbox09" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-teal-strong color-white">
																Security
															</span>
														</span>
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox10" class="checkbox-input">
													<label for="checkbox10" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-pink-strong color-white">
																Programming Languages
															</span>
														</span>
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox11" class="checkbox-input">
													<label for="checkbox11" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-red-strong color-white">
																Orange
															</span>
														</span>
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox-group">
													<input type="checkbox" id="checkbox12" class="checkbox-input">
													<label for="checkbox12" class="checkbox-item">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
														<span class="text">
															<span class="btn btn-sm rgba-stylish-strong color-white">
																Black
															</span>
														</span>
													</label>
												</div>
											</li>

										</ul>
									</div>
								</div>
								
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
					</div>
				</div>