<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">

		<a href="" class="btn btn-lg btn-primary">
			<div class="feather-icon">
				<i data-feather="command"></i>
			</div>
			<span>함수 등록</span>
		</a>
		<div class="arr-desc-text">
			직접 코드를 입력하거나 템플릿을 이용하여 함수를 등록합니다.
		</div>

		<div class="text-center blank-page">
			<div class="img">
				<img src="../assets/img/icon/data-center.png" alt="data-center">
			</div>
			<div class="font-size-16 margin-top-30">
				함수를 등록한 후, 트리거 및 백엔드 서비스를 다수 연결하여 자유롭게 서비스를 운영할 수 있습니다.
			</div>
			<div class="font-size-16 margin-top-10">
				함수는 <span class="color-primary font-size-18">직접 입력하거나 hub-PoP에서 제공하는 템플릿을 이용</span> 하여 간편하게 만들 수 있습니다.
			</div>
			<div class="font-size-16 margin-top-10">
				<span class="color-primary font-size-18">‘함수 등록’</span> 을 통해 필요한 함수를 손쉽게 만들어 보세요.
			</div>

			<a href="" class="btn btn-default btn-lg margin-top-30">큰 버튼</a>
		</div>
	</div>					
</div>
<!-- // inner -->