<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<section class="panel panel-bordered">
							<div class="panel-heading">
								<h3 class="panel-title">
									Title
								</h3>
							</div> <!-- // panel-heading -->
							<div class="panel-body">
								<div class="alert alert-primary" role="alert">
									<i data-feather="file-text"></i>
									<div class="text-area">
										A simple light alert with an example link. 
									</div>
								</div>
								<div class="text-right">
									<span class="color-danger">
										<b class="caution-star">*</b> 는 필수입력 사항입니다
									</span>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
								</div>

								<div class="row">
									<div class="col-sm-6">
										<label for="card01" class="input-card-type">
											<input type="radio" id="card01" name="card1" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
													<div class="text-area">
														<div class="title">Title</div>
														<p>
															Text
														</p>
													</div>
												</div>
											</div>
										</label>
									</div>
									<div class="col-sm-6">
										<label for="card02" class="input-card-type">
											<input type="radio" id="card02" name="card1" class="card-input-element" checked>
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
													<div class="text-area">
														<div class="title">Title</div>
														<p>
															Text
														</p>
													</div>
												</div>
											</div>
										</label>
									</div>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="Info Text" data-placement="top">
										i
									</a>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<label for="card21" class="input-card-type">
											<input type="radio" id="card21" name="card2" class="card-input-element" checked>
											<div class="card-input">
												<div class="card card-type2">
													<div class="card-header">
														<div class="card-info-area">
															<div class="round-mark rgba-orange-strong">
																T
															</div>
															<div class="text-box text-box-line1">
																<a href="" class="title">
																	<b>
																		Title_title
																	</b>
																</a>
															</div>
														</div>
													</div>
													<div class="card-body">
														<div class="ellipsis">
															함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
														</div>
													</div>
													<div class="card-body">
														<div class="row margin-bottom-10">
															<div class="col-sm-8">
																<b>Title</b>
															</div>
															<div class="col-sm-4 text-right">
																<span>
																	<span class="feather-icon grey-500">
																		<i data-feather="command"></i>
																	</span>
																	text
																</span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4">
																<ul class="list-dot">
																	<li>
																		<b>title</b>
																		<span>2</span>
																	</li>
																</ul>
															</div>
															<div class="col-sm-4">
																<ul class="list-dot">
																	<li>
																		<b>title</b>
																		<span>100GB</span>
																	</li>
																</ul>
															</div>
															<div class="col-sm-4">
																<ul class="list-dot">
																	<li>
																		<b>title</b>
																		<span>85/150</span>
																	</li>
																</ul>
															</div>
														</div>
													</div>
													
												</div>
											</div>
										</label>
									</div>
									<div class="col-sm-4">
										<label for="card22" class="input-card-type">
											<input type="radio" id="card22" name="card2" class="card-input-element">
											<div class="card-input">
												<div class="card card-type2">
													<div class="card-header">
														<div class="card-info-area">
															<div class="round-mark rgba-orange-strong">
																T
															</div>
															<div class="text-box text-box-line1">
																<a href="" class="title">
																	<b>
																		Title_title
																	</b>
																</a>
															</div>
														</div>
													</div>
													<div class="card-body">
														<div class="ellipsis">
															함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
														</div>
													</div>
													<div class="card-body">
														<div class="row margin-bottom-10">
															<div class="col-sm-8">
																<b>Title</b>
															</div>
															<div class="col-sm-4 text-right">
																<span>
																	<span class="feather-icon grey-500">
																		<i data-feather="command"></i>
																	</span>
																	text
																</span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4">
																<ul class="list-dot">
																	<li>
																		<b>title</b>
																		<span>2</span>
																	</li>
																</ul>
															</div>
															<div class="col-sm-4">
																<ul class="list-dot">
																	<li>
																		<b>title</b>
																		<span>100GB</span>
																	</li>
																</ul>
															</div>
															<div class="col-sm-4">
																<ul class="list-dot">
																	<li>
																		<b>title</b>
																		<span>85/150</span>
																	</li>
																</ul>
															</div>
														</div>
													</div>
													
												</div>
											</div>
										</label>
									</div>
									<div class="col-sm-4">
										<label for="card23" class="input-card-type">
											<input type="radio" id="card23" name="card2" class="card-input-element" disabled>
											<div class="card-input">
												<div class="card card-type2">
													<div class="card-header">
														<div class="card-info-area">
															<div class="round-mark rgba-orange-strong">
																T
															</div>
															<div class="text-box text-box-line1">
																<a href="" class="title">
																	<b>
																		Title_title
																	</b>
																</a>
															</div>
														</div>
													</div>
													<div class="card-body">
														<div class="ellipsis">
															함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
														</div>
													</div>
													<div class="card-body">
														<div class="row margin-bottom-10">
															<div class="col-sm-8">
																<b>Title</b>
															</div>
															<div class="col-sm-4 text-right">
																<span>
																	<span class="feather-icon grey-500">
																		<i data-feather="command"></i>
																	</span>
																	text
																</span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4">
																<ul class="list-dot">
																	<li>
																		<b>title</b>
																		<span>2</span>
																	</li>
																</ul>
															</div>
															<div class="col-sm-4">
																<ul class="list-dot">
																	<li>
																		<b>title</b>
																		<span>100GB</span>
																	</li>
																</ul>
															</div>
															<div class="col-sm-4">
																<ul class="list-dot">
																	<li>
																		<b>title</b>
																		<span>85/150</span>
																	</li>
																</ul>
															</div>
														</div>
													</div>
													
												</div>
											</div>
										</label>
									</div>

								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="Info Text" data-placement="top">
										i
									</a>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-sm-10">
												<div class="progress progress-square">
													<div class="progress-bar bg-cyan-700" style="width: 30%;"></div>
												</div>
											</div>
											<div class="col-sm-2 text-right">
												1/100
											</div>
										</div>
									</div>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="Info Text" data-placement="top">
										i
									</a>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-sm-10">
												<div class="progress progress-square">
													<div class="progress-bar bg-blue-grey-500" style="width: 30%;"></div>
												</div>
											</div>
											<div class="col-sm-2 text-right">
												999000 / 999000GIB
											</div>
										</div>
									</div>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="Info Text" data-placement="top">
										i
									</a>
								</div>
								<div class="form-group">
									<div class="style-table">
										<div class="style-td" style="width: 50px">
											<label for="text01" class="control-label">Text_</label>
										</div>
										<div class="style-td">
											<input type="text" class="form-control" id="text01" placeholder="Text">
										</div>
									</div>
								</div>
							
							</div> <!-- // panel-body -->
						</section>

						<div class="margin-top-40 text-right">
							<button class="btn btn-lg btn-primary">Save</button>
							<button class="btn btn-lg btn-default">Cancel</button>
						</div>
						

						
					</div>
				</div>
				<!-- // inner -->