<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<section class="panel panel-bordered">
							<div class="panel-heading">
								<h3 class="panel-title">
									Title
								</h3>
							</div> <!-- // panel-heading -->
							<div class="panel-body">
								<div class="text-right">
									<span class="color-danger">
										<b class="caution-star">*</b> 는 필수입력 사항입니다
									</span>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
								</div>

								<div class="row">
									<div class="col-sm-6">
										<label for="card01" class="input-card-type">
											<input type="radio" id="card01" name="card1" class="card-input-element" checked>
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
													<div class="text-area">
														<div class="title">Title</div>
														<p>
															Text
														</p>
													</div>
												</div>
											</div>
										</label>
									</div>
									<div class="col-sm-6">
										<label for="card02" class="input-card-type">
											<input type="radio" id="card02" name="card1" class="card-input-element">
											<div class="card-input">
												<div class="card-type4">
													<div class="img-size70">
														<img src="../assets/img/icon/artificial-intelligence.png" alt="">
													</div>
													<div class="text-area">
														<div class="title">Title</div>
														<p>
															Text
														</p>
													</div>
												</div>
											</div>
										</label>
									</div>
								</div>

								<div class="write-sub-title">
									<b class="caution-star">*</b> Sub - Title
									<a href="#" class="info-icon-tooltip" data-toggle="tooltip" title="Info Text" data-placement="top">
										i
									</a>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-btn-group">
											<div class="form-group margin-bottom-0">
												<input type="text" class="form-control" id="" placeholder="Text">
											</div>
											<button type="button" class="btn btn-primary">
												<div class="feather-icon">
													<i data-feather="search"></i>
												</div>
												<span class="sr-only">Button</span>
											</button>
										</div>
									</div>
									<div class="col-md-3 col-md-offset-6 text-right">
										<button type="button" class="btn btn-primary">
											<div class="feather-icon">
												<i data-feather="grid"></i>
											</div>
											<span class="sr-only">Button</span>
										</button>
										<button type="button" class="btn btn-default">
											<div class="feather-icon">
												<i data-feather="list"></i>
											</div>
											<span class="sr-only">Button</span>
										</button>
									</div>
								</div>

								<div class="card-list-wrap">
									<div class="row">
										<div class="col-sm-3">
											<label for="card21" class="input-card-type">
												<input type="radio" id="card21" name="card2" class="card-input-element" checked>
												<div class="card-input">
													<div class="card card-type2">
														<div class="card-header">
															<div class="card-info-area">
																<div class="text-box">
																	<div class="top">
																		<div class="clearfix">
																			<div class="title">
																				<b>
																					Hello_hubpop_Python
																				</b>
																			</div>
																		</div>
																		<div class="clearfix">
																			<span class="lagn">
																				<span class="img">
																					<img src="../assets/img/common/icon_python.jpg" alt="">
																				</span>
																				Python 3.8
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="card-body">
															<div class="ellipsis">
																함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
															</div>
														</div>
														
													</div>
												</div>
											</label>
										</div>
										<div class="col-sm-3">
											<label for="card22" class="input-card-type">
												<input type="radio" id="card22" name="card2" class="card-input-element">
												<div class="card-input">
													<div class="card card-type2">
														<div class="card-header noborder">
															<div class="card-mark">
																<i class="xi-star"></i>
															</div>
															<div class="card-info-area">
																<div class="text-box">
																	<div class="top">
																		<div class="clearfix">
																			<div class="title">
																				<b>
																					Hello_hubpop_Python
																				</b>
																			</div>
																		</div>
																		<div class="clearfix">
																			<span class="lagn">
																				<span class="img">
																					<img src="../assets/img/common/icon_python.jpg" alt="">
																				</span>
																				Python 3.8
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="card-body">
															<div class="blank-box"></div>
														</div>
													</div>
												</div>
											</label>
										</div>
										<div class="col-sm-3">
											<label for="card23" class="input-card-type">
												<input type="radio" id="card23" name="card2" class="card-input-element">
												<div class="card-input">
													<div class="card card-type2">
														<div class="card-header">
															<div class="card-info-area">
																<div class="text-box">
																	<div class="top">
																		<div class="clearfix">
																			<div class="title">
																				<b>
																					Hello_hubpop_Python
																				</b>
																			</div>
																		</div>
																		<div class="clearfix">
																			<span class="lagn">
																				<span class="img">
																					<img src="../assets/img/common/icon_python.jpg" alt="">
																				</span>
																				Python 3.8
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="card-body">
															<div class="ellipsis">
																함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
															</div>
														</div>
														
													</div>
												</div>
											</label>
										</div>
										<div class="col-sm-3">
											<label for="card24" class="input-card-type">
												<input type="radio" id="card24" name="card2" class="card-input-element">
												<div class="card-input">
													<div class="card card-type2">
														<div class="card-header">
															<div class="card-info-area">
																<div class="text-box">
																	<div class="top">
																		<div class="clearfix">
																			<div class="title">
																				<b>
																					Hello_hubpop_Python
																				</b>
																			</div>
																		</div>
																		<div class="clearfix">
																			<span class="lagn">
																				<span class="img">
																					<img src="../assets/img/common/icon_python.jpg" alt="">
																				</span>
																				Python 3.8
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="card-body">
															<div class="ellipsis">
																함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
															</div>
														</div>
														
													</div>
												</div>
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-3">
											<label for="card25" class="input-card-type">
												<input type="radio" id="card25" name="card2" class="card-input-element">
												<div class="card-input">
													<div class="card card-type2">
														<div class="card-header">
															<div class="card-info-area">
																<div class="text-box">
																	<div class="top">
																		<div class="clearfix">
																			<div class="title">
																				<b>
																					Hello_hubpop_Python
																				</b>
																			</div>
																		</div>
																		<div class="clearfix">
																			<span class="lagn">
																				<span class="img">
																					<img src="../assets/img/common/icon_python.jpg" alt="">
																				</span>
																				Python 3.8
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="card-body">
															<div class="ellipsis">
																함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
															</div>
														</div>
														
													</div>
												</div>
											</label>
										</div>
										<div class="col-sm-3">
											<label for="card26" class="input-card-type">
												<input type="radio" id="card26" name="card2" class="card-input-element">
												<div class="card-input">
													<div class="card card-type2">
														<div class="card-header">
															<div class="card-info-area">
																<div class="text-box">
																	<div class="top">
																		<div class="clearfix">
																			<div class="title">
																				<b>
																					Hello_hubpop_Python
																				</b>
																			</div>
																		</div>
																		<div class="clearfix">
																			<span class="lagn">
																				<span class="img">
																					<img src="../assets/img/common/icon_python.jpg" alt="">
																				</span>
																				Python 3.8
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="card-body">
															<div class="ellipsis">
																함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
															</div>
														</div>
													</div>
												</div>
											</label>
										</div>
										<div class="col-sm-3">
											<label for="card27" class="input-card-type">
												<input type="radio" id="card27" name="card2" class="card-input-element">
												<div class="card-input">
													<div class="card card-type2">
														<div class="card-header">
															<div class="card-mark">
																<i class="xi-star"></i>
															</div>
															<div class="card-info-area">
																<div class="text-box">
																	<div class="top">
																		<div class="clearfix">
																			<div class="title">
																				<b>
																					Hello_hubpop_Python
																				</b>
																			</div>
																		</div>
																		<div class="clearfix">
																			<span class="lagn">
																				<span class="img">
																					<img src="../assets/img/common/icon_python.jpg" alt="">
																				</span>
																				Python 3.8
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="card-body">
															<div class="ellipsis">
																함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
															</div>
														</div>
														
													</div>
												</div>
											</label>
										</div>
										<div class="col-sm-3">
											<label for="card28" class="input-card-type">
												<input type="radio" id="card28" name="card2" class="card-input-element">
												<div class="card-input">
													<div class="card card-type2">
														<div class="card-header">
															<div class="card-info-area">
																<div class="text-box">
																	<div class="top">
																		<div class="clearfix">
																			<div class="title">
																				<b>
																					Hello_hubpop_Python
																				</b>
																			</div>
																		</div>
																		<div class="clearfix">
																			<span class="lagn">
																				<span class="img">
																					<img src="../assets/img/common/icon_python.jpg" alt="">
																				</span>
																				Python 3.8
																			</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="card-body">
															<div class="ellipsis">
																함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 함수 설명이 두 줄까지 표시됩니다. 두 줄 이상은 말 줄임 하여 상세 화면에서 조회할 수 있습니다. 
															</div>
														</div>
														
													</div>
												</div>
											</label>
										</div>
									</div>
								</div>

								<div class="text-center">
									<ul class="pagination">
										<li class="page-btn-text prev"><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
										<li><a href="#">1</a></li>
										<li class="active"><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li class="page-btn-text next"><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
									</ul>
								</div>
								

							
							</div> <!-- // panel-body -->
						</section>

						<div class="margin-top-40 text-right">
							<button class="btn btn-lg btn-primary">Save</button>
							<button class="btn btn-lg btn-default">Cancel</button>
						</div>
						

						
					</div>
				</div>
				<!-- // inner -->