<!-- inner -->
<div class="page-content">
	<div class="inner-wrap">

		<div class="text-right margin-bottom-20">
			<button type="button" class="btn btn-primary">
				<div class="feather-icon">
					<i data-feather="codesandbox"></i>
				</div>
				<span class="sr-only">Button</span>
			</button>
			<button type="button" class="btn btn-default">
				<div class="feather-icon">
					<i data-feather="aperture"></i>
				</div>
				<span class="sr-only">Button</span>
			</button>
			<button type="button" class="btn btn-default">
				<div class="feather-icon">
					<i data-feather="slack"></i>
				</div>
				<span class="sr-only">Button</span>
			</button>
			<button type="button" class="btn btn-default">
				<div class="feather-icon">
					<i data-feather="list"></i>
				</div>
				<span class="sr-only">Button</span>
			</button>
			<button type="button" class="btn btn-primary">
				<div class="feather-icon">
					<i data-feather="code"></i>
				</div>
				<span>YAML 불러오기</span>
			</button>
			<button type="button" class="btn btn-primary">
				<div class="feather-icon">
					<i data-feather="command"></i>
				</div>
				<span>워크로드 배포</span>
			</button>

		</div>

		<div class="card-input-wrap">
			<div class="row">
				<div class="col-md-6">
					<div class="checkbox-group inline-block margin-right-5">
						<input type="checkbox" id="checkbox31" class="checkbox-input" checked>
						<label for="checkbox31" class="checkbox-item checkbox-border">
							<div class="checkbox">
								<div class="checked-icon">
									<i class="xi-check"></i>
								</div>
							</div>
						</label>
					</div>
					<a href="" class="btn btn-default margin-right-5">
						<div class="feather-icon">
							<i data-feather="download"></i>
						</div>
						<span>
							Download YAML
						</span>
					</a>
					<span class="font-size-12">
						1 Item
					</span>
				</div>
				<div class="col-md-6">
					<div class="text-right">
						<div class="form-group inline-block margin-bottom-0">
							<div class="input-icon-type2 icon-left">
								<span class="input-icon-addon">
									<i class="xi-search"></i>
								</span>
								<input type="text" class="form-control form-control-md">
							</div>
						</div>
						<button type="button" class="btn btn-primary">
							<div class="feather-icon">
								<i data-feather="grid"></i>
							</div>
							<span class="sr-only">Button</span>
						</button>
						<button type="button" class="btn btn-default">
							<div class="feather-icon">
								<i data-feather="list"></i>
							</div>
							<span class="sr-only">Button</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="card-list-wrap">
			<div class="row">
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="round-mark bg-yellow-800">
									A
								</div>
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<div class="checkbox-group inline-block">
													<input type="checkbox" id="checkbox01" class="checkbox-input">
													<label for="checkbox01" class="checkbox-item checkbox-border">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
													</label>
												</div>
												<div class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																<i data-feather="file-text" class="dropdown-icon"></i>
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="edit-3"  class="dropdown-icon"></i>
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link-2"  class="dropdown-icon"></i>
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link"  class="dropdown-icon"></i>
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="trash-2" class="dropdown-icon"></i>
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
										<div class="clearfix">
											<span class="label label-outline label-default">Running</span>
											<span class="date pull-right">
												2020-05-01 00:00
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										112.160.104.138:38811
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
							<a href="" class="btn btn-nostyle btn-xs card-footer-btn">
								<i class="xi-caret-down"></i>
							</a>
						</div>
						<div class="card-footer">
							패널 확장 버튼 클릭시 확장되는 영역
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="round-mark bg-light-green-600">
									A
								</div>
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<div class="checkbox-group inline-block">
													<input type="checkbox" id="checkbox02" class="checkbox-input" checked>
													<label for="checkbox02" class="checkbox-item checkbox-border">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
													</label>
												</div>
												<div class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																<i data-feather="file-text" class="dropdown-icon"></i>
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="edit-3"  class="dropdown-icon"></i>
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link-2"  class="dropdown-icon"></i>
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link"  class="dropdown-icon"></i>
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="trash-2" class="dropdown-icon"></i>
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
										<div class="clearfix">
											<span class="label label-outline label-default">Running</span>
											<span class="date pull-right">
												2020-05-01 00:00
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										112.160.104.138:38811
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
							<a href="" class="btn btn-nostyle btn-xs card-footer-btn">
								<i class="xi-caret-down"></i>
							</a>
						</div>
						<div class="card-footer">
							패널 확장 버튼 클릭시 확장되는 영역
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="round-mark bg-indigo-500">
									A
								</div>
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<div class="checkbox-group inline-block">
													<input type="checkbox" id="checkbox03" class="checkbox-input">
													<label for="checkbox03" class="checkbox-item checkbox-border">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
													</label>
												</div>
												<div class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																<i data-feather="file-text" class="dropdown-icon"></i>
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="edit-3"  class="dropdown-icon"></i>
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link-2"  class="dropdown-icon"></i>
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link"  class="dropdown-icon"></i>
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="trash-2" class="dropdown-icon"></i>
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
										<div class="clearfix">
											<span class="label label-outline label-default">Running</span>
											<span class="date pull-right">
												2020-05-01 00:00
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										112.160.104.138:38811
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
							<a href="" class="btn btn-nostyle btn-xs card-footer-btn">
								<i class="xi-caret-down"></i>
							</a>
						</div>
						<div class="card-footer">
							패널 확장 버튼 클릭시 확장되는 영역
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="round-mark bg-pink-500">
									A
								</div>
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<div class="checkbox-group inline-block">
													<input type="checkbox" id="checkbox04" class="checkbox-input">
													<label for="checkbox04" class="checkbox-item checkbox-border">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
													</label>
												</div>
												<div class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																<i data-feather="file-text" class="dropdown-icon"></i>
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="edit-3"  class="dropdown-icon"></i>
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link-2"  class="dropdown-icon"></i>
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link"  class="dropdown-icon"></i>
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="trash-2" class="dropdown-icon"></i>
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
										<div class="clearfix">
											<span class="label label-outline label-default">Running</span>
											<span class="date pull-right">
												2020-05-01 00:00
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										112.160.104.138:38811
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
							<a href="" class="btn btn-nostyle btn-xs card-footer-btn">
								<i class="xi-caret-down"></i>
							</a>
						</div>
						<div class="card-footer">
							패널 확장 버튼 클릭시 확장되는 영역
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="round-mark rgba-blue-strong">
									A
								</div>
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<div class="checkbox-group inline-block">
													<input type="checkbox" id="checkbox05" class="checkbox-input">
													<label for="checkbox05" class="checkbox-item checkbox-border">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
													</label>
												</div>
												<div class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																<i data-feather="file-text" class="dropdown-icon"></i>
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="edit-3"  class="dropdown-icon"></i>
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link-2"  class="dropdown-icon"></i>
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link"  class="dropdown-icon"></i>
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="trash-2" class="dropdown-icon"></i>
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
										<div class="clearfix">
											<span class="label label-outline label-default">Running</span>
											<span class="date pull-right">
												2020-05-01 00:00
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										112.160.104.138:38811
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
							<a href="" class="btn btn-nostyle btn-xs card-footer-btn">
								<i class="xi-caret-down"></i>
							</a>
						</div>
						<div class="card-footer">
							패널 확장 버튼 클릭시 확장되는 영역
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-type1">
						<div class="card-header">
							<div class="card-info-area">
								<div class="round-mark bg-yellow-800">
									A
								</div>
								<div class="text-box">
									<div class="top">
										<div class="row">
											<div class="col-xs-10">
												<div class="checkbox-group inline-block">
													<input type="checkbox" id="checkbox06" class="checkbox-input">
													<label for="checkbox06" class="checkbox-item checkbox-border">
														<div class="checkbox">
															<div class="checked-icon">
																<i class="xi-check"></i>
															</div>
														</div>
													</label>
												</div>
												<div class="title inline-block">
													<b>
														api-gateway-d658b
													</b>
												</div>
											</div>
											<div class="col-xs-2">
												<div class="dropdown pull-right">
													<button type="button" class="btn btn-xs btn-nostyle dropdown-toggle" data-toggle="dropdown">
														<div class="feather-icon">
															<i data-feather="more-horizontal"></i>
														</div>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li>
															<a href="#">
																<i data-feather="file-text" class="dropdown-icon"></i>
																View Logs
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="edit-3"  class="dropdown-icon"></i>
																View/Edit YAML
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link-2"  class="dropdown-icon"></i>
																View in API
															</a>
														</li>
														<li>
															<a href="#">
																<i data-feather="link"  class="dropdown-icon"></i>
																Go to Grafana
															</a>
														</li>
														<li class="divider"></li>
														<li>
															<a href="#">
																<i data-feather="trash-2" class="dropdown-icon"></i>
																삭제
															</a>
														</li>
													</ul>
												</div>	
											</div>
										</div>
										<div class="clearfix">
											<span class="label label-outline label-default">Running</span>
											<span class="date pull-right">
												2020-05-01 00:00
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="list-dot font-size-13">
								<li>
									<b>이미지 : </b>
									<span>
										112.160.104.138:38811
									</span>
								</li>
								<li>
									<b>URL : </b>
									<span>
										10.42.1.188
									</span>
								</li>
								<li>
									<b>노드 : </b>
									<span>
										node2
									</span>
								</li>
								<li>
									<b>스케일 : </b>
									<span>
										포드
									</span>
								</li>
							</ul>
							<a href="" class="btn btn-nostyle btn-xs card-footer-btn">
								<i class="xi-caret-down"></i>
							</a>
						</div>
						<div class="card-footer">
							패널 확장 버튼 클릭시 확장되는 영역
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table-bottom-wrap">
			<div class="row">
				<div class="col-sm-5">
					<span class="dataTables_info">
						1 - 10 of 23
					</span>
					<span class="select-info">
						<span class="select-item">5 rows selected</span>
					</span>
				</div>
				<div class="col-sm-7">
					<div class="datatable-paginate">
						<ul class="pagination pagination-md">
							<li><a href="#">Previous</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		

		
	</div>
</div>
<!-- // inner -->