<!-- inner -->
				<div class="page-content">
					<div class="inner-wrap">

						<ul class="nav nav-tabs nav-tabs-btn nav-tabs-lg margin-bottom-20">
							<li><a href="#">프로젝트 1</a></li>
							<li class="active"><a href="#">프로젝트 2</a></li>
							<li><a href="#">프로젝트 3</a></li>
						</ul>

						<div class="panel-group" id="basicCollapse">
							<div class="panel panel-bordered">
								<div class="panel-heading">
									<a class="panel-title" data-toggle="collapse" href="#basicCollapse1" aria-expanded="false">
										<b>Title</b>
									</a>
								</div>
								<div class="panel-collapse collapse" id="basicCollapse1">
									<div class="panel-body">
										Good web design does more than look good, it also provides a great user experience. A good user experience (UX) can dramatically improve the results of your website, leading to more revenue and loyal clients.
									</div>
								</div>
							</div>
							<div class="panel panel-bordered">
								<div class="panel-heading">
									<a class="panel-title" data-toggle="collapse" href="#basicCollapse2" aria-expanded="true">
										<b>Title</b>
									</a>
								</div>
								<div class="panel-collapse collapse in" id="basicCollapse2">
									<div class="panel-body">
										<div class="write-sub-title">
											Sub - Title
										</div>
										<p>
											Good web design does more than look good, it also provides a great user experience. A good user experience (UX) can dramatically improve the results of your website, leading to more revenue and loyal clients.
										</p>
										<ul class="list-dot">
											<li>
												<b>Title : </b>
												<span>
													Text
												</span>
											</li>
											<li>
												<b>Title : </b>
												<span>
													Text
												</span>
											</li>
											<li>
												<b>Title : </b>
												<span>
													Text
												</span>
											</li>
											<li>
												<b>Title : </b>
												<span>
													Text
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-bordered">
								<div class="panel-heading">
									<a class="panel-title" data-toggle="collapse" href="#basicCollapse3" aria-expanded="false">
										<b>Title</b>
									</a>
								</div>
								<div class="panel-collapse collapse" id="basicCollapse3">
									<div class="panel-body">
										Good web design does more than look good, it also provides a great user experience. A good user experience (UX) can dramatically improve the results of your website, leading to more revenue and loyal clients.
									</div>
								</div>
							</div>
							<div class="panel panel-bordered">
								<div class="panel-heading">
									<a class="panel-title" data-toggle="collapse" href="#basicCollapse4" aria-expanded="false">
										<b>Title</b>
									</a>
								</div>
								<div class="panel-collapse collapse" id="basicCollapse4">
									<div class="panel-body">
										Good web design does more than look good, it also provides a great user experience. A good user experience (UX) can dramatically improve the results of your website, leading to more revenue and loyal clients.
									</div>
								</div>
							</div>
						</div>

						
						

						
					</div>
				</div>
				<!-- // inner -->