<!-- 배포 유형 선택 -->
<div class="write-sub-title">
	<b class="caution-star">*</b> 배포 유형 선택
	<div class="t_tip_bx"><a class="info-icon-tooltip" tooltip-placement="top" uib-tooltip-html="'- 서비스의 배포 유형 선택<br/>1. 단일 구성: 1개의 서버로 구성<br/>2. 레플리카 구성: Master, Slave로 구성<br/>3. 클러스터 구성: 3대의 클러스터로 구성'">	i</a></div>
</div>
<ul class="list-inline margin-top-20">
	<li>
		<div class="radio-group">
			<input type="radio" name="deploy_type" id="deploy-type-single" class="radio-input" value="server" ng-model="contents.data.deployType" ng-value="'single'" ng-change="contents.fn.changeDeployType(contents.data.deployType)" aria-invalid="false">
			<label for="deploy-type-single" class="radio-item">
				<div class="radio">
					<div class="checked-icon"></div>
				</div>
				<span class="text"> 단일 구성 </span>
			</label>
		</div>
	</li>
	<li ng-show="contents.deployTypeReplicaSupport">
		<div class="radio-group">
			<input type="radio" name="deploy_type" id="deploy-type-replica" class="radio-input" value="image" ng-model="contents.data.deployType" ng-value="'replica'" ng-change="contents.fn.changeDeployType(contents.data.deployType)" aria-invalid="false">
			<label for="deploy-type-replica" class="radio-item">
				<div class="radio">
					<div class="checked-icon"></div>
				</div>
				<span class="text"> 레플리카 구성 ( 서버: {{ contents.data.replicaCnt }} ) </span>
			</label>
		</div>
	</li>
	<li ng-show="contents.deployTypeClusterSupport">
		<div class="radio-group">
			<input type="radio" name="deploy_type" id="deploy-type-cluster" class="radio-input" value="image" ng-model="contents.data.deployType" ng-value="'cluster'" ng-change="contents.fn.changeDeployType(contents.data.deployType)" aria-invalid="false">
			<label for="deploy-type-cluster" class="radio-item">
				<div class="radio">
					<div class="checked-icon"></div>
				</div>
				<span class="text"> 클러스터 구성 ( 서버: {{ contents.data.clusterCnt }} ) </span>
			</label>
		</div>
	</li>
</ul>

<!-- 서버수 -->
<!-- <div ng-show="contents.data.deployType == 'replica' || contents.data.deployType == 'cluster'">
	<div class="board-warp board-write-wrap margin-top-20">
		<table class="table">
			<colgroup>
				<col style="width: 20%;">
				<col style="width:">
			</colgroup>
			<tbody>
				<tr>
					<th><b class="caution-star">*</b> 서버 수</th>
					<td ng-show="contents.data.deployType == 'replica'"><input type="text" class="form-control" maxlength="50" ng-model="contents.data.replicaCnt" disabled="disabled"></td>
					<td ng-show="contents.data.deployType == 'cluster'"><input type="text" class="form-control" maxlength="50" ng-model="contents.data.clusterCnt" disabled="disabled"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div> -->
<!-- //서버수 -->

	<!-- //배포 유형 선택 -->