<!-- 포트 -->
<div class="write-sub-title">
	<b class="caution-star">*</b>포트
	<div class="t_tip_bx"><a class="info-icon-tooltip" tooltip-placement="top" uib-tooltip-html="'해당 서비스의 Listen 포트'">	i</a></div>
</div>
<div class="form-group">
	<input type="text" name="servicePort" class="form-control" maxlength="5" ng-model="contents.data.servicePort" validation="number|required|custom:contents.fn.systemPortCustomValidationCheck(contents.data.deployType, contents.data.servicePort)" placeholder="서비스 포트를 입력하세요." >
</div>
<!-- //포트 -->
