<section class="panel panel-bordered">
	<!-- panel-heading -->
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="panel-title">서비스 기본정보</h3>
			</div>
		</div>
	</div>
	<!-- // panel-heading -->
	<!-- panel-body -->
	<div class="panel-body">
		<div class="s_cont_box">
			<ul>
				<li>
					<span class="s_tit">서비스 이름</span> 
					<span class="s_txt">{{ contents.data.deployName }}</span>
				</li>
				<li>
					<span class="s_tit">카탈로그 이름</span> 
					<span class="s_txt">{{ contents.vmCatalogInfo.catalogName }}</span>
				</li>
				<li>
					<span class="s_tit">버전</span> 
					<span class="s_txt">{{ contents.vmCatalogInfo.version }}</span>
				</li>
				<li>
					<span class="s_tit">서버 수</span> 
					<span class="s_txt">{{ contents.data.serverCnt }}</span>
				</li>
				<li>
					<span class="s_tit">서버 OS</span> 
					<span class="s_txt">CentOS 7</span>
				</li>
				<li>
					<span class="s_tit">서버 사양</span> 
					<span class="s_txt">{{ contents.data.spec.name }}</span>
					<div class="s_inner_cont">
						<div class="table-wrap">
							<table class="table table-outline">
								<colgroup>
									<col width="30" />
									<col width="30" />
									<col width="30" />
								</colgroup>
								<thead class="text-center bg-grey-200">
									<tr>
										<th>vCPU</th>
										<th>메모리</th>
										<th>디스크</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr ng-show="contents.data.serverCnt == 1">
										<td>{{ contents.sltSpec.vcpus }} Core</td>
										<td>{{ contents.sltSpec.ram | displayVolume : 'MB' }}</td>
										<td>{{ contents.sltSpec.disk | displayVolume : 'GB' }}</td>
									</tr>
									<tr ng-show="contents.data.serverCnt > 1">
										<td>{{ contents.data.serverCnt }} X {{ contents.sltSpec.vcpus }} Core</td>
										<td>{{ contents.data.serverCnt }} X {{ contents.sltSpec.ram | displayVolume : 'MB' }}</td>
										<td>{{ contents.data.serverCnt }} X {{ contents.sltSpec.disk | displayVolume : 'GB' }}</td>
									</tr>
								</tbody>
							</table>
							<span class="info_txt">* ‘디스크’ 크기는 OS 설치에 필요한 디스크 공간을 포함한 수치입니다.</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- //panel-body -->
</section>

<div class="panel-group" ng-if="contents.data.volumeUse">
	<section class="panel panel-bordered">
		<div class="panel-heading">
			<a class="panel-title" data-toggle="collapse" data-target="#basicCollapse2" href="" aria-expanded="false" ng-click="main.panelToggleChange($event);"><h3>추가 디스크</h3></a>
		</div>
		<!-- // panel-heading -->
		<div class="panel-collapse collapse" id="basicCollapse2">
			<div class="panel-body">
				<div class="s_cont_box">
					<ul>
						<li>
							<span class="s_tit">크기</span> <span ng-show="contents.data.serverCnt == 1" class="s_txt">{{ contents.data.volumeSize | displayVolume : 'GB' }}</span> 
							<span ng-show="contents.data.serverCnt > 1" class="s_txt">{{ contents.data.serverCnt }} X {{ contents.data.volumeSize | displayVolume : 'GB' }}</span>
						</li>
						<li>
							<span class="s_tit">유형</span> 
							<span class="s_txt">Volume Storage</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="panel-group">
	<section class="panel panel-bordered">
		<div class="panel-heading">
			<a class="panel-title" data-toggle="collapse" data-target="#basicCollapse3" href="" aria-expanded="false" ng-click="main.panelToggleChange($event);"><h3>프로젝트 자원 계획(Resource Quota Plan)</h3></a>
		</div>
		<!-- // panel-heading -->
		<div class="panel-collapse collapse" id="basicCollapse3">
			<div class="panel-body">
				<div class="s_cont_box">
					<div class="s_progress_box wd_tit">
						<ul>
							<li>
								<span class="tit_txt">vcpu</span>
								<div class="progressWrap type2">
									<div class="progress">
										<div percent-progress-bar-animate bar-type="width" percent="{{ ((contents.tenantResource.usedResource.cores + contents.sltSpec.vcpus*contents.data.serverCnt)/contents.tenantResource.maxResource.cores)*100|number:0 }}" class="progress">
											<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{ ((contents.tenantResource.usedResource.cores + contents.sltSpec.vcpus*contents.data.serverCnt)/contents.tenantResource.maxResource.cores)*100|number:0 }}%"></div>
										</div>
									</div>
								</div>
								<span class="txt_count">({{ (contents.tenantResource.usedResource.cores + contents.sltSpec.vcpus*contents.data.serverCnt) }} 개 / {{ contents.tenantResource.maxResource.cores }} 개)</span>
							</li>
							<li>
								<span class="tit_txt">메모리</span>
								<div class="progressWrap type2">
									<div class="progress">
										<div percent-progress-bar-animate bar-type="width" percent="{{ ((contents.tenantResource.usedResource.ramSize + contents.sltSpec.ram*contents.data.serverCnt)/contents.tenantResource.maxResource.ramSize)*100|number:0 }}" class="progress">
											<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{ ((contents.tenantResource.usedResource.ramSize + contents.sltSpec.ram*contents.data.serverCnt)/contents.tenantResource.maxResource.ramSize)*100|number:0 }}%"></div>
										</div>
									</div>
								</div>
								<span class="txt_count">({{ (contents.tenantResource.usedResource.ramSize + contents.sltSpec.ram*contents.data.serverCnt) | displayVolume:'MB' }} / {{ contents.tenantResource.maxResource.ramSize | displayVolume:'MB' }})</span>
							</li>
							<li>
								<span class="tit_txt">디스크</span>
								<div class="progressWrap type2">
									<div class="progress">
										<div percent-progress-bar-animate bar-type="width" percent="{{ ((contents.tenantResource.usedResource.instanceDiskGigabytes + contents.sltSpec.disk*contents.data.serverCnt)/contents.tenantResource.maxResource.instanceDiskGigabytes)*100|number:0 }}" class="progress">
											<div class="progress-bar" role='progressbar' tooltip-placement="top" uib-tooltip="{{ ((contents.tenantResource.usedResource.instanceDiskGigabytes + contents.sltSpec.disk*contents.data.serverCnt)/contents.tenantResource.maxResource.instanceDiskGigabytes)*100|number:0 }}%"></div>
										</div>
									</div>
								</div>
								<span class="txt_count">({{ (contents.tenantResource.usedResource.instanceDiskGigabytes + contents.sltSpec.disk*contents.data.serverCnt) | displayVolume:'GB' }} / {{ contents.tenantResource.maxResource.instanceDiskGigabytes | displayVolume:'GB' }})</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
