<span class="fileSelTit">파일</span>
<div class="fileUploadWrap" style="width:80%;">
  <input id="fileInput" filestyle="" type="file" data-class-button="btn btn-default" data-class-input="form-control" data-button-text="" data-icon-name="fa fa-upload" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" file-input="contents.uploadedNoticeFile" multiple nv-file-select="" uploader="pop2.uploader">
  <div class="bootstrap-filestyle input-group">
	<input type="text" id="userfile" class="form-control reductHeight" name="userfile" disabled="" placeholder="선택된 파일 없음">
	<span class="group-span-filestyle input-group-btn" tabindex="0">
	  <label for="fileInput" class="btn btn-default ">
		<span class="btn btn-md btn-color1">파일찾기</span>
	  </label>
	</span>
  </div>
</div>

<p class="addfileGuidetxt">
  ※ 이미지는 최대 100MB까지 업로드 가능합니다.(jpg, png)
</p>
