	<!-- 작업 추가 및 선택 -->
	<div ng-if="main.projectType == 'pjt'" class="projt-selWarp">
		<div class="pull-left" ng-include="main.portalOrgDropdownTempeUrl"></div>
		<div class="pull-right">
			<button type="button" name="button" class="btn only-ico ico-refresh" tooltip-placement="bottom" uib-tooltip="새로고침" ng-click="main.replacePage();"><span class="ico">새로고침</span></button>
		</div>
	</div>
	<!-- //작업 추가 및 선택 -->
    <!-- guide box 0830 삭제 -->
	<!--
	<div class="guideTxt type1" ng-bind-html="'iaasMenu.desc.' + main.selectSiteMap.name + '.short' | translate"></div>
	
	
	<div class="guideBox type1">
		<p>보안그룹은 클라우드 인프라에서 네트워크 설정에 적용되는 IP 필터 rule에 대한 묶음입니다.<br>
			보안그룹을 만든 후, 보안 그룹에서 rule을 추가할 수 있습니다.</p>
		<dl class="">
			<dt>규칙관리란?</dt>
			<dd>규칙은 보안그룹에 할당된 인스턴스에게 어떤 트래픽이 허용되는지를 정의합니다.</dd>
		</dl>
	</div>
	-->
	<!-- // guide box -->
		
	<!-- cont tit -->
	<div class="cont-titWrap mt50" style="margin-bottom:0;">
		<h3 class="h-tit3">{{'label.security_group' | translate}} 목록</h3>
	</div>
	<!-- //cont tit -->
		
	<!-- tb top -->
	<div class="tb-top tb-top-type01">
		<div class="pull-left"></div>
		<div class="pull-right">
			<button type="button" name="button" class="btn btn-ico-add only-ico" data-user="aside" data-username="#aside-write" title="등록" ng-click="contents.fn.formOpen($event, 'write');"><span class="ico">등록</span></button>
		</div>
	</div>
	<!-- tb top -->
	
	<!-- table -->
	<div class="tbl type1">
		<table class="table">
			<colgroup>
			<col style="width:10%;">
			<col style="width:20%;">
			<col style="width:auto;">
			<col style="width:20%;">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">No.</th>
					<th scope="col">이름</th>
					<th scope="col">설명</th>
					<th scope="col">관리</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, policy) in contents.policyList">
					<td>
						{{key+1}}
					</td>
					<td class="text-left" style="text-decoration: underline;"><a href="javascript:void(0)" ng-click="main.moveToAppPage('/iaas/securityPolicy/securityPolicyRule/'+policy.id,policy.name,true)">{{policy.name}}</a></td>
					<td class="text-left" style="white-space:pre-line;">{{policy.description}}</td>
					<td class="">
						<button type="button" name="button" class="btn btn-ico-set-s only-ico" title="규칙관리" ng-click="main.moveToAppPage('/iaas/securityPolicy/securityPolicyRule/'+policy.id,policy.name,true)"><span class="ico">규칙관리</span></button>
						<button ng-show="policy.name != 'default'" type="button" name="button" class="btn btn-ico-del-s only-ico" title="삭제" ng-click="contents.fn.deleteSecurityPolicyJob(policy.id)"><span class="ico">삭제</span></button>
						<button ng-show="policy.name != 'default'" type="button" name="button" class="btn btn-ico-modi-s only-ico" title="수정" data-user="aside" data-username="#aside-modi" ng-click="contents.fn.formOpen($event, 'edit', policy);"><span class="ico">수정</span></button>
					</td>
				</tr>
				<tr ng-if="contents.policyList.length == 0">
					<td colspan="4" class="center">{{ 'message.mi_dont_exist_list' | translate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- //table -->

	<!-- page -->
	<nav class="pagiWrap" ng-show="contents.pageOptions.total > contents.pageOptions.pageSize">
		<paging
			page="contents.pageOptions.currentPage"
			page-size="contents.pageOptions.pageSize"
			total="contents.pageOptions.total"
			pg-href=""
			show-prev-next="true"
			show-first-last="true"
			paging-action="contents.listApps(page)"
			text-first-class="first"
			text-last-class="end"
			text-next-class="next"
			text-prev-class="prev">
		</paging>
	</nav>
	<!-- //page -->