<section class="panel panel-bordered app-info-area">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<div class="round-img pull-left">
					<img src="images/thum/im_logo_compute.png" class="logo" alt="">
				</div>
				<div class="pull-left">
					<h3 class="panel-title padding-left-5">
						{{ contents.loadbalancer.iaasLbInfo.name }}
					</h3>
				</div>
			</div>
			<div class="col-md-6 text-right padding-top-10">
				<div class="dropdown">
					<button id="btn-option"  type="button" class="btn btn-xs btn-nostyle dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
						<div class="feather-icon">
							<i data-feather="more-horizontal" class="feather-directive"></i>
						</div>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
						<li><a href="javascript:void(0);" ng-class="{'disabled' : !main.checkResourceUserRole()}" ng-click="!main.checkResourceUserRole() || contents.fn.formOpen($event, 'rename', contents.loadbalancer);">이름/설명 변경</a></li>
						<li><a href="javascript:void(0);" ng-class="{'disabled' : !main.checkResourceUserRole(), 'delete' : main.checkResourceUserRole()}" ng-click="!main.checkResourceUserRole() || main.popDeleteCheckName($event, contents.loadbalancer.iaasLbInfo.name, contents.deleteLb, contents.loadbalancer.iaasLbInfo.id);">삭제</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body detail-info">
		<div class="col-md-12">
			<ul class="list-dot margin-bottom-20">
				<li>
					<b>설명</b>
					<span>{{ contents.loadbalancer.iaasLbInfo.description }}</span>
				</li>
				<li>
					<b>접속 IP</b>
					<span>{{ contents.loadbalancer.iaasLbInfo.floatingIp }}</span>
					<button type="button" tooltip-placement="top" uib-tooltip-html="'복사하기'" ng-click="contents.fn.copyConnectInfoToClipboard(contents.loadbalancer.iaasLbInfo)"><span class="feather-icon blue-600 margin-left-5"><i data-feather="copy" class="feather-directive"></i></span></button>
				</li>
				<li>
					<b>내부 IP<div class="t_tip_bx"><a class="info-icon-tooltip" tooltip-placement="top" uib-tooltip-html="'서버 간 통신 시 내부 IP를 사용할 수 있습니다.'">i</a></div></b>
					<span>{{ contents.loadbalancer.iaasLbInfo.ipAddress }}</span>
				</li>
				<li>
					<b>상태</b>
					<!-- <div class="txt">
						<p><img src="images/loading_sm.gif"> 활성입니다.</p>
					</div> -->
					<div class="txt">
						<span class="state">
							<span class="state-round rgba-green-strong"></span>
							<span class="state-round rgba-brown-strong" ng-if="contents.instance.vmState == 'error'"></span>
							<span class="state-round rgba-blue-grey-strong" ng-if="contents.instance.vmState == 'paused' || contents.instance.vmState == 'resized'"></span>
							<span class="state-round rgba-black-strong" ng-if="contents.instance.vmState == 'stopped'"></span>
							<span class="state-txt">활성</span>
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<!-- //Nav tabs -->
<ul class="nav nav-tabs nav-tabs-btn nav-tabs-lg">
	<li ng-class="{'active':contents.sltInfoTab == 'lbPort'}"><a href="" ng-click="contents.fn.changeSltInfoTab('lbPort');">부하분산 포트 사용현황</a></li>
	<li ng-class="{'active':contents.sltInfoTab == 'domain'}"><a href="" ng-click="contents.fn.changeSltInfoTab('domain');">서비스 도메인</a></li>
	<li ng-class="{'active':contents.sltInfoTab == 'portForwarding'}"><a href="" ng-click="contents.fn.changeSltInfoTab('portForwarding');">포트포워딩</a></li>
</ul>


<!-- Tab panes -->
<div class="tab-content inst padding-top-30 page-detail">
	<!-- 부하분산포트 사용현황 -->
	<div ng-if="contents.sltInfoTab == 'lbPort'" class="tab-pane" ng-class="{'active':contents.sltInfoTab == 'lbPort'}">
		<!-- panel -->
		<section class="panel panel-bordered">
			<!-- panel-heading -->
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h3 class="panel-title">
							<b class="tit">부하분산 포트 사용현황<span class="color-primary">({{ contents.loadbalancer.iaasLbPorts.length }})</span></b>
						</h3>
					</div>
					<div class="col-md-6 text-right">
						<div class="padding-top-10 padding-horizontal-20">
							<button type="button" title="추가" ng-click="contents.fn.formOpen($event, 'port', contents.loadbalancer);" ng-disabled="!main.checkResourceUserRole()"><i class="xi-plus-circle font-size-25 grey-600"></i></button>
						</div>
					</div>
				</div>
			</div> 
			<!-- // panel-heading -->
			<!-- panel-body -->
			<div class="panel-body" style="height:auto;">
				<div class="in"><!--  scroll-pane scroll-config="{ contentWidth: '0px' }"  -->
					<div class="alert alert-primary" role="alert">
						<i class="xi-info font-size-20"></i>
						<div class="text-area">부하분산 포트의 사용현황을 표시합니다.</div>
					</div>
					<div><!--  class=" scroll-content" style="height:270px;" -->
						<div class="table-wrap border-0 margin-top-20 padding-bottom-70" >
							<table class="table table-hover">
								<colgroup>
									<col style="width:10%;">
									<col style="width:;">
									<col style="width:10%;">
									<col style="width:10%;">
									<col style="width:20%;">
									<col style="width:30%;">
									<col style="width:10%;">
								</colgroup>
								<thead class="text-center black white-text">
									<tr>
										<th scope="col">NO.</th>
										<th scope="col" class="text-left">이름</th>
										<th scope="col">포트</th>
										<th scope="col">프로토콜</th>
										<th scope="col">로드 밸런스 유형<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'- 로드밸런스 유형<br/> 1. 라운드로빈: 세션을 순차적으로 맺어주는 방식<br/>2. 소스: 사용자의 IP를 Hashing하여 분배하는 방식으로 특정 client는 특정 server로만 접속<br/>3. 최소연결: 연결 개수가 가장 적은 서버를 선택하는 방식'"><span class="ico_info"></span></button></div></th>
										<th scope="col" class="text-left">연결서버</th>
										<th scope="col">헬스체크유형</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="iaasLbPort in contents.loadbalancer.iaasLbPorts" ng-click="contents.showPortDetail(iaasLbPort)" ng-class="{'': !(iaasLbPort.id == contents.selectPortId), 'tbl_selected': (iaasLbPort.id == contents.selectPortId)}">
										<td class="text-center">{{ $index + 1}}</td>
										<td class="text-left">{{ iaasLbPort.name }}</td>
										<td class="text-center">{{ iaasLbPort.protocolPort }}</td>
										<td class="text-center">{{ iaasLbPort.protocol }}</td>
										<td class="text-center">{{ iaasLbPort.lbAlgorithmName }}</td>
										<td>
											<div class="table-state">
												<div ng-if="iaasLbPort.connType" class="state">
													<ul ng-repeat="iaaslbportMember in contents.loadbalancer.iaasLbPortMembers" style="text-align: left;">
														<!-- 포트 상관없이 LB안에 연결서버 리스트가 다 들어가 있기 때문에 LBPort의 id가 같은 경우에만 해당하는 연결서버 목록이 나오도록-->
														<li ng-if="iaaslbportMember.iaasLbPort.id == iaasLbPort.id">
															<!--서버 상태 표시 -->
															<span class="state-round rgba-green-strong"></span>
															<span ng-mouseover="server_con_detail=true" ng-mouseleave="server_con_detail=false">{{ iaaslbportMember.name }}</span><!-- .state-txt 마우스 오버 시 .server_con_detail 노출 -->
															<!-- 서버스펙상세 -->
															<div class="server_con_detail" ng-show="server_con_detail">
																<ul>
																	<li><strong>- OS 유형 : </strong>{{ iaaslbportMember.instanceOsType }}</li>
																	<li><strong>- 접속 IP : </strong>{{ iaaslbportMember.instanceFloatingIp }}</li>
																	<li><strong>- 내부 IP : </strong>{{ iaaslbportMember.instanceFixedIp}}</li>
																	<li><strong>- 생성일시 : </strong>{{ iaaslbportMember.instanceCreated | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
																</ul>
															</div>
															<!-- //서버스펙상세 -->
														</li>
													</ul>
												</div>
											</div>
										</td>
										<td class="text-center">{{ iaasLbPort.healthType }}</td>
									</tr>
									<tr class="no-data" ng-if="false">
										<td colspan="9">데이터가 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- 부하분산 사용현황 상세 -->
				<!-- tab wrap -->
				<div class="in" ng-if="contents.sltInfoTab == 'lbPort'">
					<div class="panel panel-bordered" ng-if="contents.iaasLbPorts.id" >
						<div class="panel-heading">
							<ul class="nav nav-tabs nav-tabs-line">
								<li role="presentation" ng-class="{'active' : contents.tabIndex == 0}"><a href="" ng-click="contents.tabIndex = 0">포트관리<span></span></a></li>
								<li role="presentation" ng-class="{'active' : contents.tabIndex == 1}"><a href="" ng-click="contents.tabIndex = 1">연결 서버<span></span></a></li>
							</ul>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane active"  id="tab1" ng-class="{'active' : contents.tabIndex == 0}">
									<!-- 이너컨텐츠 -->
									<h3 class="title-type1 title-border">
										<span>포트 관리</span>
										<div class="pull-right">
											<button type="button" title="수정" ng-click="contents.fn.formOpen($event, 'editport', contents.loadbalancer);" ng-disabled="!main.checkResourceUserRole()"><i class="xi-pen font-size-20 grey-600"></i></button>
											<button type="button" title="삭제" ng-click="main.popDeleteCheckName($event, contents.iaasLbPorts.name, contents.deleteLbPort, contents.iaasLbPorts.id);" ng-disabled="!main.checkResourceUserRole()"><i class="xi-trash font-size-20 grey-600"></i></button>
										</div>
									</h3>
									
									<!-- 메세지영역 -->
									<div class="alert alert-primary" role="alert">
										<i class="xi-info font-size-20"></i>
										<div class="text-area">부하 분산 포트의 상세정보를 안내합니다.</div>
									</div>
									<!-- //메세지영역 -->
									
									<div class="row">
										<div class="col-md-6">
											<h3 class="title-type1 title-border">포트 정보</h3>
											<div class="board-warp board-write-wrap">
												<table class="table">
													<colgroup>
														<col style="width:20%;">
														<col style="width:auto;">
													</colgroup>
													<tbody>
													<tr>
														<th>포트이름</th>
														<td>{{ contents.iaasLbPorts.name }}</td>
													</tr>
													<tr>
														<th>프로토콜</th>
														<td>{{ contents.iaasLbPorts.protocol }}</td>
													</tr>
													<tr>
														<th>포트</th>
														<td>{{ contents.iaasLbPorts.protocolPort }}</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-6">
											<h3 class="title-type1 title-border">연결 정보</h3>
											<div class="board-warp board-write-wrap">
												<table class="table">
													<colgroup>
														<col style="width:30%;">
														<col style="width:auto;">
													</colgroup>
													<tbody>
													<tr>
														<th>연결포트</th>
														<td>{{ contents.iaasLbPorts.connectionPort }}</td>
													</tr>
													<tr>
														<th>로드밸런스 유형</th>
														<td>{{ contents.iaasLbPorts.lbAlgorithmName }}</td>
													</tr>
													<tr>
														<th>헬스체크 유형</th>
														<td>{{ contents.iaasLbPorts.healthType }}</td>
													</tr>
													<tr>
														<th>최대 연결 개수</th>
														<td>{{ contents.iaasLbPorts.connectionLimit }}</td>
													</tr>
													<tr>
														<th>헬스체크 주기(초)</th>
														<td>{{ contents.iaasLbPorts.healthDelay }}</td>
													</tr>
													<tr>
														<th>헬스체크 URL</th>
														<td>{{ contents.iaasLbPorts.healthUrlPath }}</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- //이너컨텐츠 -->
								</div>
								<div class="tab-pane"  id="tab2" ng-class="{'active' : contents.tabIndex == 1}">
									<!-- 이너컨텐츠 -->
									<h3 class="title-type1 title-border">
										<span>연결 서버</span>
										<div class="pull-right">
											<button type="button" title="수정" ng-if="contents.iaasLbPorts.connType == 'server' || contents.iaasLbPorts.connType == 'image'" ng-click="contents.fn.formOpen($event, 'editserver', contents.loadbalancer);" ng-disabled="!main.checkResourceUserRole()"><i class="xi-pen font-size-20 grey-600"></i></button>
											<button type="button" title="추가" ng-if="contents.iaasLbPorts.connType == null" ng-click="contents.fn.formOpen($event, 'createserver', contents.loadbalancer);" ng-disabled="!main.checkResourceUserRole()"><i class="xi-plus-circle font-size-20 grey-600"></i></button>
										</div>
									</h3>
									
									<!-- 메세지영역 -->
									<div class="alert alert-primary" role="alert">
										<i class="xi-info font-size-20"></i>
										<div class="text-area">연결서버의 상세정보를 안내합니다</div>
									</div>
									<!-- //메세지영역 -->
									
									<!-- 연결서버 정보가 없는 경우-->
									<div class="text-center mt50" ng-if="contents.iaasLbPorts.connType == null">
										<p>데이터가 없습니다.</p>
									</div>
									<!-- 연결서버 정보가 없는 경우-->
									
									<!-- 연결서버 이미지일 때 상태 프로그래스 -->
									<div class="cont_progress_div" ng-if="contents.loadbalancer.iaasLbInfo.checkStatus.indexOf('ing') > -1 && false">
										<div class="pnb_progress_wrap">
											<div class="progress_box">
												<span class="bar_bg"></span>
												<ul>
													<li ng-class="{'creating' : (instance.uiTask == 'creating'), 'complete' : (instance.uiTask != 'creating')}" class="complete" style="">
														<div class="state_box">
															<span class="state_ico"><span>1</span></span>
														</div>
														<div class="state_txt"><span>서버 생성</span></div>
													</li>
													<li ng-class="{'standby' : (instance.uiTask == 'creating'), 'creating' : (instance.uiTask == 'networking'), 'complete' : (instance.uiTask == 'block_device_mapping' || instance.uiTask == 'created_complete')}" class="creating" style="">
														<div class="state_box">
															<span class="state_ico"><span>2</span></span>
														</div>
														<div class="state_txt"><span>네트워크 연결</span></div>
													</li>
													<li ng-class="{'standby' : (instance.uiTask == 'creating'), 'creating' : (instance.uiTask == 'networking'), 'complete' : (instance.uiTask == 'block_device_mapping' || instance.uiTask == 'created_complete')}" class="standby" style="">
														<div class="state_box">
															<span class="state_ico"><span>2</span></span>
														</div>
														<div class="state_txt"><span>네트워크 연결</span></div>
													</li>
													<li ng-class="{'standby' : (instance.uiTask == 'creating'), 'creating' : (instance.uiTask == 'networking'), 'complete' : (instance.uiTask == 'block_device_mapping' || instance.uiTask == 'created_complete')}" class="standby" style="">
														<div class="state_box">
															<span class="state_ico"><span>2</span></span>
														</div>
														<div class="state_txt"><span>네트워크 연결</span></div>
													</li>
													<!-- ngIf: instance.uiTaskType == 'v' -->
												</ul>
												<div class="progress_txt">
													<p class="ng-binding">네트워크 생성 중 입니다.</p>
													<!-- ngIf: instance.uiTask == 'creating' || instance.uiTask == 'networking' || instance.uiTask == 'block_device_mapping' --><span ng-if="instance.uiTask == 'creating' || instance.uiTask == 'networking' || instance.uiTask == 'block_device_mapping'" class="ng-binding ng-scope">27초</span><!-- end ngIf: instance.uiTask == 'creating' || instance.uiTask == 'networking' || instance.uiTask == 'block_device_mapping' -->
												</div>
											</div>
										</div>
									</div>
									<!-- //연결서버 이미지일 때 상태 프로그래스 -->
									
									<!-- 연결서버유형(서버) -->
									<div class="row" ng-if="contents.iaasLbPorts.connType == 'server'">
										<div class="col-md-6">
											<h3 class="title-type1 title-border">연결서버 정보</h3>
											<div class="board-warp board-write-wrap">
												<table class="table">
													<colgroup>
														<col style="width:22%;">
														<col style="width:auto;">
													</colgroup>
													<tbody>
														<tr>
															<th>연결서버 유형</th>
															<td>서버</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-6">
											<h3 class="title-type1 title-border">연결서버 정보 상세</h3>
											<div class="table-wrap border-0">
												<table class="table table-hover">
													<colgroup>
														<col style="width:auto;">
														<col style="width:20%;">
														<col style="width:20%;">
													</colgroup>
													<thead class="text-center grey">
														<tr>
															<th scope="col">서버이름</th>
															<th scope="col">내부 IP</th>
															<th scope="col">상태</th>
														</tr>
													</thead>
													<tbody class="text-center">
														<tr ng-repeat="iaaslbportMember in contents.loadbalancer.iaasLbPortMembers">
															<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">{{ iaaslbportMember.name }}</td>
															<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">{{ iaaslbportMember.ipAddress }}</td>
															<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">정상</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- //연결서버유형(서버) -->
									
									<!-- 연결서버유형(이미지) -->
									<!-- <div class="row" ng-if="contents.iaasLbPorts.connType == 'image' && contents.loadbalancer.iaasLbInfo.checkStatus.indexOf('ing')==-1"> -->
									<div class="row" ng-if="contents.iaasLbPorts.connType == 'image'">
										<div class="col-md-6">
											<h3 class="title-type1 title-border">연결서버 정보</h3>
											<div class="board-warp board-write-wrap">
												<table class="table">
													<colgroup>
														<col style="width:22%;">
														<col style="width:auto;">
													</colgroup>
													<tbody>
														<tr>
															<th>연결서버 유형</th>
															<td>이미지</td>
														</tr>
														<tr>
															<th>서버 이름</th>
															<td>{{ contents.iaasLbPorts.connImageName }}</td>
														</tr>
														<tr>
															<th>서버 수</th>
															<td>{{ contents.iaasLbPorts.connImageCount }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-6">
											<h3 class="title-type1 title-border">연결서버 정보 상세</h3>
											<div class="table-wrap border-0">
												<table class="table table-hover">
													<colgroup>
														<col style="width:auto;">
														<col style="width:20%;">
														<col style="width:20%;">
													</colgroup>
													<thead class="text-center grey">
														<tr>
															<th scope="col">서버이름</th>
															<th scope="col">내부 IP</th>
															<th scope="col">상태</th>
														</tr>
													</thead>
													<tbody class="text-center">
														<tr ng-repeat="iaaslbportMember in contents.loadbalancer.iaasLbPortMembers">
															<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">{{ iaaslbportMember.name }}</td>
															<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">{{ iaaslbportMember.ipAddress }}</td>
															<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">정상</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- //연결서버유형(이미지) -->
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<!-- //tab wrap -->
			<!-- //부하분산 사용현황 상세 -->
			</div>
			<!-- //panel-body -->
		</section>
		<!-- //panel -->
	</div>
	<!-- //부하분산포트 사용현황 -->
	
	
	<!-- 서비스 도메인 -->
	<div ng-if="contents.sltInfoTab == 'domain'" class="tab-pane" ng-class="{'active':contents.sltInfoTab == 'domain'}">
		<!-- panel -->
		<section class="panel panel-bordered">
			<!-- panel-heading -->
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h3 class="panel-title">
							<b class="tit">서비스 도메인</b>
						</h3>
					</div>
					<div class="col-md-6 text-right">
						<div class="padding-top-10 padding-horizontal-20">
							<button type="button" title="추가" ng-click="contents.fn.popConnDomainForm($event);" ng-disabled="!main.checkResourceUserRole()"><i class="xi-plus-circle font-size-25 grey-600"></i></button>
							<!-- <button type="button" title="추가" ng-click="contents.fn.connectDomainFormOpen();"><i class="xi-plus-circle font-size-25 grey-600"></i></button> -->
							<button type="button" title="확대/축소" class="btn-zoom grey-600" ng-click="contents.zoomPanel($event, 'domain')"></button>
						</div>
					</div>
				</div>
			</div>
			<!-- // panel-heading -->
			<!-- panel-body -->
			<!-- ng-if="contents.instance.instanceDomainLinkInfos"-->
			<div class="panel-body" style="height: auto;">
				<div id="action_domain_panel" class="in">
					<!--  scroll-pane scroll-config="{ contentWidth: '0px' }"  -->
					<div class="alert alert-primary" role="alert">
						<i class="xi-info font-size-20"></i>
						<div class="text-area">서버에서 실행되는 외부 공개 서비스(웹 서비스 등)에 대한 접근 도메인을 구성합니다.</div>
					</div>
					<div>
						<!--  class=" scroll-content" style="height:270px;" -->
						<div class="table-wrap border-0 margin-top-20 padding-bottom-70">
							<table class="table table-hover">
								<colgroup>
									<col style="width: 30%;">
									<col style="width: 25%;">
									<col style="width: 25%;">
									<col style="width: 20%;">
								</colgroup>
								<thead class="text-center black white-text">
									<tr>
										<th scope="col">도메인</th>
										<th scope="col">프로토콜 타입</th>
										<th scope="col">포트</th>
										<th scope="col">삭제</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="contents.instanceDomainLinkInfos.length == 0">
										<!-- | filter : {isRdpDomain: false}).length == 0-->
										<td colspan="4" class="text-center">연결된 도메인이 없습니다.</td>
									</tr>
									<tr ng-repeat="item in contents.instanceDomainLinkInfos">
										<!-- | filter : {isRdpDomain: false}-->
										<td class="text-center">{{ item.domainInfo.domain }}</td>
										<td class="text-center">{{ item.protocolType }}</td>
										<td class="text-center">{{ item.sourcePort }}</td>
										<td class="text-center">
											<div class="dropdown">
												<button type="button" id="btn-option" class="btn btn-nostyle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
													<div class="feather-icon">
														<i data-feather="more-horizontal" class="feather-directive"></i>
													</div>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
													<li><a href="javascript:void(0);" ng-class="{'disabled' : !main.checkResourceUserRole()}" ng-click="!main.checkResourceUserRole() || contents.fn.popModDomainForm($event, item);">수정</a></li>
													<li><a href="javascript:void(0);" ng-class="{'disabled' : !main.checkResourceUserRole(), 'delete' : main.checkResourceUserRole()}" ng-click="!main.checkResourceUserRole() || main.popDeleteCheckName($event, item.domainInfo.domain, contents.fn.deleteDomain, item);">삭제</a></li>
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- //서비스 도메인 -->
	
	<!-- 포트포워딩 -->
	<div ng-if="contents.sltInfoTab == 'portForwarding'" class="tab-pane" ng-class="{'active':contents.sltInfoTab == 'portForwarding'}">
		<!-- panel -->
		<section class="panel panel-bordered">
			<!-- panel-heading -->
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h3 class="panel-title">
							<b class="tit">포트포워딩</b>
						</h3>
					</div>
					<div class="col-md-6 text-right">
						<div class="padding-top-10 padding-horizontal-20">
							<button type="button" title="추가" ng-click="contents.fn.popPortForwardingForm($event);" ng-disabled="!main.checkResourceUserRole()"><i class="xi-plus-circle font-size-25 grey-600"></i></button>
							<button type="button" title="확대/축소" class="btn-zoom grey-600" ng-click="contents.zoomPanel($event, 'portForwarding')"></button>
						</div>
					</div>
				</div>
			</div>
			<!-- // panel-heading -->
			<!-- panel-body -->
			<!-- ng-if="contents.instance.instancePortForwardings"-->
			<div class="panel-body" style="height: auto;">
				<div id="action_domain_panel" class="in">
					<!--  scroll-pane scroll-config="{ contentWidth: '0px' }"  -->
					<div class="alert alert-primary" role="alert">
						<i class="xi-info font-size-20"></i>
						<div class="text-area">서버에서 실행되는 외부 공개 서비스(DB 서비스 등)에 대한 접근 정보를 구성합니다.</div>
					</div>
					<div>
						<!--  class=" scroll-content" style="height:270px;" -->
						<div class="table-wrap border-0 margin-top-20 padding-bottom-70">
							<table class="table table-hover">
								<colgroup>
									<col style="width:40%;">
									<col style="width:30%;">
									<col style="width:30%;">
								</colgroup>
								<thead class="text-center black white-text">
									<tr>
										<th scope="col">접속정보</th>
										<th scope="col">포트</th>
										<th scope="col">관리</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="(contents.instance.instancePortForwardings).length == 0">
										<td colspan="3" class="text-center">연결된 포트포워딩 정보가 없습니다.</td>
									</tr>
									<tr ng-repeat="item in contents.instance.instancePortForwardings">
										<td class="text-center">{{ item.domainInfo }}</td>
										<td class="text-center">{{ item.targetPort }}</td>
										<td class="text-center">
											<div class="dropdown">
												<button type="button" id="btn-option" class="btn btn-nostyle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
													<div class="feather-icon">
														<i data-feather="more-horizontal" class="feather-directive"></i>
													</div>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
													<li><a href="javascript:void(0);" ng-class="{'disabled' : !main.checkResourceUserRole()}" ng-click="!main.checkResourceUserRole() || contents.fn.popModPortForwardingForm($event, item);">수정</a></li>
													<li><a href="javascript:void(0);" ng-class="{'disabled' : !main.checkResourceUserRole(), 'delete' : main.checkResourceUserRole()}" ng-click="!main.checkResourceUserRole() || main.popDeleteCheckName($event, item.domainInfo, contents.fn.deletePortForwarding, item);">삭제</a></li>
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- //포트포워딩 -->
</div>
<!-- //Tab panes -->
	
<!-- 연결서버 이미지일 때 상태 프로그래스 -->
<div class="margin-top-30" ng-if="contents.loadbalancer.iaasLbInfo.checkStatus.indexOf('ing') > -1">
	<!-- panel -->
	<section class="panel panel-bordered">
		<!-- panel-body -->
		<div class="panel-body" style="height: auto;">
			<div class="in">
				<div class="cont_progress_div" >
					<div class="progress_box">
						<span class="bar_bg"></span>
						<ul>
							<li ng-class="{'creating' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'lb_creating'), 'complete' : (contents.loadbalancer.iaasLbInfo.checkStatus != 'lb_creating')}">
								<div class="state_box">
									<span class="state_ico"><span>1</span></span>
								</div>
								<div class="state_txt"><span>부하분산 생성</span></div>
							</li>
							<li ng-if="contents.loadbalancer.iaasLbInfo.checkConnType == 'image'" ng-class="{'standby' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'lb_creating'), 'creating' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'server_creating'), 'complete' : (contents.loadbalancer.iaasLbInfo.checkStatus != 'lb_creating' && contents.loadbalancer.iaasLbInfo.checkStatus != 'server_creating')}">
								<div class="state_box">
									<span class="state_ico"><span>2</span></span>
								</div>
								<div class="state_txt"><span>서버 생성</span></div>
							</li>
							<li ng-class="{'standby' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'lb_creating' || contents.loadbalancer.iaasLbInfo.checkStatus == 'server_creating'), 'creating' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'server_connecting'), 'complete' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'error' || contents.loadbalancer.iaasLbInfo.checkStatus == 'done')}">
								<div class="state_box">
									<span class="state_ico"><span>{{ contents.loadbalancer.iaasLbInfo.checkConnType == 'image' ? "3" : "2" }}</span></span>
								</div>
								<div class="state_txt"><span>서버 연결</span></div>
							</li>
						</ul>
						<div class="progress_txt">
							<p>{{ contents.loadbalancer.iaasLbInfo.checkStatusName + " 중 입니다." }}</p>
							<span ng-if="instance.uiTask == 'creating' || instance.uiTask == 'networking' || instance.uiTask == 'block_device_mapping'">{{instance.creatingTimmer}}초</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //연결서버 이미지일 때 상태 프로그래스 -->


