<!-- table -->
<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 25%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
		<div class="cont-titWrap pt10">
			<h3 class="h-tit4 pd0">포트 정보</h3>
		</div>
			<tr>
				<th scope="row">포트이름</th>
				<td><input type="text" name="portName" class="form-control" ng-model="pop.port.name" placeholder="포트 이름을 입력하세요."></td>
			</tr>
			<tr>
				<th>프로토콜</th>
				<td>
					<div class="radio radio-inline">
						<input type="radio" name="radio00" id="radio00-1">
						<label for="radio00-1" class="label">HTTP</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="radio00" id="radio00-2">
						<label for="radio00-2" class="label">HTTPS</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="radio00" id="radio00-3">
						<label for="radio00-3" class="label">TCP</label>
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">포트</th>
				<td><input type="text" name="volumeName" class="form-control" ng-model="pop.port.protocolPort"></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 30%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
		<div class="cont-titWrap pt10">
			<h3 class="h-tit4 pd0">연결 정보</h3>
		</div>
		<tr>
			<th scope="row">연결포트</th>
			<td><input type="text" name="portName" class="form-control" ng-model="pop.port.connectionPort"></td>
		</tr>
		<tr>
			<th>로드 밸런스 유형</th>
			<td>
				<div class="radio radio-inline">
					<input type="radio" name="radio01" id="radio00-4">
					<label for="radio00-4" class="label">소스</label>
				</div>
				<div class="radio radio-inline">
					<input type="radio" name="radio01" id="radio00-5">
					<label for="radio00-5" class="label">Round Robin</label>
				</div>
			</td>
		</tr>
		<tr>
			<th>헬스 체크 유형</th>
			<td>
				<div class="radio radio-inline">
					<input type="radio" name="radio02" id="radio00-6">
					<label for="radio00-6" class="label">HTTP</label>
				</div>
				<div class="radio radio-inline">
					<input type="radio" name="radio02" id="radio00-7">
					<label for="radio00-7" class="label">HTTPS</label>
				</div>
				<div class="radio radio-inline">
					<input type="radio" name="radio02" id="radio00-8">
					<label for="radio00-8" class="label">TCP</label>
				</div>
				<div class="radio radio-inline">
					<input type="radio" name="radio02" id="radio00-9">
					<label for="radio00-9" class="label">PING</label>
				</div>
			</td>
		</tr>
		<tr>
			<th scope="row">최대 연결 개수</th>
			<td><input type="text" name="volumeName" class="form-control" ng-model="pop.port.connectionLimit"></td>
		</tr>
		<tr>
			<th scope="row">헬스 체크 주기(초)</th>
			<td><input type="text" name="volumeName" class="form-control" ng-model="pop.port.healthDelay"></td>
		</tr>
		<tr>
			<th scope="row">헬스 체크 URL</th>
			<td><input type="text" name="volumeName" class="form-control" value="" ng-model="pop.port.healthUrlPath"></td>
		</tr>
		</tbody>
	</table>
</div>
<!-- //table -->