<!-- table -->
<h4 class="tit_pop">포트 정보</h4>
<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 30%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">포트이름</th>
				<td><input type="text" name="portName" class="form-control" ng-model="pop.port.name" placeholder="포트 이름을 입력하세요."></td>
			</tr>
			<tr>
				<th>프로토콜</th>
				<td>
					<div class="radio radio-inline">
						<input type="radio" name="protocolRadio" id="protocolHTTP" ng-click="pop.port.protocol = 'HTTP'" ng-checked="pop.port.protocol == 'HTTP'">
						<label for="protocolHTTP" class="label">HTTP</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="protocolRadio" id="protocolHTTPS" ng-click="pop.port.protocol = 'HTTPS'" ng-checked="pop.port.protocol == 'HTTPS'">
						<label for="protocolHTTPS" class="label">HTTPS</label>
					</div>
					<div class="radio radio-inline">
						<input type="radio" name="protocolRadio" id="protocolTCP" ng-click="pop.port.protocol = 'TCP'" ng-checked="pop.port.protocol == 'TCP'">
						<label for="protocolTCP" class="label">TCP</label>
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">포트</th>
				<td><input type="text" name="protocolPort" class="form-control" ng-model="pop.port.protocolPort"></td>
			</tr>
		</tbody>
	</table>
</div>

<h4 class="tit_pop pt20">연결 정보</h4>
<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 30%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
		<tr>
			<th scope="row">연결포트</th>
			<td><input type="text" name="protocolPort" class="form-control" ng-model="pop.port.protocolPort"></td>
		</tr>
		<tr>
			<th>로드 밸런스 유형</th>
			<td>
				<div class="radio radio-inline">
					<input type="radio" name="loadBalancerRadio" id="SOURCE" ng-click="pop.port.lbAlgorithm = 'SOURCE'" ng-checked="pop.port.lbAlgorithm == 'SOURCE'">
					<label for="SOURCE" class="label">소스</label>
				</div>
				<div class="radio radio-inline">
					<input type="radio" name="loadBalancerRadio" id="ROUND_ROBIN" ng-click="pop.port.lbAlgorithm = 'ROUND_ROBIN'" ng-checked="pop.port.lbAlgorithm=='ROUND_ROBIN'">
					<label for="ROUND_ROBIN" class="label">라운드로빈</label>
				</div>
				<div class="radio radio-inline">
					<input type="radio" name="loadBalancerRadio" id="LEAST_CONNECTIONS" ng-click="pop.port.lbAlgorithm = 'LEAST_CONNECTIONS'" ng-checked="pop.port.lbAlgorithm=='LEAST_CONNECTIONS'">
					<label for="LEAST_CONNECTIONS" class="label">최소접속</label>
				</div>
			</td>
		</tr>
		<tr>
			<th>헬스 체크 유형</th>
			<td>
				<div class="radio radio-inline">
					<input type="radio" name="healthCheck" id="healthCheckHTTP" ng-click="pop.port.healthType = 'HTTP'" ng-checked="pop.port.healthType == 'HTTP'">
					<label for="healthCheckHTTP" class="label">HTTP</label>
				</div>
				<div class="radio radio-inline">
					<input type="radio" name="healthCheck" id="healthCheckHTTPS" ng-click="pop.port.healthType = 'HTTPS'" ng-checked="pop.port.healthType == 'HTTPS'">
					<label for="healthCheckHTTPS" class="label">HTTPS</label>
				</div>
				<div class="radio radio-inline">
					<input type="radio" name="healthCheck" id="healthCheckTCP" ng-click="pop.port.healthType = 'TCP'" ng-checked="pop.port.healthType == 'TCP'">
					<label for="healthCheckTCP" class="label">TCP</label>
				</div>
				<div class="radio radio-inline">
					<input type="radio" name="healthCheck" id="healthCheckPING" ng-click="pop.port.healthType = 'PING'" ng-checked="pop.port.healthType == 'PING'">
					<label for="healthCheckPING" class="label">PING</label>
				</div>
			</td>
		</tr>
		<tr>
			<th scope="row">최대 연결 개수</th>
			<td><input type="text" name="connectionLimit" class="form-control" ng-model="pop.port.connectionLimit"></td>
		</tr>
		<tr>
			<th scope="row">헬스 체크 주기(초)</th>
			<td><input type="text" name="healthDelay" class="form-control" ng-model="pop.port.healthDelay"></td>
		</tr>
		<tr ng-if="pop.port.healthType == 'HTTP' || pop.port.healthType == 'HTTPS'">
			<th scope="row">헬스 체크 URL</th>
			<td><input type="text" name="healthUrlPath" class="form-control" ng-model="pop.port.healthUrlPath"></td>
		</tr>
		</tbody>
	</table>
</div>
<!-- //table -->