<div class="tbw type1">
	<table class="table">
		<colgroup>
			<col style="width: 25%;">
			<col style="width: auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row" >접속도메인</th>
				<td>
					<div class="app-form-two">
						<div class="two_box">
							<input type="text" class="form-control" maxlength="30" name="subDomain" ng-model="pop.domain.subDomain" validation="alpha_lower_num|required|custom:pop.fn.subDomainCustomValidationCheck(pop.domain.subDomain)" placeholder="서브 도메인명을 입력하세요.">
						</div>
						<div class="two_box">
							<select name="selectBaseDomain" class="form-control" ng-model="pop.domain.baseDomain" validation="required" style="width:180px;">
								<option ng-if="!pop.baseDomains || pop.baseDomains.length == 0" value="">도메인 없음</option>
								<option ng-repeat="item in pop.baseDomains" value="{{item.domain}}">{{item.domain}}</option>
							</select>
						</div>
					</div>
					<div class="validation validation-subDomain validation-selectBaseDomain text-danger"></div>
				</td>
			</tr>
			<tr>
				<th scope="row" rowspan="2">접속 포트</th>
				<td>
					<input type="number" class="form-control" name="http_source_port" ng-model="pop.domain.sourcePort" min="1" max="99999" max-number-length="5" min="1" max="49151" max-number-length="5" validation="numeric|required|custom:pop.fn.systemPortCustomValidationCheck(pop.domain.sourcePort)">
				</td>
			</tr>
		</tbody>
	</table>
</div>