<!-- cBox -->
<div class="cBox type1 appCnt-info">
	<div class="cBox-hd">
		<h4 class="c-tit"><img src="images/thum/im_logo_compute.png" class="logo" alt="">{{ contents.loadbalancer.iaasLbInfo.name }}</h4>
		<!--<div ng-if="contents.instance.procState != 'end'" class="pull-right">
			<img src="images/loading_sm.gif">
		</div>-->
		<div class="pull-right">
			<div class="dropdown btn-option">
				<button id="btn-option" type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
					<span class="ico">실행 설정</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
					<li><a href="javascript:void(0);" ng-click="contents.fn.formOpen($event, 'rename', contents.loadbalancer);">이름/설명 변경</a></li>
					<li><a href="javascript:void(0);" class="delete" ng-click="contents.deleteLb(contents.loadbalancer.iaasLbInfo.id);">삭제</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="cBox-cnt">
		<div class="in">
			<!-- app 정보 -->
			<div class="col info-txt">
				<ul>
					<li>
						<strong class="tit">설명</strong>
						<div class="txt">{{ contents.loadbalancer.iaasLbInfo.description }}</div>
					</li>
					<li>
						<strong class="tit">접속 IP</strong>
						<div class="txt">{{ contents.loadbalancer.iaasLbInfo.floatingIp }}<button type="button" tooltip-placement="top" uib-tooltip-html="'복사하기'" ng-click="contents.fn.copyConnectInfoToClipboard(contents.loadbalancer.iaasLbInfo)"><span class="ico_sm ico_copy"></span></button></div>
					</li>
					<li>
						<strong class="tit">내부 IP<button type="button" tooltip-class="" tooltip-placement="top" uib-tooltip-html="'서버 간 통신 시 내부 IP를<br>사용할 수 있습니다.'"><span class="ico_info"></span></button></strong>
						<div class="txt">{{ contents.loadbalancer.iaasLbInfo.ipAddress }}</div>
					</li>
					<li>
						<strong class="tit">상태</strong>
						<!-- <div class="txt">
							<p><img src="images/loading_sm.gif"> 활성입니다.</p>
						</div> -->
						<div class="txt">
								<span class="stateWrap">
									<span class="stateMark type1"></span>
									<span ng-if="contents.instance.vmState == 'error'" class="stateMark type2"></span>
									<span ng-if="contents.instance.vmState == 'paused' || contents.instance.vmState == 'resized'" class="stateMark type4"></span>
									<span ng-if="contents.instance.vmState == 'stopped'" class="stateMark type3"></span>
									<span class="state-txt">활성</span>
								</span>
						</div>
					</li>
				</ul>
			</div>
			<!-- //app 정보 -->

		</div>
	</div>
</div>
<!-- //cBox -->

<!-- cBox -->
<div class="cBox type2 appCnt-vol strgList m40">
	<div class="cBox-hd">
		<h4 class="c-tit">부하분산 포트 사용현황 <em class="point1">({{ contents.loadbalancer.iaasLbPorts.length }})</em></h4>
		<div class="pull-right">
			<!--<button type="button" name="button" class="btn btn-ico-list only-ico" ng-click="contents.fn.formOpen($event, 'gotolblist');">
				<span class="ico" ></span>리스트 페이지로
			</button>-->
			<button type="button" name="button" class="btn btn-ico-add only-ico" title="추가" ng-click="contents.fn.formOpen($event, 'port', contents.loadbalancer);">
				<span class="ico">추가</span>
			</button>
		</div>
	</div>
	<div class="cBox-cnt">
		<div class="tbl type1">
			<table class="table">
				<thead>
				<tr>
					<th scope="col" style="width:10%;">NO.</th>
					<th scope="col" style="width:25%; text-align: left;">이름</th>
					<th scope="col" style="width:10%;">포트</th>
					<th scope="col" style="width:10%;">프로토콜</th>
					<th scope="col" style="width:15%;">로드 밸런스 유형<div class="t_tip_bx"><button type="button" tooltip-placement="top" uib-tooltip-html="'- 로드밸런스 유형<br/> 1. 라운드로빈: 세션을 순차적으로 맺어주는 방식<br/>2. 소스: 사용자의 IP를 Hashing하여 분배하는 방식으로 특정 client는 특정 server로만 접속<br/>3. 최소접속: 연결 개수가 가장 적은 서버를 선택하는 방식'"><span class="ico_info"></span></button></div></th>
					<th scope="col" style="width:20%; text-align: left;">연결서버</th>
					<th scope="col" style="width:10%;">헬스체크유형</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="iaasLbPort in contents.loadbalancer.iaasLbPorts" ng-click="contents.showPortDetail(iaasLbPort)" ng-class="{'': !(iaasLbPort.id == contents.selectPortId), 'tbl_selected': (iaasLbPort.id == contents.selectPortId)}">
					<td>{{ $index + 1}}</td>
					<td style="text-align: left;">{{ iaasLbPort.name }}</td>
					<td>{{ iaasLbPort.protocolPort }}</td>
					<td>{{ iaasLbPort.protocol }}</td>
					<td>{{ iaasLbPort.lbAlgorithmName }}</td>
					<td>
						<div class="stateWrap">
							<ul>
								<div ng-if="iaasLbPort.connType" class="stateWrap">
									<ul ng-repeat="iaaslbportMember in contents.loadbalancer.iaasLbPortMembers" style="text-align: left;">
										<!-- 포트 상관없이 LB안에 연결서버 리스트가 다 들어가 있기 때문에 LBPort의 id가 같은 경우에만 해당하는 연결서버 목록이 나오도록-->
										<li ng-if="iaaslbportMember.iaasLbPort.id == iaasLbPort.id">
											<!--서버 상태 표시 -->
											<span class="stateMark type1"></span>
											<span class="state-txt" ng-mouseover="server_con_detail=true" ng-mouseleave="server_con_detail=false">{{ iaaslbportMember.name }}</span><!-- .state-txt 마우스 오버 시 .server_con_detail 노출 -->
											<!-- 서버스펙상세 -->
											<div class="server_con_detail" ng-show="server_con_detail">
												<ul>
													<li><strong>- OS 유형 : </strong>{{ iaaslbportMember.instanceOsType }}</li>
													<li><strong>- 접속 IP : </strong>{{ iaaslbportMember.instanceFloatingIp }}</li>
													<li><strong>- 내부 IP : </strong>{{ iaaslbportMember.instanceFixedIp}}</li>
													<li><strong>- 생성일시 : </strong>{{ iaaslbportMember.instanceCreated | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
												</ul>
											</div>
											<!-- //서버스펙상세 -->
										</li>
									</ul>
								</div>
							</ul>
						</div>
					</td>
					<td>{{ iaasLbPort.healthType }}</td>
				</tr>
				<tr class="no-data" ng-if="false">
					<td colspan="9">데이터가 없습니다.</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- //cBox -->

<!-- 연결서버 이미지일 때 상태 프로그래스 -->
<!--<div class="cont_progress_div" ng-if="contents.loadbalancer.iaasLbInfo.checkStatus.indexOf('ing') > -1">-->
<div class="cont_progress_div">
	<div class="pnb_progress_wrap">
		<div class="progress_box">
			<span class="bar_bg"></span>
			<ul>
				<!--<li ng-class="{'creating' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'lb_creating'), 'complete' : (contents.loadbalancer.iaasLbInfo.checkStatus != 'lb_creating')}">-->
				<li class="complete">
					<div class="state_box">
						<span class="state_ico"><span>1</span></span>
					</div>
					<div class="state_txt"><span>부하분산 생성</span></div>
				</li>
				<!--<li ng-if="contents.loadbalancer.iaasLbInfo.checkConnType == 'image'" ng-class="{'standby' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'lb_creating'), 'creating' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'server_creating'), 'complete' : (contents.loadbalancer.iaasLbInfo.checkStatus != 'lb_creating' && contents.loadbalancer.iaasLbInfo.checkStatus != 'server_creating')}">-->
				<li class="creating">
					<div class="state_box">
						<span class="state_ico"><span>2</span></span>
					</div>
					<div class="state_txt"><span>서버 생성</span></div>
				</li>
				<!--<li ng-class="{'standby' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'lb_creating' || contents.loadbalancer.iaasLbInfo.checkStatus == 'server_creating'), 'creating' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'server_connecting'), 'complete' : (contents.loadbalancer.iaasLbInfo.checkStatus == 'error' || contents.loadbalancer.iaasLbInfo.checkStatus == 'done')}">-->
				<li class="standby">
					<div class="state_box">
						<span class="state_ico"><span>{{ contents.loadbalancer.iaasLbInfo.checkConnType == 'image' ? "3" : "2" }}</span></span>
					</div>
					<div class="state_txt"><span>서버 연결</span></div>
				</li>
			</ul>
			<div class="progress_txt">
				<p>{{ contents.loadbalancer.iaasLbInfo.checkStatusName + " 중 입니다." }}</p>
				<span ng-if="instance.uiTask == 'creating' || instance.uiTask == 'networking' || instance.uiTask == 'block_device_mapping'">{{instance.creatingTimmer}}초</span>
			</div>
		</div>
	</div>
</div>
<!-- //연결서버 이미지일 때 상태 프로그래스 -->

<!-- tab wrap -->
<div ng-if="contents.iaasLbPorts.id" class="tabWrap type1 mt30">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" ng-class="{'active' : contents.tabIndex == 0}"><a href="" ng-click="contents.tabIndex = 0">포트관리<span></span></a></li>
		<li role="presentation" ng-class="{'active' : contents.tabIndex == 1}"><a href="" ng-click="contents.tabIndex = 1">연결 서버<span></span></a></li>
	</ul>
	<!-- //Nav tabs -->

	<!-- Tab panes -->
	<div class="tab-content">
		<!-- //개요 탭 -->
		<div role="tabpanel" class="tab-pane active" id="tab1" ng-class="{'active' : contents.tabIndex == 0}">
			<!-- panel -->
			<div class="panelWrap">
				<div class="panel type2" style="cursor: unset;">
					<div class="panel_head">
						<div class="tit pull-left">포트관리</div>
						<div class="pull-right">
							<button type="button" name="button" class="btn btn-ico-modi only-ico" title="수정" ng-click="contents.fn.formOpen($event, 'editport', contents.loadbalancer);"><span class="ico">수정</span></button>
							<button type="button" name="button" class="btn btn-ico-del only-ico" title="삭제" ng-click="contents.deleteLbPort(contents.iaasLbPorts.id);">
								<span class="ico">삭제</span>
							</button>
						</div>
					</div>
					<div class="panel_body">
						<div class="in">
							<!-- 메세지영역 -->
							<div class="pop_message_area mb30">
								<div class="msg_bg"></div>
								<div class="msg_txt"><span>부하 분산 포트의 상세정보를 안내합니다.</span></div>
							</div>

							<div class="cont_lay_div">
								<ul>
									<li class="pr40" style="width:50%;">
										<div class="cont-titWrap pt10">
											<h3 class="h-tit4 pd0">포트 정보</h3>
										</div>
										<div class="tbw type1">
											<table class="table">
												<colgroup>
													<col style="width:20%;">
													<col style="width:auto;">
												</colgroup>
												<tbody>
												<tr>
													<th>포트이름</th>
													<td>{{ contents.iaasLbPorts.name }}</td>
												</tr>
												<tr>
													<th>프로토콜</th>
													<td>{{ contents.iaasLbPorts.protocol }}</td>
												</tr>
												<tr>
													<th>포트</th>
													<td>{{ contents.iaasLbPorts.protocolPort }}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</li>
									<li style="width:50%;">
										<div class="cont-titWrap pt10">
											<h3 class="h-tit4 pd0">연결 정보</h3>
										</div>
										<div class="tbw type1">
											<table class="table">
												<colgroup>
													<col style="width:30%;">
													<col style="width:auto;">
												</colgroup>
												<tbody>
												<tr>
													<th>연결포트</th>
													<td>{{ contents.iaasLbPorts.connectionPort }}</td>
												</tr>
												<tr>
													<th>로드밸런스 유형</th>
													<td>{{ contents.iaasLbPorts.lbAlgorithm }}</td>
												</tr>
												<tr>
													<th>헬스체크 유형</th>
													<td>{{ contents.iaasLbPorts.healthType }}</td>
												</tr>
												<tr>
													<th>최대 연결 개수</th>
													<td>{{ contents.iaasLbPorts.connectionLimit }}</td>
												</tr>
												<tr>
													<th>헬스체크 주기(초)</th>
													<td>{{ contents.iaasLbPorts.healthDelay }}</td>
												</tr>
												<tr>
													<th>헬스체크 URL</th>
													<td>{{ contents.iaasLbPorts.healthUrlPath }}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- panel -->
		</div>
		<!-- //개요 탭 -->

		<!-- 연결서버 탭 -->
		<div role="tabpanel" class="tab-pane" id="tab2" ng-class="{'active' : contents.tabIndex == 1}">
			<!-- panel -->
			<div class="panelWrap">
				<div class="panel type2" style="cursor: unset;">
					<div class="panel_head">
						<div class="tit pull-left">연결서버</div>
						<div class="pull-right">
							<button type="button" name="button" class="btn btn-ico-modi only-ico" title="수정" ng-if="contents.iaasLbPorts.connType == 'server' || contents.iaasLbPorts.connType == 'image'" ng-click="contents.fn.formOpen($event, 'editserver', contents.loadbalancer);"><span class="ico">수정</span></button>
							<button type="button" name="button" class="btn btn-ico-add only-ico" title="추가" ng-if="contents.iaasLbPorts.connType == null" ng-click="contents.fn.formOpen($event, 'createserver', contents.loadbalancer);"><span class="ico">추가</span></button>
						</div>
					</div>
					<div class="panel_body">
						<div class="in">
							<!-- 메세지영역 -->
							<div class="pop_message_area mb30">
								<div class="msg_bg"></div>
								<div class="msg_txt"><span>연결서버의 상세정보를 안내합니다.</span></div>
							</div>

							<!-- 연결서버 정보가 없는 경우-->
							<div class="text-center mt50" ng-if="contents.iaasLbPorts.connType == null">
								<p>데이터가 없습니다.</p>
							</div>
							<!-- 연결서버 정보가 없는 경우-->
							
							<!-- 연결서버 이미지일 때 상태 프로그래스 -->
							<div class="cont_progress_div" ng-if="contents.loadbalancer.iaasLbInfo.checkStatus.indexOf('ing') > -1 && false">
								<div class="pnb_progress_wrap">
									<div class="progress_box">
										<span class="bar_bg"></span>
										<ul>
											<li ng-class="{'creating' : (instance.uiTask == 'creating'), 'complete' : (instance.uiTask != 'creating')}" class="complete" style="">
												<div class="state_box">
													<span class="state_ico"><span>1</span></span>
												</div>
												<div class="state_txt"><span>서버 생성</span></div>
											</li>
											<li ng-class="{'standby' : (instance.uiTask == 'creating'), 'creating' : (instance.uiTask == 'networking'), 'complete' : (instance.uiTask == 'block_device_mapping' || instance.uiTask == 'created_complete')}" class="creating" style="">
												<div class="state_box">
													<span class="state_ico"><span>2</span></span>
												</div>
												<div class="state_txt"><span>네트워크 연결</span></div>
											</li>
											<li ng-class="{'standby' : (instance.uiTask == 'creating'), 'creating' : (instance.uiTask == 'networking'), 'complete' : (instance.uiTask == 'block_device_mapping' || instance.uiTask == 'created_complete')}" class="standby" style="">
												<div class="state_box">
													<span class="state_ico"><span>2</span></span>
												</div>
												<div class="state_txt"><span>네트워크 연결</span></div>
											</li>
											<li ng-class="{'standby' : (instance.uiTask == 'creating'), 'creating' : (instance.uiTask == 'networking'), 'complete' : (instance.uiTask == 'block_device_mapping' || instance.uiTask == 'created_complete')}" class="standby" style="">
												<div class="state_box">
													<span class="state_ico"><span>2</span></span>
												</div>
												<div class="state_txt"><span>네트워크 연결</span></div>
											</li>
											<!-- ngIf: instance.uiTaskType == 'v' -->
										</ul>
										<div class="progress_txt">
											<p class="ng-binding">네트워크 생성 중 입니다.</p>
											<!-- ngIf: instance.uiTask == 'creating' || instance.uiTask == 'networking' || instance.uiTask == 'block_device_mapping' --><span ng-if="instance.uiTask == 'creating' || instance.uiTask == 'networking' || instance.uiTask == 'block_device_mapping'" class="ng-binding ng-scope">27초</span><!-- end ngIf: instance.uiTask == 'creating' || instance.uiTask == 'networking' || instance.uiTask == 'block_device_mapping' -->
										</div>
									</div>
								</div>
							</div>
							<!-- //연결서버 이미지일 때 상태 프로그래스 -->
							
							<!-- 연결서버유형(서버) -->
							<div class="cont_lay_div" ng-if="contents.iaasLbPorts.connType == 'server'">
								<ul>
									<li class="pr40" style="width:50%;">
										<div class="cont-titWrap pt10">
											<h3 class="h-tit4 pd0">연결서버 정보</h3>
										</div>
										<div class="tbw type1">
											<table class="table">
												<colgroup>
													<col style="width:22%;">
													<col style="width:auto;">
												</colgroup>
												<tbody>
												<tr>
													<th>연결서버 유형</th>
													<td>서버</td>
												</tr>
												</tbody>
											</table>
										</div>
									</li>
									<li style="width:50%;">
										<div class="cont-titWrap pt10">
											<h3 class="h-tit4 pd0">연결서버 정보 상세</h3>
										</div>
										<div class="tbl type1">
											<table class="table">
												<colgroup>
													<col style="width:auto;">
													<col style="width:20%;">
													<col style="width:20%;">
												</colgroup>
												<thead>
												<tr>
													<th scope="col">서버이름</th>
													<th scope="col">내부 IP</th>
													<th scope="col">상태</th>
												</tr>
												</thead>
												<tbody>
												<tr ng-repeat="iaaslbportMember in contents.loadbalancer.iaasLbPortMembers">
													<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">{{ iaaslbportMember.name }}</td>
													<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">{{ iaaslbportMember.ipAddress }}</td>
													<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">정상</td>
												</tr>
												</tbody>
											</table>
										</div>
									</li>
								</ul>
							</div>
							<!-- //연결서버유형(서버) -->

							<!-- 연결서버유형(이미지) -->
							<!--<div class="cont_lay_div" ng-if="contents.iaasLbPorts.connType == 'image' && contents.loadbalancer.iaasLbInfo.checkStatus.indexOf('ing')==-1">-->
							<div class="cont_lay_div" ng-if="contents.iaasLbPorts.connType == 'image'">
								<ul>
									<li class="pr40" style="width:50%;">
										<div class="cont-titWrap pt10">
											<h3 class="h-tit4 pd0">연결서버 정보</h3>
										</div>
										<div class="tbw type1">
											<table class="table">
												<colgroup>
													<col style="width:22%;">
													<col style="width:auto;">
												</colgroup>
												<tbody>
												<tr>
													<th>연결서버 유형</th>
													<td>이미지</td>
												</tr>
												<tr>
													<th>서버 이름</th>
													<td>{{ contents.iaasLbPorts.connImageName }}</td>
												</tr>
												<tr>
													<th>서버 수</th>
													<td>{{ contents.iaasLbPorts.connImageCount }}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</li>
									<li style="width:50%;">
										<div class="cont-titWrap pt10">
											<h3 class="h-tit4 pd0">연결서버 정보 상세</h3>
										</div>
										<div class="tbl type1">
											<table class="table">
												<colgroup>
													<col style="width:auto;">
													<col style="width:20%;">
													<col style="width:20%;">
												</colgroup>
												<thead>
												<tr>
													<th scope="col">서버이름</th>
													<th scope="col">내부 IP</th>
													<th scope="col">상태</th>
												</tr>
												</thead>
												<tbody>
												<tr ng-repeat="iaaslbportMember in contents.loadbalancer.iaasLbPortMembers">
													<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">{{ iaaslbportMember.name }}</td>
													<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">{{ iaaslbportMember.ipAddress }}</td>
													<td ng-if="iaaslbportMember.iaasLbPort.id == contents.iaasLbPorts.id">정상</td>
												</tr>
												</tbody>
											</table>
										</div>
									</li>
								</ul>
							</div>
							<!-- //연결서버유형(이미지) -->
						</div>
					</div>
				</div>
			</div>
			<!-- panel -->
		</div>
		<!-- //연결서버 탭 -->
	</div>
</div>
<!-- //tab wrap -->

