<div class="board-warp board-write-wrap">
	<table class="table">
		<colgroup>
			<col style="width:25%;">
			<col style="width:auto;">
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">포트이름</th>
				<td><input type="text" name="portName" class="form-control form-control-sm" ng-model="pop.ports.name" placeholder="포트 이름을 입력하세요."></td>
			</tr>
			<tr>
				<th>프로토콜</th>
				<td>
					<div class="radio-group inline-block margin-right-5">
						<input type="radio" ng-init="pop.ports.protocol='HTTP'" ng-model="pop.ports.protocol" name="protocolRadio" id="protocolHTTP" class="radio-input" value="HTTP">
						<label for="protocolHTTP" class="radio-item">
							<div class="radio">
								<div class="checked-icon"></div>
							</div>
							<span class="text">
								HTTP
							</span>
						</label>
					</div>
					<div class="radio-group inline-block margin-right-5">
						<input type="radio" name="protocolRadio" id="protocolHTTPS" class="radio-input" ng-model="pop.ports.protocol" value="HTTPS">
						<label for="protocolHTTPS" class="radio-item">
							<div class="radio">
								<div class="checked-icon"></div>
							</div>
							<span class="text">
								HTTPS
							</span>
						</label>
					</div>
					<div class="radio-group inline-block margin-right-5">
						<input type="radio" name="protocolRadio" id="protocolTCP" class="radio-input" ng-model="pop.ports.protocol" value="TCP">
						<label for="protocolTCP" class="radio-item">
							<div class="radio">
								<div class="checked-icon"></div>
							</div>
							<span class="text">
								TCP
							</span>
						</label>
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">포트</th>
				<td><input type="text" name="protocolPort" class="form-control form-control-sm" ng-model="pop.ports.protocolPort" placeholder="포트(1~65535)를 입력하세요."></td>
			</tr>
		</tbody>
	</table>
</div>
